<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.meta.ddl.service.WaqDdlPartSubMapper" >
  <resultMap id="BaseResultMap" type="kr.wise.meta.ddl.service.WaqDdlPartSub" extends="kr.wise.commons.cmm.service.CommonMapper.BaseResultMap">
<!--     <id column="RQST_NO" property="rqstNo" jdbcType="VARCHAR" /> -->
<!--     <id column="RQST_SNO" property="rqstSno" jdbcType="DECIMAL" /> -->
<!--     <id column="RQST_DTL_SNO" property="rqstDtlSno" jdbcType="DECIMAL" /> -->
    <result column="DDL_SUB_PART_ID" property="ddlSubPartId" jdbcType="VARCHAR" />
    <result column="DDL_PART_SUB_PNM" property="ddlPartSubPnm" jdbcType="VARCHAR" />
    <result column="DDL_MAIN_PART_ID" property="ddlMainPartId" jdbcType="VARCHAR" />
    <result column="DDL_PART_PNM" property="ddlPartPnm" jdbcType="VARCHAR" />
<!--     <result column="RQST_DCD" property="rqstDcd" jdbcType="VARCHAR" /> -->
<!--     <result column="RVW_STS_CD" property="rvwStsCd" jdbcType="VARCHAR" /> -->
<!--     <result column="RVW_CONTS" property="rvwConts" jdbcType="VARCHAR" /> -->
<!--     <result column="VRF_CD" property="vrfCd" jdbcType="VARCHAR" /> -->
<!--     <result column="VRF_RMK" property="vrfRmk" jdbcType="VARCHAR" /> -->
    <result column="DDL_PART_ID" property="ddlPartId" jdbcType="VARCHAR" />
    <result column="DDL_TBL_ID" property="ddlTblId" jdbcType="VARCHAR" />
    <result column="DDL_TBL_PNM" property="ddlTblPnm" jdbcType="VARCHAR" />
    <result column="DDL_PART_SUB_VAL" property="ddlPartSubVal" jdbcType="VARCHAR" />
    <result column="TBL_SPAC_ID" property="tblSpacId" jdbcType="VARCHAR" />
    <result column="TBL_SPAC_PNM" property="tblSpacPnm" jdbcType="VARCHAR" />
<!--     <result column="OBJ_DESCN" property="objDescn" jdbcType="VARCHAR" /> -->
<!--     <result column="OBJ_VERS" property="objVers" jdbcType="DECIMAL" /> -->
<!--     <result column="REG_TYP_CD" property="regTypCd" jdbcType="VARCHAR" /> -->
<!--     <result column="FRS_RQST_DTM" property="frsRqstDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="FRS_RQST_USER_ID" property="frsRqstUserId" jdbcType="VARCHAR" /> -->
<!--     <result column="RQST_DTM" property="rqstDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="RQST_USER_ID" property="rqstUserId" jdbcType="VARCHAR" /> -->
<!--     <result column="APRV_DTM" property="aprvDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="APRV_USER_ID" property="aprvUserId" jdbcType="VARCHAR" /> -->
  </resultMap>
  <sql id="Base_Column_List" >
    RQST_NO, RQST_SNO, RQST_DTL_SNO
    , RQST_DCD, RVW_STS_CD, RVW_CONTS, VRF_CD, VRF_RMK
    , DDL_SUB_PART_ID, DDL_PART_SUB_PNM, DDL_MAIN_PART_ID
    , DDL_PART_PNM, DDL_PART_ID, DDL_TBL_ID, 
    DDL_TBL_PNM, DDL_PART_SUB_VAL, TBL_SPAC_ID, TBL_SPAC_PNM, OBJ_DESCN, OBJ_VERS, REG_TYP_CD, 
    FRS_RQST_DTM, FRS_RQST_USER_ID, RQST_DTM, RQST_USER_ID, APRV_DTM, APRV_USER_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select /* WaqDdlPartSubMapper.selectByPrimaryKey */
    <include refid="Base_Column_List" />
    from WAQ_DDL_PART_SUB
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
      and RQST_DTL_SNO = #{rqstDtlSno,jdbcType=DECIMAL}
  </select>
  
  <!--DDL 서브파티션 요청 리스트 조회 by sno  -->
  <select id="selectList" parameterType="kr.wise.commons.rqstmst.service.WaqMstr" resultMap="BaseResultMap">

  SELECT /* WaqDdlPartSubMapper.selectList */
    <include refid="Base_Column_List" />
    , GET_USER_NM(RQST_USER_ID) AS RQST_USER_NM
    , CASE WHEN VRF_CD = '2' THEN '#FF0000' END AS FontColor
    FROM WAQ_DDL_PART_SUB
    WHERE RQST_NO = #{rqstNo,jdbcType=VARCHAR}
<if test="rqstSno != null" >
      AND RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
</if>      
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete /* WaqDdlPartSubMapper.deleteByPrimaryKey */
    from WAQ_DDL_PART_SUB
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
      and RQST_DTL_SNO = #{rqstDtlSno,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="kr.wise.meta.ddl.service.WaqDdlPartSub" >
    insert /* WaqDdlPartSubMapper.insert */
    into WAQ_DDL_PART_SUB (RQST_NO, RQST_SNO, RQST_DTL_SNO, 
      DDL_SUB_PART_ID, DDL_PART_SUB_PNM, DDL_MAIN_PART_ID, 
      DDL_PART_PNM, RQST_DCD, RVW_STS_CD, 
      RVW_CONTS, VRF_CD, VRF_RMK, 
      DDL_PART_ID, DDL_TBL_ID, DDL_TBL_PNM, 
      DDL_PART_SUB_VAL, TBL_SPAC_ID, TBL_SPAC_PNM, 
      OBJ_DESCN, OBJ_VERS, REG_TYP_CD, 
      FRS_RQST_DTM, FRS_RQST_USER_ID, RQST_DTM, 
      RQST_USER_ID, APRV_DTM, APRV_USER_ID
      )
    values (#{rqstNo,jdbcType=VARCHAR}, #{rqstSno,jdbcType=DECIMAL}, #{rqstDtlSno,jdbcType=DECIMAL}, 
      #{ddlSubPartId,jdbcType=VARCHAR}, #{ddlPartSubPnm,jdbcType=VARCHAR}, #{ddlMainPartId,jdbcType=VARCHAR}, 
      #{ddlPartPnm,jdbcType=VARCHAR}, #{rqstDcd,jdbcType=VARCHAR}, #{rvwStsCd,jdbcType=VARCHAR}, 
      #{rvwConts,jdbcType=VARCHAR}, #{vrfCd,jdbcType=VARCHAR}, #{vrfRmk,jdbcType=VARCHAR}, 
      #{ddlPartId,jdbcType=VARCHAR}, #{ddlTblId,jdbcType=VARCHAR}, #{ddlTblPnm,jdbcType=VARCHAR}, 
      #{ddlPartSubVal,jdbcType=VARCHAR}, #{tblSpacId,jdbcType=VARCHAR}, #{tblSpacPnm,jdbcType=VARCHAR}, 
      #{objDescn,jdbcType=VARCHAR}, #{objVers,jdbcType=DECIMAL}, #{regTypCd,jdbcType=VARCHAR}, 
      #{frsRqstDtm,jdbcType=TIMESTAMP}, #{frsRqstUserId,jdbcType=VARCHAR}, #{rqstDtm,jdbcType=TIMESTAMP}, 
      #{rqstUserId,jdbcType=VARCHAR}, #{aprvDtm,jdbcType=TIMESTAMP}, #{aprvUserId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="kr.wise.meta.ddl.service.WaqDdlPartSub" >
  	<selectKey keyProperty="rqstDtlSno" resultType="int" order="BEFORE" statementType="PREPARED">
  		SELECT IFNULL(MAX(RQST_DTL_SNO), 0) + 1 FROM WAQ_DDL_PART_SUB WHERE RQST_NO = #{rqstNo,jdbcType=VARCHAR} AND RQST_SNO = #{rqstSno,jdbcType=VARCHAR}
  	</selectKey>
    insert /* WaqDdlPartSubMapper.insertSelective */
    into WAQ_DDL_PART_SUB
    <trim prefix="(" suffix=")" suffixOverrides="," >
        RQST_NO,
        RQST_SNO,
        RQST_DTL_SNO,
      <if test="ddlSubPartId != null" >
        DDL_SUB_PART_ID,
      </if>
        DDL_PART_SUB_PNM,
      <if test="ddlMainPartId != null" >
        DDL_MAIN_PART_ID,
      </if>
        DDL_PART_PNM,
        RQST_DCD,
      <if test="ddlPartId != null" >
        DDL_PART_ID,
      </if>
      <if test="ddlTblId != null" >
        DDL_TBL_ID,
      </if>
        DDL_TBL_PNM,
        DDL_PART_SUB_VAL,
      <if test="tblSpacId != null" >
        TBL_SPAC_ID,
      </if>
        TBL_SPAC_PNM,
        OBJ_DESCN,
        OBJ_VERS,
        FRS_RQST_DTM,
        FRS_RQST_USER_ID,
        RQST_DTM,
        RQST_USER_ID,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{rqstNo,jdbcType=VARCHAR},
        #{rqstSno,jdbcType=DECIMAL},
        #{rqstDtlSno,jdbcType=DECIMAL},
      <if test="ddlSubPartId != null" >
        #{ddlSubPartId,jdbcType=VARCHAR},
      </if>
        #{ddlPartSubPnm,jdbcType=VARCHAR},
      <if test="ddlMainPartId != null" >
        #{ddlMainPartId,jdbcType=VARCHAR},
      </if>
        #{ddlPartPnm,jdbcType=VARCHAR},
        #{rqstDcd,jdbcType=VARCHAR},
      <if test="ddlPartId != null" >
        #{ddlPartId,jdbcType=VARCHAR},
      </if>
      <if test="ddlTblId != null" >
        #{ddlTblId,jdbcType=VARCHAR},
      </if>
        #{ddlTblPnm,jdbcType=VARCHAR},
        #{ddlPartSubVal,jdbcType=VARCHAR},
      <if test="tblSpacId != null" >
        #{tblSpacId,jdbcType=VARCHAR},
      </if>
        #{tblSpacPnm,jdbcType=VARCHAR},
        #{objDescn,jdbcType=VARCHAR},
        1 ,
        NOW(),
        #{frsRqstUserId,jdbcType=VARCHAR},
        NOW(),
        #{rqstUserId,jdbcType=VARCHAR},
    </trim>
  </insert>
  
  <!-- DDL 파티션 요청서 추가시 WAM에 존재하는 서브파티션 리스트를 추가한다.  -->
 <insert id="insertByRqstSno" parameterType="kr.wise.meta.ddl.service.WaqDdlPart">

  	INSERT /* WaqDdlPartSubMapper.insertByRqstSno */
  	INTO WAQ_DDL_PART_SUB (
  		<include refid="Base_Column_List"/>
	)
	SELECT 
		  B.RQST_NO, B.RQST_SNO
		, (SELECT IFNULL(MAX(RQST_DTL_SNO), 0) 
	       FROM WAM_DDL_PART_SUB Z
	       WHERE Z.RQST_NO = #{rqstNo} 
	         AND Z.RQST_SNO = #{rqstSno} 
	      ) + @rownum:=@rownum+1 AS RQST_DTL_SNO  
		, #{rqstDcd} AS RQST_DCD, NULL AS RVW_STS_CD
	    , NULL AS RVW_CONTS, NULL AS VRF_CD, NULL AS VRF_RMK
	     , C.DDL_SUB_PART_ID, C.DDL_PART_SUB_PNM, C.DDL_MAIN_PART_ID
	     , NULL AS DDL_PART_PNM
	     , C.DDL_PART_ID, C.DDL_TBL_ID, A.DDL_TBL_PNM, C.DDL_PART_SUB_VAL, C.TBL_SPAC_ID, C.TBL_SPAC_PNM
	     , C.OBJ_DESCN, C.OBJ_VERS, C.REG_TYP_CD, B.FRS_RQST_DTM, B.FRS_RQST_USER_ID, B.RQST_DTM, B.RQST_USER_ID, NULL AS APRV_DTM, NULL AS APRV_USER_ID
	 FROM (SELECT @rownum:=0) TMP, WAM_DDL_PART A 
	# INNER JOIN WAM_DDL_PART_MAIN F
	#    ON A.DDL_PART_ID = F.DDL_PART_ID
	INNER JOIN WAM_DDL_PART_SUB C
	   ON A.DDL_PART_ID = C.DDL_PART_ID
	#   AND F.DDL_MAIN_PART_ID = C.DDL_MAIN_PART_ID
    INNER JOIN WAM_DDL_TBL T
	   ON A.DDL_TBL_ID = T.DDL_TBL_ID  
    INNER JOIN WAA_DB_SCH S
       ON A.DB_SCH_ID = S.DB_SCH_ID
      AND S.EXP_DTM = STR_TO_DATE('9999-12-31', '%Y-%m-%d')
	  AND S.REG_TYP_CD IN ('C', 'U')
	INNER JOIN WAA_DB_CONN_TRG D
	   ON A.DB_CONN_TRG_ID = D.DB_CONN_TRG_ID
	  AND D.EXP_DTM = STR_TO_DATE('9999-12-31', '%Y-%m-%d')
	  AND D.REG_TYP_CD IN ('C', 'U')
	INNER JOIN WAQ_DDL_PART B
	   ON T.DDL_TBL_PNM = B.DDL_TBL_PNM
      AND D.DB_CONN_TRG_PNM = B.DB_CONN_TRG_PNM
      AND S.DB_SCH_PNM = B.DB_SCH_PNM
	WHERE B.RQST_NO = #{rqstNo}
	  AND B.RQST_SNO = #{rqstSno}
  </insert>
  
  <!-- DDL 파티션 요청서 추가시 WAM에 존재하는 서브파티션 리스트를 추가한다. -->
 <insert id="insertByTsfRqstSno" parameterType="kr.wise.meta.ddl.service.WaqDdlPart">
  
  	INSERT /* WaqDdlPartSubMapper.insertByTsfRqstSno */
  	INTO WAQ_DDL_PART_SUB (
  		<include refid="Base_Column_List"/>
	)
	SELECT 
		  B.RQST_NO, B.RQST_SNO
		, (SELECT IFNULL(MAX(RQST_DTL_SNO), 0) 
	       FROM WAQ_DDL_PART_SUB Z
	       WHERE Z.RQST_NO = #{rqstNo} 
	         AND Z.RQST_SNO = #{rqstSno} 
	      ) + @rownum:=@rownum+1 AS RQST_DTL_SNO  
		, #{rqstDcd} AS RQST_DCD, NULL AS RVW_STS_CD
	    , NULL AS RVW_CONTS, NULL AS VRF_CD, NULL AS VRF_RMK
	     , C.DDL_SUB_PART_ID, C.DDL_PART_SUB_PNM, C.DDL_MAIN_PART_ID
	     , NULL AS DDL_PART_PNM
	     , C.DDL_PART_ID, C.DDL_TBL_ID, A.DDL_TBL_PNM, C.DDL_PART_SUB_VAL, C.TBL_SPAC_ID, C.TBL_SPAC_PNM
	     , C.OBJ_DESCN, C.OBJ_VERS, C.REG_TYP_CD, B.FRS_RQST_DTM, B.FRS_RQST_USER_ID, B.RQST_DTM, B.RQST_USER_ID, NULL AS APRV_DTM, NULL AS APRV_USER_ID
	 FROM (SELECT @rownum:=0) TMP, WAM_DDL_PART A 
	# INNER JOIN WAM_DDL_PART_MAIN F
	#    ON A.DDL_PART_ID = F.DDL_PART_ID
	INNER JOIN WAM_DDL_PART_SUB C
	   ON A.DDL_PART_ID = C.DDL_PART_ID
	# AND F.DDL_MAIN_PART_ID = C.DDL_MAIN_PART_ID    
	INNER JOIN WAQ_DDL_PART B
	<if test="rqstDcd!='DD'">
	   ON A.DDL_PART_ID = B.SRC_DDL_PART_ID
	</if>
	<if test="rqstDcd=='DD'">
	   ON A.DDL_PART_ID = B.DDL_PART_ID
	</if>
	WHERE B.RQST_NO = #{rqstNo}
	  AND B.RQST_SNO = #{rqstSno}
  </insert>
  
  <!-- DDL 파티션 요청서 추가시 WAM에 존재하지 서브파티션 리스트를 삭제 대상으로 추가한다. -->
  <insert id="insertByTsfDelRqstSno" parameterType="kr.wise.meta.ddl.service.WaqDdlPart">
  
  	INSERT /* WaqDdlPartSubMapper.insertByTsfDelRqstSno */
  	INTO WAQ_DDL_PART_SUB (
  		<include refid="Base_Column_List"/>
	)
	SELECT 
		  B.RQST_NO, B.RQST_SNO
		, (SELECT IFNULL(MAX(RQST_DTL_SNO), 0) 
	       FROM WAQ_DDL_PART_SUB Z
	       WHERE Z.RQST_NO = #{rqstNo} 
	         AND Z.RQST_SNO = #{rqstSno} 
	      ) + @rownum:=@rownum+1 AS RQST_DTL_SNO
		, 'DD' AS RQST_DCD, NULL AS RVW_STS_CD
	    , NULL AS RVW_CONTS, NULL AS VRF_CD, NULL AS VRF_RMK
	     , C.DDL_SUB_PART_ID, C.DDL_PART_SUB_PNM, C.DDL_MAIN_PART_ID
	     , NULL AS DDL_PART_PNM
	     , C.DDL_PART_ID, C.DDL_TBL_ID, A.DDL_TBL_PNM, C.DDL_PART_SUB_VAL, C.TBL_SPAC_ID, C.TBL_SPAC_PNM
	     , C.OBJ_DESCN, C.OBJ_VERS, C.REG_TYP_CD, B.FRS_RQST_DTM, B.FRS_RQST_USER_ID, B.RQST_DTM, B.RQST_USER_ID, NULL AS APRV_DTM, NULL AS APRV_USER_ID
	 FROM (SELECT @rownum:=0) TMP, WAM_DDL_PART A 
	INNER JOIN WAM_DDL_PART_SUB C
	   ON A.DDL_PART_ID = C.DDL_PART_ID
	INNER JOIN WAQ_DDL_PART B
	   ON A.SRC_DDL_PART_ID = B.SRC_DDL_PART_ID
	  AND A.DDL_TRG_DCD = B.DDL_TRG_DCD
	  AND A.DB_CONN_TRG_ID  = B.DB_CONN_TRG_ID
	  AND A.DB_SCH_ID = B.DB_SCH_ID 
	LEFT OUTER JOIN WAQ_DDL_PART_SUB D
	   ON B.RQST_NO = D.RQST_NO
	  AND B.RQST_SNO = D.RQST_SNO
	  AND C.DDL_PART_SUB_PNM  = D.DDL_PART_SUB_PNM 
	WHERE B.RQST_NO = #{rqstNo}
	  AND B.RQST_SNO = #{rqstSno}
	  AND D.DDL_SUB_PART_ID IS NULL
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="kr.wise.meta.ddl.service.WaqDdlPartSub" >
    update /* WaqDdlPartSubMapper.updateByPrimaryKeySelective */
    WAQ_DDL_PART_SUB
    <set >
      <if test="ddlSubPartId != null" >
        DDL_SUB_PART_ID = #{ddlSubPartId,jdbcType=VARCHAR},
      </if>
        DDL_PART_SUB_PNM = #{ddlPartSubPnm,jdbcType=VARCHAR},
      <if test="ddlMainPartId != null" >
        DDL_MAIN_PART_ID = #{ddlMainPartId,jdbcType=VARCHAR},
      </if>
        DDL_PART_PNM = #{ddlPartPnm,jdbcType=VARCHAR},
        RQST_DCD = #{rqstDcd,jdbcType=VARCHAR},
      <if test="ddlPartId != null" >
        DDL_PART_ID = #{ddlPartId,jdbcType=VARCHAR},
      </if>
      <if test="ddlTblId != null" >
        DDL_TBL_ID = #{ddlTblId,jdbcType=VARCHAR},
      </if>
        DDL_TBL_PNM = #{ddlTblPnm,jdbcType=VARCHAR},
        DDL_PART_SUB_VAL = #{ddlPartSubVal,jdbcType=VARCHAR},
      <if test="tblSpacId != null" >
        TBL_SPAC_ID = #{tblSpacId,jdbcType=VARCHAR},
      </if>
        TBL_SPAC_PNM = #{tblSpacPnm,jdbcType=VARCHAR},
        OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
        OBJ_VERS = #{objVers,jdbcType=DECIMAL},
        RQST_DTM = NOW(),
        RQST_USER_ID = #{rqstUserId,jdbcType=VARCHAR},
    </set>
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
      and RQST_DTL_SNO = #{rqstDtlSno,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="kr.wise.meta.ddl.service.WaqDdlPartSub" >
    update /* WaqDdlPartSubMapper.updateByPrimaryKey */
    WAQ_DDL_PART_SUB
    set DDL_SUB_PART_ID = #{ddlSubPartId,jdbcType=VARCHAR},
      DDL_PART_SUB_PNM = #{ddlPartSubPnm,jdbcType=VARCHAR},
      DDL_MAIN_PART_ID = #{ddlMainPartId,jdbcType=VARCHAR},
      DDL_PART_PNM = #{ddlPartPnm,jdbcType=VARCHAR},
      RQST_DCD = #{rqstDcd,jdbcType=VARCHAR},
      RVW_STS_CD = #{rvwStsCd,jdbcType=VARCHAR},
      RVW_CONTS = #{rvwConts,jdbcType=VARCHAR},
      VRF_CD = #{vrfCd,jdbcType=VARCHAR},
      VRF_RMK = #{vrfRmk,jdbcType=VARCHAR},
      DDL_PART_ID = #{ddlPartId,jdbcType=VARCHAR},
      DDL_TBL_ID = #{ddlTblId,jdbcType=VARCHAR},
      DDL_TBL_PNM = #{ddlTblPnm,jdbcType=VARCHAR},
      DDL_PART_SUB_VAL = #{ddlPartSubVal,jdbcType=VARCHAR},
      TBL_SPAC_ID = #{tblSpacId,jdbcType=VARCHAR},
      TBL_SPAC_PNM = #{tblSpacPnm,jdbcType=VARCHAR},
      OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      FRS_RQST_DTM = #{frsRqstDtm,jdbcType=TIMESTAMP},
      FRS_RQST_USER_ID = #{frsRqstUserId,jdbcType=VARCHAR},
      RQST_DTM = #{rqstDtm,jdbcType=TIMESTAMP},
      RQST_USER_ID = #{rqstUserId,jdbcType=VARCHAR},
      APRV_DTM = #{aprvDtm,jdbcType=TIMESTAMP},
      APRV_USER_ID = #{aprvUserId,jdbcType=VARCHAR}
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
      and RQST_DTL_SNO = #{rqstDtlSno,jdbcType=DECIMAL}
  </update>
  
  <!-- DDL 서브파티션 요청 삭제 --> 
  <delete id="deleteByrqstSno" parameterType="kr.wise.meta.ddl.service.WaqDdlPartSub">
  
  DELETE /* WaqDdlPartSubMapper.deleteByrqstSno */
  FROM WAQ_DDL_PART_SUB
  where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
      and RQST_DTL_SNO = #{rqstDtlSno,jdbcType=DECIMAL}
  </delete>

  <!-- DDL 서브파티션 요청 삭제 by 파티션 -->
  <delete id="deleteByDdlPart" parameterType="kr.wise.meta.ddl.service.WaqDdlPart">
  
  DELETE /* WaqDdlPartSubMapper.deleteByDdlPart */
  FROM WAQ_DDL_PART_SUB
  where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </delete>

  <!-- DDL 서브파티션 요청 삭제 by 주파티션 -->
  <delete id="deleteByPartMain" parameterType="kr.wise.meta.ddl.service.WaqDdlPartMain">
  
  DELETE /* WaqDdlPartSubMapper.deleteByPartMain */
  FROM WAQ_DDL_PART_SUB
  where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
    and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
    and DDL_PART_PNM = #{ddlPartPnm,jdbcType=VARCHAR}
  </delete>
  
  <update id="updateCheckInit" parameterType="java.lang.String" >
    UPDATE /* WaqDdlPartSubMapper.updateCheckInit */
    WAQ_DDL_PART_SUB A
    SET A.REG_TYP_CD = (SELECT CASE WHEN A.RQST_DCD = 'DD' then 'D' 
    							    WHEN MAX(C.DDL_SUB_PART_ID) IS NULL THEN 'C' 
    							    ELSE 'U' END
                          FROM WAM_DDL_PART B
                         <!-- INNER JOIN WAM_DDL_PART_MAIN E -->
                         <!-- ON E.DDL_PART_ID = B.DDL_PART_ID -->
                         INNER JOIN WAM_DDL_PART_SUB C
                            ON C.DDL_PART_ID = B.DDL_PART_ID
                           <!-- AND E.DDL_MAIN_PART_ID  = C.DDL_MAIN_PART_ID -->
                         INNER JOIN WAQ_DDL_PART D
                            ON B.DDL_TBL_ID = D.DDL_TBL_ID 
                           AND B.DB_CONN_TRG_ID = D.DB_CONN_TRG_ID
                           AND B.DB_SCH_ID = D.DB_SCH_ID
                        WHERE 1=1
                          <!-- AND E.DDL_PART_PNM  = A.DDL_PART_PNM -->
                          AND C.DDL_PART_SUB_PNM  = A.DDL_PART_SUB_PNM 
                          AND D.RQST_NO = A.RQST_NO
                          AND D.RQST_SNO = A.RQST_SNO
                          )
       ,A.VRF_CD = '4'
    WHERE A.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
  </update>
  
  
  
  
  <insert id="checkDupSubPart" parameterType="map">
  
  /* WaqDdlPartSubMapper.checkDupSubPart */
  
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSnoSql"/>
	<!-- 검증쿼리 : DDL 서브파티션 요청서내 중복  (DDP71) -->
    AND EXISTS (SELECT 1
                FROM WAQ_DDL_PART_SUB D
                WHERE A.RQST_NO = D.RQST_NO
                  AND A.RQST_SNO = D.RQST_SNO
                  AND A.DDL_PART_PNM = D.DDL_PART_PNM
                  AND A.DDL_PART_SUB_PNM = D.DDL_PART_SUB_PNM
                  AND A.RQST_DTL_SNO != D.RQST_DTL_SNO)
  </insert>
  
  
  <insert id="checkNotExistSubPart" parameterType="map">
  
  /* WaqDdlPartSubMapper.checkNotExistSubPart */
  
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSnoSql"/>
	<!-- 검증쿼리 :  DDL 서브파티션 삭제대상 미존재 (DDP72) -->
      AND A.RQST_DCD = 'DD'
      AND A.DDL_SUB_PART_ID IS NULL
      /*
      AND NOT EXISTS (SELECT 1
                      FROM WAM_DDL_PART E
                      JOIN WAM_DDL_PART_SUB G
                           ON E.DDL_PART_ID = G.DDL_PART_ID
                        INNER JOIN WAQ_DDL_PART F
                          ON F.DDL_TBL_ID = E.DDL_TBL_ID
                        WHERE F.RQST_NO = A.RQST_NO
                          AND F.RQST_SNO = A.RQST_SNO
                        # AND D.DDL_PART_PNM = A.DDL_PART_PNM
                          AND G.DDL_PART_SUB_PNM = A.DDL_PART_SUB_PNM
                         )
                         */
  </insert>


  
  <insert id="checkNonMainPartPnm" parameterType="map">
  
  /* WaqDdlPartSubMapper.checkNonMainPartPnm */
  
  	<!-- <include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSnoSql"/> -->
	<!--검증쿼리 :  DDL 주파티션명 미존재 (DDP74) -->
	  INSERT INTO WAQ_RQST_VRF_DTLS
	  (  BIZ_DTL_CD
       , RQST_NO
	   , RQST_SNO
	   , VRF_SNO
	   , RQST_DTL_SNO
	   , VRF_DTL_CD
	   , VRF_DTLS
	  )
	  SELECT #{bizDtlCd} AS BIZ_DTL_CD
             ,A.RQST_NO
	         ,A.RQST_SNO
	         ,IFNULL(C.VRF_SNO,0) + 1 AS VRF_SNO
	         ,A.RQST_DTL_SNO
	         ,#{vrfDtlCd} AS VRF_DTL_CD
	         ,NULL AS VRF_DTLS
	      FROM ${tblnm} A
	           LEFT JOIN 
	           (SELECT MAX(VRF_SNO) AS VRF_SNO
	      	         , RQST_NO
	      	         , RQST_SNO
	      	         , RQST_DTL_SNO
	      	      FROM WAQ_RQST_VRF_DTLS A
	      	     WHERE A.BIZ_DTL_CD = #{bizDtlCd}
	      	       AND A.RQST_NO = #{rqstNo}
	      	     GROUP BY RQST_NO, RQST_SNO, RQST_DTL_SNO
	      	    ) C
	      	      ON A.RQST_NO = C.RQST_NO
	      	     AND A.RQST_SNO = C.RQST_SNO
	      	     AND A.RQST_DTL_SNO = C.RQST_DTL_SNO
	      	   INNER JOIN WAQ_DDL_PART D
	      	      ON D.RQST_NO  = A.RQST_NO
                 AND D.RQST_SNO = A.RQST_SNO
                 AND D.SUB_PART_TYP_CD = 'RANGE'     
	   WHERE A.RQST_NO = #{rqstNo,jdbcType=VARCHAR}	
         AND A.RQST_DCD = 'CU'
         AND NOT EXISTS ( SELECT 1 
                            FROM WAQ_DDL_PART_MAIN E
                                 INNER JOIN WAQ_DDL_PART F
                                    ON F.RQST_NO  = E.RQST_NO 
                                   AND F.RQST_SNO = E.RQST_SNO
                                   AND F.SUB_PART_TYP_CD = 'RANGE'                                 
                           WHERE E.RQST_NO      = A.RQST_NO
                             AND E.RQST_SNO     = A.RQST_SNO
                             AND E.DDL_PART_PNM = A.DDL_PART_PNM
                         )
  </insert>
  
  
  <insert id="checkSubPartVal" parameterType="map">
  
  /* WaqDdlPartSubMapper.checkSubPartVal */
  
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSnoSql"/> 
	<!--검증쿼리 :  서브파티션 RANGE, LIST 일경우 구분값은 필수 항목(DDP78) -->
	  <![CDATA[
      AND A.RQST_DCD = 'CU'
      AND A.DDL_PART_SUB_VAL IS NULL
      AND EXISTS (SELECT 1
                    FROM WAQ_DDL_PART B
				   WHERE B.SUB_PART_TYP_CD IN ('LIST', 'RANGE')	
				     AND B.RQST_NO  = A.RQST_NO   
				     AND B.RQST_SNO = A.RQST_SNO   
                 )
      ]]>
  </insert>
  
  <insert id="checkNotChgData" parameterType="map">
  
  /* WaqDdlPartSubMapper.checkNotChgData */
  
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSnoSql"/>
	<!--검증쿼리 : DDL 서브파티션 변경사항 없을경우 (DDP70)-->
      AND A.REG_TYP_CD = 'U'
      AND EXISTS (SELECT 1
            FROM WAM_DDL_PART D 
           # INNER JOIN WAM_DDL_PART_MAIN E
           #    ON D.DDL_PART_ID = E.DDL_PART_ID
           INNER JOIN WAM_DDL_PART_SUB G
              ON D.DDL_PART_ID = G.DDL_PART_ID
           INNER JOIN WAQ_DDL_PART F
              ON F.DDL_TBL_ID = D.DDL_TBL_ID
           WHERE F.RQST_NO  = A.RQST_NO
             AND F.RQST_SNO = A.RQST_SNO
			#	AND A.DDL_PART_PNM = E.DDL_PART_PNM
             AND A.DDL_PART_SUB_PNM = G.DDL_PART_SUB_PNM
			 AND IFNULL(A.DDL_PART_SUB_VAL , '') = IFNULL(G.DDL_PART_SUB_VAL , '')
          )
  </insert>
  
<!--   승인결과 적재 -->
  <select id="selectWaqC" parameterType="map" resultMap="BaseResultMap">
	<!--DDL 서브파티션 신규 적재 대상 추출 -->
	SELECT /* WaqDdlPartSubMapper.selectWaqC */
		B.* FROM WAQ_DDL_PART A
	 INNER JOIN WAQ_DDL_PART_SUB B
	    ON A.RQST_NO = B.RQST_NO
       AND A.RQST_SNO = B.RQST_SNO
   	 WHERE A.RQST_NO = #{rqstNo}
   	   AND A.RVW_STS_CD = '1'  <!--승인-->
   	 <!-- AND A.RQST_DCD = 'CU' -->
       AND B.REG_TYP_CD = 'C'
       AND B.VRF_CD = '1'
	</select>
  
  <update id="updateidByKey" parameterType="kr.wise.meta.ddl.service.WaqDdlIdxCol">
     <!--DDL 서브파티션 신규 적재 대상 ID 업데이트 -->
     UPDATE /* WaqDdlPartSubMapper.updateidByKey */
     		WAQ_DDL_PART_SUB 
        SET DDL_SUB_PART_ID  = #{ddlSubPartId,jdbcType=VARCHAR}
  	 WHERE RQST_NO = #{rqstNo,jdbcType=VARCHAR}
       AND RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
       AND RQST_DTL_SNO = #{rqstDtlSno}	
	</update>
   
	<update id="updateWaqCUD" parameterType="map">
   	<!--DDL 서브파티션 WAQ ID, VERS 등을 업데이트... -->
   	UPDATE 	/* WaqDdlPartSubMapper.updateWaqCUD */
   			WAQ_DDL_PART_SUB A
   	   SET (DDL_SUB_PART_ID, DDL_MAIN_PART_ID, DDL_PART_ID, OBJ_VERS, FRS_RQST_DTM, FRS_RQST_USER_ID) = (
   	   		SELECT
   	   			  D.DDL_SUB_PART_ID 
   	   			, D.DDL_MAIN_PART_ID
   	   			, C.DDL_PART_ID 
   	   			, IFNULL(D.OBJ_VERS, 0) + 1 AS OBJ_VERS
				, D.FRS_RQST_DTM
				, D.FRS_RQST_USER_ID
			  FROM WAQ_DDL_PART B
			 INNER JOIN WAM_DDL_PART C
			    ON B.DDL_PART_ID = C.DDL_PART_ID
	      	 INNER JOIN WAM_DDL_PART_SUB D
	      	    ON C.DDL_PART_ID = D.DDL_PART_ID
	      	 WHERE B.RQST_NO = A.RQST_NO
			   AND B.RQST_SNO = A.RQST_SNO
			   AND D.DDL_PART_SUB_PNM   = A.DDL_PART_SUB_PNM  
			   AND B.RVW_STS_CD = '1' <!--승인대상만...-->
   	   	   )
	WHERE A.RQST_NO = #{rqstNo}
	  AND A.VRF_CD = '1' <!--등록가능-->
	  AND EXISTS (
	  	    SELECT 1
			  FROM WAQ_DDL_PART B
			 INNER JOIN WAM_DDL_PART C
			    ON B.DDL_PART_ID = C.DDL_PART_ID
	      	 INNER JOIN WAM_DDL_PART_SUB D
	      	    ON C.DDL_PART_ID = D.DDL_PART_ID
	      	 WHERE B.RQST_NO = A.RQST_NO
			   AND B.RQST_SNO = A.RQST_SNO
			   AND D.DDL_PART_SUB_PNM   = A.DDL_PART_SUB_PNM  
			   AND B.RVW_STS_CD = '1' <!--승인대상만...-->
	  )   	   
   	</update>
   	
   <update id="updateWaqId" parameterType="map">
   <!--DDL 서브파티션 결재시각 업데이트...-->
   	UPDATE 	/* WaqDdlPartSubMapper.updateWaqId */
   			WAQ_DDL_PART_SUB X 
   	   SET (DDL_PART_ID,  APRV_DTM, APRV_USER_ID) = (
		SELECT A.DDL_PART_ID
			 , NOW(), A.APRV_USER_ID
		  FROM WAQ_DDL_PART A
	     WHERE A.RQST_NO = X.RQST_NO
	       AND A.RQST_SNO = X.RQST_SNO
	       AND A.RVW_STS_CD = '1' <!--승인대상만...-->
	) 
	WHERE X.RQST_NO = #{rqstNo}
	  AND X.VRF_CD = '1' <!--등록가능-->
   </update>

   <update id="updateWaqId2" parameterType="map">
   <!--DDL 서브파티션 메인파티션 ID 업데이트...-->
   	UPDATE /* WaqDdlPartSubMapper.updateWaqId2 */
   		WAQ_DDL_PART_SUB X 
   	   SET (DDL_MAIN_PART_ID) = (
		SELECT A.DDL_MAIN_PART_ID
		  FROM WAQ_DDL_PART_MAIN A
	     WHERE A.RQST_NO = X.RQST_NO
	       AND A.RQST_SNO = X.RQST_SNO
	       AND A.DDL_PART_PNM = X.DDL_PART_PNM 
	       AND A.VRF_CD = '1' <!--승인대상만...-->
	    UNION ALL
	     SELECT B.DDL_MAIN_PART_ID
		  FROM WAM_DDL_PART_MAIN B
	     WHERE B.DDL_PART_ID = X.DDL_PART_ID
	       AND B.DDL_PART_PNM = X.DDL_PART_PNM 
	       AND NOT EXISTS (
	       		SELECT 1
				  FROM WAQ_DDL_PART_MAIN C
			     WHERE C.RQST_NO = #{rqstNo}
			       AND C.VRF_CD = '1' <!--승인대상만...-->
			       AND C.DDL_MAIN_PART_ID = B.DDL_MAIN_PART_ID
	       )
	) 
	WHERE X.RQST_NO = #{rqstNo}
	  AND X.VRF_CD = '1' <!--등록가능-->
   </update>
   
  	<sql id="wam_col_list">
		, A.DDL_PART_SUB_PNM, A.DDL_MAIN_PART_ID, A.DDL_PART_ID, A.DDL_TBL_ID, A.DDL_PART_SUB_VAL, A.TBL_SPAC_ID, A.TBL_SPAC_PNM 
		, A.RQST_NO, A.RQST_SNO, A.RQST_DTL_SNO, A.OBJ_DESCN, A.OBJ_VERS, A.REG_TYP_CD
		, A.FRS_RQST_DTM, A.FRS_RQST_USER_ID, A.RQST_DTM, A.RQST_USER_ID, A.APRV_DTM, A.APRV_USER_ID  
	</sql>
	<delete id="deleteWAM" parameterType="map">
    <!--DDL 서브파티션 WAM 삭제 (등록유형코드가REG_TYP_CD 변경, 삭제일 경우)-->
	DELETE /* WaqDdlPartSubMapper.deleteWAM */
	FROM WAM_DDL_PART_SUB A
	 WHERE EXISTS (
		SELECT 1 FROM WAQ_DDL_PART B 
	      JOIN WAM_DDL_PART D
	        ON B.DDL_PART_ID = D.DDL_PART_ID
		  JOIN WAQ_DDL_PART_SUB C
	        ON B.RQST_NO = C.RQST_NO
	       AND B.RQST_SNO = C.RQST_SNO
		 WHERE C.RQST_NO = #{rqstNo}
	       AND D.DDL_PART_ID = A.DDL_PART_ID
	       AND C.DDL_SUB_PART_ID = A.DDL_SUB_PART_ID
	       AND B.RVW_STS_CD = '1'
	       AND C.VRF_CD = '1'
	)
   </delete>
   
   <insert id="insertWAM" parameterType="map">
   	<!--DDL 서브파티션 WAM 추가 (WAQ 내용을 추가, REG_TYP_CD 가 신규,변경일 경우)-->
	INSERT /* WaqDdlPartSubMapper.insertWAM */
	INTO WAM_DDL_PART_SUB (
		  DDL_SUB_PART_ID
		, DDL_PART_SUB_PNM, DDL_MAIN_PART_ID, DDL_PART_ID, DDL_TBL_ID, DDL_PART_SUB_VAL, TBL_SPAC_ID, TBL_SPAC_PNM 
		, RQST_NO, RQST_SNO, RQST_DTL_SNO, OBJ_DESCN, OBJ_VERS, REG_TYP_CD
		, FRS_RQST_DTM, FRS_RQST_USER_ID, RQST_DTM, RQST_USER_ID, APRV_DTM, APRV_USER_ID
	)
	SELECT 
	    A.DDL_SUB_PART_ID
	  <include refid="wam_col_list"/>
	  FROM WAQ_DDL_PART_SUB A
	  JOIN WAQ_DDL_PART B 
	    ON A.RQST_NO = B.RQST_NO
	   AND A.RQST_SNO = B.RQST_SNO
	 WHERE A.RQST_NO = #{rqstNo}
	   AND A.VRF_CD = '1'
	   AND A.REG_TYP_CD IN ('C', 'U')
	   AND B.RVW_STS_CD = '1'
   </insert>
   
   <update id="updateWAHbyTbl" parameterType="string">
   <!--DDL 서브파티션 WAH 이력 만료 by DDL 테이블 삭제...-->
   UPDATE /* WaqDdlPartSubMapper.updateWAHbyTbl */
   WAH_DDL_PART_SUB A 
	   SET EXP_DTM = NOW()
	WHERE DDL_TBL_ID IN (
		SELECT DDL_TBL_ID FROM WAQ_DDL_TBL B
	    WHERE B.RQST_NO = #{rqstNo}
	      AND B.RVW_STS_CD = '1'
	      AND B.REG_TYP_CD = 'D'
	) 
	   AND EXP_DTM = STR_TO_DATE('9999-12-31', '%Y-%m-%d')
   </update>
   
   <insert id="insertWAHbyTbl" parameterType="string">
   <!--DDL 서브파티션 WAH이력 적재 by DDL 테이블 삭제...-->
   INSERT /* WaqDdlPartSubMapper.insertWAHbyTbl */
   INTO WAH_DDL_PART_SUB (
		  DDL_SUB_PART_ID, EXP_DTM, STR_DTM
		, DDL_PART_SUB_PNM, DDL_MAIN_PART_ID, DDL_PART_ID, DDL_TBL_ID, DDL_PART_SUB_VAL, TBL_SPAC_ID, TBL_SPAC_PNM 
		, RQST_NO, RQST_SNO, RQST_DTL_SNO, OBJ_DESCN, OBJ_VERS, REG_TYP_CD
		, FRS_RQST_DTM, FRS_RQST_USER_ID, RQST_DTM, RQST_USER_ID, APRV_DTM, APRV_USER_ID
	)
	SELECT 
			A.DDL_SUB_PART_ID
		  , STR_TO_DATE('9999-12-31', '%Y-%m-%d') AS EXP_DTM
		  , NOW() AS STR_DTM 
		, A.DDL_PART_SUB_PNM, A.DDL_MAIN_PART_ID, A.DDL_PART_ID, A.DDL_TBL_ID, A.DDL_PART_SUB_VAL, A.TBL_SPAC_ID, A.TBL_SPAC_PNM 
		, A.RQST_NO, A.RQST_SNO, A.RQST_DTL_SNO, A.OBJ_DESCN
		, IFNULL(A.OBJ_VERS, 0)+1
		, 'D' AS REG_TYP_CD
		, A.FRS_RQST_DTM, A.FRS_RQST_USER_ID
		, NOW() AS RQST_DTM, 'system' AS RQST_USER_ID
		, NOW() AS APRV_DTM, '자동삭제' AS APRV_USER_ID
	  FROM WAM_DDL_PART_SUB A
	  WHERE DDL_TBL_ID IN (
		SELECT DDL_TBL_ID FROM WAQ_DDL_TBL B
	    WHERE B.RQST_NO = #{rqstNo}
	      AND B.RVW_STS_CD = '1'
	      AND B.REG_TYP_CD = 'D'
	) 
   </insert>
   
   <delete id="deleteWAMbyTbl" parameterType="string">
   <!--DDL 서브파티션 WAM 삭제 by DDL 테이블 삭제...-->
	DELETE /* WaqDdlPartSubMapper.deleteWAMbyTbl */
	FROM WAM_DDL_PART_SUB A
	 WHERE DDL_TBL_ID IN (
		SELECT DDL_TBL_ID FROM WAQ_DDL_TBL B
	    WHERE B.RQST_NO = #{rqstNo}
	      AND B.RVW_STS_CD = '1'
	      AND B.REG_TYP_CD = 'D'
	) 
   </delete>
   
   <update id="updateWAH"  parameterType="map">
   	<!--DDL 서브파티션 WAH 이력 만료...-->
	UPDATE 	/* WaqDdlPartSubMapper.updateWAH */
			WAH_DDL_PART_SUB A 
	   SET EXP_DTM = NOW()
	WHERE EXISTS (
		SELECT 1 FROM WAQ_DDL_PART B 
	      JOIN WAQ_DDL_PART_SUB C
	        ON B.RQST_NO = C.RQST_NO
	       AND B.RQST_SNO = C.RQST_SNO
	     WHERE C.RQST_NO = #{rqstNo}
	       AND C.DDL_PART_ID = A.DDL_PART_ID
	       AND C.DDL_SUB_PART_ID = A.DDL_SUB_PART_ID
	       AND C.VRF_CD = '1'
	       AND B.RVW_STS_CD = '1'
	)
	  AND EXP_DTM = STR_TO_DATE('9999-12-31', '%Y-%m-%d')
   </update>
   
   <insert id="insertWAH"  parameterType="map">
   	<!--DDL 서브파티션 WAH이력 적재...-->
	INSERT 	/* WaqDdlPartSubMapper.insertWAH */
			INTO WAH_DDL_PART_SUB (
		  DDL_SUB_PART_ID, EXP_DTM, STR_DTM
		, DDL_PART_SUB_PNM, DDL_MAIN_PART_ID, DDL_PART_ID, DDL_TBL_ID, DDL_PART_SUB_VAL, TBL_SPAC_ID, TBL_SPAC_PNM 
		, RQST_NO, RQST_SNO, RQST_DTL_SNO, OBJ_DESCN, OBJ_VERS, REG_TYP_CD
		, FRS_RQST_DTM, FRS_RQST_USER_ID, RQST_DTM, RQST_USER_ID, APRV_DTM, APRV_USER_ID
	)
	SELECT 
			A.DDL_SUB_PART_ID
		  , STR_TO_DATE('9999-12-31', '%Y-%m-%d') AS EXP_DTM
		  , NOW() AS STR_DTM 
	<include refid="wam_col_list"/>
	  FROM WAQ_DDL_PART_SUB A
	  JOIN WAQ_DDL_PART B
	    ON B.RQST_NO = A.RQST_NO
	   AND B.RQST_SNO = A.RQST_SNO
	 WHERE A.RQST_NO = #{rqstNo}
	   AND A.VRF_CD = '1'
	   AND B.RVW_STS_CD = '1'
	   AND A.DDL_SUB_PART_ID IS NOT NULL
	   AND A.DDL_PART_ID IS NOT NULL
   </insert>

<update id="updateRqstSnoByPart" parameterType="map">
   <!-- SUB 파티션 RQST_SNO UPDATE-->
   	UPDATE 	/* WaqDdlPartSubMapper.updateRqstSnoByPart */
   			WAQ_DDL_PART_SUB A
   	   SET A.RQST_SNO = (
   	   		SELECT B.RQST_SNO
   	   		  FROM WAQ_DDL_PART B
   	   		 WHERE A.RQST_NO = B.RQST_NO
   	   		   AND A.DDL_TBL_PNM = B.DDL_TBL_PNM
   	   ) 
	 WHERE A.RQST_NO = #{rqstNo}
       AND EXISTS ( SELECT 1
                      FROM WAQ_DDL_PART B
                     WHERE A.RQST_NO = B.RQST_NO
                       AND A.DDL_TBL_PNM = B.DDL_TBL_PNM )
</update>  
<update id="updateRqstSnoByPart2" parameterType="map">
   <!-- SUB 파티션 목록중 WAQ_DDL_PART 에 정보 없는 것들  RQST_SNO = 0  UPDATE-->
        UPDATE 	/* WaqDdlPartSubMapper.updateRqstSnoByPart2 */
        		WAQ_DDL_PART_SUB A
           SET A.RQST_SNO = 0
         WHERE A.RQST_NO = #{rqstNo}
           AND NOT EXISTS ( SELECT 1
                              FROM WAQ_DDL_PART B
                             WHERE A.RQST_NO = B.RQST_NO
                               AND A.DDL_TBL_PNM = B.DDL_TBL_PNM
                          )
</update>  

   
<update id="updateBaseInfo" parameterType="map">
   <!-- SUB 파티션 DDL_MAIN_PART_ID,  DDL_PART_ID, DDL_TBL_ID, DDL_TBL_PNM UPDATE-->
   	<!--
   	UPDATE 	/* WaqDdlPartSubMapper.updateBaseInfo */
   			WAQ_DDL_PART_SUB A
   	   SET (A.DDL_PART_ID, A.DDL_TBL_ID, A.DDL_TBL_PNM) = (
   	   		SELECT B.DDL_PART_ID, B.DDL_TBL_ID, B.DDL_TBL_PNM
   	   		  FROM WAQ_DDL_PART B
   	   		 WHERE A.RQST_NO = B.RQST_NO
   	   		   AND A.RQST_SNO = B.RQST_SNO
   	   ) 
	 WHERE A.RQST_NO = #{rqstNo}
	 -->
	 
	UPDATE 	/* WaqDdlPartSubMapper.updateBaseInfo */
   			WAQ_DDL_PART_SUB A
   			LEFT JOIN WAQ_DDL_PART B
   	   		  ON A.RQST_NO = B.RQST_NO
   	   		 AND A.RQST_SNO = B.RQST_SNO
   	   SET A.DDL_PART_ID = B.DDL_PART_ID
   	     , A.DDL_TBL_ID  = B.DDL_TBL_ID
   	     , A.DDL_TBL_PNM = B.DDL_TBL_PNM
	 WHERE A.RQST_NO = #{rqstNo} 
</update>   

<update id="updateDdlSubPartId" parameterType="map">
   <!-- SUB 파티션 DDL_MAIN_PART_ID,  DDL_PART_ID, DDL_TBL_ID, DDL_TBL_PNM UPDATE-->
   	UPDATE 	/* WaqDdlPartSubMapper.updateDdlSubPartId */
   			WAQ_DDL_PART_SUB A 
   	   SET A.DDL_SUB_PART_ID 
   	       = (SELECT B.DDL_SUB_PART_ID 
   	            FROM WAM_DDL_PART_SUB B
   	           WHERE 1=1 <!--A.DDL_MAIN_PART_ID = B.DDL_MAIN_PART_ID -->
   	             AND A.DDL_TBL_ID  = B.DDL_TBL_ID 
   	             AND A.DDL_PART_ID  = B.DDL_PART_ID  
   	             AND A.DDL_PART_SUB_PNM = B.DDL_PART_SUB_PNM
	          ) 
	 WHERE A.RQST_NO = #{rqstNo}
</update>   
  
</mapper>