<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.commons.damgmt.gov.service.GovInftMapper">
	<resultMap id="BaseResultMap" type="kr.wise.commons.damgmt.gov.service.WaaGovInft" extends="kr.wise.commons.cmm.service.CommonMapper.BaseResultMap">
		<result column="ORG_CD"					property="orgCd" jdbcType="VARCHAR" />
		<result column="ORG_NM"                 property="orgNm" jdbcType="VARCHAR" />
		<result column="INFO_SYS_CD"            property="infoSysCd" jdbcType="VARCHAR" />
		<result column="INFO_SYS_NM"            property="infoSysNm" jdbcType="VARCHAR" />
		<result column="DB_CONN_TRG_ID"         property="dbConnTrgId" jdbcType="VARCHAR" />
		<result column="DB_OBJ_VERS"            property="dbObjVers" jdbcType="VARCHAR" />
		<result column="DB_REG_TYP_CD"          property="dbRegTypCd" jdbcType="VARCHAR" />
		<result column="DB_WRIT_USER_ID"        property="dbWritUserId" jdbcType="VARCHAR" />
		<result column="DB_WRIT_DTM"            property="dbWritDtm" jdbcType="VARCHAR" />
		<result column="DB_CONN_TRG_PNM"        property="dbConnTrgPnm" jdbcType="VARCHAR" />
		<result column="DB_CONN_TRG_LNM"        property="dbConnTrgLnm" jdbcType="VARCHAR" />
		<result column="DBMS_TYP_CD"            property="dbmsTypCd" jdbcType="VARCHAR" />
		<result column="DBMS_VERS_CD"           property="dbmsVersCd" jdbcType="VARCHAR" />
		<result column="DB_OBJ_DESCN"           property="dbObjDescn" jdbcType="VARCHAR" />
		<result column="TBL_CNT"                property="tblCnt" jdbcType="VARCHAR" />
		<result column="CONST_DT"               property="constDt" jdbcType="VARCHAR" />
		<result column="DATA_CPCT"              property="dataCpct" jdbcType="VARCHAR" />
		<result column="APLY_BIZ_NM"            property="aplyBizNm" jdbcType="VARCHAR" />
		<result column="OS_VER_NM"              property="osVerNm" jdbcType="VARCHAR" />
		<result column="PDATA_EXPT_RSN"         property="pdataExptRsn" jdbcType="VARCHAR" />
		<result column="MTA_TBL_ID"             property="mtaTblId" jdbcType="VARCHAR" />
		<result column="DB_SCH_ID"              property="dbSchId" jdbcType="VARCHAR" />
		<result column="TBL_OBJ_VERS"           property="tblObjVers" jdbcType="VARCHAR" />
		<result column="TBL_REG_TYP_CD"         property="tblRegTypCd" jdbcType="VARCHAR" />
		<result column="TBL_RQST_NO"            property="tblRqstNo" jdbcType="VARCHAR" />
		<result column="TBL_RQST_SNO"           property="tblRqstSno" jdbcType="VARCHAR" />
		<result column="TBL_FRS_RQST_DTM"       property="tblFrsRqstDtm" jdbcType="VARCHAR" />
		<result column="TBL_APRV_DTM"           property="tblAprvDtm" jdbcType="VARCHAR" />
		<result column="TBL_RQST_USER_ID"       property="tblRqstUserId" jdbcType="VARCHAR" />
		<result column="MTA_TBL_PNM"            property="mtaTblPnm" jdbcType="VARCHAR" />
		<result column="MTA_TBL_LNM"            property="mtaTblLnm" jdbcType="VARCHAR" />
		<result column="DB_SCH_PNM"             property="dbSchPnm" jdbcType="VARCHAR" />
		<result column="TBL_OBJ_DESCN"          property="tblObjDescn" jdbcType="VARCHAR" />
		<result column="TBL_TYP_NM"             property="tblTypNm" jdbcType="VARCHAR" />
		<result column="SUBJ_ID"                property="subjId" jdbcType="VARCHAR" />
		<result column="SUBJ_NM"                property="subjNm" jdbcType="VARCHAR" />
		<result column="PRSV_TERM"              property="prsvTerm" jdbcType="VARCHAR" />
		<result column="TBL_VOL"                property="tblVol" jdbcType="VARCHAR" />
		<result column="OPEN_RSN_CD"            property="openRsnCd" jdbcType="VARCHAR" />
		<result column="NOPEN_RSN"              property="nopenRsn" jdbcType="VARCHAR" />
		<result column="NOPEN_DTL_REL_BSS"      property="nopenDtlRelBss" jdbcType="VARCHAR" />
		<result column="OPEN_DATA_LST"          property="openDataLst" jdbcType="VARCHAR" />
		<result column="OCCR_CYL"               property="occrCyl" jdbcType="VARCHAR" />
		<result column="DQ_DGNS_YN"             property="dqDgnsYn" jdbcType="VARCHAR" />
		<result column="MTA_COL_ID"             property="mtaColId" jdbcType="VARCHAR" />
		<result column="MTA_TBL_ID"             property="mtaTblId" jdbcType="VARCHAR" />
		<result column="COL_ORD"                property="colOrd" jdbcType="VARCHAR" />
		<result column="PRI_RSN"                property="priRsn" jdbcType="VARCHAR" />
		<result column="COL_RQST_NO"            property="colRqstNo" jdbcType="VARCHAR" />
		<result column="COL_RQST_SNO"           property="colRqstSno" jdbcType="VARCHAR" />
		<result column="COL_RQST_DTL_SNO"       property="colRqstDtlSno" jdbcType="VARCHAR" />
		<result column="COL_OBJ_VERS"           property="colObjVers" jdbcType="VARCHAR" />
		<result column="COL_REG_TYP_CD"         property="colRegTypCd" jdbcType="VARCHAR" />
		<result column="COL_RQST_DTM"           property="colRqstDtm" jdbcType="VARCHAR" />
		<result column="COL_APRV_DTM"           property="colAprvDtm" jdbcType="VARCHAR" />
		<result column="COL_RQST_USER_ID"       property="colRqstUserId" jdbcType="VARCHAR" />
		<result column="MTA_COL_PNM"            property="mtaColPnm" jdbcType="VARCHAR" />
		<result column="MTA_COL_LNM"            property="mtaColLnm" jdbcType="VARCHAR" />
		<result column="PK_YN"                  property="pkYn" jdbcType="VARCHAR" />
		<result column="FK_YN"                  property="fkYn" jdbcType="VARCHAR" />
		<result column="DATA_TYPE"              property="dataType" jdbcType="VARCHAR" />
		<result column="DATA_LEN"               property="dataLen" jdbcType="VARCHAR" />
		<result column="DATA_FMT"               property="dataFmt" jdbcType="VARCHAR" />
		<result column="NONUL_YN"               property="nonulYn" jdbcType="VARCHAR" />
		<result column="CONST_CND"              property="constCnd" jdbcType="VARCHAR" />
		<result column="OPEN_YN"                property="openYn" jdbcType="VARCHAR" />
		<result column="PRSN_INFO_YN"           property="prsnInfoYn" jdbcType="VARCHAR" />
		<result column="ENC_TRG_YN"             property="encTrgYn" jdbcType="VARCHAR" />
		<result column="COL_OBJ_DESCN"          property="colObjDescn" jdbcType="VARCHAR" />
		                                                  
		<result column="GOV_MTA_COL_PNM"        property="govMtaColPnm" jdbcType="VARCHAR" />
		<result column="GOV_MTA_COL_LNM"        property="govMtaColLnm" jdbcType="VARCHAR" />
		
		<result column="BIS_ID"                 property="bisId" jdbcType="VARCHAR" />
		<result column="BIS_NM"                 property="bisNm" jdbcType="VARCHAR" />
		<result column="FULL_PATH"              property="fullPath" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="selectDbList" resultMap="BaseResultMap" parameterType="map">
		SELECT ORG.ORG_CD AS ORG_CD
		      ,ORG.ORG_NM AS ORG_NM
		      ,INFOSYS.INFO_SYS_CD AS INFO_SYS_CD
		      ,INFOSYS.INFO_SYS_NM AS INFO_SYS_NM
		      ,DB.DB_CONN_TRG_ID AS DB_CONN_TRG_ID
		      ,DB.OBJ_VERS AS DB_OBJ_VERS
		      ,DB.REG_TYP_CD AS DB_REG_TYP_CD
		      ,DB.WRIT_USER_ID AS DB_WRIT_USER_ID
		      ,TO_CHAR(DB.WRIT_DTM, 'YYYYMMDDHH24MISS') AS DB_WRIT_DTM
		      ,DB.DB_CONN_TRG_PNM AS DB_CONN_TRG_PNM
		      ,DB.DB_CONN_TRG_LNM AS DB_CONN_TRG_LNM
		      ,DB.DBMS_TYP_CD AS DBMS_TYP_CD
		      ,DB.DBMS_VERS_CD AS DBMS_VERS_CD
		      ,DB.OBJ_DESCN AS DB_OBJ_DESCN
		      ,DB.TBL_CNT AS TBL_CNT
		      ,DB.ESBLH_DT AS CONST_DT
		      ,DB.DATA_CAPA AS DATA_CPCT
		      ,DB.APPL_BZ AS APLY_BIZ_NM
		      ,DB.OS_VERS AS OS_VER_NM
		      ,DB.GTH_EXCPT_RSN AS PDATA_EXPT_RSN
		  FROM WAA_ORG ORG
		 INNER JOIN WAA_INFO_SYS INFOSYS
		    ON INFOSYS.ORG_CD = ORG.ORG_CD
		   AND INFOSYS.EXP_DTM = TO_DATE('99991231', 'YYYYMMDD')
		 INNER JOIN WAA_DB_CONN_TRG DB
		    ON DB.INFO_SYS_CD = INFOSYS.INFO_SYS_CD
		   AND DB.REG_TYP_CD IN ('C', 'U')
		   AND DB.EXP_DTM = TO_DATE('99991231', 'YYYYMMDD')
		 WHERE ORG.EXP_DTM = TO_DATE('99991231', 'YYYYMMDD')
	</select>
	
	<select id="selectTblList" resultMap="BaseResultMap" parameterType="map">
		SELECT TBL.PDM_TBL_ID AS MTA_TBL_ID
		      ,INFOSYS.ORG_CD AS ORG_CD
		      ,INFOSYS.INFO_SYS_CD AS INFO_SYS_CD
		      ,DB.DB_CONN_TRG_ID AS DB_CONN_TRG_ID
		      ,DB.DB_CONN_TRG_PNM AS DB_CONN_TRG_PNM
		      ,SCH.DB_SCH_ID AS DB_SCH_ID
		      ,TBL.OBJ_VERS AS TBL_OBJ_VERS
		      ,TBL.REG_TYP_CD AS TBL_REG_TYP_CD
		      ,TBL.RQST_NO AS TBL_RQST_NO
		      ,TBL.RQST_SNO AS TBL_RQST_SNO
		      ,TO_CHAR(TBL.FRS_RQST_DTM, 'YYYYMMDDHH24MISS') AS TBL_FRS_RQST_DTM
		      ,TO_CHAR(TBL.APRV_DTM, 'YYYYMMDDHH24MISS') AS TBL_APRV_DTM
		      ,TBL.RQST_USER_ID AS TBL_RQST_USER_ID
		      ,TBL.PDM_TBL_PNM AS MTA_TBL_PNM
		      ,TBL.PDM_TBL_LNM AS MTA_TBL_LNM
		      ,SCH.DB_SCH_PNM AS DB_SCH_PNM
		      ,TBL.OBJ_DESCN AS TBL_OBJ_DESCN
		   --   ,TBL.TBL_TYP_NM AS TBL_TYP_NM
		      ,BIS.BIS_ID AS SUBJ_ID
		      ,BIS.BIS_NM AS SUBJ_NM
		      ,TBL.PRSV_TERM AS PRSV_TERM
		      ,TBL.TBL_VOL AS TBL_VOL
		      ,TBL.OPEN_RSN_CD AS OPEN_RSN_CD
		      ,TBL.NOPEN_RSN AS NOPEN_RSN
		      ,TBL.NOPEN_DTL_REL_BSS AS NOPEN_DTL_REL_BSS
		      ,TBL.OPEN_DATA_LST AS OPEN_DATA_LST
		      ,TBL.OCCR_CYL AS OCCR_CYL
		      ,TBL.DQ_DGNS_YN AS DQ_DGNS_YN
		  FROM WAA_DB_CONN_TRG DB
		 INNER JOIN WAA_DB_SCH SCH
		    ON SCH.DB_CONN_TRG_ID = DB.DB_CONN_TRG_ID 
		   AND SCH.EXP_DTM = TO_DATE('99991231', 'YYYYMMDD')
		   AND SCH.REG_TYP_CD IN ('C', 'U')
		 INNER JOIN WAA_SUBJ_DB_SCH_MAP SUBJMAP
		    ON SUBJMAP.DB_SCH_ID = SCH.DB_SCH_ID
		   AND SUBJMAP.EXP_DTM = TO_DATE('99991231', 'YYYYMMDD')
		   AND SUBJMAP.REG_TYP_CD IN ('C', 'U')
		 INNER JOIN WAA_SUBJ SUBJ
		    ON SUBJ.SUBJ_ID = SUBJMAP.SUBJ_ID 
		   AND SUBJ.EXP_DTM = TO_DATE('99991231', 'YYYYMMDD')
		   AND SUBJ.REG_TYP_CD IN ('C', 'U')
		  LEFT OUTER JOIN WAA_SUBJ_BIS_MAP BIS
		    ON BIS.SUBJ_ID = SUBJ.SUBJ_ID
		 INNER JOIN WAA_INFO_SYS INFOSYS
		    ON INFOSYS.INFO_SYS_CD = DB.INFO_SYS_CD 
		   AND INFOSYS.EXP_DTM = TO_DATE('99991231', 'YYYYMMDD')
		 INNER JOIN WAM_PDM_TBL TBL
		    ON TBL.SUBJ_ID = SUBJ.SUBJ_ID
		   AND TBL.REG_TYP_CD IN ('C', 'U')
		 WHERE DB.REG_TYP_CD IN ('C', 'U')
		   AND DB.EXP_DTM = TO_DATE('99991231', 'YYYYMMDD')
				
	</select>
	
	<select id="selectColList" resultMap="BaseResultMap" parameterType="map">
		SELECT COL.PDM_COL_ID AS MTA_COL_ID
		      ,COL.PDM_TBL_ID AS MTA_TBL_ID
		      ,COL.COL_ORD AS COL_ORD
		      ,COL.NOPEN_RSN AS PRI_RSN
		      ,COL.RQST_NO AS COL_RQST_NO
		      ,COL.RQST_SNO AS COL_RQST_SNO
		      ,COL.RQST_DTL_SNO AS COL_RQST_DTL_SNO
		      ,COL.OBJ_VERS AS COL_OBJ_VERS
		      ,COL.REG_TYP_CD AS COL_REG_TYP_CD
		      ,TO_CHAR(COL.RQST_DTM, 'YYYYMMDDHH24MISS') AS COL_RQST_DTM
		      ,TO_CHAR(COL.APRV_DTM, 'YYYYMMDDHH24MISS') AS COL_APRV_DTM
		      ,COL.RQST_USER_ID AS COL_RQST_USER_ID
		      ,COL.PDM_COL_PNM AS MTA_COL_PNM
		      ,COL.PDM_COL_LNM AS MTA_COL_LNM
		      ,COL.PK_YN AS PK_YN
		      ,'N' AS FK_YN
		      ,COL.DATA_TYPE AS DATA_TYPE
		      ,COL.DATA_LEN AS DATA_LEN
		      ,'' AS DATA_FMT
		      ,COL.NONUL_YN AS NONUL_YN
		      ,COL.CONST_CND AS CONST_CND
		      ,COL.OPEN_YN AS OPEN_YN
		      ,COL.PRSN_INFO_YN AS PRSN_INFO_YN
		      ,COL.ENC_YN AS ENC_TRG_YN
		      ,COL.OBJ_DESCN AS COL_OBJ_DESCN
		  FROM WAA_DB_CONN_TRG DB
		 INNER JOIN WAA_DB_SCH SCH
		    ON SCH.DB_CONN_TRG_ID = DB.DB_CONN_TRG_ID 
		   AND SCH.EXP_DTM = TO_DATE('99991231', 'YYYYMMDD')
		   AND SCH.REG_TYP_CD IN ('C', 'U')
		 INNER JOIN WAA_SUBJ_DB_SCH_MAP SUBJMAP
		    ON SUBJMAP.DB_SCH_ID = SCH.DB_SCH_ID
		   AND SUBJMAP.EXP_DTM = TO_DATE('99991231', 'YYYYMMDD')
		   AND SUBJMAP.REG_TYP_CD IN ('C', 'U')
		 INNER JOIN WAA_SUBJ SUBJ
		    ON SUBJ.SUBJ_ID = SUBJMAP.SUBJ_ID 
		   AND SUBJ.EXP_DTM = TO_DATE('99991231', 'YYYYMMDD')
		   AND SUBJ.REG_TYP_CD IN ('C', 'U')
		 INNER JOIN WAA_INFO_SYS INFOSYS
		    ON INFOSYS.INFO_SYS_CD = DB.INFO_SYS_CD 
		   AND INFOSYS.EXP_DTM = TO_DATE('99991231', 'YYYYMMDD')
		 INNER JOIN WAM_PDM_TBL TBL
		    ON TBL.SUBJ_ID = SUBJ.SUBJ_ID
		   AND TBL.REG_TYP_CD IN ('C', 'U')
		 INNER JOIN WAM_PDM_COL COL
		    ON COL.PDM_TBL_ID = TBL.PDM_TBL_ID
		 WHERE DB.REG_TYP_CD IN ('C', 'U')
		   AND DB.EXP_DTM = TO_DATE('99991231', 'YYYYMMDD')
				
	</select>
	
	<select id="selectMapColList" resultMap="BaseResultMap" parameterType="map">
		SELECT COL.PDM_COL_ID AS MTA_COL_ID
		      ,COL.PDM_TBL_ID AS MTA_TBL_ID
		      ,COL.COL_ORD AS COL_ORD
		      ,COL.NOPEN_RSN AS PRI_RSN
		      ,COL.RQST_NO AS COL_RQST_NO
		      ,COL.RQST_SNO AS COL_RQST_SNO
		      ,COL.RQST_DTL_SNO AS COL_RQST_DTL_SNO
		      ,COL.OBJ_VERS AS COL_OBJ_VERS
		      ,COL.REG_TYP_CD AS COL_REG_TYP_CD
		      ,TO_CHAR(COL.RQST_DTM, 'YYYYMMDDHH24MISS') AS COL_RQST_DTM
		      ,TO_CHAR(COL.APRV_DTM, 'YYYYMMDDHH24MISS') AS COL_APRV_DTM
		      ,COL.RQST_USER_ID AS COL_RQST_USER_ID
		      ,NVL(SDITMMAP.GOV_SDITM_PNM, COL.PDM_COL_PNM) AS MTA_COL_PNM
		      ,NVL(SDITMMAP.GOV_SDITM_LNM, COL.PDM_COL_LNM) AS MTA_COL_LNM
		      ,COL.PK_YN AS PK_YN
		      ,'N' AS FK_YN
		      ,COL.DATA_TYPE AS DATA_TYPE
		      ,COL.DATA_LEN AS DATA_LEN
		      ,'' AS DATA_FMT
		      ,COL.NONUL_YN AS NONUL_YN
		      ,COL.CONST_CND AS CONST_CND
		      ,COL.OPEN_YN AS OPEN_YN
		      ,COL.PRSN_INFO_YN AS PRSN_INFO_YN
		      ,COL.ENC_YN AS ENC_TRG_YN
		      ,COL.OBJ_DESCN AS COL_OBJ_DESCN
		  FROM WAA_DB_CONN_TRG DB
		 INNER JOIN WAA_DB_SCH SCH
		    ON SCH.DB_CONN_TRG_ID = DB.DB_CONN_TRG_ID 
		   AND SCH.EXP_DTM = TO_DATE('99991231', 'YYYYMMDD')
		   AND SCH.REG_TYP_CD IN ('C', 'U')
		 INNER JOIN WAA_SUBJ_DB_SCH_MAP SUBJMAP
		    ON SUBJMAP.DB_SCH_ID = SCH.DB_SCH_ID
		   AND SUBJMAP.EXP_DTM = TO_DATE('99991231', 'YYYYMMDD')
		   AND SUBJMAP.REG_TYP_CD IN ('C', 'U')
		 INNER JOIN WAA_SUBJ SUBJ
		    ON SUBJ.SUBJ_ID = SUBJMAP.SUBJ_ID 
		   AND SUBJ.EXP_DTM = TO_DATE('99991231', 'YYYYMMDD')
		   AND SUBJ.REG_TYP_CD IN ('C', 'U')
		 INNER JOIN WAA_INFO_SYS INFOSYS
		    ON INFOSYS.INFO_SYS_CD = DB.INFO_SYS_CD 
		   AND INFOSYS.EXP_DTM = TO_DATE('99991231', 'YYYYMMDD')
		 INNER JOIN WAM_PDM_TBL TBL
		    ON TBL.SUBJ_ID = SUBJ.SUBJ_ID
		   AND TBL.REG_TYP_CD IN ('C', 'U')
		 INNER JOIN WAM_PDM_COL COL
		    ON COL.PDM_TBL_ID = TBL.PDM_TBL_ID
		  LEFT OUTER JOIN WAA_GOV_SDITM_MAP SDITMMAP
		    ON SDITMMAP.SDITM_ID = COL.SDITM_ID 
		 WHERE DB.REG_TYP_CD IN ('C', 'U')
		   AND DB.EXP_DTM = TO_DATE('99991231', 'YYYYMMDD')
				
	</select>
	
	<select id="selectTotList" resultMap="BaseResultMap" parameterType="map">
		SELECT ORG.ORG_CD AS ORG_CD
		      ,ORG.ORG_NM AS ORG_NM
		      ,INFOSYS.INFO_SYS_CD AS INFO_SYS_CD
		      ,INFOSYS.INFO_SYS_NM AS INFO_SYS_NM
		      ,DB.DB_CONN_TRG_ID AS DB_CONN_TRG_ID
		      ,DB.OBJ_VERS AS DB_OBJ_VERS
		      ,DB.REG_TYP_CD AS DB_REG_TYP_CD
		      ,DB.WRIT_USER_ID AS DB_WRIT_USER_ID
		      ,TO_CHAR(DB.WRIT_DTM, 'YYYYMMDDHH24MISS') AS DB_WRIT_DTM
		      ,DB.DB_CONN_TRG_PNM AS DB_CONN_TRG_PNM
		      ,DB.DB_CONN_TRG_LNM AS DB_CONN_TRG_LNM
		      ,DB.DBMS_TYP_CD AS DBMS_TYP_CD
		      ,DB.DBMS_VERS_CD AS DBMS_VERS_CD
		      ,DB.OBJ_DESCN AS DB_OBJ_DESCN
		      ,DB.TBL_CNT AS TBL_CNT
		      ,DB.ESBLH_DT AS CONST_DT
		      ,DB.DATA_CAPA AS DATA_CPCT
		      ,DB.APPL_BZ AS APLY_BIZ_NM
		      ,DB.OS_VERS AS OS_VER_NM
		      ,DB.GTH_EXCPT_RSN AS PDATA_EXPT_RSN
		      
		      ,TBL.PDM_TBL_ID AS MTA_TBL_ID
		      ,SCH.DB_SCH_ID AS DB_SCH_ID
		      ,TBL.OBJ_VERS AS TBL_OBJ_VERS
		      ,TBL.REG_TYP_CD AS TBL_REG_TYP_CD
		      ,TBL.RQST_NO AS TBL_RQST_NO
		      ,TBL.RQST_SNO AS TBL_RQST_SNO
		      ,TO_CHAR(TBL.FRS_RQST_DTM, 'YYYYMMDDHH24MISS') AS TBL_FRS_RQST_DTM
		      ,TO_CHAR(TBL.APRV_DTM, 'YYYYMMDDHH24MISS') AS TBL_APRV_DTM
		      ,TBL.RQST_USER_ID AS TBL_RQST_USER_ID
		      ,TBL.PDM_TBL_PNM AS MTA_TBL_PNM
		      ,TBL.PDM_TBL_LNM AS MTA_TBL_LNM
		      ,SCH.DB_SCH_PNM AS DB_SCH_PNM
		      ,TBL.OBJ_DESCN AS TBL_OBJ_DESCN
		   --   ,TBL.TBL_TYP_NM AS TBL_TYP_NM
		      ,BIS.BIS_ID AS SUBJ_ID
		      ,BIS.BIS_NM AS SUBJ_NM
		      ,TBL.PRSV_TERM AS PRSV_TERM
		      ,TBL.TBL_VOL AS TBL_VOL
		      ,TBL.OPEN_RSN_CD AS OPEN_RSN_CD
		      ,TBL.NOPEN_RSN AS NOPEN_RSN
		      ,TBL.NOPEN_DTL_REL_BSS AS NOPEN_DTL_REL_BSS
		      ,TBL.OPEN_DATA_LST AS OPEN_DATA_LST
		      ,TBL.OCCR_CYL AS OCCR_CYL
		      ,TBL.DQ_DGNS_YN AS DQ_DGNS_YN
		      
			  ,COL.PDM_COL_ID AS MTA_COL_ID
		      ,COL.COL_ORD AS COL_ORD
		      ,COL.NOPEN_RSN AS PRI_RSN
		      ,COL.RQST_NO AS COL_RQST_NO
		      ,COL.RQST_SNO AS COL_RQST_SNO
		      ,COL.RQST_DTL_SNO AS COL_RQST_DTL_SNO
		      ,COL.OBJ_VERS AS COL_OBJ_VERS
		      ,COL.REG_TYP_CD AS COL_REG_TYP_CD
		      ,TO_CHAR(COL.RQST_DTM, 'YYYYMMDDHH24MISS') AS COL_RQST_DTM
		      ,TO_CHAR(COL.APRV_DTM, 'YYYYMMDDHH24MISS') AS COL_APRV_DTM
		      ,COL.RQST_USER_ID AS COL_RQST_USER_ID
		      ,COL.PDM_COL_PNM AS MTA_COL_PNM
		      ,COL.PDM_COL_LNM AS MTA_COL_LNM
		      ,SDITMMAP.GOV_SDITM_PNM AS GOV_MTA_COL_PNM
		      ,SDITMMAP.GOV_SDITM_LNM AS GOV_MTA_COL_LNM
		      ,COL.PK_YN AS PK_YN
		      ,'N' AS FK_YN
		      ,COL.DATA_TYPE AS DATA_TYPE
		      ,COL.DATA_LEN AS DATA_LEN
		      ,'' AS DATA_FMT
		      ,COL.NONUL_YN AS NONUL_YN
		      ,COL.CONST_CND AS CONST_CND
		      ,COL.OPEN_YN AS OPEN_YN
		      ,COL.PRSN_INFO_YN AS PRSN_INFO_YN
		      ,COL.ENC_YN AS ENC_TRG_YN
		      ,COL.OBJ_DESCN AS COL_OBJ_DESCN
		  FROM WAA_DB_CONN_TRG DB
		 INNER JOIN WAA_DB_SCH SCH
		    ON SCH.DB_CONN_TRG_ID = DB.DB_CONN_TRG_ID 
		   AND SCH.EXP_DTM = TO_DATE('99991231', 'YYYYMMDD')
		   AND SCH.REG_TYP_CD IN ('C', 'U')
		 INNER JOIN WAA_SUBJ_DB_SCH_MAP SUBJMAP
		    ON SUBJMAP.DB_SCH_ID = SCH.DB_SCH_ID
		   AND SUBJMAP.EXP_DTM = TO_DATE('99991231', 'YYYYMMDD')
		   AND SUBJMAP.REG_TYP_CD IN ('C', 'U')
		 INNER JOIN WAA_SUBJ SUBJ
		    ON SUBJ.SUBJ_ID = SUBJMAP.SUBJ_ID 
		   AND SUBJ.EXP_DTM = TO_DATE('99991231', 'YYYYMMDD')
		   AND SUBJ.REG_TYP_CD IN ('C', 'U')
		  LEFT OUTER JOIN WAA_SUBJ_BIS_MAP BIS
		    ON BIS.SUBJ_ID = SUBJ.SUBJ_ID
		 INNER JOIN WAA_INFO_SYS INFOSYS
		    ON INFOSYS.INFO_SYS_CD = DB.INFO_SYS_CD 
		   AND INFOSYS.EXP_DTM = TO_DATE('99991231', 'YYYYMMDD')
		 INNER JOIN WAA_ORG ORG
		    ON ORG.ORG_CD = INFOSYS.ORG_CD
		   AND ORG.EXP_DTM = TO_DATE('99991231', 'YYYYMMDD')
		 INNER JOIN WAM_PDM_TBL TBL
		    ON TBL.SUBJ_ID = SUBJ.SUBJ_ID
		   AND TBL.REG_TYP_CD IN ('C', 'U')
		 INNER JOIN WAM_PDM_COL COL
		    ON COL.PDM_TBL_ID = TBL.PDM_TBL_ID
		  LEFT OUTER JOIN WAA_GOV_SDITM_MAP SDITMMAP
		    ON SDITMMAP.SDITM_ID = COL.SDITM_ID 
		 WHERE DB.REG_TYP_CD IN ('C', 'U')
		   AND DB.EXP_DTM = TO_DATE('99991231', 'YYYYMMDD')
		<if test='subjNm != null and subjNm != ""'>
		   AND SUBJ.SUBJ_LNM LIKE '%' || #{subjNm,jdbcType=VARCHAR} || '%'
		 </if>
		 <if test='dbConnTrgPnm != null and dbConnTrgPnm != ""'>
		   AND (DB.DB_CONN_TRG_PNM LIKE '%' || UPPER(#{dbConnTrgPnm,jdbcType=VARCHAR}) || '%'
		        OR DB.DB_CONN_TRG_LNM LIKE '%' || UPPER(#{dbConnTrgPnm,jdbcType=VARCHAR}) || '%')
		 </if>
	</select>
	
	<select id="selectSubjBisMapList" resultMap="BaseResultMap" parameterType="map">
		SELECT A.SUBJ_ID   AS SUBJ_ID
		      ,A.SUBJ_LNM  AS SUBJ_NM
		      ,A.FULL_PATH AS FULL_PATH
		      ,B.BIS_ID    AS BIS_ID
		      ,B.BIS_NM    AS BIS_NM
		  FROM WAA_SUBJ A
		  LEFT OUTER JOIN WAA_SUBJ_BIS_MAP B
		    ON B.SUBJ_ID = A.SUBJ_ID
		 WHERE A.SUBJ_LVL = (SELECT BSC_LVL-1 FROM WAA_BSC_LVL WHERE EXP_DTM = TO_DATE('99991231', 'YYYYMMDD') AND BSC_ID = 'SUBJ')
		   AND A.EXP_DTM = TO_DATE('99991231', 'YYYYMMDD')
		 <if test='subjNm != null and subjNm != ""'>
		   AND A.SUBJ_LNM LIKE '%' || #{subjNm,jdbcType=VARCHAR} || '%'
		 </if>
		 <if test='bisNm != null and bisNm != ""'>
		   AND B.BIS_NM LIKE '%' || <![CDATA[#{bisNm,jdbcType=VARCHAR}]]> || '%'
		 </if>
	</select>
	
	<delete id="deleteSubjBisMap" parameterType="map">
		DELETE
		  FROM WAA_SUBJ_BIS_MAP
		 WHERE SUBJ_ID = #{subjId,jdbcType=VARCHAR}
	</delete>
	
	<insert id="insertSubjBisMap" parameterType="map">
		INSERT 
		  INTO WAA_SUBJ_BIS_MAP (SUBJ_ID, BIS_ID, BIS_NM)
		VALUES (#{subjId,jdbcType=VARCHAR}
		      , #{bisId,jdbcType=VARCHAR}
		      ,	<![CDATA[#{bisNm,jdbcType=VARCHAR}]]>)
		
	</insert>
</mapper>