<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.meta.mapping.service.MapListMapper">
<resultMap id="BaseResultMap" type="kr.wise.meta.mapping.service.MapListVO">
		
		<result column="MAP_DF_TYPE" property="mapDfType" jdbcType="VARCHAR" />
		<result column="TGT_DATAMODEL_NM" property="tgtDatamodelNm" jdbcType="VARCHAR" />
		<result column="TGT_PRIMARY_SUBJ_NM" property="tgtPrimarySubjNm" jdbcType="VARCHAR" />
		<result column="TGT_SUBJ_NM" property="tgtSubjNm" jdbcType="VARCHAR" />
		<result column="MAP_DF_ID" property="mapDfId" jdbcType="VARCHAR" />
		<result column="TGT_DB_PNM" property="tgtDbPnm" jdbcType="VARCHAR" />
		<result column="PDM_TBL_PNM" property="tgtTblPnm" jdbcType="VARCHAR" />
		<result column="PDM_TBL_LNM" property="tgtTblLnm" jdbcType="VARCHAR" />
		<result column="TGT_FLF_TYPE" property="tgtFlfType" jdbcType="VARCHAR" />
		<result column="MAP_SNO" property="mapSno" jdbcType="VARCHAR" />
		<result column="SRC_SYS_NM" property="srcSysNm" jdbcType="VARCHAR" />
		<result column="SRC_BIZ_NM" property="srcBizNm" jdbcType="VARCHAR" />
		<result column="SRC_DB_PNM" property="srcDbPnm" jdbcType="VARCHAR" />
		<result column="SRC_TBL_PNM" property="srcTblPnm" jdbcType="VARCHAR" />
		<result column="SRC_TBL_LNM" property="srcTblLnm" jdbcType="VARCHAR" />
		<result column="TBL_MAP_TYPE" property="tblMapType" jdbcType="VARCHAR" />
		<result column="SLT_SKP_CND_NM" property="sltSkpCndNm" jdbcType="VARCHAR" />
		<result column="JN_CND_NM" property="jnCndNm" jdbcType="VARCHAR" />
		<result column="PRE_FLF_DESCN" property="preFlfDescn" jdbcType="VARCHAR" />
		<result column="APP_CRGP_NM" property="appCrgpNm" jdbcType="VARCHAR" />
		<result column="CNVS_CRGP_NM" property="cnvsCrgpNm" jdbcType="VARCHAR" />
		<result column="REF_DESCN" property="refDescn" jdbcType="VARCHAR" />
		<result column="TGT_TBL_ID" property="pdmTblId" jdbcType="VARCHAR" />
		<result column="TGT_SUBJ_ALL_PATH" property="fullPath" jdbcType="VARCHAR" />
		
		<result column="FRS_RQST_DTM" property="frsRqstDtm" jdbcType="TIMESTAMP" />
		<result column="FRS_RQST_USER_ID" property="frsRqstUserId" jdbcType="VARCHAR" />
		<result column="FRS_RQST_USER_NM" property="frsRqstUserNm" jdbcType="VARCHAR" />
		<result column="APRV_DTM" property="aprvDtm" jdbcType="TIMESTAMP" />
		<result column="APRV_USER_ID" property="aprvUserId" jdbcType="VARCHAR" />
		<result column="APRV_USER_NM" property="aprvUserNm" jdbcType="VARCHAR" />
		<result column="RQST_DTM" property="rqstDtm" jdbcType="TIMESTAMP" />
		<result column="RQST_USER_ID" property="rqstUserId" jdbcType="VARCHAR" />
		<result column="RQST_USER_NM" property="rqstUserNm" jdbcType="VARCHAR" />
		
		
		<result column="COL_MAP_TYPE" property="colMapType" jdbcType="VARCHAR" />
		<result column="COL_ORD" property="colOrd" jdbcType="VARCHAR" />
		<result column="TGT_COL_PNM" property="tgtColPnm" jdbcType="VARCHAR" />
		<result column="TGT_COL_LNM" property="tgtColLnm" jdbcType="VARCHAR" />
		<result column="TGT_DATA_TYPE" property="tgtDataType" jdbcType="VARCHAR" />
		<result column="TGT_PK_YN" property="tgtPkYn" jdbcType="VARCHAR" />
		<result column="TGT_NONUL_YN" property="tgtNonulYn" jdbcType="VARCHAR" />
		<result column="TGT_DMN_LNM" property="tgtDmnLnm" jdbcType="VARCHAR" />
		<result column="SRC_COL_PNM" property="srcColPnm" jdbcType="VARCHAR" />
		<result column="SRC_COL_LNM" property="srcColLnm" jdbcType="VARCHAR" />
		<result column="SRC_DESCN" property="srcDescn" jdbcType="VARCHAR" />
		<result column="SRC_DATA_TYPE" property="srcDataType" jdbcType="VARCHAR" />
		<result column="DEFLT_VAL" property="defltVal" jdbcType="VARCHAR" />
		<result column="MAP_CND_NM" property="mapCndNm" jdbcType="VARCHAR" />
		<result column="COL_REF_DB_PNM" property="colRefDbPnm" jdbcType="VARCHAR" />
		<result column="COL_REF_TBL_PNM" property="colRefTblPnm" jdbcType="VARCHAR" />
		
		<result column="TGT_TBL_LNM" property="tgtTblLnm" jdbcType="VARCHAR" />
		<result column="TGT_TBL_PNM" property="tgtTblPnm" jdbcType="VARCHAR" />
		<result column="TGT_COL_ID" property="tgtColId" jdbcType="VARCHAR" />
		
		<result column="CD_CNVS_TYPE" property="cdCnvsType" jdbcType="VARCHAR" />
		<result column="CD_MAP_TYPE" property="cdMapType" jdbcType="VARCHAR" />
		<result column="TGT_CD_VAL" property="tgtCdVal" jdbcType="VARCHAR" />
		<result column="TGT_CD_VAL_NM" property="tgtCdValNm" jdbcType="VARCHAR" />
		<result column="SRC_CD_VAL" property="srcCdVal" jdbcType="VARCHAR" />
		<result column="SRC_CD_VAL_NM" property="srcCdValNm" jdbcType="VARCHAR" />
		<result column="TGT_DMN_ID" property="tgtDmnId" jdbcType="VARCHAR" />
		<result column="TGT_DMN_PNM" property="tgtDmnPnm" jdbcType="VARCHAR" />
		<result column="COL_MAP_ID" property="colMapId" jdbcType="VARCHAR" />
		
		
	<result column="TGT_DMNG_LNM" 	property="tgtDmngLnm" jdbcType="VARCHAR" />
    <result column="TGT_CD_VAL_TYP_CD" property="tgtCdValTypCd" jdbcType="VARCHAR" />
    <result column="TGT_CD_VAL_IVW_CD" property="tgtCdValIvwCd" jdbcType="VARCHAR" />
    <result column="TGT_DATA_TYPE" property="tgtDataType" jdbcType="VARCHAR" />
    <result column="TGT_DATA_LEN" property="tgtDataLen" jdbcType="VARCHAR" />
     
    <result column="SRC_UPP_CD_VAL" property="srcUppCdVal" jdbcType="VARCHAR" />
    <result column="SRC_UPP_CD_VAL_NM" property="srcUppCdValNm" jdbcType="VARCHAR" />
    <result column="SRC_CD_DMN_CD" property="srcCdDmnCd" jdbcType="VARCHAR" />
    <result column="TGT_CHRG" property="tgtChrg" jdbcType="VARCHAR" />

    <result column="GAP_STAUS" property="gapStaus" jdbcType="VARCHAR" />
    <result column="REG_C" property="regC" jdbcType="VARCHAR" />
    <result column="REG_U" property="regU" jdbcType="VARCHAR" />
    <result column="REG_D" property="regD" jdbcType="VARCHAR" />
    <result column="PDM_TBL_PNM" property="pdmTblPnm" jdbcType="VARCHAR" />
	<result column="PDM_TBL_LNM" property="pdmTblLnm" jdbcType="VARCHAR" />
    <result column="FULL_PATH" property="fullPath" jdbcType="VARCHAR" />
    <result column="PDM_TBL_PNM1" property="pdmTblPnm1" jdbcType="VARCHAR" />
    <result column="FULL_PATH1" property="fullPath1" jdbcType="VARCHAR" />
    <result column="PDM_DATA_TYPE" property="pdmDataType" jdbcType="VARCHAR" />
    <result column="PDM_COL_ORD" property="pdmColOrd" jdbcType="VARCHAR" />
    <result column="PDM_DMN_LNM" property="pdmDmnLnm" jdbcType="VARCHAR" />
   
		
</resultMap>

<select id="getTblMap" resultMap="BaseResultMap" parameterType="kr.wise.meta.mapping.service.MapListVO"> 
		SELECT   /* MapListMapper.getTblMap */
		         A.MAP_DF_TYPE
		       <!-- ORACLE INSTR 대체
		       , SUBSTR(A.TGT_SUBJ_ALL_PATH ,0,INSTR(A.TGT_SUBJ_ALL_PATH, '>',1,1)-1 ) AS TGT_DATAMODEL_NM
			   , SUBSTR(A.TGT_SUBJ_ALL_PATH,INSTR(A.TGT_SUBJ_ALL_PATH, '>',1,1)+1,INSTR(A.TGT_SUBJ_ALL_PATH, '>',1,1)+1 ) AS TGT_PRIMARY_SUBJ_NM
			   , SUBSTR(A.TGT_SUBJ_ALL_PATH,INSTR(A.TGT_SUBJ_ALL_PATH, '>',1,2)+1 ) AS TGT_SUBJ_NM 
			   -->
			   , SUBSTRING_INDEX(SUBSTRING_INDEX(A.TGT_SUBJ_ALL_PATH, '>', 1), '>', -1) AS TGT_DATAMODEL_NM
			   , SUBSTRING_INDEX(SUBSTRING_INDEX(A.TGT_SUBJ_ALL_PATH, '>', 2), '>', -1) AS TGT_PRIMARY_SUBJ_NM
	   		   , SUBSTR(A.TGT_SUBJ_ALL_PATH, CHAR_LENGTH(SUBSTRING_INDEX(A.TGT_SUBJ_ALL_PATH, '>', 2)) + 2, CHAR_LENGTH(A.TGT_SUBJ_ALL_PATH)) AS TGT_SUBJ_NM
		       , A.MAP_DF_ID
		       , A.TGT_DB_PNM
		       , IFNULL(B.PDM_TBL_PNM, A.TGT_TBL_PNM) AS PDM_TBL_PNM
		       , IFNULL(B.PDM_TBL_LNM, A.TGT_TBL_LNM) AS PDM_TBL_LNM
		       , A.TGT_FLF_TYPE
		       , A.MAP_SNO
		       , A.SRC_SYS_NM
		       , A.SRC_BIZ_NM
		       , A.SRC_DB_PNM
		       , A.SRC_TBL_PNM
		       , A.SRC_TBL_LNM
		       , A.TBL_MAP_TYPE
		       , A.SLT_SKP_CND_NM
		       , A.JN_CND_NM
		       , A.PRE_FLF_DESCN
		       , A.APP_CRGP_NM
		       , A.CNVS_CRGP_NM
		       , A.REF_DESCN
		       , A.APRV_DTM AS APRV_DTM
		       , A.TGT_TBL_ID
		       , A.TGT_SUBJ_ALL_PATH
		       , A.FRS_RQST_DTM AS FRS_RQST_DTM
               , A.RQST_DTM AS RQST_DTM
               , A.FRS_RQST_USER_ID
               , A.RQST_USER_ID
               , A.APRV_USER_ID
               , U.USER_NM AS RQST_USER_NM
		       , U2.USER_NM AS APRV_USER_NM
		       , U3.USER_NM AS FRS_RQST_USER_NM
		       , A.TGT_CHRG
		       , A.TGT_TBL_ID AS PDM_TBL_ID 		       
		  FROM WAM_TBL_MAP A
		       LEFT JOIN WAM_PDM_TBL B
		         ON A.TGT_TBL_ID = B.PDM_TBL_ID
   		       LEFT JOIN WAA_USER U
		         ON A.RQST_USER_ID = U.USER_ID
		        AND U.EXP_DTM = STR_TO_DATE('9999-12-31', '%Y-%m-%d')
		        AND U.REG_TYP_CD IN ('C', 'U')
		       LEFT JOIN WAA_USER U2
		         ON A.APRV_USER_ID = U2.USER_ID
		        AND U2.EXP_DTM = STR_TO_DATE('9999-12-31', '%Y-%m-%d')
		        AND U2.REG_TYP_CD IN ('C', 'U')
		       LEFT JOIN WAA_USER U3
		         ON A.FRS_RQST_USER_ID = U3.USER_ID
		        AND U3.EXP_DTM = STR_TO_DATE('9999-12-31', '%Y-%m-%d')
		        AND U3.REG_TYP_CD IN ('C', 'U')			    
		 WHERE 1 = 1 
		  <if test="mapDfType != null and mapDfType != '' " >
		  	AND A.MAP_DF_TYPE = #{mapDfType,jdbcType=VARCHAR}
		  </if>
		  <if test="mapDfId != null and mapDfId != '' " >
		  	AND A.MAP_DF_ID LIKE CONCAT('%', #{mapDfId,jdbcType=VARCHAR}, '%')
		  </if>
		  <if test="appCrgpNm != null and appCrgpNm != '' " >
		  	AND A.APP_CRGP_NM = #{appCrgpNm,jdbcType=VARCHAR}
		  </if>
		  <if test="cnvsCrgpNm != null and cnvsCrgpNm != '' " >
		  	AND A.CNVS_CRGP_NM = #{cnvsCrgpNm,jdbcType=VARCHAR}
		  </if>
		  <if test="tgtDbPnm != null and tgtDbPnm != '' " >
		  	AND A.TGT_DB_PNM = #{tgtDbPnm,jdbcType=VARCHAR}
		  </if>
		  <if test="tgtTblPnm != null and tgtTblPnm != '' ">
			  AND( ( PDM_TBL_PNM LIKE CONCAT('%', #{tgtTblPnm,jdbcType=VARCHAR}, '%') OR PDM_TBL_PNM LIKE CONCAT('%', UPPER( #{tgtTblPnm,jdbcType=VARCHAR}), '%') ) 
			  OR( PDM_TBL_LNM LIKE CONCAT('%', #{tgtTblPnm,jdbcType=VARCHAR}, '%') OR PDM_TBL_LNM LIKE CONCAT('%', UPPER( #{tgtTblPnm,jdbcType=VARCHAR}), '%') )
			  OR( A.TGT_TBL_PNM LIKE CONCAT('%', #{tgtTblPnm,jdbcType=VARCHAR}, '%') OR A.TGT_TBL_PNM LIKE CONCAT('%', UPPER( #{tgtTblPnm,jdbcType=VARCHAR}), '%') )
			  OR( A.TGT_TBL_LNM LIKE CONCAT('%', #{tgtTblPnm,jdbcType=VARCHAR}, '%') OR A.TGT_TBL_LNM LIKE CONCAT('%', UPPER( #{tgtTblPnm,jdbcType=VARCHAR}), '%') )
			  )
		  </if>
		  <if test="srcDbPnm != null and srcDbPnm != '' " >
		  	AND A.SRC_DB_PNM = #{srcDbPnm,jdbcType=VARCHAR}
		  </if>
		  <if test="srcTblLnm != null and srcTblLnm != '' ">
			  AND ( SRC_TBL_LNM LIKE CONCAT('%', #{srcTblLnm,jdbcType=VARCHAR}, '%') OR SRC_TBL_LNM LIKE CONCAT('%', UPPER( #{srcTblLnm,jdbcType=VARCHAR}), '%')
			  OR SRC_TBL_PNM LIKE CONCAT('%', #{srcTblLnm,jdbcType=VARCHAR}, '%') OR SRC_TBL_PNM LIKE CONCAT('%', UPPER( #{srcTblLnm,jdbcType=VARCHAR}), '%') )
		  </if>

</select>


<select id="getColMap" resultMap="BaseResultMap" parameterType="kr.wise.meta.mapping.service.MapListVO">
		SELECT   	/* MapListMapper.getColMap */
					A.MAP_DF_TYPE
		          , A.MAP_DF_ID
		          , A.COL_MAP_TYPE
		          , A.TGT_DB_PNM
		          , A.TGT_TBL_PNM
		          , A.TGT_TBL_LNM
		          , A.COL_ORD
		          , A.TGT_COL_PNM
		          , A.TGT_COL_LNM
		          , A.TGT_DATA_TYPE
		          , A.TGT_PK_YN
		          , A.TGT_NONUL_YN
		          <!-- , CONCAT(A.TGT_DMN_LNM, IFNULL2(TGT_DMN_PNM, CONCAT('( ', TGT_DMN_PNM, ' )'), TGT_DMN_PNM))  AS TGT_DMN_LNM -->		          		          
		          , CONCAT(A.TGT_DMN_LNM
		          		  , CASE WHEN TGT_DMN_PNM IS NULL 
		          		         THEN IFNULL(TGT_DMN_PNM, '')
		          		         ELSE CONCAT('( ', TGT_DMN_PNM, ' )') 
		          		    END ) AS TGT_DMN_LNM
		          , A.SRC_SYS_NM
		          , A.SRC_BIZ_NM
		          , A.SRC_DB_PNM
		          , A.SRC_TBL_LNM
		          , A.SRC_COL_LNM
		          , A.SRC_TBL_PNM
		          , A.SRC_COL_PNM
		          , A.SRC_DESCN
		          , A.SRC_DATA_TYPE
		          , A.DEFLT_VAL
		          , A.MAP_CND_NM
		          , A.COL_REF_DB_PNM
		          , A.COL_REF_TBL_PNM
		          , A.JN_CND_NM
		          , A.APP_CRGP_NM
		          , A.CNVS_CRGP_NM
		          , A.APRV_DTM
		          , A.FRS_RQST_DTM
		          , A.RQST_DTM
		          , A.APRV_USER_ID
		          , A.FRS_RQST_USER_ID
		          , A.RQST_USER_ID
		          , U.USER_NM AS RQST_USER_NM
		          , U2.USER_NM AS APRV_USER_NM
		          , U3.USER_NM AS FRS_RQST_USER_NM
		          , A.TGT_SUBJ_ALL_PATH
		          , A.TGT_TBL_ID
		          , A.TGT_COL_ID
		          , A.TGT_CHRG
		     FROM WAM_COL_MAP A
		     		  LEFT OUTER JOIN WAA_USER U
					    ON A.RQST_USER_ID = U.USER_ID
					   AND U.EXP_DTM = STR_TO_DATE('9999-12-31', '%Y-%m-%d')
					   AND U.REG_TYP_CD IN ('C', 'U')
					  LEFT OUTER JOIN WAA_USER U2
					    ON A.APRV_USER_ID = U2.USER_ID
					   AND U2.EXP_DTM = STR_TO_DATE('9999-12-31', '%Y-%m-%d')
					   AND U2.REG_TYP_CD IN ('C', 'U')
					  LEFT OUTER JOIN WAA_USER U3
					    ON A.FRS_RQST_USER_ID = U3.USER_ID
					   AND U3.EXP_DTM = STR_TO_DATE('9999-12-31', '%Y-%m-%d')
					   AND U3.REG_TYP_CD IN ('C', 'U')		
		    WHERE 1=1
		   <if test="mapDfType != null and mapDfType != '' " >
		  	AND A.MAP_DF_TYPE = #{mapDfType,jdbcType=VARCHAR}
		  </if>
		  <if test="mapDfId != null and mapDfId != '' " >
		  	AND A.MAP_DF_ID = #{mapDfId,jdbcType=VARCHAR}
		  </if>
		  <if test="appCrgpNm != null and appCrgpNm != '' " >
		  	AND A.APP_CRGP_NM = #{appCrgpNm,jdbcType=VARCHAR}
		  </if>
		  <if test="cnvsCrgpNm != null and cnvsCrgpNm != '' " >
		  	AND A.CNVS_CRGP_NM = #{cnvsCrgpNm,jdbcType=VARCHAR}
		  </if>
		  <if test="tgtDbPnm != null and tgtDbPnm != '' " >
		  	AND A.TGT_DB_PNM = #{tgtDbPnm,jdbcType=VARCHAR}
		  </if>
		  <if test="tgtTblPnm != null and tgtTblPnm != '' ">
			  AND( ( A.TGT_TBL_PNM LIKE CONCAT('%', #{tgtTblPnm,jdbcType=VARCHAR}, '%') OR A.TGT_TBL_PNM LIKE CONCAT('%', UPPER( #{tgtTblPnm,jdbcType=VARCHAR}), '%') ) 
			  OR( A.TGT_TBL_LNM LIKE CONCAT('%', #{tgtTblPnm,jdbcType=VARCHAR}, '%') OR A.TGT_TBL_LNM LIKE CONCAT('%', UPPER( #{tgtTblPnm,jdbcType=VARCHAR}), '%') )
			  )
		  </if>
		  <if test="srcDbPnm != null and srcDbPnm != '' " >
		  	AND A.SRC_DB_PNM = #{srcDbPnm,jdbcType=VARCHAR}
		  </if>
		  <if test="srcTblLnm != null and srcTblLnm != '' ">
			  AND ( A.SRC_TBL_LNM LIKE CONCAT('%', #{srcTblLnm,jdbcType=VARCHAR}, '%') OR A.SRC_TBL_LNM LIKE CONCAT('%', UPPER( #{srcTblLnm,jdbcType=VARCHAR}), '%') 
			   OR A.SRC_TBL_PNM LIKE CONCAT('%', #{srcTblLnm,jdbcType=VARCHAR}, '%') OR A.SRC_TBL_PNM LIKE CONCAT('%', UPPER( #{srcTblLnm,jdbcType=VARCHAR}), '%') )
		  </if>
		  <if test="colMapType != null and colMapType != '' " >
		  	AND A.COL_MAP_TYPE = #{colMapType,jdbcType=VARCHAR}
		  </if>
		  <if test="tgtColLnm != null and tgtColLnm != '' ">
			  AND( ( A.TGT_COL_PNM LIKE CONCAT('%', #{tgtColLnm,jdbcType=VARCHAR}, '%') OR A.TGT_COL_PNM LIKE CONCAT('%', UPPER( #{tgtColLnm,jdbcType=VARCHAR}), '%') ) 
			  OR( A.TGT_COL_LNM LIKE CONCAT('%', #{tgtColLnm,jdbcType=VARCHAR}, '%') OR A.TGT_COL_LNM LIKE CONCAT('%', UPPER( #{tgtColLnm,jdbcType=VARCHAR}), '%') )
			  )
		  </if>
		  <if test="srcColLnm != null and srcColLnm != '' ">
			  AND ( A.SRC_COL_LNM LIKE CONCAT('%', #{srcColLnm,jdbcType=VARCHAR}, '%') OR A.SRC_COL_LNM LIKE CONCAT('%', UPPER( #{srcColLnm,jdbcType=VARCHAR}), '%') 
			  OR A.SRC_COL_PNM LIKE CONCAT('%', #{srcColLnm,jdbcType=VARCHAR}, '%') OR A.SRC_COL_PNM LIKE CONCAT('%', UPPER( #{srcColLnm,jdbcType=VARCHAR}), '%'))
		  </if>
		  ORDER BY A.MAP_DF_ID,A.TGT_DB_PNM, CAST(COL_ORD AS UNSIGNED)
</select>

<select id="getCodeMap" resultMap="BaseResultMap" parameterType="kr.wise.meta.mapping.service.MapListVO">
		SELECT   /* MapListMapper.getCodeMap */
				 A.MAP_DF_TYPE
		       , A.CD_CNVS_TYPE
		       , A.CD_MAP_TYPE
		       , A.TGT_DMN_LNM
		       , A.TGT_CD_VAL
		       , A.TGT_CD_VAL_NM
		       , A.SRC_DB_PNM
		       , A.SRC_TBL_LNM
		       , A.SRC_COL_LNM
		       , A.SRC_TBL_PNM
		       , A.SRC_COL_PNM
		       , A.SRC_CD_VAL
		       , A.SRC_CD_VAL_NM
		       , U.USER_NM AS RQST_USER_NM
		       , A.RQST_USER_ID 
			   , A.RQST_DTM
		       , U2.USER_NM AS APRV_USER_NM
		       , A.APRV_USER_ID
			   , A.APRV_DTM
		       , U3.USER_NM AS FRS_RQST_USER_NM
			   , A.FRS_RQST_USER_ID
			   , A.FRS_RQST_DTM
		       , A.TGT_DMN_ID
		       , A.TGT_DMN_PNM
		       , A.SRC_BIZ_NM
			   , A.SRC_SYS_NM
			   , A.SRC_UPP_CD_VAL
			   , A.SRC_UPP_CD_VAL_NM
			   , A.APP_CRGP_NM
			   , A.CNVS_CRGP_NM
			   , A.SRC_CD_DMN_CD
		  FROM WAM_COD_MAP A
		  LEFT OUTER JOIN WAA_USER U
		    ON A.RQST_USER_ID = U.USER_ID
		   AND U.EXP_DTM = STR_TO_DATE('9999-12-31', '%Y-%m-%d')
		   AND U.REG_TYP_CD IN ('C', 'U')
		  LEFT OUTER JOIN WAA_USER U2
		    ON A.APRV_USER_ID = U2.USER_ID
		   AND U2.EXP_DTM = STR_TO_DATE('9999-12-31', '%Y-%m-%d')
		   AND U2.REG_TYP_CD IN ('C', 'U')
		  LEFT OUTER JOIN WAA_USER U3
		    ON A.FRS_RQST_USER_ID = U3.USER_ID
		   AND U3.EXP_DTM = STR_TO_DATE('9999-12-31', '%Y-%m-%d')
		   AND U3.REG_TYP_CD IN ('C', 'U')		   		   
		 WHERE 1=1
		  <if test="mapDfType != null and mapDfType != '' " >
		  	AND A.MAP_DF_TYPE = #{mapDfType,jdbcType=VARCHAR}
		  </if>
		  <if test="cdCnvsType != null and cdCnvsType != '' " >
		  	AND A.CD_CNVS_TYPE = #{cdCnvsType,jdbcType=VARCHAR}
		  </if>
		  <if test="cdMapType != null and cdMapType != '' " >
		  	AND A.CD_MAP_TYPE = #{cdMapType,jdbcType=VARCHAR}
		  </if>
		  <if test="tgtDmnLnm != null and tgtDmnLnm != '' " >
		  	AND ( A.TGT_DMN_LNM LIKE CONCAT('%', #{tgtDmnLnm,jdbcType=VARCHAR}, '%') OR A.TGT_DMN_LNM LIKE CONCAT('%', UPPER( #{tgtDmnLnm,jdbcType=VARCHAR}), '%') )
		  </if>
		  <if test="tgtCdVal != null and tgtCdVal != '' " >
		  	AND ( A.TGT_CD_VAL LIKE CONCAT('%', #{tgtCdVal,jdbcType=VARCHAR}, '%') OR A.TGT_CD_VAL LIKE CONCAT('%', UPPER( #{tgtCdVal,jdbcType=VARCHAR}), '%') )
		  </if>
		  <if test="tgtCdValNm != null and tgtCdValNm != '' " >
		  	AND ( A.TGT_CD_VAL_NM LIKE CONCAT('%', #{tgtCdValNm,jdbcType=VARCHAR}, '%') OR A.TGT_CD_VAL_NM LIKE CONCAT('%', UPPER( #{tgtCdValNm,jdbcType=VARCHAR}), '%') )
		  </if>
		  <if test="srcDbPnm != null and srcDbPnm != '' " >
		  	AND ( A.SRC_DB_PNM LIKE CONCAT('%', #{srcDbPnm,jdbcType=VARCHAR}, '%') OR A.SRC_DB_PNM LIKE CONCAT('%', UPPER( #{srcDbPnm,jdbcType=VARCHAR}), '%') )
		  </if>
		  <if test="srcTblLnm != null and srcTblLnm != '' ">
			AND ( A.SRC_TBL_LNM LIKE CONCAT('%', #{srcTblLnm,jdbcType=VARCHAR}, '%') OR A.SRC_TBL_LNM LIKE CONCAT('%', UPPER( #{srcTblLnm,jdbcType=VARCHAR}), '%') 
			 OR A.SRC_TBL_PNM LIKE CONCAT('%', #{srcTblLnm,jdbcType=VARCHAR}, '%') OR A.SRC_TBL_PNM LIKE CONCAT('%', UPPER( #{srcTblLnm,jdbcType=VARCHAR}), '%'))
		  </if>
		  <if test="srcColLnm != null and srcColLnm != '' ">
			AND ( A.SRC_COL_LNM LIKE CONCAT('%', #{srcColLnm,jdbcType=VARCHAR}, '%') OR A.SRC_COL_LNM LIKE CONCAT('%', UPPER( #{srcColLnm,jdbcType=VARCHAR}), '%') 
			 OR A.SRC_COL_PNM LIKE CONCAT('%', #{srcColLnm,jdbcType=VARCHAR}, '%') OR A.SRC_COL_PNM LIKE CONCAT('%', UPPER( #{srcColLnm,jdbcType=VARCHAR}), '%'))
		  </if>
		  <if test="srcCdVal != null and srcCdVal != '' ">
		  	AND ( A.SRC_CD_VAL LIKE CONCAT('%', #{srcCdVal,jdbcType=VARCHAR}, '%') OR A.SRC_CD_VAL LIKE CONCAT('%', UPPER( #{srcCdVal,jdbcType=VARCHAR}), '%') )
		  </if>
		  <if test="srcCdValNm != null and srcCdValNm != '' ">
		  	AND ( A.SRC_CD_VAL_NM LIKE CONCAT('%', #{srcCdValNm,jdbcType=VARCHAR},'%') OR A.SRC_CD_VAL_NM LIKE CONCAT('%', UPPER( #{srcCdValNm,jdbcType=VARCHAR}), '%') )
		  </if>
		  <if test="frsRqstUserId != null and frsRqstUserId != '' ">
		  	AND ( A.FRS_RQST_USER_ID LIKE CONCAT('%', #{frsRqstUserId,jdbcType=VARCHAR}, '%') OR A.FRS_RQST_USER_ID LIKE CONCAT('%', UPPER( #{frsRqstUserId,jdbcType=VARCHAR}), '%') )
		  </if>
		 ORDER BY  A.TGT_DMN_LNM
		         , A.TGT_CD_VAL
		         , A.SRC_TBL_LNM
		         , A.SRC_CD_VAL


</select>
<select id="getColMapGap" resultMap="BaseResultMap" parameterType="kr.wise.meta.mapping.service.MapListVO">
		SELECT /* MapListMapper.getColMapGap */
			 REG_D
	       , REG_U
	       , REG_C
	       , PDM_TBL_PNM
	       , PDM_TBL_LNM
	       , FULL_PATH
	       , SUBJ_ID
	       , PDM_TBL_ID
	       , COL_MAP_ID
	       , GAP_STAUS
	       , APP_CRGP_NM
	       , CNVS_CRGP_NM
		FROM (
				SELECT MIN(REG_D) AS REG_D
				       , MIN(REG_U) AS REG_U
				       , MIN(REG_C) AS REG_C
				       , PDM_TBL_PNM
				       , MIN(PDM_TBL_LNM) AS PDM_TBL_LNM
				       , MIN(FULL_PATH) AS FULL_PATH
				       , MIN(SUBJ_ID) AS SUBJ_ID
				       , MIN(PDM_TBL_ID) AS PDM_TBL_ID
				       , MIN(COL_MAP_ID) AS COL_MAP_ID
				       , MIN(GAP_STAUS) AS GAP_STAUS
				       , MAX(APP_CRGP_NM) AS APP_CRGP_NM
				       , MAX(CNVS_CRGP_NM) AS CNVS_CRGP_NM
				FROM   (SELECT DISTINCT PM.REG_D
				               , PM.REG_U
				               , PM.REG_C
				               , PM.PDM_TBL_PNM
				               , PM.PDM_TBL_LNM
				               , PM.FULL_PATH
				               , PM.SUBJ_ID
				               , PM.PDM_TBL_ID
				               , PM.COL_MAP_ID
				               , CASE WHEN PM.GAP_STAUS = 'MAP' THEN
				                   CASE WHEN MT.TBL_MAP_TYPE IN ('R','M') THEN 'MAP'
				                     WHEN IFNULL(MT.TBL_MAP_TYPE, '_') = '_' THEN 'CMAP'
				                     ELSE 'NOT'
				                   END
				                   ELSE PM.GAP_STAUS
				                 END AS GAP_STAUS
				               , IFNULL(PM.APP_CRGP_NM, MT.APP_CRGP_NM) AS APP_CRGP_NM
				               , IFNULL(PM.CNVS_CRGP_NM, MT.CNVS_CRGP_NM) AS CNVS_CRGP_NM
				        FROM   (SELECT SUM(REG_D) AS REG_D
				                       , SUM(REG_U) AS REG_U
				                       , SUM(REG_C) AS REG_C
				                       , PDM_TBL_PNM AS PDM_TBL_PNM
				                       , MIN(PDM_TBL_LNM) AS PDM_TBL_LNM
				                       , MIN(FULL_PATH) AS FULL_PATH
				                       , MAX(SUBJ_ID) AS SUBJ_ID
				                       , MAX(PDM_TBL_ID) AS PDM_TBL_ID
				                       , MAX(COL_MAP_ID) AS COL_MAP_ID
				                       , CASE WHEN MIN(IFNULL(PDM_TBL_ID, '_')) ='_' THEN 'PDM'
				                              WHEN MIN(IFNULL(COL_MAP_ID, '_')) ='_' THEN 'MAP'
				                              WHEN SUM(REG_D) > 0 THEN 'GAP'
				                              WHEN SUM(REG_U) > 0 THEN 'GAP'
				                              WHEN SUM(REG_C) > 0 THEN 'GAP'
				                              ELSE 'NOT'
				                         END AS GAP_STAUS
				                       , MAX(APP_CRGP_NM) AS APP_CRGP_NM
				                       , MAX(CNVS_CRGP_NM) AS CNVS_CRGP_NM
				                FROM   (SELECT COUNT(CASE WHEN PDM.PDM_COL_PNM IS NULL THEN 1 ELSE NULL END) AS REG_D
				                               , COUNT( CASE WHEN PDM.PDM_COL_PNM IS NOT NULL AND    MAP.TGT_COL_PNM IS NOT NULL
<!-- 				                                            THEN CASE WHEN IFNULL(PDM.DISP_DATA_TYPE, '_') = IFNULL(MAP.TGT_DATA_TYPE, '_') AND IFNULL(PDM.DMN_LNM, '_') = IFNULL(CASE WHEN MAP.TGT_COL_LNM LIKE '%코드' THEN MAP.TGT_DMN_LNM END, '_') AND IFNULL(PDM.COL_ORD, 0) = IFNULL(MAP.COL_ORD, 0) THEN NULL ELSE 1 END -->
				                                            THEN CASE WHEN IFNULL(PDM.DISP_DATA_TYPE, '_') = IFNULL(MAP.TGT_DATA_TYPE, '_') AND IFNULL(PDM.DMN_LNM, '_') = IFNULL(CASE WHEN SUBSTR(MAP.TGT_COL_LNM,1,INSTR(MAP.TGT_COL_LNM,'코드',-1)+1) LIKE '%코드' AND IFNULL(REGEXP_INSTR(SUBSTR(MAP.TGT_COL_LNM,INSTR(MAP.TGT_COL_LNM,'코드',-1)+2,LENGTH(MAP.TGT_COL_LNM)) ,'[^0-9]'),0) = 0 THEN MAP.TGT_DMN_LNM END, '_') AND IFNULL(PDM.COL_ORD, 0) = IFNULL(MAP.COL_ORD, 0) THEN NULL ELSE 1 END
				                                        ELSE NULL END ) AS REG_U
				                               , COUNT(CASE WHEN MAP.TGT_COL_PNM IS NULL THEN 1 ELSE NULL END) AS REG_C
				                               , CASE WHEN MIN(IFNULL(PDM.PDM_TBL_PNM, '_')) = '_' THEN MIN(MAP.TGT_TBL_PNM) ELSE MIN(PDM.PDM_TBL_PNM) END PDM_TBL_PNM
				                               , CASE WHEN MIN(IFNULL(PDM.PDM_TBL_LNM, '_')) = '_' THEN MIN(MAP.TGT_TBL_LNM) ELSE MIN(PDM.PDM_TBL_LNM) END PDM_TBL_LNM
				                               , MAX(PDM.FULL_PATH) AS FULL_PATH
				                               , MAX(PDM.SUBJ_ID) AS SUBJ_ID
				                               , PDM.PDM_TBL_ID
				                               , MAP.COL_MAP_ID
				                               , MAX(MAP.APP_CRGP_NM) AS APP_CRGP_NM
				                               , MAX(MAP.CNVS_CRGP_NM) AS CNVS_CRGP_NM
				                        FROM   (SELECT PT.PDM_TBL_PNM
				                                       , PT.PDM_TBL_LNM
				                                       , PC.PDM_COL_LNM
				                                       , PC.PDM_COL_PNM
				                                       , PT.SUBJ_ID
				                                       , PT.FULL_PATH
				                                       , REPLACE(REPLACE( CONCAT(PC.DATA_TYPE, '(', PC.DATA_LEN, ',', PC.DATA_SCAL, ')'), ',)', ')'), '()', '') AS DISP_DATA_TYPE
				                                       , DMN.DMN_LNM
				                                       , PC.COL_ORD
				                                       , PT.PDM_TBL_ID
				                                       , PC.PDM_COL_ID
				                                FROM   WAM_PDM_TBL PT 
				                                INNER JOIN WAM_PDM_COL PC 
				                                ON PT.PDM_TBL_ID = PC.PDM_TBL_ID 
				                                LEFT OUTER JOIN 
				                                (SELECT I.SDITM_ID, D.DMN_LNM
				                                   FROM   WAM_SDITM I 
				                                   INNER JOIN WAM_DMN D 
				                                   ON I.DMN_ID = D.DMN_ID 
				                                   INNER JOIN WAA_DMNG G 
				                                   ON D.DMNG_ID = G.DMNG_ID
				                                   AND G.CD_DMN_YN = 'Y'
				                                   AND G.EXP_DTM = STR_TO_DATE('99991231', '%Y%m%d') ) DMN 
				                                ON PC.SDITM_ID = DMN.SDITM_ID ) PDM 
				                                FULL OUTER JOIN 
				                                (SELECT TGT_TBL_PNM 
				                                      , TGT_TBL_LNM 
				                                      , TGT_COL_PNM 
				                                      , TGT_COL_LNM 
				                                      , APP_CRGP_NM 
				                                      , CNVS_CRGP_NM 
				                                      , TGT_DATA_TYPE 
				                                      , TGT_DMN_LNM 
				                                      , COL_ORD 
				                                      , TGT_TBL_ID 
				                                      , TGT_COL_ID 
				                                      , COL_MAP_ID
				                                   FROM   WAM_COL_MAP ) MAP 
				                                --ON CASE WHEN MAP.TGT_TBL_ID IS NULL THEN PDM.PDM_TBL_PNM ELSE PDM.PDM_TBL_ID END = CASE WHEN MAP.TGT_TBL_ID IS NULL THEN MAP.TGT_TBL_PNM ELSE MAP.TGT_TBL_ID END
				                                --AND CASE WHEN MAP.TGT_COL_ID IS NULL THEN PDM.PDM_COL_PNM ELSE PDM.PDM_COL_ID END = CASE WHEN MAP.TGT_COL_ID IS NULL THEN MAP.TGT_COL_PNM ELSE MAP.TGT_COL_ID END
				                                ON PDM.PDM_TBL_PNM = MAP.TGT_TBL_PNM AND PDM.PDM_COL_PNM = MAP.TGT_COL_PNM
				                                GROUP BY PDM.PDM_TBL_ID, MAP.COL_MAP_ID )
				                GROUP BY PDM_TBL_PNM ) PM 
				                LEFT OUTER JOIN WAM_TBL_MAP MT 
				                --ON CASE WHEN MT.TGT_TBL_ID IS NULL THEN PM.PDM_TBL_PNM ELSE PM.PDM_TBL_ID END = CASE WHEN MT.TGT_TBL_ID IS NULL THEN MT.TGT_TBL_PNM ELSE MT.TGT_TBL_ID END 
				                ON PM.PDM_TBL_PNM = MT.TGT_TBL_PNM
				                ) PMT
				GROUP BY PDM_TBL_PNM 
			) A
		    WHERE 1=1
		  <if test="appCrgpNm != null and appCrgpNm != '' " >
		  	AND A.APP_CRGP_NM = #{appCrgpNm,jdbcType=VARCHAR}
		  </if>
		  <if test="cnvsCrgpNm != null and cnvsCrgpNm != '' " >
		  	AND A.CNVS_CRGP_NM = #{cnvsCrgpNm,jdbcType=VARCHAR}
		  </if>
		  <if test="pdmTblPnm != null and pdmTblPnm != '' ">
			  AND( ( A.PDM_TBL_PNM LIKE CONCAT('%', #{pdmTblPnm,jdbcType=VARCHAR}, '%') OR A.PDM_TBL_PNM LIKE CONCAT('%', UPPER( #{pdmTblPnm,jdbcType=VARCHAR}), '%') ) 
			  OR( A.PDM_TBL_LNM LIKE CONCAT('%', #{pdmTblPnm,jdbcType=VARCHAR}, '%') OR A.PDM_TBL_LNM LIKE CONCAT('%', UPPER( #{pdmTblPnm,jdbcType=VARCHAR}), '%') 
			  )
		  </if>
		  <if test="fullPath != null and fullPath != '' " >
		  	AND A.FULL_PATH LIKE CONCAT('%', #{fullPath,jdbcType=VARCHAR}, '%')
		  </if>
		  <if test="gapStaus != null and gapStaus != '' " >
		  	AND A.GAP_STAUS = #{gapStaus,jdbcType=VARCHAR}
		  </if>
	ORDER BY GAP_STAUS DESC ,FULL_PATH, PDM_TBL_PNM, REG_C, REG_D, REG_U
</select>
<select id="getColMapGapDtl" resultMap="BaseResultMap" parameterType="kr.wise.meta.mapping.service.MapListVO">
			SELECT 	/* MapListMapper.getColMapGapDtl */
					CASE WHEN IFNULL(PDM.PDM_COL_LNM, '_') = '_' THEN 'D'
			            WHEN IFNULL(MAP.TGT_COL_PNM, '_') = '_' THEN 'C'
			            ELSE CASE WHEN PDM.PDM_COL_PNM IS NOT NULL AND MAP.TGT_COL_PNM IS NOT NULL THEN 
			                      CASE WHEN IFNULL(PDM.DISP_DATA_TYPE, '_') = IFNULL(MAP.TGT_DATA_TYPE, '_') AND IFNULL(PDM.DMN_LNM, '_') = IFNULL(MAP.TGT_DMN_LNM, '_') AND IFNULL(PDM.COL_ORD, 0) = IFNULL(MAP.COL_ORD, 0) THEN 'C' ELSE 'U' END
			                 ELSE 'C' END
			       END REG_TYP_CD
			       , CASE WHEN PDM.PDM_COL_PNM IS NOT NULL AND    MAP.TGT_COL_PNM IS NOT NULL
				          THEN CASE WHEN IFNULL(PDM.DISP_DATA_TYPE, '_') != IFNULL(MAP.TGT_DATA_TYPE, '_') AND IFNULL(PDM.DMN_LNM, '_') != IFNULL(CASE WHEN SUBSTR(MAP.TGT_COL_LNM,1,INSTR(MAP.TGT_COL_LNM,'코드',-1)+1) LIKE '%코드' AND IFNULL(REGEXP_INSTR(SUBSTR(MAP.TGT_COL_LNM,INSTR(MAP.TGT_COL_LNM,'코드',-1)+2,LENGTH(MAP.TGT_COL_LNM)) ,'[^0-9]'),0) = 0 THEN MAP.TGT_DMN_LNM END, '_') AND IFNULL(PDM.COL_ORD, 0) != IFNULL(MAP.COL_ORD, 0) THEN '데이터타입,코드도메인,컬럼순서'
                          WHEN IFNULL(PDM.DISP_DATA_TYPE, '_') != IFNULL(MAP.TGT_DATA_TYPE, '_') AND IFNULL(PDM.DMN_LNM, '_') != IFNULL(CASE WHEN SUBSTR(MAP.TGT_COL_LNM,1,INSTR(MAP.TGT_COL_LNM,'코드',-1)+1) LIKE '%코드' AND IFNULL(REGEXP_INSTR(SUBSTR(MAP.TGT_COL_LNM,INSTR(MAP.TGT_COL_LNM,'코드',-1)+2,LENGTH(MAP.TGT_COL_LNM)) ,'[^0-9]'),0) = 0 THEN MAP.TGT_DMN_LNM END, '_') AND IFNULL(PDM.COL_ORD, 0) = IFNULL(MAP.COL_ORD, 0) THEN '데이터타입,코드도메인'
                          WHEN IFNULL(PDM.DISP_DATA_TYPE, '_') != IFNULL(MAP.TGT_DATA_TYPE, '_') AND IFNULL(PDM.DMN_LNM, '_') = IFNULL(CASE WHEN SUBSTR(MAP.TGT_COL_LNM,1,INSTR(MAP.TGT_COL_LNM,'코드',-1)+1) LIKE '%코드' AND IFNULL(REGEXP_INSTR(SUBSTR(MAP.TGT_COL_LNM,INSTR(MAP.TGT_COL_LNM,'코드',-1)+2,LENGTH(MAP.TGT_COL_LNM)) ,'[^0-9]'),0) = 0 THEN MAP.TGT_DMN_LNM END, '_') AND IFNULL(PDM.COL_ORD, 0) != IFNULL(MAP.COL_ORD, 0) THEN '데이터타입,컬럼순서'
                          WHEN IFNULL(PDM.DISP_DATA_TYPE, '_') = IFNULL(MAP.TGT_DATA_TYPE, '_') AND IFNULL(PDM.DMN_LNM, '_') != IFNULL(CASE WHEN SUBSTR(MAP.TGT_COL_LNM,1,INSTR(MAP.TGT_COL_LNM,'코드',-1)+1) LIKE '%코드' AND IFNULL(REGEXP_INSTR(SUBSTR(MAP.TGT_COL_LNM,INSTR(MAP.TGT_COL_LNM,'코드',-1)+2,LENGTH(MAP.TGT_COL_LNM)) ,'[^0-9]'),0) = 0 THEN MAP.TGT_DMN_LNM END, '_') AND IFNULL(PDM.COL_ORD, 0) != IFNULL(MAP.COL_ORD, 0) THEN '코드도메인,컬럼순서'
                          WHEN IFNULL(PDM.DISP_DATA_TYPE, '_') != IFNULL(MAP.TGT_DATA_TYPE, '_') THEN '데이터타입'
                          WHEN IFNULL(PDM.DMN_LNM, '_') != IFNULL(CASE WHEN SUBSTR(MAP.TGT_COL_LNM,1,INSTR(MAP.TGT_COL_LNM,'코드',-1)+1) LIKE '%코드' AND IFNULL(REGEXP_INSTR(SUBSTR(MAP.TGT_COL_LNM,INSTR(MAP.TGT_COL_LNM,'코드',-1)+2,LENGTH(MAP.TGT_COL_LNM)) ,'[^0-9]'),0) = 0 THEN MAP.TGT_DMN_LNM END, '_')  THEN '코드도메인'
                          WHEN IFNULL(PDM.COL_ORD, 0) != IFNULL(MAP.COL_ORD, 0) THEN '컬럼순서'
				     END 
				     WHEN PDM.PDM_COL_PNM IS NOT NULL AND MAP.TGT_COL_PNM IS NULL THEN '물리만존재'
				     WHEN PDM.PDM_COL_PNM IS NULL AND MAP.TGT_COL_PNM IS NOT NULL THEN '매핑정의서만 존재'
				     END  GAP_STAUS
			       , MAP.MAP_DF_ID
			       , MAP.MAP_DF_TYPE
			       , MAP.COL_MAP_ID
			       , MAP.COL_MAP_TYPE
			       , MAP.TGT_DB_ID
			       , MAP.TGT_DB_PNM
			       , MAP.TGT_TBL_ID
			       , MAP.TGT_TBL_LNM
			       , MAP.TGT_TBL_PNM
			       , MAP.TGT_COL_ID
			       , MAP.TGT_COL_LNM
			       , MAP.TGT_COL_PNM
			       , MAP.TGT_DATA_TYPE
			       , MAP.TGT_PK_YN
			       , MAP.TGT_PK_ORD
			       , MAP.TGT_NONUL_YN
			       , MAP.TGT_DMN_LNM
			       , MAP.SRC_SYS_NM
			       , MAP.SRC_BIZ_NM
			       , MAP.SRC_DB_PNM
			       , MAP.SRC_TBL_ID
			       , MAP.SRC_TBL_LNM
			       , MAP.SRC_TBL_PNM
			       , MAP.SRC_COL_LNM
			       , MAP.SRC_COL_PNM
			       , MAP.SRC_DESCN
			       , MAP.SRC_DATA_TYPE
			       , MAP.MAP_CND_NM
			       , MAP.COL_REF_DB_PNM
			       , MAP.COL_REF_TBL_PNM
			       , MAP.JN_CND_NM
			       , MAP.APP_CRGP_NM
			       , MAP.CNVS_CRGP_NM
			       , MAP.TGT_CHRG
			       , MAP.COL_ORD
			       , MAP.DEFLT_VAL
			       , PDM.DMN_LNM AS PDM_DMN_LNM
			       , PDM.DISP_DATA_TYPE AS PDM_DATA_TYPE
			       , PDM.COL_ORD AS PDM_COL_ORD
			FROM   (
			    SELECT PT.PDM_TBL_PNM
			       , PT.PDM_TBL_LNM
			       , PC.PDM_COL_LNM
			       , PC.PDM_COL_PNM
			       , PT.SUBJ_ID
			       , PT.FULL_PATH
			       , REPLACE(REPLACE( CONCAT(PC.DATA_TYPE, '(', PC.DATA_LEN, ',', PC.DATA_SCAL, ')'), ',)', ')'), '()', '') AS DISP_DATA_TYPE
			       , DMN.DMN_LNM
			       , PC.COL_ORD
			       , PC.PK_YN
			       , PC.PK_ORD
			       , PC.NONUL_YN
			       , PC.DEFLT_VAL
			       , PT.PDM_TBL_ID
			       , PC.PDM_COL_ID
			       , DB.DB_CONN_TRG_LNM
			    FROM   WAM_PDM_TBL PT 
			    INNER JOIN WAM_PDM_COL PC 
			    ON PT.PDM_TBL_ID = PC.PDM_TBL_ID 
			    LEFT OUTER JOIN 
			    (SELECT I.SDITM_ID, D.DMN_LNM
			       FROM   WAM_SDITM I 
			       INNER JOIN WAM_DMN D 
			       ON I.DMN_ID = D.DMN_ID 
			       INNER JOIN WAA_DMNG G 
			       ON D.DMNG_ID = G.DMNG_ID
			       AND G.CD_DMN_YN = 'Y'
			       AND G.EXP_DTM = STR_TO_DATE('99991231', '%Y%m%d') ) DMN 
			    ON PC.SDITM_ID = DMN.SDITM_ID 
			    LEFT OUTER JOIN 
			    (
			    SELECT PDM_TBL_ID, DB_CONN_TRG_LNM
			    FROM WAM_DDL_TBL D
			    INNER JOIN WAA_DB_SCH S
			    ON D.DB_SCH_ID = S.DB_SCH_ID
			    AND S.EXP_DTM = STR_TO_DATE('99991231','%Y%m%d')
			    AND S.REG_TYP_CD IN ('C','U')
			    INNER JOIN WAA_DB_CONN_TRG T
			    ON S.DB_CONN_TRG_ID = T.DB_CONN_TRG_ID
			    AND T.EXP_DTM = STR_TO_DATE('99991231','%Y%m%d')
			    AND T.REG_TYP_CD IN ('C','U')
			    ) DB
			    ON PT.PDM_TBL_ID = DB.PDM_TBL_ID
		  <where>
			  <if test="pdmTblPnm1 != null and pdmTblPnm1 != '' ">
				  AND PT.PDM_TBL_PNM = #{pdmTblPnm1,jdbcType=VARCHAR}  
			  </if>
			  <if test="fullPath1 != null and fullPath1 != '' " >
			  	AND PT.FULL_PATH = #{fullPath1,jdbcType=VARCHAR}
			  </if>
		  </where>
			    ) PDM 
			 FULL OUTER JOIN 
			    (SELECT COL_MAP_ID
			        , COL_MAP_TYPE
			        , MAP_DF_ID
			        , MAP_DF_TYPE
			        , TGT_DB_ID
			        , TGT_DB_PNM
			        , TGT_TBL_ID
			        , TGT_TBL_LNM
			        , TGT_TBL_PNM
			        , TGT_COL_ID
			        , TGT_COL_LNM
			        , TGT_COL_PNM
			        , TGT_DATA_TYPE
			        , TGT_PK_YN
			        , TGT_PK_ORD
			        , TGT_NONUL_YN
			        , TGT_DMN_LNM
			        , SRC_SYS_NM
			        , SRC_BIZ_NM
			        , SRC_DB_PNM
			        , SRC_TBL_ID
			        , SRC_TBL_LNM
			        , SRC_TBL_PNM
			        , SRC_COL_LNM
			        , SRC_COL_PNM
			        , SRC_DESCN
			        , SRC_DATA_TYPE
			        , MAP_CND_NM
			        , COL_REF_DB_PNM
			        , COL_REF_TBL_PNM
			        , JN_CND_NM
			        , APP_CRGP_NM
			        , CNVS_CRGP_NM
			        , COL_ORD
			        , DEFLT_VAL
			        , TGT_CHRG
			       FROM   WAM_COL_MAP
		    <where>
			  <if test="pdmTblPnm1 != null and pdmTblPnm1 != '' ">
				  AND TGT_TBL_PNM = #{pdmTblPnm1,jdbcType=VARCHAR}   
			  </if>
		    </where>
			        ) MAP 
			ON CASE WHEN MAP.TGT_TBL_ID IS NULL THEN PDM.PDM_TBL_PNM ELSE PDM.PDM_TBL_ID END = CASE WHEN MAP.TGT_TBL_ID IS NULL THEN MAP.TGT_TBL_PNM ELSE MAP.TGT_TBL_ID END
			AND CASE WHEN MAP.TGT_COL_ID IS NULL THEN PDM.PDM_COL_PNM ELSE PDM.PDM_COL_ID END = CASE WHEN MAP.TGT_COL_ID IS NULL THEN MAP.TGT_COL_PNM ELSE MAP.TGT_COL_ID END
			ORDER BY MAP.MAP_DF_ID, CAST(PDM.COL_ORD AS UNSIGNED), MAP.COL_MAP_ID
</select>

</mapper>