<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.meta.pdmrel.service.WaqPdmRelMstMapper" >
  <resultMap id="BaseResultMap" type="kr.wise.meta.pdmrel.service.WaqPdmRelMst" extends="kr.wise.commons.cmm.service.CommonMapper.BaseResultMap">

    <result column="PDM_REL_PNM"    property="pdmRelPnm"   jdbcType="VARCHAR" />
    <result column="PA_TBL_PNM"     property="paTblPnm"    jdbcType="VARCHAR" />    
    <result column="CH_TBL_PNM"     property="chTblPnm"    jdbcType="VARCHAR" />    
    <result column="BF_PDM_REL_PNM" property="bfPdmRelPnm" jdbcType="VARCHAR" />
    <result column="BF_PA_TBL_PNM"  property="bfPaTblPnm"  jdbcType="VARCHAR" />    
    <result column="BF_CH_TBL_PNM"  property="bfChTblPnm"  jdbcType="VARCHAR" />    
    <result column="PDM_REL_ID"     property="pdmRelId"    jdbcType="VARCHAR" />
    <result column="PDM_REL_LNM"    property="pdmRelLnm"   jdbcType="VARCHAR" />
    <result column="REL_TYP_CD"     property="relTypCd"    jdbcType="VARCHAR" />
    <result column="CRD_TYP_CD"     property="crdTypCd"    jdbcType="VARCHAR" />
    <result column="PA_OPT_TYP_CD"  property="paOptTypCd"  jdbcType="VARCHAR" />
    <result column="PA_SUBJ_ID"     property="paSubjId"    jdbcType="VARCHAR" />
    <result column="PA_FULL_PATH"   property="paFullPath"  jdbcType="VARCHAR" />
    <result column="PA_TBL_ID"      property="paTblId"     jdbcType="VARCHAR" />   
    <result column="CH_SUBJ_ID"     property="chSubjId"    jdbcType="VARCHAR" />
    <result column="CH_FULL_PATH"   property="chFullPath"  jdbcType="VARCHAR" />
    <result column="CH_TBL_ID"      property="chTblId"     jdbcType="VARCHAR" />     
  </resultMap>
  
  <sql id="Base_Column_List" >
      RQST_NO, RQST_SNO, RQST_DTL_SNO
    , VRF_CD, VRF_RMK, RQST_DCD  
    , PDM_REL_ID, PDM_REL_LNM, PDM_REL_PNM    
    , REL_TYP_CD, CRD_TYP_CD 
    , PA_OPT_TYP_CD
    , PA_SUBJ_ID, PA_FULL_PATH, PA_TBL_ID, PA_TBL_PNM
    , CH_SUBJ_ID, CH_FULL_PATH, CH_TBL_ID, CH_TBL_PNM    
    , OBJ_DESCN, OBJ_VERS, REG_TYP_CD, FRS_RQST_DTM, FRS_RQST_USER_ID 
    , RQST_DTM, RQST_USER_ID, APRV_DTM, APRV_USER_ID
  </sql>
  
  <sql id="Base_Column_List2" >
      A.RQST_NO
    , A.RQST_SNO
    , A.RQST_DTL_SNO    
    , A.PDM_REL_ID
    , A.PDM_REL_PNM, A.PDM_REL_LNM
    , A.VRF_CD
    , A.VRF_RMK
    , NVL(A.RVW_STS_CD,'0') AS RVW_STS_CD 
    , A.RVW_CONTS
    , A.RQST_DCD
    , A.REL_TYP_CD
    , A.CRD_TYP_CD 
    , A.PA_OPT_TYP_CD
    , A.PA_SUBJ_ID, A.PA_FULL_PATH, A.PA_TBL_ID, A.PA_TBL_PNM 
    , A.CH_SUBJ_ID, A.CH_FULL_PATH, A.CH_TBL_ID, A.CH_TBL_PNM
    , A.OBJ_DESCN, A.OBJ_VERS, A.REG_TYP_CD, A.FRS_RQST_DTM, A.FRS_RQST_USER_ID 
    , A.RQST_DTM, A.RQST_USER_ID, A.APRV_DTM, A.APRV_USER_ID
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from WAQ_PDM_REL_MST
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
      and RQST_DTL_SNO = #{rqstDtlSno,jdbcType=DECIMAL}
      and PDM_REL_PNM = #{pdmRelPnm,jdbcType=VARCHAR}
      and PA_TBL_PNM = #{paTblPnm,jdbcType=VARCHAR}
      and PA_COL_PNM = #{paAttrPnm,jdbcType=VARCHAR}
      and CH_TBL_PNM = #{chTblPnm,jdbcType=VARCHAR}
      and CH_COL_PNM = #{chAttrPnm,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="map" >
    DELETE FROM WAQ_PDM_REL_MST
     WHERE RQST_NO      = #{rqstNo,jdbcType=VARCHAR}
       AND RQST_SNO     = #{rqstSno,jdbcType=DECIMAL}
       AND RQST_DTL_SNO = #{rqstDtlSno,jdbcType=DECIMAL}      
  </delete>
  
  <insert id="insert" parameterType="kr.wise.meta.pdmrel.service.WaqPdmRelMst" >
    insert into WAQ_PDM_REL_MST (RQST_NO, RQST_SNO, RQST_DTL_SNO, 
      PDM_REL_PNM, PA_TBL_PNM, PA_COL_PNM, 
      CH_TBL_PNM, CH_COL_PNM, PDM_REL_ID, 
      PDM_REL_LNM, VRF_CD, VRF_RMK, 
      RQST_DCD, REL_TYP_CD, CRD_TYP_CD, 
      PA_OPT_TYP_CD, PA_SUBJ_ID, PA_FULL_PATH, 
      PA_TBL_ID, PA_COL_ID, CH_SUBJ_ID, 
      CH_FULL_PATH, CH_TBL_ID, CH_COL_ID, 
      OBJ_DESCN, OBJ_VERS, REG_TYP_CD, 
      FRS_RQST_DTM, FRS_RQST_USER_ID, RQST_DTM, 
      RQST_USER_ID, APRV_DTM, APRV_USER_ID
      )
    values (#{rqstNo,jdbcType=VARCHAR}, #{rqstSno,jdbcType=DECIMAL}, #{rqstDtlSno,jdbcType=DECIMAL}, 
      #{pdmRelPnm,jdbcType=VARCHAR}, #{paTblPnm,jdbcType=VARCHAR}, #{paAttrPnm,jdbcType=VARCHAR}, 
      #{chTblPnm,jdbcType=VARCHAR}, #{chAttrPnm,jdbcType=VARCHAR}, #{pdmRelId,jdbcType=VARCHAR}, 
      #{pdmRelLnm,jdbcType=VARCHAR}, #{vrfCd,jdbcType=VARCHAR}, #{vrfRmk,jdbcType=VARCHAR}, 
      #{rqstDcd,jdbcType=VARCHAR}, #{relTypCd,jdbcType=VARCHAR}, #{crdTypCd,jdbcType=VARCHAR}, 
      #{paOptTypCd,jdbcType=VARCHAR}, #{paSubjId,jdbcType=VARCHAR}, #{paFullPath,jdbcType=VARCHAR}, 
      #{paTblId,jdbcType=VARCHAR}, #{paAttrId,jdbcType=VARCHAR}, #{chSubjId,jdbcType=VARCHAR}, 
      #{chFullPath,jdbcType=VARCHAR}, #{chTblId,jdbcType=VARCHAR}, #{chAttrId,jdbcType=VARCHAR}, 
      #{objDescn,jdbcType=VARCHAR}, #{objVers,jdbcType=DECIMAL}, #{regTypCd,jdbcType=VARCHAR}, 
      #{frsRqstDtm,jdbcType=TIMESTAMP}, #{frsRqstUserId,jdbcType=VARCHAR}, #{rqstDtm,jdbcType=TIMESTAMP}, 
      #{rqstUserId,jdbcType=VARCHAR}, #{aprvDtm,jdbcType=TIMESTAMP}, #{aprvUserId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="kr.wise.meta.pdmrel.service.WaqPdmRelMst" >
  	<selectKey keyProperty="rqstDtlSno" resultType="int" statementType="PREPARED" order="BEFORE">	
		SELECT NVL(MAX(RQST_DTL_SNO), 0) + 1 
           FROM WAQ_PDM_REL_MST 
          WHERE RQST_NO  = #{rqstNo,jdbcType=VARCHAR} 
            AND RQST_SNO = #{rqstSno,jdbcType=VARCHAR}
  	</selectKey>
  	
    INSERT INTO WAQ_PDM_REL_MST
    <trim prefix="(" suffix=")" suffixOverrides="," >
        RQST_NO,
        RQST_SNO,
        RQST_DTL_SNO,
      <if test="pdmRelPnm != null" >
        PDM_REL_PNM,
      </if>
      <if test="paTblPnm != null" >
        PA_TBL_PNM,
      </if>      
      <if test="chTblPnm != null" >
        CH_TBL_PNM,
      </if>      
      <if test="pdmRelId != null" >
        PDM_REL_ID,
      </if>
      <if test="pdmRelLnm != null" >
        PDM_REL_LNM,
      </if>
      <if test="vrfCd != null" >
        VRF_CD,
      </if>
      <if test="vrfRmk != null" >
        VRF_RMK,
      </if>
      <if test="rqstDcd != null" >
        RQST_DCD,
      </if>
      <if test="relTypCd != null" >
        REL_TYP_CD,
      </if>
      <if test="crdTypCd != null" >
        CRD_TYP_CD,
      </if>
      <if test="paOptTypCd != null" >
        PA_OPT_TYP_CD,
      </if>
      <if test="paSubjId != null" >
        PA_SUBJ_ID,
      </if>
      <if test="paFullPath != null" >
        PA_FULL_PATH,
      </if>
      <if test="paTblId != null" >
        PA_TBL_ID,
      </if>      
      <if test="chSubjId != null" >
        CH_SUBJ_ID,
      </if>
      <if test="chFullPath != null" >
        CH_FULL_PATH,
      </if>
      <if test="chTblId != null" >
        CH_TBL_ID,
      </if>      
      <if test="objDescn != null" >
        OBJ_DESCN,
      </if>
        OBJ_VERS,
      <if test="regTypCd != null" >
        REG_TYP_CD,
      </if>
        FRS_RQST_DTM,
        FRS_RQST_USER_ID,
        RQST_DTM,
      <if test="rqstUserId != null" >
        RQST_USER_ID,
      </if>
      <if test="aprvDtm != null" >
        APRV_DTM,
      </if>
      <if test="aprvUserId != null" >
        APRV_USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{rqstNo,jdbcType=VARCHAR},
        #{rqstSno,jdbcType=DECIMAL},
         #{rqstDtlSno,jdbcType=DECIMAL},
      <if test="pdmRelPnm != null" >
        #{pdmRelPnm,jdbcType=VARCHAR},
      </if>
      <if test="paTblPnm != null" >
        #{paTblPnm,jdbcType=VARCHAR},
      </if>      
      <if test="chTblPnm != null" >
        #{chTblPnm,jdbcType=VARCHAR},
      </if>       
      <if test="pdmRelId != null" >
        #{pdmRelId,jdbcType=VARCHAR},
      </if>
      <if test="pdmRelLnm != null" >
        #{pdmRelLnm,jdbcType=VARCHAR},
      </if>
      <if test="vrfCd != null" >
        #{vrfCd,jdbcType=VARCHAR},
      </if>
      <if test="vrfRmk != null" >
        #{vrfRmk,jdbcType=VARCHAR},
      </if>
      <if test="rqstDcd != null" >
        #{rqstDcd,jdbcType=VARCHAR},
      </if>
      <if test="relTypCd != null" >
        #{relTypCd,jdbcType=VARCHAR},
      </if>
      <if test="crdTypCd != null" >
        #{crdTypCd,jdbcType=VARCHAR},
      </if>
      <if test="paOptTypCd != null" >
        #{paOptTypCd,jdbcType=VARCHAR},
      </if>
      <if test="paSubjId != null" >
        #{paSubjId,jdbcType=VARCHAR},
      </if>
      <if test="paFullPath != null" >
        #{paFullPath,jdbcType=VARCHAR},
      </if>
      <if test="paTblId != null" >
        #{paTblId,jdbcType=VARCHAR},
      </if>       
      <if test="chSubjId != null" >
        #{chSubjId,jdbcType=VARCHAR},
      </if>
      <if test="chFullPath != null" >
        #{chFullPath,jdbcType=VARCHAR},
      </if>
      <if test="chTblId != null" >
        #{chTblId,jdbcType=VARCHAR},
      </if>      
      <if test="objDescn != null" >
        #{objDescn,jdbcType=VARCHAR},
      </if>
	    1,
      <if test="regTypCd != null" >
        #{regTypCd,jdbcType=VARCHAR},
      </if>
        SYSDATETIME,
        #{frsRqstUserId,jdbcType=VARCHAR},
        SYSDATETIME,
      <if test="rqstUserId != null" >
        #{rqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="aprvDtm != null" >
        #{aprvDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="aprvUserId != null" >
        #{aprvUserId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="kr.wise.meta.pdmrel.service.WaqPdmRelMst" >
    update WAQ_PDM_REL_MST
    <set >
      <if test="pdmRelId != null" >
        PDM_REL_ID = #{pdmRelId,jdbcType=VARCHAR},
      </if>
      <if test="pdmRelLnm != null" >
        PDM_REL_LNM = #{pdmRelLnm,jdbcType=VARCHAR},
      </if>
      <if test="vrfCd != null" >
        VRF_CD = #{vrfCd,jdbcType=VARCHAR},
      </if>
      <if test="vrfRmk != null" >
        VRF_RMK = #{vrfRmk,jdbcType=VARCHAR},
      </if>
      <if test="rqstDcd != null" >
        RQST_DCD = #{rqstDcd,jdbcType=VARCHAR},
      </if>
      <if test="relTypCd != null" >
        REL_TYP_CD = #{relTypCd,jdbcType=VARCHAR},
      </if>
      <if test="crdTypCd != null" >
        CRD_TYP_CD = #{crdTypCd,jdbcType=VARCHAR},
      </if>
      <if test="paOptTypCd != null" >
        PA_OPT_TYP_CD = #{paOptTypCd,jdbcType=VARCHAR},
      </if>
      <if test="paSubjId != null" >
        PA_SUBJ_ID = #{paSubjId,jdbcType=VARCHAR},
      </if>
      <if test="paFullPath != null" >
        PA_FULL_PATH = #{paFullPath,jdbcType=VARCHAR},
      </if>
      <if test="paTblId != null" >
        PA_TBL_ID = #{paTblId,jdbcType=VARCHAR},
      </if>      
      <if test="chSubjId != null" >
        CH_SUBJ_ID = #{chSubjId,jdbcType=VARCHAR},
      </if>
      <if test="chFullPath != null" >
        CH_FULL_PATH = #{chFullPath,jdbcType=VARCHAR},
      </if>
      <if test="chTblId != null" >
        CH_TBL_ID = #{chTblId,jdbcType=VARCHAR},
      </if>      
      <if test="objDescn != null" >
        OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="objVers != null" >
        OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      </if>
      <if test="regTypCd != null" >
        REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      </if>
      <if test="frsRqstDtm != null" >
        FRS_RQST_DTM = #{frsRqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="frsRqstUserId != null" >
        FRS_RQST_USER_ID = #{frsRqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="rqstDtm != null" >
        RQST_DTM = #{rqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="rqstUserId != null" >
        RQST_USER_ID = #{rqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="aprvDtm != null" >
        APRV_DTM = #{aprvDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="aprvUserId != null" >
        APRV_USER_ID = #{aprvUserId,jdbcType=VARCHAR},
      </if>
      <if test="pdmRelPnm != null" >
        PDM_REL_PNM = #{pdmRelPnm,jdbcType=VARCHAR},
      </if>
      <if test="paTblPnm != null" >
        PA_TBL_PNM = #{paTblPnm,jdbcType=VARCHAR},
      </if>      
      <if test="chTblPnm != null" >
        CH_TBL_PNM = #{chTblPnm,jdbcType=VARCHAR},
      </if>      
    </set>
    WHERE RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      AND RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
      AND RQST_DTL_SNO = #{rqstDtlSno,jdbcType=DECIMAL}      
  </update>
  
  <update id="updateByPrimaryKey" parameterType="kr.wise.meta.pdmrel.service.WaqPdmRelMst" >
    update WAQ_PDM_REL_MST
    set PDM_REL_ID = #{pdmRelId,jdbcType=VARCHAR},
      PDM_REL_LNM = #{pdmRelLnm,jdbcType=VARCHAR},
      VRF_CD = #{vrfCd,jdbcType=VARCHAR},
      VRF_RMK = #{vrfRmk,jdbcType=VARCHAR},
      RQST_DCD = #{rqstDcd,jdbcType=VARCHAR},
      REL_TYP_CD = #{relTypCd,jdbcType=VARCHAR},
      CRD_TYP_CD = #{crdTypCd,jdbcType=VARCHAR},
      PA_OPT_TYP_CD = #{paOptTypCd,jdbcType=VARCHAR},
      PA_SUBJ_ID = #{paSubjId,jdbcType=VARCHAR},
      PA_FULL_PATH = #{paFullPath,jdbcType=VARCHAR},
      PA_TBL_ID = #{paTblId,jdbcType=VARCHAR},
      PA_COL_ID = #{paAttrId,jdbcType=VARCHAR},
      CH_SUBJ_ID = #{chSubjId,jdbcType=VARCHAR},
      CH_FULL_PATH = #{chFullPath,jdbcType=VARCHAR},
      CH_TBL_ID = #{chTblId,jdbcType=VARCHAR},
      CH_COL_ID = #{chAttrId,jdbcType=VARCHAR},
      OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      FRS_RQST_DTM = #{frsRqstDtm,jdbcType=TIMESTAMP},
      FRS_RQST_USER_ID = #{frsRqstUserId,jdbcType=VARCHAR},
      RQST_DTM = #{rqstDtm,jdbcType=TIMESTAMP},
      RQST_USER_ID = #{rqstUserId,jdbcType=VARCHAR},
      APRV_DTM = #{aprvDtm,jdbcType=TIMESTAMP},
      APRV_USER_ID = #{aprvUserId,jdbcType=VARCHAR}
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
      and RQST_DTL_SNO = #{rqstDtlSno,jdbcType=DECIMAL}
      and PDM_REL_PNM = #{pdmRelPnm,jdbcType=VARCHAR}
      and PA_TBL_PNM = #{paTblPnm,jdbcType=VARCHAR}
      and PA_COL_PNM = #{paAttrPnm,jdbcType=VARCHAR}
      and CH_TBL_PNM = #{chTblPnm,jdbcType=VARCHAR}
      and CH_COL_PNM = #{chAttrPnm,jdbcType=VARCHAR}
  </update>
  
  <select id="selectPdmRelRqstList" parameterType="kr.wise.commons.rqstmst.service.WaqMstr" resultMap="BaseResultMap">
  	SELECT 
  	   <include refid="Base_Column_List2"/>
  	   , CASE WHEN A.VRF_CD = '2' THEN '#FF0000' ELSE CASE WHEN A.VRF_CD = '5' THEN '#0000FF'  END END AS FontColor
  	   , U.USER_NM AS RQST_USER_NM   	   
  	FROM WAQ_PDM_REL_MST A          
         LEFT JOIN WAA_USER U
           ON A.RQST_USER_ID = U.USER_ID
          AND U.REG_TYP_CD IN ('C', 'U')
          AND U.EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
  	WHERE A.RQST_NO = #{rqstNo}
  	<if test='rqstSno != null'>
      AND A.RQST_SNO = #{rqstSno}
  	</if>
  	ORDER BY A.RQST_SNO
  	       , A.RQST_DTL_SNO
  	       , A.PA_FULL_PATH
  	       , A.PA_TBL_PNM
  </select>
  
  <select id="selectPdmRelDetail" resultMap="BaseResultMap" parameterType="kr.wise.meta.pdmrel.service.WaqPdmRelMst" >
    select 
    <include refid="Base_Column_List" />
    from WAQ_PDM_REL_MST
    where RQST_NO      = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO     = #{rqstSno,jdbcType=DECIMAL}
      and RQST_DTL_SNO = #{rqstDtlSno,jdbcType=DECIMAL}
  </select>
  
  <select id="selectWaqRelMstRqstSno" parameterType="kr.wise.meta.pdmrel.service.WaqPdmRelMst" >
   SELECT MAX(RQST_SNO) AS RQST_SNO    
     FROM WAQ_PDM_REL_MST
    WHERE RQST_NO      = #{rqstNo, jdbcType=VARCHAR}
      AND PA_FULL_PATH  = #{paFullPath, jdbcType=VARCHAR}
      AND PA_TBL_PNM  = #{paTblPnm, jdbcType=VARCHAR}      
  </select>
  
  <update id="updateCheckInit" parameterType="java.lang.String" >
    UPDATE WAQ_PDM_REL_MST A
       SET (A.REG_TYP_CD, A.PDM_REL_ID) = 
                          (SELECT CASE WHEN A.RQST_DCD = 'DD' THEN 'D' ELSE CASE WHEN MAX(B.PDM_REL_PNM) IS NULL THEN 'C' ELSE 'U' END END
                                , MAX(B.PDM_REL_ID)
                             FROM WAM_PDM_REL_MST B
                            WHERE B.PDM_REL_PNM  = A.PDM_REL_PNM
                              AND B.PA_FULL_PATH  = A.PA_FULL_PATH
                              AND B.PA_TBL_PNM  = A.PA_TBL_PNM                           					 		   					
                          )
        , A.VRF_CD = '4'
    WHERE A.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
  </update>
  
  <update id="updateSubjId" parameterType="java.lang.String" >
    UPDATE WAQ_PDM_REL_MST A
    SET (A.PA_SUBJ_ID, A.CH_SUBJ_ID) = (select B.SUBJ_ID, C.SUBJ_ID
				                          from WAA_SUBJ B
				                         INNER JOIN WAA_SUBJ C
				                            ON 1=1
				                           AND C.REG_TYP_CD IN ('C', 'U')
				                           AND C.EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
				                         where B.REG_TYP_CD IN ('C','U')
				                           AND B.EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
				                           AND B.FULL_PATH = A.PA_FULL_PATH
				                           AND C.FULL_PATH = A.CH_FULL_PATH
				                          )
       ,A.VRF_CD = '4'
    WHERE A.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
  </update>
  
  <insert id="checkPaSubj" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSnoSql"/>
	--검증쿼리 : 부모엔터티 주제영역명 미존재 (PR001)
    AND A.RQST_DCD = 'CU'
    AND A.PA_SUBJ_ID IS NULL
  </insert>
    
  <insert id="checkPaEnty" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSnoSql"/>
	--검증쿼리 : 부모엔터티명 미존재 (PR002)
    AND A.RQST_DCD = 'CU'
    AND NOT EXISTS (SELECT 1
    				  FROM WAM_PDM_TBL D
    				       INNER JOIN WAA_SUBJ E
    				          ON E.REG_TYP_CD IN ('C', 'U')
    				         AND E.EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
    				         AND E.SUBJ_ID = D.SUBJ_ID
    				 WHERE E.FULL_PATH   = A.PA_FULL_PATH     				   
    				   AND D.PDM_TBL_PNM = A.PA_TBL_PNM
    			   )    
  </insert>  
  
    
  <insert id="checkChSubj" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSnoSql"/>
	--검증쿼리 : 자식엔터티 주제영역명 미존재 (PR004)
    AND A.RQST_DCD = 'CU'
    AND A.CH_SUBJ_ID IS NULL
  </insert>  
  
  <insert id="checkChEnty" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSnoSql"/>
	--검증쿼리 : 자식엔터티명 미존재 (PR005)
    AND A.RQST_DCD = 'CU'
    AND NOT EXISTS (SELECT 1
    				  FROM WAM_PDM_TBL D
    				       INNER JOIN WAA_SUBJ E
    				          ON E.EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
    				         AND E.REG_TYP_CD IN ('C', 'U') 
    				         AND E.SUBJ_ID = D.SUBJ_ID
    				 WHERE E.FULL_PATH   = A.CH_FULL_PATH 
    				   AND D.PDM_TBL_PNM = A.CH_TBL_PNM
    			   )    
  </insert>  
  
    
  <insert id="checkNotDtl" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSnoSql"/>
	
	--검증쿼리 : 관계명 내용 불일치 (PR007)
    AND A.RQST_DCD = 'CU'
    AND EXISTS (SELECT 1
   				  FROM WAQ_PDM_REL_MST D
   				 WHERE D.RQST_NO = A.RQST_NO
   				   AND D.RQST_SNO = A.RQST_SNO
   				   AND D.RQST_DTL_SNO = A.RQST_DTL_SNO
   				   AND (   D.PDM_REL_LNM != A.PDM_REL_LNM
   				     	OR D.CRD_TYP_CD != A.CRD_TYP_CD
   				     	OR D.REL_TYP_CD != A.REL_TYP_CD
   				     	OR D.PA_OPT_TYP_CD != A.PA_OPT_TYP_CD )
   				   
   			   )

  </insert>  
  
  <insert id="checkNotExistRel" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSnoSql"/>
	  --검증쿼리 : 삭제대상 미존재 관계 (PR009)
      AND A.RQST_DCD = 'DD'
      AND NOT EXISTS (SELECT 1
                        FROM WAM_PDM_REL_MST D                        
                       WHERE D.PDM_REL_PNM = A.PDM_REL_PNM 
                         AND D.PA_FULL_PATH = A.PA_FULL_PATH
                         AND D.PA_TBL_PNM = A.PA_TBL_PNM
                     )
  </insert>
  
  <insert id="checkRequestRel" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSnoSql"/>
	--검증쿼리 : 요청중인 관계(요청중인 관계일 경우 전체 적용...) (PR010)
	AND EXISTS (
    		    SELECT 1 
    		      FROM WAQ_MSTR B
                       INNER JOIN WAQ_PDM_REL_MST C
                       	  ON C.RQST_NO = B.RQST_NO                         
			             AND NVL(C.RVW_STS_CD, 0) != '2'                   
                 WHERE B.RQST_STEP_CD = 'Q'
                   AND B.RQST_NO  != A.RQST_NO
                   AND C.PDM_REL_PNM = A.PDM_REL_PNM
                   AND C.PA_FULL_PATH = A.PA_FULL_PATH
                   AND C.PA_TBL_PNM = A.PA_TBL_PNM 
	           )
  </insert>
  
  <insert id="checkNotConformEnty" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSnoSql"/>
	
	--검증쿼리 : 부모, 자식엔터티중 하나는 테이블명과 일치해야함 (PR008)
    AND A.RQST_DCD = 'CU'
    AND NOT EXISTS (SELECT 1
   				  FROM WAQ_PDM_TBL D
   				 WHERE D.RQST_NO = A.RQST_NO
   				   AND D.RQST_SNO = A.RQST_SNO
   				   AND (   D.PDM_TBL_PNM = A.PA_TBL_PNM
   				     	OR D.PDM_TBL_PNM = A.CH_TBL_PNM )
   				   
   			   )

  </insert>  
  
  <insert id="checkDupRel" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSnoSql"/>
	--검증쿼리 : 중복 관계명 (부모, 자식내용까지) 동일한 관계 검출(PR011)

        AND EXISTS (SELECT 1
	                  FROM WAQ_PDM_REL_MST D
	                 WHERE A.RQST_NO      = D.RQST_NO
	                   AND A.RQST_SNO     = D.RQST_SNO
	                   AND A.RQST_DTL_SNO != D.RQST_DTL_SNO
	                   AND A.PDM_REL_PNM = D.PDM_REL_PNM
	                   AND A.PA_FULL_PATH = D.PA_FULL_PATH
	                   AND A.PA_TBL_PNM = D.PA_TBL_PNM 	                   
                  ) 

  </insert>
  
  <delete id="deleteByrqstSno" parameterType="kr.wise.meta.model.service.WaqPdmTbl">
    DELETE FROM WAQ_PDM_REL_MST
    WHERE RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      AND RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </delete>
  
  <insert id="checkNotChgData" parameterType="map">
	 <!--  <include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSnoSql"/> -->
	
	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.updateVrfNotChg"/>  
	
	--검증쿼리 : 변경사항 없을경우 (PR000)
      AND A.REG_TYP_CD = 'U'
      AND A.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      AND EXISTS (SELECT 1
		            FROM WAM_PDM_REL_MST D
		           WHERE D.PDM_REL_PNM = A.PDM_REL_PNM
		             AND D.PA_FULL_PATH = A.PA_FULL_PATH
		             AND D.PA_TBL_PNM = A.PA_TBL_PNM
		             AND NVL(D.PDM_REL_LNM, '_')   = NVL(A.PDM_REL_LNM, '_')
		             AND NVL(D.CH_TBL_PNM,'_')    = NVL(A.CH_TBL_PNM,'_')		             		              		            
		             AND NVL(D.REL_TYP_CD, '_')    = NVL(A.REL_TYP_CD, '_')
		             AND NVL(D.CRD_TYP_CD, '_')    = NVL(A.CRD_TYP_CD, '_')
		             AND NVL(D.PA_OPT_TYP_CD, '_') = NVL(A.PA_OPT_TYP_CD, '_')
		             AND NVL(D.OBJ_DESCN, '_')     = NVL(A.OBJ_DESCN, '_')
                 )
      AND NOT EXISTS (SELECT 1
                        FROM WAQ_PDM_REL_COL X
                       WHERE X.RQST_NO  = A.RQST_NO
                         AND X.RQST_SNO = A.RQST_SNO 
                         AND X.RQST_DTL_SNO = A.RQST_DTL_SNO
                         AND X.VRF_CD IN ('1','2')
                      )           
  </insert>
  
  <insert id="checkColErr" parameterType="map">
	  <include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSnoSql"/>
	  --검증쿼리 : 컬럼 오류가 있을 경우 체크 (PR999)
	  AND EXISTS (
	  			  SELECT 1 
	  			    FROM WAQ_PDM_REL_COL D
	  			   WHERE A.RQST_NO      = D.RQST_NO
	  			     AND A.RQST_SNO     = D.RQST_SNO
	  			     AND A.RQST_DTL_SNO = D.RQST_DTL_SNO
	  			     AND D.VRF_CD = '2'	  			   	  			  
	  	         )
  </insert>
  
  
  <!-- 승인/반려 업데이트 -->
  <update id="updatervwStsCd" parameterType="kr.wise.meta.ddl.service.WaqDdlIdx" >
  	UPDATE WAQ_PDM_REL_MST
  	<set>
  	    RVW_STS_CD 	= #{rvwStsCd} , 
  		RVW_CONTS 	= #{rvwConts} , 
  		APRV_DTM	= SYSDATETIME ,
  		APRV_USER_ID = #{aprvUserId} ,
  	</set>
    WHERE RQST_NO   = #{rqstNo,jdbcType=VARCHAR}
      AND RQST_SNO  = #{rqstSno,jdbcType=DECIMAL}
      AND RQST_DTL_SNO = #{rqstDtlSno,jdbcType=DECIMAL}
      AND VRF_CD = '1'
      AND NVL(RVW_STS_CD, '_') != '2'
  </update>
  
  <select id="selectWaqC" parameterType="map" resultMap="BaseResultMap">
	--신규 적재 대상 추출
	SELECT A.* 
	  FROM WAQ_PDM_REL_MST A	       
   	 WHERE A.RQST_NO = #{rqstNo}
   	   AND A.RVW_STS_CD = '1'  --승인
   	   AND A.RQST_DCD = 'CU'
       AND A.REG_TYP_CD = 'C'
	</select>
  
  <update id="updateidByKey" parameterType="kr.wise.meta.model.service.WaqPdmCol">
     --신규 적재 대상 ID 업데이트
     UPDATE WAQ_PDM_REL_MST 
        SET PDM_REL_ID = #{pdmRelId,jdbcType=VARCHAR}
  	  WHERE RQST_NO      = #{rqstNo,jdbcType=VARCHAR}
        AND RQST_SNO     = #{rqstSno,jdbcType=DECIMAL}
        AND RQST_DTL_SNO = #{rqstDtlSno,jdbcType=DECIMAL}	
	</update>
  
  <update id="updateWaqCUD" parameterType="map">
   	--WAQ ID, VERS 등을 업데이트...
   	UPDATE WAQ_PDM_REL_MST A
   	   SET (PDM_REL_ID, OBJ_VERS, FRS_RQST_DTM, FRS_RQST_USER_ID) = (
   	   		SELECT B.PDM_REL_ID
   	   			 , NVL(B.OBJ_VERS, 0) + 1 AS OBJ_VERS
				 , B.FRS_RQST_DTM
				 , B.FRS_RQST_USER_ID
			  FROM WAM_PDM_REL_MST B
			 WHERE B.PDM_REL_PNM = A.PDM_REL_PNM
			   AND B.PA_FULL_PATH = A.PA_FULL_PATH
			   AND B.PA_TBL_PNM = A.PA_TBL_PNM			   
   	   	   )
	WHERE A.RQST_NO = #{rqstNo}
	  AND A.VRF_CD = '1' --등록가능
	  AND EXISTS (
	              SELECT 1
	  	            FROM WAM_PDM_REL_MST B
	  	           WHERE B.PDM_REL_PNM = A.PDM_REL_PNM
	  	             AND B.PA_FULL_PATH = A.PA_FULL_PATH
	  	             AND B.PA_TBL_PNM = A.PA_TBL_PNM 	  	             
	             )   	   
  </update>
  
  <update id="updateWaqId" parameterType="map">
   --주제영역 ID, 테이블 ID 업데이트...
   	UPDATE WAQ_PDM_REL_MST X 
   	   SET (PA_SUBJ_ID, PA_TBL_ID) = 
   	                (SELECT A.SUBJ_ID, A.PDM_TBL_ID
	 	               FROM WAM_PDM_TBL A		       
	 	              WHERE A.FULL_PATH   = X.PA_FULL_PATH   
	 	                AND A.PDM_TBL_PNM = X.PA_TBL_PNM           
	                ) 
	    , (CH_SUBJ_ID, CH_TBL_ID) = 
   	                (SELECT A.SUBJ_ID, A.PDM_TBL_ID
	 	               FROM WAM_PDM_TBL A		       
	 	              WHERE A.FULL_PATH   = X.CH_FULL_PATH   
	 	                AND A.PDM_TBL_PNM = X.CH_TBL_PNM         
	                )             
	WHERE X.RQST_NO = #{rqstNo}
	  AND X.VRF_CD = '1' --등록가능
   </update>   	
      
   <sql id="wam_col_list">
		  PDM_REL_PNM
		, PDM_REL_LNM
		, REL_TYP_CD
		, CRD_TYP_CD
		, PA_OPT_TYP_CD
		, PA_SUBJ_ID
        , PA_FULL_PATH
        , PA_TBL_ID
        , PA_TBL_PNM        
        , CH_SUBJ_ID
        , CH_FULL_PATH
        , CH_TBL_ID
        , CH_TBL_PNM         
		, RQST_NO
		, RQST_SNO
		, RQST_DTL_SNO
		, OBJ_DESCN
		, OBJ_VERS
	    , REG_TYP_CD
	    , FRS_RQST_DTM
	    , FRS_RQST_USER_ID
	    , RQST_DTM
	    , RQST_USER_ID
	    , APRV_DTM
	    , APRV_USER_ID
   </sql>
	
   <delete id="deleteWAM" parameterType="map">
    --WAM 삭제 (등록유형코드가REG_TYP_CD 변경, 삭제일 경우)
	DELETE FROM WAM_PDM_REL_MST A
	 WHERE EXISTS (
	              	SELECT 1 
	              	  FROM WAQ_PDM_REL_MST B 	    
	              	 WHERE B.RQST_NO = #{rqstNo}
	                   AND B.PDM_REL_ID = A.PDM_REL_ID	       
	                   AND B.RVW_STS_CD = '1'
	                   AND B.VRF_CD = '1'
	              )
   </delete>
   
   <insert id="insertWAM" parameterType="map">
   	--WAM 추가 (WAQ 내용을 추가, REG_TYP_CD 가 신규,변경일 경우)
	INSERT INTO WAM_PDM_REL_MST
	(
	    PDM_REL_ID
	  , <include refid="wam_col_list"/>
	)
	SELECT A.PDM_REL_ID
	     , <include refid="wam_col_list"/>
	  FROM WAQ_PDM_REL_MST A	  
	 WHERE A.RQST_NO = #{rqstNo}
	   AND A.VRF_CD = '1'
	   AND A.REG_TYP_CD IN ('C', 'U')
	   AND A.RVW_STS_CD = '1'
   </insert>
   
   <update id="updateWAH"  parameterType="map">
   	--WAH 이력 만료...
	UPDATE WAH_PDM_REL_MST A 
	   SET EXP_DTM = SYSDATETIME
	 WHERE EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD') 
	   AND EXISTS (
	               SELECT 1 
	 	             FROM WAQ_PDM_REL_MST C	        
	                WHERE C.RQST_NO = #{rqstNo}		   
	                  AND C.PDM_REL_ID = A.PDM_REL_ID
	                  AND C.VRF_CD = '1'
	                  AND C.RVW_STS_CD = '1'
	              )
   </update>
   
   <insert id="insertWAH"  parameterType="map">
   	--WAH이력 적재...
	INSERT INTO WAH_PDM_REL_MST
	(
	    PDM_REL_ID
	  , EXP_DTM
	  , STR_DTM 
	  , <include refid="wam_col_list"/>
	)
	SELECT A.PDM_REL_ID
		 , TO_DATE( '9999-12-31', 'YYYY-MM-DD') AS EXP_DTM
		 , SYSDATETIME AS STR_DTM 
		 , <include refid="wam_col_list"/>
	  FROM WAQ_PDM_REL_MST A	  
	 WHERE A.RQST_NO = #{rqstNo}
	   AND A.VRF_CD = '1'
	   AND A.RVW_STS_CD = '1'
   </insert>   
  
  
  <insert id="insertByRqstSno" parameterType="kr.wise.meta.pdmrel.service.WaqPdmRelMst">
   
    --테이블 추가시 WAM에 존재하는 컬럼 추가한다.
  	INSERT INTO WAQ_PDM_REL_COL
  	(
	      RQST_NO
	    , RQST_SNO
	    , RQST_DTL_SNO
	    , RQST_DTL_DTL_SNO
	    , PDM_REL_COL_ID
	    , PDM_REL_ID, PDM_REL_PNM, PDM_REL_LNM
	    , RQST_DCD
	    , PA_SUBJ_ID, PA_FULL_PATH
	    , PA_TBL_ID, PA_TBL_PNM 
	    , PA_COL_ID, PA_COL_PNM
        , CH_SUBJ_ID, CH_FULL_PATH
        , CH_TBL_ID, CH_TBL_PNM
        , CH_COL_ID, CH_COL_PNM
	    , OBJ_DESCN, OBJ_VERS, FRS_RQST_DTM, FRS_RQST_USER_ID 	    
	)
	SELECT B.RQST_NO
	     , B.RQST_SNO
	     , B.RQST_DTL_SNO
	     , (SELECT NVL(MAX(RQST_DTL_DTL_SNO), 0) 
	          FROM WAQ_PDM_REL_COL 
	         WHERE RQST_NO      = #{rqstNo} 
	           AND RQST_SNO     = #{rqstSno} 
	           AND RQST_DTL_SNO = #{rqstDtlSno}
	        ) + ROWNUM AS RQST_DTL_DTL_SNO
	     , C.PDM_REL_COL_ID   
	     , A.PDM_REL_ID
	     , A.PDM_REL_PNM
	     , A.PDM_REL_LNM
	     , 'CU' AS RQST_DCD
	     , C.PA_SUBJ_ID, C.PA_FULL_PATH
	     , C.PA_TBL_ID, C.PA_TBL_PNM 
	     , C.PA_COL_ID, C.PA_COL_PNM
         , C.CH_SUBJ_ID, C.CH_FULL_PATH
         , C.CH_TBL_ID, C.CH_TBL_PNM
         , C.CH_COL_ID, C.CH_COL_PNM   
         , C.OBJ_DESCN, C.OBJ_VERS, C.FRS_RQST_DTM, C.FRS_RQST_USER_ID              
	  FROM WAM_PDM_REL_MST A 
	       INNER JOIN WAQ_PDM_REL_MST B
	          ON B.PDM_REL_ID = B.PDM_REL_ID
	       INNER JOIN WAM_PDM_REL_COL C
	          ON C.PDM_REL_ID = A.PDM_REL_ID	         	       
	WHERE B.RQST_NO  = #{rqstNo}
	  AND B.RQST_SNO = #{rqstSno}
	  AND B.RQST_DTL_SNO = #{rqstDtlSno}
  </insert>
  
  <select id="selectPdmRelExist" parameterType="kr.wise.meta.pdmrel.service.WaqPdmRelMst" resultMap="BaseResultMap">
  SELECT A.*
    FROM WAQ_PDM_REL_MST A
   WHERE A.PDM_REL_PNM = #{pdmRelPnm}
     AND A.PA_FULL_PATH = #{paFullPath}
     AND A.PA_TBL_PNM = #{paTblPnm}
     AND A.PA_COL_PNM = #{paAttrPnm}
     AND A.CH_FULL_PATH = #{chFullPath}
     AND A.CH_TBL_PNM = #{chTblPnm}
     AND A.CH_COL_PNM = #{chAttrPnm}
     AND A.RQST_NO = #{rqstNo}
     AND A.RQST_SNO = #{rqstSno}
     
  
  </select>
  
  <select id="selectExistsRqstSno" resultMap="BaseResultMap" parameterType="kr.wise.meta.pdmrel.service.WaqPdmRelMst" >
  	 SELECT MAX(RQST_SNO) AS RQST_SNO
  	   FROM WAQ_PDM_REL_MST
  	  WHERE RQST_NO     = #{rqstNo, jdbcType=VARCHAR}
  	    AND PDM_REL_PNM = #{pdmRelPnm, jdbcType=VARCHAR}
  	    AND PA_TBL_PNM = #{paTblPnm, jdbcType=VARCHAR}
  	  GROUP BY PA_TBL_PNM 
  </select>
  
  <select id="selectMaxRqstSno" resultMap="BaseResultMap" parameterType="kr.wise.meta.pdmrel.service.WaqPdmRelMst" >
  	 SELECT NVL(MAX(RQST_SNO),0) + 1  AS RQST_SNO
  	   FROM WAQ_PDM_REL_MST 
  	  WHERE RQST_NO = #{rqstNo, jdbcType=VARCHAR}   	    	  
  </select>
  
  <select id="selectwamlist" parameterType="map" resultMap="BaseResultMap" >
  	--물리관계 테이블 추가대상 조회...
   	SELECT 'I' AS IBS_STATUS
		 , A.PDM_REL_ID
         , A.PDM_REL_PNM
         , A.PDM_REL_LNM
		 , #{reqmst.rqstDcd} AS RQST_DCD 		          
         , A.REL_TYP_CD
         , A.CRD_TYP_CD 
         , A.PA_OPT_TYP_CD
         , A.PA_SUBJ_ID, A.PA_FULL_PATH, A.PA_TBL_ID, A.PA_TBL_PNM 
         , A.CH_SUBJ_ID, A.CH_FULL_PATH, A.CH_TBL_ID, A.CH_TBL_PNM
         , A.OBJ_DESCN, A.OBJ_VERS, A.REG_TYP_CD, A.FRS_RQST_DTM, A.FRS_RQST_USER_ID 
         , A.RQST_DTM, A.RQST_USER_ID, A.APRV_DTM, A.APRV_USER_ID
	  FROM WAM_PDM_REL_MST A	  
	 WHERE  A.PDM_REL_ID IN 
	 <foreach collection="list" item="item" open="(" separator="," close=")">
	  	#{item.pdmRelId}
	 </foreach>
	   
  </select>
  
</mapper>