<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.meta.ddltsf.service.WaqDdlTsfRelMapper" >
  <resultMap id="BaseResultMap" type="kr.wise.meta.ddltsf.service.WaqDdlTsfRel" extends="kr.wise.meta.ddl.service.WaqDdlRelMapper.BaseResultMap">
<!--     <id column="RQST_NO" property="rqstNo" jdbcType="VARCHAR" /> -->
<!--     <id column="RQST_SNO" property="rqstSno" jdbcType="DECIMAL" /> -->
<!--     <id column="RQST_DTL_SNO" property="rqstDtlSno" jdbcType="DECIMAL" /> -->
<!--     <id column="DDL_REL_PNM" property="ddlRelPnm" jdbcType="VARCHAR" /> -->
<!--     <id column="PA_ENTY_PNM" property="paEntyPnm" jdbcType="VARCHAR" /> -->
<!--     <id column="PA_ATTR_PNM" property="paAttrPnm" jdbcType="VARCHAR" /> -->
<!--     <id column="CH_ENTY_PNM" property="chEntyPnm" jdbcType="VARCHAR" /> -->
<!--     <id column="CH_ATTR_PNM" property="chAttrPnm" jdbcType="VARCHAR" /> -->
<!--     <result column="DDL_REL_ID" property="ddlRelId" jdbcType="VARCHAR" /> -->
<!--     <result column="DDL_REL_LNM" property="ddlRelLnm" jdbcType="VARCHAR" /> -->
<!--     <result column="VRF_CD" property="vrfCd" jdbcType="VARCHAR" /> -->
<!--     <result column="VRF_RMK" property="vrfRmk" jdbcType="VARCHAR" /> -->
<!--     <result column="RQST_DCD" property="rqstDcd" jdbcType="VARCHAR" /> -->
<!--     <result column="REL_TYP_CD" property="relTypCd" jdbcType="VARCHAR" /> -->
<!--     <result column="CRD_TYP_CD" property="crdTypCd" jdbcType="VARCHAR" /> -->
<!--     <result column="PA_OPT_TYP_CD" property="paOptTypCd" jdbcType="VARCHAR" /> -->
<!--     <result column="PA_SUBJ_ID" property="paSubjId" jdbcType="VARCHAR" /> -->
<!--     <result column="PA_SUBJ_PNM" property="paSubjPnm" jdbcType="VARCHAR" /> -->
<!--     <result column="PA_ENTY_ID" property="paEntyId" jdbcType="VARCHAR" /> -->
<!--     <result column="PA_ATTR_ID" property="paAttrId" jdbcType="VARCHAR" /> -->
<!--     <result column="CH_SUBJ_ID" property="chSubjId" jdbcType="VARCHAR" /> -->
<!--     <result column="CH_SUBJ_PNM" property="chSubjPnm" jdbcType="VARCHAR" /> -->
<!--     <result column="CH_ENTY_ID" property="chEntyId" jdbcType="VARCHAR" /> -->
<!--     <result column="CH_ATTR_ID" property="chAttrId" jdbcType="VARCHAR" /> -->
<!--     <result column="OBJ_DESCN" property="objDescn" jdbcType="VARCHAR" /> -->
<!--     <result column="OBJ_VERS" property="objVers" jdbcType="DECIMAL" /> -->
<!--     <result column="REG_TYP_CD" property="regTypCd" jdbcType="VARCHAR" /> -->
<!--     <result column="FRS_RQST_DTM" property="frsRqstDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="FRS_RQST_USER_ID" property="frsRqstUserId" jdbcType="VARCHAR" /> -->
<!--     <result column="RQST_DTM" property="rqstDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="RQST_USER_ID" property="rqstUserId" jdbcType="VARCHAR" /> -->
<!--     <result column="APRV_DTM" property="aprvDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="APRV_USER_ID" property="aprvUserId" jdbcType="VARCHAR" /> -->
  </resultMap>
  <sql id="Base_Column_List" >
    A.RQST_NO, A.RQST_SNO, A.RQST_DTL_SNO, A.DDL_REL_PNM, A.PA_ENTY_PNM, A.PA_ATTR_PNM, A.CH_ENTY_PNM, 
    A.CH_ATTR_PNM, A.DDL_REL_ID, A.DDL_REL_LNM, A.VRF_CD, A.VRF_RMK, A.RQST_DCD, A.REL_TYP_CD, A.CRD_TYP_CD, 
    A.PA_OPT_TYP_CD, A.PA_SUBJ_ID, A.PA_SUBJ_PNM, A.PA_ENTY_ID, A.PA_ATTR_ID, A.CH_SUBJ_ID, A.CH_SUBJ_PNM, 
    A.CH_ENTY_ID, A.CH_ATTR_ID, A.OBJ_DESCN, A.OBJ_VERS, A.REG_TYP_CD, A.FRS_RQST_DTM, A.FRS_RQST_USER_ID, 
    A.RQST_DTM, A.RQST_USER_ID, A.APRV_DTM, A.APRV_USER_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from WAQ_DDL_TSF_REL
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
      and RQST_DTL_SNO = #{rqstDtlSno,jdbcType=DECIMAL}
      and DDL_REL_PNM = #{ddlRelPnm,jdbcType=VARCHAR}
      and PA_ENTY_PNM = #{paEntyPnm,jdbcType=VARCHAR}
      and PA_ATTR_PNM = #{paAttrPnm,jdbcType=VARCHAR}
      and CH_ENTY_PNM = #{chEntyPnm,jdbcType=VARCHAR}
      and CH_ATTR_PNM = #{chAttrPnm,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from WAQ_DDL_TSF_REL
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
      and RQST_DTL_SNO = #{rqstDtlSno,jdbcType=DECIMAL}
      and DDL_REL_PNM = #{ddlRelPnm,jdbcType=VARCHAR}
      and PA_ENTY_PNM = #{paEntyPnm,jdbcType=VARCHAR}
      and PA_ATTR_PNM = #{paAttrPnm,jdbcType=VARCHAR}
      and CH_ENTY_PNM = #{chEntyPnm,jdbcType=VARCHAR}
      and CH_ATTR_PNM = #{chAttrPnm,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="kr.wise.meta.ddltsf.service.WaqDdlTsfRel" >
    insert into WAQ_DDL_TSF_REL (RQST_NO, RQST_SNO, RQST_DTL_SNO, 
      DDL_REL_PNM, PA_ENTY_PNM, PA_ATTR_PNM, 
      CH_ENTY_PNM, CH_ATTR_PNM, DDL_REL_ID, 
      DDL_REL_LNM, VRF_CD, VRF_RMK, 
      RQST_DCD, REL_TYP_CD, CRD_TYP_CD, 
      PA_OPT_TYP_CD, PA_SUBJ_ID, PA_SUBJ_PNM, 
      PA_ENTY_ID, PA_ATTR_ID, CH_SUBJ_ID, 
      CH_SUBJ_PNM, CH_ENTY_ID, CH_ATTR_ID, 
      OBJ_DESCN, OBJ_VERS, REG_TYP_CD, 
      FRS_RQST_DTM, FRS_RQST_USER_ID, RQST_DTM, 
      RQST_USER_ID, APRV_DTM, APRV_USER_ID
      )
    values (#{rqstNo,jdbcType=VARCHAR}, #{rqstSno,jdbcType=DECIMAL}, #{rqstDtlSno,jdbcType=DECIMAL}, 
      #{ddlRelPnm,jdbcType=VARCHAR}, #{paEntyPnm,jdbcType=VARCHAR}, #{paAttrPnm,jdbcType=VARCHAR}, 
      #{chEntyPnm,jdbcType=VARCHAR}, #{chAttrPnm,jdbcType=VARCHAR}, #{ddlRelId,jdbcType=VARCHAR}, 
      #{ddlRelLnm,jdbcType=VARCHAR}, #{vrfCd,jdbcType=VARCHAR}, #{vrfRmk,jdbcType=VARCHAR}, 
      #{rqstDcd,jdbcType=VARCHAR}, #{relTypCd,jdbcType=VARCHAR}, #{crdTypCd,jdbcType=VARCHAR}, 
      #{paOptTypCd,jdbcType=VARCHAR}, #{paSubjId,jdbcType=VARCHAR}, #{paSubjPnm,jdbcType=VARCHAR}, 
      #{paEntyId,jdbcType=VARCHAR}, #{paAttrId,jdbcType=VARCHAR}, #{chSubjId,jdbcType=VARCHAR}, 
      #{chSubjPnm,jdbcType=VARCHAR}, #{chEntyId,jdbcType=VARCHAR}, #{chAttrId,jdbcType=VARCHAR}, 
      #{objDescn,jdbcType=VARCHAR}, #{objVers,jdbcType=DECIMAL}, #{regTypCd,jdbcType=VARCHAR}, 
      #{frsRqstDtm,jdbcType=TIMESTAMP}, #{frsRqstUserId,jdbcType=VARCHAR}, #{rqstDtm,jdbcType=TIMESTAMP}, 
      #{rqstUserId,jdbcType=VARCHAR}, #{aprvDtm,jdbcType=TIMESTAMP}, #{aprvUserId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="kr.wise.meta.ddltsf.service.WaqDdlTsfRel" >
    insert into WAQ_DDL_TSF_REL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rqstNo != null" >
        RQST_NO,
      </if>
      <if test="rqstSno != null" >
        RQST_SNO,
      </if>
      <if test="rqstDtlSno != null" >
        RQST_DTL_SNO,
      </if>
      <if test="ddlRelPnm != null" >
        DDL_REL_PNM,
      </if>
      <if test="paEntyPnm != null" >
        PA_ENTY_PNM,
      </if>
      <if test="paAttrPnm != null" >
        PA_ATTR_PNM,
      </if>
      <if test="chEntyPnm != null" >
        CH_ENTY_PNM,
      </if>
      <if test="chAttrPnm != null" >
        CH_ATTR_PNM,
      </if>
      <if test="ddlRelId != null" >
        DDL_REL_ID,
      </if>
      <if test="ddlRelLnm != null" >
        DDL_REL_LNM,
      </if>
      <if test="vrfCd != null" >
        VRF_CD,
      </if>
      <if test="vrfRmk != null" >
        VRF_RMK,
      </if>
      <if test="rqstDcd != null" >
        RQST_DCD,
      </if>
      <if test="relTypCd != null" >
        REL_TYP_CD,
      </if>
      <if test="crdTypCd != null" >
        CRD_TYP_CD,
      </if>
      <if test="paOptTypCd != null" >
        PA_OPT_TYP_CD,
      </if>
      <if test="paSubjId != null" >
        PA_SUBJ_ID,
      </if>
      <if test="paSubjPnm != null" >
        PA_SUBJ_PNM,
      </if>
      <if test="paEntyId != null" >
        PA_ENTY_ID,
      </if>
      <if test="paAttrId != null" >
        PA_ATTR_ID,
      </if>
      <if test="chSubjId != null" >
        CH_SUBJ_ID,
      </if>
      <if test="chSubjPnm != null" >
        CH_SUBJ_PNM,
      </if>
      <if test="chEntyId != null" >
        CH_ENTY_ID,
      </if>
      <if test="chAttrId != null" >
        CH_ATTR_ID,
      </if>
      <if test="objDescn != null" >
        OBJ_DESCN,
      </if>
      <if test="objVers != null" >
        OBJ_VERS,
      </if>
      <if test="regTypCd != null" >
        REG_TYP_CD,
      </if>
      <if test="frsRqstDtm != null" >
        FRS_RQST_DTM,
      </if>
      <if test="frsRqstUserId != null" >
        FRS_RQST_USER_ID,
      </if>
      <if test="rqstDtm != null" >
        RQST_DTM,
      </if>
      <if test="rqstUserId != null" >
        RQST_USER_ID,
      </if>
      <if test="aprvDtm != null" >
        APRV_DTM,
      </if>
      <if test="aprvUserId != null" >
        APRV_USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rqstNo != null" >
        #{rqstNo,jdbcType=VARCHAR},
      </if>
      <if test="rqstSno != null" >
        #{rqstSno,jdbcType=DECIMAL},
      </if>
      <if test="rqstDtlSno != null" >
        #{rqstDtlSno,jdbcType=DECIMAL},
      </if>
      <if test="ddlRelPnm != null" >
        #{ddlRelPnm,jdbcType=VARCHAR},
      </if>
      <if test="paEntyPnm != null" >
        #{paEntyPnm,jdbcType=VARCHAR},
      </if>
      <if test="paAttrPnm != null" >
        #{paAttrPnm,jdbcType=VARCHAR},
      </if>
      <if test="chEntyPnm != null" >
        #{chEntyPnm,jdbcType=VARCHAR},
      </if>
      <if test="chAttrPnm != null" >
        #{chAttrPnm,jdbcType=VARCHAR},
      </if>
      <if test="ddlRelId != null" >
        #{ddlRelId,jdbcType=VARCHAR},
      </if>
      <if test="ddlRelLnm != null" >
        #{ddlRelLnm,jdbcType=VARCHAR},
      </if>
      <if test="vrfCd != null" >
        #{vrfCd,jdbcType=VARCHAR},
      </if>
      <if test="vrfRmk != null" >
        #{vrfRmk,jdbcType=VARCHAR},
      </if>
      <if test="rqstDcd != null" >
        #{rqstDcd,jdbcType=VARCHAR},
      </if>
      <if test="relTypCd != null" >
        #{relTypCd,jdbcType=VARCHAR},
      </if>
      <if test="crdTypCd != null" >
        #{crdTypCd,jdbcType=VARCHAR},
      </if>
      <if test="paOptTypCd != null" >
        #{paOptTypCd,jdbcType=VARCHAR},
      </if>
      <if test="paSubjId != null" >
        #{paSubjId,jdbcType=VARCHAR},
      </if>
      <if test="paSubjPnm != null" >
        #{paSubjPnm,jdbcType=VARCHAR},
      </if>
      <if test="paEntyId != null" >
        #{paEntyId,jdbcType=VARCHAR},
      </if>
      <if test="paAttrId != null" >
        #{paAttrId,jdbcType=VARCHAR},
      </if>
      <if test="chSubjId != null" >
        #{chSubjId,jdbcType=VARCHAR},
      </if>
      <if test="chSubjPnm != null" >
        #{chSubjPnm,jdbcType=VARCHAR},
      </if>
      <if test="chEntyId != null" >
        #{chEntyId,jdbcType=VARCHAR},
      </if>
      <if test="chAttrId != null" >
        #{chAttrId,jdbcType=VARCHAR},
      </if>
      <if test="objDescn != null" >
        #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="objVers != null" >
        #{objVers,jdbcType=DECIMAL},
      </if>
      <if test="regTypCd != null" >
        #{regTypCd,jdbcType=VARCHAR},
      </if>
      <if test="frsRqstDtm != null" >
        #{frsRqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="frsRqstUserId != null" >
        #{frsRqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="rqstDtm != null" >
        #{rqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="rqstUserId != null" >
        #{rqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="aprvDtm != null" >
        #{aprvDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="aprvUserId != null" >
        #{aprvUserId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="kr.wise.meta.ddltsf.service.WaqDdlTsfRel" >
    update WAQ_DDL_TSF_REL
    <set >
      <if test="ddlRelId != null" >
        DDL_REL_ID = #{ddlRelId,jdbcType=VARCHAR},
      </if>
      <if test="ddlRelLnm != null" >
        DDL_REL_LNM = #{ddlRelLnm,jdbcType=VARCHAR},
      </if>
      <if test="vrfCd != null" >
        VRF_CD = #{vrfCd,jdbcType=VARCHAR},
      </if>
      <if test="vrfRmk != null" >
        VRF_RMK = #{vrfRmk,jdbcType=VARCHAR},
      </if>
      <if test="rqstDcd != null" >
        RQST_DCD = #{rqstDcd,jdbcType=VARCHAR},
      </if>
      <if test="relTypCd != null" >
        REL_TYP_CD = #{relTypCd,jdbcType=VARCHAR},
      </if>
      <if test="crdTypCd != null" >
        CRD_TYP_CD = #{crdTypCd,jdbcType=VARCHAR},
      </if>
      <if test="paOptTypCd != null" >
        PA_OPT_TYP_CD = #{paOptTypCd,jdbcType=VARCHAR},
      </if>
      <if test="paSubjId != null" >
        PA_SUBJ_ID = #{paSubjId,jdbcType=VARCHAR},
      </if>
      <if test="paSubjPnm != null" >
        PA_SUBJ_PNM = #{paSubjPnm,jdbcType=VARCHAR},
      </if>
      <if test="paEntyId != null" >
        PA_ENTY_ID = #{paEntyId,jdbcType=VARCHAR},
      </if>
      <if test="paAttrId != null" >
        PA_ATTR_ID = #{paAttrId,jdbcType=VARCHAR},
      </if>
      <if test="chSubjId != null" >
        CH_SUBJ_ID = #{chSubjId,jdbcType=VARCHAR},
      </if>
      <if test="chSubjPnm != null" >
        CH_SUBJ_PNM = #{chSubjPnm,jdbcType=VARCHAR},
      </if>
      <if test="chEntyId != null" >
        CH_ENTY_ID = #{chEntyId,jdbcType=VARCHAR},
      </if>
      <if test="chAttrId != null" >
        CH_ATTR_ID = #{chAttrId,jdbcType=VARCHAR},
      </if>
      <if test="objDescn != null" >
        OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="objVers != null" >
        OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      </if>
      <if test="regTypCd != null" >
        REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      </if>
      <if test="frsRqstDtm != null" >
        FRS_RQST_DTM = #{frsRqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="frsRqstUserId != null" >
        FRS_RQST_USER_ID = #{frsRqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="rqstDtm != null" >
        RQST_DTM = #{rqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="rqstUserId != null" >
        RQST_USER_ID = #{rqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="aprvDtm != null" >
        APRV_DTM = #{aprvDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="aprvUserId != null" >
        APRV_USER_ID = #{aprvUserId,jdbcType=VARCHAR},
      </if>
    </set>
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
      and RQST_DTL_SNO = #{rqstDtlSno,jdbcType=DECIMAL}
      and DDL_REL_PNM = #{ddlRelPnm,jdbcType=VARCHAR}
      and PA_ENTY_PNM = #{paEntyPnm,jdbcType=VARCHAR}
      and PA_ATTR_PNM = #{paAttrPnm,jdbcType=VARCHAR}
      and CH_ENTY_PNM = #{chEntyPnm,jdbcType=VARCHAR}
      and CH_ATTR_PNM = #{chAttrPnm,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="kr.wise.meta.ddltsf.service.WaqDdlTsfRel" >
    update WAQ_DDL_TSF_REL
    set DDL_REL_ID = #{ddlRelId,jdbcType=VARCHAR},
      DDL_REL_LNM = #{ddlRelLnm,jdbcType=VARCHAR},
      VRF_CD = #{vrfCd,jdbcType=VARCHAR},
      VRF_RMK = #{vrfRmk,jdbcType=VARCHAR},
      RQST_DCD = #{rqstDcd,jdbcType=VARCHAR},
      REL_TYP_CD = #{relTypCd,jdbcType=VARCHAR},
      CRD_TYP_CD = #{crdTypCd,jdbcType=VARCHAR},
      PA_OPT_TYP_CD = #{paOptTypCd,jdbcType=VARCHAR},
      PA_SUBJ_ID = #{paSubjId,jdbcType=VARCHAR},
      PA_SUBJ_PNM = #{paSubjPnm,jdbcType=VARCHAR},
      PA_ENTY_ID = #{paEntyId,jdbcType=VARCHAR},
      PA_ATTR_ID = #{paAttrId,jdbcType=VARCHAR},
      CH_SUBJ_ID = #{chSubjId,jdbcType=VARCHAR},
      CH_SUBJ_PNM = #{chSubjPnm,jdbcType=VARCHAR},
      CH_ENTY_ID = #{chEntyId,jdbcType=VARCHAR},
      CH_ATTR_ID = #{chAttrId,jdbcType=VARCHAR},
      OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      FRS_RQST_DTM = #{frsRqstDtm,jdbcType=TIMESTAMP},
      FRS_RQST_USER_ID = #{frsRqstUserId,jdbcType=VARCHAR},
      RQST_DTM = #{rqstDtm,jdbcType=TIMESTAMP},
      RQST_USER_ID = #{rqstUserId,jdbcType=VARCHAR},
      APRV_DTM = #{aprvDtm,jdbcType=TIMESTAMP},
      APRV_USER_ID = #{aprvUserId,jdbcType=VARCHAR}
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
      and RQST_DTL_SNO = #{rqstDtlSno,jdbcType=DECIMAL}
      and DDL_REL_PNM = #{ddlRelPnm,jdbcType=VARCHAR}
      and PA_ENTY_PNM = #{paEntyPnm,jdbcType=VARCHAR}
      and PA_ATTR_PNM = #{paAttrPnm,jdbcType=VARCHAR}
      and CH_ENTY_PNM = #{chEntyPnm,jdbcType=VARCHAR}
      and CH_ATTR_PNM = #{chAttrPnm,jdbcType=VARCHAR}
  </update>
  
  <insert id="insertByRqstSnoTsf" parameterType="kr.wise.meta.ddl.service.WaqDdlTbl">
  	--DDL 이관테이블 추가시 DDL 관계를 추가한다.
  	INSERT INTO WAQ_DDL_TSF_REL(
	      RQST_NO, RQST_SNO, RQST_DTL_SNO, DDL_REL_ID, DDL_REL_PNM, DDL_REL_LNM, RQST_DCD
	    , REL_TYP_CD, CRD_TYP_CD, PA_OPT_TYP_CD, PA_SUBJ_PNM, PA_ENTY_PNM, PA_ATTR_PNM, CH_SUBJ_PNM, CH_ENTY_PNM, CH_ATTR_PNM
	    , OBJ_DESCN, OBJ_VERS, FRS_RQST_DTM, FRS_RQST_USER_ID, RQST_DTM, RQST_USER_ID
	)
	SELECT 
	  B.RQST_NO, B.RQST_SNO
	  , (SELECT NVL(MAX(RQST_DTL_SNO), 0) FROM WAQ_DDL_TSF_REL WHERE RQST_NO = #{rqstNo} AND RQST_SNO = #{rqstSno} ) + ROWNUM AS RQST_DTL_SNO
	  , C.DDL_REL_ID, C.DDL_REL_PNM, C.DDL_REL_LNM, B.RQST_DCD AS RQST_DCD
	  , C.REL_TYP_CD, C.CRD_TYP_CD, C.PA_OPT_TYP_CD, PS.FULL_PATH, PE.DDL_TBL_PNM, PC.DDL_COL_PNM, CS.FULL_PATH, CE.DDL_TBL_PNM, CC.DDL_COL_PNM
	  , C.OBJ_DESCN, C.OBJ_VERS,  B.FRS_RQST_DTM, B.FRS_RQST_USER_ID, SYSDATE, B.RQST_USER_ID
	  FROM WAM_DDL_TBL A
	 INNER JOIN WAM_PDM_TBL PP
	    ON A.PDM_TBL_ID = PP.PDM_TBL_ID 
	  JOIN WAQ_DDL_TSF_TBL B
	    ON A.DDL_TBL_PNM = B.DDL_TBL_PNM
	INNER JOIN WAM_DDL_REL C
	   ON A.DDL_TBL_ID = C.CH_ENTY_ID
	  AND PP.SUBJ_ID = C.CH_SUBJ_ID
	 LEFT OUTER JOIN WAA_DB_CONN_TRG D
	   ON D.DB_CONN_TRG_PNM = B.TGT_DB_CONN_TRG_PNM
	  AND D.EXP_DTM = TO_DATE( '9999-12-31', 'YYYY-MM-DD')
	  AND D.REG_TYP_CD IN ('C', 'U')
	 LEFT OUTER JOIN WAA_SUBJ PS
	   ON C.PA_SUBJ_ID = PS.SUBJ_ID
	  AND PS.REG_TYP_CD IN ('C', 'U')
	  AND PS.EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
	 LEFT OUTER JOIN WAA_SUBJ CS
	   ON C.CH_SUBJ_ID = CS.SUBJ_ID
	  AND CS.REG_TYP_CD IN ('C', 'U')
	  AND CS.EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
	 LEFT OUTER JOIN WAM_DDL_TBL PE
	   ON C.PA_ENTY_ID = PE.DDL_TBL_ID
	  AND PE.REG_TYP_CD IN ('C', 'U')
	 LEFT OUTER JOIN WAM_DDL_TBL CE
	   ON C.CH_ENTY_ID = CE.DDL_TBL_ID
	  AND CE.REG_TYP_CD IN ('C', 'U')
	 LEFT OUTER JOIN WAM_DDL_COL PC
	   ON C.PA_ATTR_ID = PC.DDL_COL_ID
	  AND C.PA_ENTY_ID = PC.DDL_TBL_ID
	  AND PC.REG_TYP_CD IN ('C', 'U')
	 LEFT OUTER JOIN WAM_DDL_COL CC
	   ON C.CH_ATTR_ID = CC.DDL_COL_ID
	  AND C.CH_ENTY_ID = CC.DDL_TBL_ID
	  AND CC.REG_TYP_CD IN ('C', 'U')
	 
	 
	WHERE B.RQST_NO = #{rqstNo}
	  AND B.RQST_SNO = #{rqstSno}
  </insert>
  
  <delete id="deleteByRqstSnoTsf" parameterType="kr.wise.meta.ddltsf.service.WaqDdlTsfTbl">
    DELETE FROM WAQ_DDL_TSF_REL
    WHERE RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      AND RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </delete>
  
  <select id="selectDdlTsfRelRqstList" parameterType="kr.wise.commons.rqstmst.service.WaqMstr" resultMap="BaseResultMap">
  	SELECT 
  	<include refid="Base_Column_List"/>
  	     , CASE WHEN A.VRF_CD = '2' THEN '#FF0000' END AS FontColor
  	     , U.USER_NM AS RQST_USER_NM
  	  FROM WAQ_DDL_TSF_REL A
  	  LEFT OUTER JOIN WAA_USER U
  	    ON A.RQST_USER_ID = U.USER_ID
  	   AND U.EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
  	   AND U.REG_TYP_CD IN ('C', 'U')
  	 WHERE A.RQST_NO = #{rqstNo}
  	   AND A.RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  	 ORDER BY A.RQST_SNO, A.RQST_DTL_SNO
  	
  </select>
  
  <update id="updateSubjId" parameterType="java.lang.String" >
    UPDATE WAQ_DDL_TSF_REL A
    SET (A.PA_SUBJ_ID, A.CH_SUBJ_ID) = (select B.SUBJ_ID, C.SUBJ_ID
				                          from WAA_SUBJ B
				                         INNER JOIN WAA_SUBJ C
				                            ON 1=1
				                           AND C.REG_TYP_CD IN ('C', 'U')
				                           AND C.EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
				                         where B.REG_TYP_CD IN ('C','U')
				                           AND B.EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
				                           AND B.FULL_PATH = A.PA_SUBJ_PNM
				                           AND C.FULL_PATH = A.CH_SUBJ_PNM
				                          )
       ,A.VRF_CD = '4'
    WHERE A.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
  </update>
  
  <update id="updateEntyAttrId" parameterType="java.lang.String" >
    UPDATE WAQ_DDL_TSF_REL A
    SET (A.PA_ENTY_ID, A.PA_ATTR_ID, A.CH_ENTY_ID, A.CH_ATTR_ID) = (select B.DDL_TBL_ID, C.DDL_COL_ID, D.DDL_TBL_ID, E.DDL_COL_ID
											                          from WAM_DDL_TBL B
											                         INNER JOIN WAM_DDL_TBL D
											                            ON 1=1
											                           AND D.REG_TYP_CD IN ('C', 'U')
											                         INNER JOIN WAM_DDL_COL C
											                            ON B.DDL_TBL_ID = C.DDL_TBL_ID
											                           AND C.REG_TYP_CD IN ('C', 'U')
											                         INNER JOIN WAM_DDL_COL E
											                            ON D.DDL_TBL_ID = E.DDL_TBL_ID
											                           AND E.REG_TYP_CD IN ('C', 'U')
											                         where B.REG_TYP_CD IN ('C', 'U')
											                           AND B.DDL_TBL_PNM = A.PA_ENTY_PNM
											                           AND C.DDL_COL_PNM = A.PA_ATTR_PNM
											                           AND D.DDL_TBL_PNM = A.CH_ENTY_PNM
											                           AND E.DDL_COL_PNM = A.CH_ATTR_PNM
											                          )
       ,A.VRF_CD = '4'
    WHERE A.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
  </update>
  
  <update id="updateCheckInit" parameterType="string">
    --등록유형 업데이트
  	UPDATE WAQ_DDL_TSF_REL A
    SET A.REG_TYP_CD = (select case when A.RQST_DCD = 'DD' then 'D' else case when MAX(B.DDL_REL_ID) IS NULL then 'C' else 'U' end end
                        from WAM_DDL_TSF_REL B
                           inner join WAM_DDL_TSF_TBL C
                              on C.DDL_TBL_ID = B.CH_ENTY_ID
                             and C.REG_TYP_CD in ('C','U')
                           INNER JOIN WAQ_DDL_TSF_TBL D
                              ON C.TGT_DB_SCH_ID = D.TGT_DB_SCH_ID
                             AND C.DDL_TBL_PNM = D.DDL_TBL_PNM
<!--                              AND C.DDL_TBL_LNM = D.DDL_TBL_LNM -->
                             AND D.RQST_NO = #{rqstNo}
                        where B.REG_TYP_CD in ('C','U')
                          and B.DDL_REL_PNM = A.DDL_REL_PNM
<!--                           AND B.DDL_REL_LNM = A.DDL_REL_LNM -->
                          and D.RQST_NO = A.RQST_NO
                          AND D.RQST_SNO = A.RQST_SNO
                          )
       ,A.VRF_CD = '4'
    WHERE A.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
  </update>
  
  <insert id="checkNotChgData" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSnoSql"/>
	--검증쿼리 : 변경사항 없을경우 (DTR00)
      AND A.REG_TYP_CD = 'U'
      AND EXISTS (SELECT 1
            FROM WAM_DDL_TSF_TBL D 
            JOIN WAQ_DDL_TSF_TBL F
              ON F.DDL_TBL_PNM = D.DDL_TBL_PNM
             AND D.SRC_DB_SCH_ID = F.SRC_DB_SCH_ID
             AND D.TGT_DB_SCH_ID = F.TGT_DB_SCH_ID
<!--              AND F.DDL_TBL_LNM = D.DDL_TBL_LNM -->
            JOIN WAM_DDL_TSF_REL E
              ON D.DDL_TBL_ID = E.CH_ENTY_ID
           WHERE F.RQST_NO  = A.RQST_NO
             AND F.RQST_SNO = A.RQST_SNO
             AND A.DDL_REL_PNM = E.DDL_REL_PNM
             AND A.DDL_REL_LNM = E.DDL_REL_LNM
			 and NVL(A.REL_TYP_CD  , '_') = NVL(E.REL_TYP_CD      , '_')
			 and NVL(A.CRD_TYP_CD      , '_') = NVL(E.CRD_TYP_CD      , '_')
			 and NVL(A.PA_OPT_TYP_CD   , '_') = NVL(E.PA_OPT_TYP_CD      , '_')
			 and NVL(A.PA_SUBJ_ID  , '_') = NVL(E.PA_SUBJ_ID, '_')
			 and NVL(A.PA_ENTY_PNM  , '_') = NVL((SELECT DDL_TBL_PNM
				 								    FROM WAM_DDL_TBL
				 								   WHERE REG_TYP_CD IN ('C', 'U')
				 								     AND DDL_TBL_ID = E.PA_ENTY_ID) , '_')
			 and NVL(A.PA_ATTR_PNM  , '_') = NVL((SELECT DDL_COL_PNM
				 								    FROM WAM_DDL_COL
				 								   WHERE REG_TYP_CD IN ('C', 'U')
				 								     AND DDL_COL_ID = E.PA_ATTR_ID) , '_')
			 and NVL(A.CH_SUBJ_ID  , '_') = NVL(E.CH_SUBJ_ID, '_')
			 and NVL(A.CH_ENTY_PNM  , '_') = NVL((SELECT DDL_TBL_PNM
				 								    FROM WAM_DDL_TBL
				 								   WHERE REG_TYP_CD IN ('C', 'U')
				 								     AND DDL_TBL_ID = E.CH_ENTY_ID) , '_')
			 and NVL(A.CH_ATTR_PNM  , '_') = NVL((SELECT DDL_COL_PNM
				 								    FROM WAM_DDL_COL
				 								   WHERE REG_TYP_CD IN ('C', 'U')
				 								     AND DDL_COL_ID = E.CH_ATTR_ID) , '_')
				 								     
          )
  </insert>
  <insert id="checkNotExistPaSubj" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSnoSql"/>
	--검증쿼리 : 부모엔터티 주제영역명 미존재 (DTR01)
    AND A.RQST_DCD = 'CU'
    AND A.PA_SUBJ_ID IS NULL
  </insert> 
  
  <insert id="checkNotExistPaEnty" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSnoSql"/>
	--검증쿼리 : 부모엔터티명 미존재 (DTR02)
    AND A.RQST_DCD = 'CU'
    AND NOT EXISTS (SELECT 1
    				  FROM WAM_DDL_TBL DT
    				 INNER JOIN WAM_PDM_TBL D
    				    ON DT.PDM_TBL_ID = D.PDM_TBL_ID
    				   AND D.REG_TYP_CD IN ('C', 'U')
    				 INNER JOIN WAA_SUBJ E
    				    ON D.SUBJ_ID = E.SUBJ_ID
    				   AND E.REG_TYP_CD IN ('C', 'U')
    				   AND E.EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
    				 WHERE DT.DDL_TBL_PNM = A.PA_ENTY_PNM
    				   AND D.REG_TYP_CD IN ('C', 'U')
    				   AND E.FULL_PATH = A.PA_SUBJ_PNM
    			   )
  </insert>  
  
  <insert id="checkNotExistPaAttr" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSnoSql"/>
	--검증쿼리 : 부모엔터티 속성명 미존재 (DTR03)
    AND A.RQST_DCD = 'CU'
    AND NOT EXISTS (SELECT 1
    				  FROM WAM_DDL_TBL DT
    				 INNER JOIN WAM_DDL_COL DC
    				    ON DT.DDL_TBL_ID = DC.DDL_TBL_ID
    				   AND DC.REG_TYP_CD IN ('C', 'U')
    				 INNER JOIN WAM_PDM_TBL D
    				    ON DT.PDM_TBL_ID = D.PDM_TBL_ID
    				   AND D.REG_TYP_CD IN ('C', 'U')
    				 INNER JOIN WAM_PDM_COL E
    				    ON D.PDM_TBL_ID = E.PDM_TBL_ID
    				   AND E.REG_TYP_CD IN ('C', 'U')
    				 INNER JOIN WAA_SUBJ F
    				    ON D.SUBJ_ID = F.SUBJ_ID
    				   AND F.REG_TYP_CD IN ('C', 'U')
    				   AND F.EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
    				 WHERE DT.DDL_TBL_PNM = A.PA_ENTY_PNM
    				   AND DC.DDL_COL_PNM = A.PA_ATTR_PNM
    				   AND F.FULL_PATH = A.PA_SUBJ_PNM
    				   AND D.REG_TYP_CD IN ('C', 'U')
    			   )
  </insert>  
   
  <insert id="checkNotExistChSubj" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSnoSql"/>
	--검증쿼리 : 자식엔터티 주제영역명 미존재 (DTR04)
    AND A.RQST_DCD = 'CU'
    AND A.CH_SUBJ_ID IS NULL
  </insert>  
  
  <insert id="checkNotExistChEnty" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSnoSql"/>
	--검증쿼리 : 자식엔터티명 미존재 (DTR05)
    AND A.RQST_DCD = 'CU'
    AND NOT EXISTS (SELECT 1
    				  FROM WAM_DDL_TBL DT
    				 INNER JOIN WAM_PDM_TBL D
    				    ON DT.PDM_TBL_ID = D.PDM_TBL_ID
    				   AND D.REG_TYP_CD IN ('C', 'U')
    				 INNER JOIN WAA_SUBJ E
    				    ON D.SUBJ_ID = E.SUBJ_ID
    				   AND E.REG_TYP_CD IN ('C', 'U')
    				   AND E.EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
    				 WHERE DT.DDL_TBL_PNM = A.CH_ENTY_PNM
    				   AND D.REG_TYP_CD IN ('C', 'U')
    				   AND E.FULL_PATH = A.CH_SUBJ_PNM
    			   )
  </insert>  
  
    <insert id="checkNotExistChAttr" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSnoSql"/>
	--검증쿼리 : 자식엔터티 속성명 미존재 (DTR06)
    AND A.RQST_DCD = 'CU'
    AND NOT EXISTS (SELECT 1
    				  FROM WAM_DDL_TBL DT
    				 INNER JOIN WAM_DDL_COL DC
    				    ON DT.DDL_TBL_ID = DC.DDL_TBL_ID
    				   AND DC.REG_TYP_CD IN ('C', 'U')
    				 INNER JOIN WAM_PDM_TBL D
    				    ON DT.PDM_TBL_ID = D.PDM_TBL_ID
    				   AND D.REG_TYP_CD IN ('C', 'U')
    				 INNER JOIN WAM_PDM_COL E
    				    ON D.PDM_TBL_ID = E.PDM_TBL_ID
    				   AND E.REG_TYP_CD IN ('C', 'U')
    				 INNER JOIN WAA_SUBJ F
    				    ON D.SUBJ_ID = F.SUBJ_ID
    				   AND F.REG_TYP_CD IN ('C', 'U')
    				   AND F.EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
    				 WHERE DT.DDL_TBL_PNM = A.CH_ENTY_PNM
    				   AND DC.DDL_COL_PNM = A.CH_ATTR_PNM
    				   AND F.FULL_PATH = A.PA_SUBJ_PNM
    				   AND D.REG_TYP_CD IN ('C', 'U')
    			   )
  </insert>
  
  <update id="updateWaqCUD" parameterType="map">
   	--WAQ ID, VERS 등을 업데이트...
   	UPDATE WAQ_DDL_TSF_REL A
   	   SET (DDL_REL_ID, OBJ_VERS, FRS_RQST_DTM, FRS_RQST_USER_ID) = (
   	   		SELECT
   	   			   D.DDL_REL_ID
   	   			 , NVL(D.OBJ_VERS, 0) + 1 AS OBJ_VERS
				 , D.FRS_RQST_DTM
				 , D.FRS_RQST_USER_ID
			  FROM WAQ_DDL_TSF_TBL B
			 INNER JOIN WAM_DDL_TSF_TBL DT
			    ON B.DDL_TBL_PNM = DT.DDL_TBL_PNM
			   AND DT.REG_TYP_CD IN ('C', 'U')
			 INNER JOIN WAM_PDM_TBL C
			    ON C.PDM_TBL_ID = DT.PDM_TBL_ID
			   AND DT.REG_TYP_CD IN ('C', 'U')
	      	 INNER JOIN WAM_DDL_TSF_REL D
	      	    ON DT.DDL_TBL_ID = D.CH_ENTY_ID
	      	   AND C.SUBJ_ID = D.CH_SUBJ_ID
	      	   AND D.REG_TYP_CD IN ('C', 'U')
	      	 WHERE B.RQST_NO = A.RQST_NO
<!-- 			   AND B.RQST_SNO = A.RQST_SNO -->
			   AND A.CH_SUBJ_ID = D.CH_SUBJ_ID
			   AND A.CH_ENTY_ID = D.CH_ENTY_ID
			   AND A.DDL_REL_PNM = D.DDL_REL_PNM
			   AND B.RVW_STS_CD = '1' --승인대상만...
   	   	   )
	WHERE A.RQST_NO = #{rqstNo}
	  AND A.VRF_CD = '1' --등록가능
	  AND EXISTS (
	  	  SELECT 1
	  		FROM WAQ_DDL_TSF_TBL B
	  		 INNER JOIN WAM_DDL_TSF_TBL DT
	  		    ON B.DDL_TBL_PNM = DT.DDL_TBL_PNM
	  		   AND DT.REG_TYP_CD IN ('C', 'U')
			 INNER JOIN WAM_PDM_TBL C
			    ON DT.PDM_TBL_ID = C.PDM_TBL_ID
			   AND C.REG_TYP_CD IN ('C', 'U')
<!-- 	      	   AND B.PDM_TBL_LNM = C.PDM_TBL_LNM -->
	      	 INNER JOIN WAM_DDL_TSF_REL D
	      	    ON DT.DDL_TBL_ID = D.CH_ENTY_ID
	      	   AND C.SUBJ_ID = D.CH_SUBJ_ID
	      	   AND D.REG_TYP_CD IN ('C', 'U')
	      	 WHERE B.RQST_NO = A.RQST_NO
			   AND B.RQST_SNO = A.RQST_SNO
			   AND A.CH_SUBJ_ID = D.CH_SUBJ_ID
			   AND A.CH_ENTY_ID = D.CH_ENTY_ID
			   AND A.DDL_REL_PNM = D.DDL_REL_PNM
			   AND B.RVW_STS_CD = '1' --승인대상만...
	  )   	   
   	</update>
    
   <update id="updateWaqId" parameterType="map">
   --주제영역 ID, 테이블 ID 업데이트...
   	UPDATE WAQ_DDL_TSF_REL X SET (APRV_DTM, APRV_USER_ID) = (
		SELECT SYSDATE, A.APRV_USER_ID
		  FROM WAQ_DDL_TSF_TBL A
	     WHERE A.RQST_NO = X.RQST_NO
	       AND A.RQST_SNO = X.RQST_SNO
	       AND A.RVW_STS_CD = '1' --승인대상만...	
	) 
	WHERE X.RQST_NO = #{rqstNo}
	  AND X.VRF_CD = '1' --등록가능
   </update>   	
   
   <sql id="wam_col_list">
		  A.DDL_REL_PNM, A.DDL_REL_LNM, A.REL_TYP_CD, A.CRD_TYP_CD, A.PA_OPT_TYP_CD, A.PA_SUBJ_ID, A.PA_ENTY_ID, A.PA_ATTR_ID
		, A.CH_SUBJ_ID, A.CH_ENTY_ID, A.CH_ATTR_ID, A.RQST_NO, A.RQST_SNO, A.RQST_DTL_SNO, A.OBJ_DESCN, A.OBJ_VERS, A.REG_TYP_CD
		, A.FRS_RQST_DTM, A.FRS_RQST_USER_ID, A.RQST_DTM, A.RQST_USER_ID, A.APRV_DTM, A.APRV_USER_ID
	</sql>
   <delete id="deleteWAM" parameterType="map">
    --WAM 삭제 (등록유형코드가REG_TYP_CD 변경, 삭제일 경우)
	DELETE FROM WAM_DDL_TSF_REL A
	 WHERE EXISTS (
		SELECT 1 
		  FROM WAQ_DDL_TSF_TBL B 
	     INNER JOIN WAM_DDL_TSF_TBL D
	        ON B.DDL_TBL_ID = D.DDL_TBL_ID
	     INNER JOIN WAM_PDM_TBL PD
	        ON D.PDM_TBL_ID = PD.PDM_TBL_ID
	       AND PD.REG_TYP_CD IN ('C', 'U')
		 INNER JOIN WAQ_DDL_TSF_REL C
	        ON B.RQST_NO = C.RQST_NO
	       AND B.RQST_SNO = C.RQST_SNO
		 WHERE C.RQST_NO = #{rqstNo}
	       AND D.DDL_TBL_ID = A.CH_ENTY_ID
	       AND PD.SUBJ_ID = A.CH_SUBJ_ID
	       AND C.DDL_REL_PNM = A.DDL_REL_PNM
	       AND B.RVW_STS_CD = '1'
	       AND C.VRF_CD = '1'
	)
   </delete>
   
   <insert id="insertWAM" parameterType="map">
   	--WAM 추가 (WAQ 내용을 추가, REG_TYP_CD 가 신규,변경일 경우)
	INSERT INTO WAM_DDL_TSF_REL
	SELECT 
	    A.DDL_REL_ID
	  , <include refid="wam_col_list"/>
	  FROM WAQ_DDL_TSF_REL A
	  JOIN WAQ_DDL_TSF_TBL B 
	    ON A.RQST_NO = B.RQST_NO
	   AND A.RQST_SNO = B.RQST_SNO
	 WHERE A.RQST_NO = #{rqstNo}
	   AND A.VRF_CD = '1'
	   AND A.REG_TYP_CD IN ('C', 'U')
	   AND B.RVW_STS_CD = '1'
   </insert>
   
   <update id="updateWAH"  parameterType="map">
   	--WAH 이력 만료...
	UPDATE WAH_DDL_TSF_REL A SET EXP_DTM = SYSDATE
	WHERE EXISTS (
		SELECT 1 FROM WAQ_DDL_TSF_TBL B 
	      JOIN WAQ_DDL_TSF_REL C
	        ON B.RQST_NO = C.RQST_NO
	       AND B.RQST_SNO = C.RQST_SNO
	     WHERE C.RQST_NO = #{rqstNo}
	       AND C.CH_SUBJ_ID = A.CH_SUBJ_ID
	       AND C.CH_ENTY_ID = A.CH_ENTY_ID
	       AND C.DDL_REL_PNM = A.DDL_REL_PNM
	       AND C.VRF_CD = '1'
	       AND B.RVW_STS_CD = '1'
	)
	  AND EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
   </update>
   
   <insert id="insertWAH"  parameterType="map">
   	--WAH이력 적재...
	INSERT INTO WAH_DDL_TSF_REL
	SELECT 
			A.DDL_REL_ID
		  , TO_DATE( '9999-12-31', 'YYYY-MM-DD') AS EXP_DTM
		  , SYSDATE AS STR_DTM 
		  , <include refid="wam_col_list"/>
	  FROM WAQ_DDL_TSF_REL A
	  JOIN WAQ_DDL_TSF_TBL B
	    ON B.RQST_NO = A.RQST_NO
	   AND B.RQST_SNO = A.RQST_SNO
	 WHERE A.RQST_NO = #{rqstNo}
	   AND A.VRF_CD = '1'
	   AND B.RVW_STS_CD = '1'
   </insert>   
  
</mapper>