<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.meta.mapping.service.WaqCodMapMapper" >
  <resultMap id="BaseResultMap" type="kr.wise.meta.mapping.service.WaqCodMap" extends="kr.wise.commons.cmm.service.CommonMapper.BaseResultMap">
    <id column="RQST_NO" property="rqstNo" jdbcType="VARCHAR" />
    <id column="RQST_SNO" property="rqstSno" jdbcType="DECIMAL" />
    <result column="RQST_DCD" property="rqstDcd" jdbcType="VARCHAR" />
    <result column="RVW_STS_CD" property="rvwStsCd" jdbcType="VARCHAR" />
    <result column="RVW_CONTS" property="rvwConts" jdbcType="VARCHAR" />
    <result column="VRF_CD" property="vrfCd" jdbcType="VARCHAR" />
    <result column="VRF_RMK" property="vrfRmk" jdbcType="VARCHAR" />
    <result column="OBJ_VERS" property="objVers" jdbcType="DECIMAL" />
    <result column="OBJ_DESCN" property="objDescn" jdbcType="VARCHAR" />
    <result column="REG_TYP_CD" property="regTypCd" jdbcType="VARCHAR" />
    <result column="FRS_RQST_DTM" property="frsRqstDtm" jdbcType="TIMESTAMP" />
    <result column="FRS_RQST_USER_ID" property="frsRqstUserId" jdbcType="VARCHAR" />
    <result column="RQST_DTM" property="rqstDtm" jdbcType="TIMESTAMP" />
    <result column="RQST_USER_ID" property="rqstUserId" jdbcType="VARCHAR" />
    <result column="APRV_DTM" property="aprvDtm" jdbcType="TIMESTAMP" />
    <result column="APRV_USER_ID" property="aprvUserId" jdbcType="VARCHAR" />
    <result column="CD_MAP_ID" property="cdMapId" jdbcType="VARCHAR" />
    <result column="MAP_DF_TYPE" property="mapDfType" jdbcType="VARCHAR" />
    <result column="CD_CNVS_TYPE" property="cdCnvsType" jdbcType="VARCHAR" />
    <result column="CD_MAP_TYPE" property="cdMapType" jdbcType="VARCHAR" />
    <result column="TGT_DMN_ID" property="tgtDmnId" jdbcType="VARCHAR" />
    <result column="TGT_DMN_PNM" property="tgtDmnPnm" jdbcType="VARCHAR" />
    <result column="TGT_DMN_LNM" property="tgtDmnLnm" jdbcType="VARCHAR" />
    <result column="TGT_CD_VAL" property="tgtCdVal" jdbcType="VARCHAR" />
    <result column="TGT_CD_VAL_NM" property="tgtCdValNm" jdbcType="VARCHAR" />
    <result column="SRC_DB_ID" property="srcDbId" jdbcType="VARCHAR" />
    <result column="SRC_DB_PNM" property="srcDbPnm" jdbcType="VARCHAR" />
    <result column="SRC_TBL_ID" property="srcTblId" jdbcType="VARCHAR" />
    <result column="SRC_TBL_LNM" property="srcTblLnm" jdbcType="VARCHAR" />
    <result column="SRC_TBL_PNM" property="srcTblPnm" jdbcType="VARCHAR" />
    <result column="SRC_COL_LNM" property="srcColLnm" jdbcType="VARCHAR" />
    <result column="SRC_COL_PNM" property="srcColPnm" jdbcType="VARCHAR" />
    <result column="SRC_CD_VAL" property="srcCdVal" jdbcType="VARCHAR" />
    <result column="SRC_CD_VAL_NM" property="srcCdValNm" jdbcType="VARCHAR" />
    <result column="SRC_CD_DMN_CD" property="srcCdDmnCd" jdbcType="VARCHAR" />
    
     <result column="TGT_DMNG_LNM" 	property="tgtDmngLnm" jdbcType="VARCHAR" />
     <result column="TGT_CD_VAL_TYP_CD" property="tgtCdValTypCd" jdbcType="VARCHAR" />
     <result column="TGT_CD_VAL_IVW_CD" property="tgtCdValIvwCd" jdbcType="VARCHAR" />
     <result column="TGT_DATA_TYPE" property="tgtDataType" jdbcType="VARCHAR" />
     <result column="TGT_DATA_LEN" property="tgtDataLen" jdbcType="VARCHAR" />
     
    <result column="SRC_BIZ_ID" property="srcBizId" jdbcType="VARCHAR" />
    <result column="SRC_BIZ_NM" property="srcBizNm" jdbcType="VARCHAR" />
    <result column="SRC_SYS_ID" property="srcSysId" jdbcType="VARCHAR" />
    <result column="SRC_SYS_NM" property="srcSysNm" jdbcType="VARCHAR" />
    <result column="SRC_UPP_CD_VAL" property="srcUppCdVal" jdbcType="VARCHAR" />
    <result column="SRC_UPP_CD_VAL_NM" property="srcUppCdValNm" jdbcType="VARCHAR" />
    
    <result column="APP_CRGP_ID" property="appCrgpId" jdbcType="VARCHAR" />
    <result column="APP_CRGP_NM" property="appCrgpNm" jdbcType="VARCHAR" />
    <result column="CNVS_CRGP_ID" property="cnvsCrgpId" jdbcType="VARCHAR" />
    <result column="CNVS_CRGP_NM" property="cnvsCrgpNm" jdbcType="VARCHAR" />
     
  </resultMap>
  <sql id="Base_Column_List" >
    RQST_NO, RQST_SNO, RQST_DCD, RVW_STS_CD, RVW_CONTS, VRF_CD, VRF_RMK, OBJ_VERS, OBJ_DESCN, 
    REG_TYP_CD, FRS_RQST_DTM, FRS_RQST_USER_ID, RQST_DTM, RQST_USER_ID, APRV_DTM, APRV_USER_ID, 
    CD_MAP_ID, MAP_DF_TYPE, CD_CNVS_TYPE, CD_MAP_TYPE, TGT_DMN_ID, TGT_DMN_PNM, TGT_DMN_LNM, 
    TGT_CD_VAL, TGT_CD_VAL_NM, SRC_DB_ID, SRC_DB_PNM, SRC_TBL_ID, SRC_TBL_LNM, SRC_TBL_PNM, 
    SRC_COL_LNM, SRC_COL_PNM, SRC_CD_VAL, SRC_CD_VAL_NM,
    SRC_BIZ_ID, SRC_BIZ_NM, SRC_SYS_ID, SRC_SYS_NM, SRC_UPP_CD_VAL, SRC_UPP_CD_VAL_NM,
    APP_CRGP_ID, APP_CRGP_NM, CNVS_CRGP_ID, CNVS_CRGP_NM, SRC_CD_DMN_CD
  </sql>
  
  <sql id="wam_col" >
    , RQST_NO, RQST_SNO, OBJ_VERS, OBJ_DESCN, 
    REG_TYP_CD, FRS_RQST_DTM, FRS_RQST_USER_ID, RQST_DTM, RQST_USER_ID, APRV_DTM, APRV_USER_ID, 
    MAP_DF_TYPE, CD_CNVS_TYPE, CD_MAP_TYPE, TGT_DMN_ID, TGT_DMN_PNM, TGT_DMN_LNM, 
    TGT_CD_VAL, TGT_CD_VAL_NM, SRC_DB_ID, SRC_DB_PNM, SRC_TBL_ID, SRC_TBL_LNM, SRC_TBL_PNM, 
    SRC_COL_LNM, SRC_COL_PNM, SRC_CD_VAL, SRC_CD_VAL_NM,
    SRC_BIZ_ID, SRC_BIZ_NM, SRC_SYS_ID, SRC_SYS_NM, SRC_UPP_CD_VAL, SRC_UPP_CD_VAL_NM,
    APP_CRGP_ID, APP_CRGP_NM, CNVS_CRGP_ID, CNVS_CRGP_NM, SRC_CD_DMN_CD
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from WAQ_COD_MAP
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from WAQ_COD_MAP
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="kr.wise.meta.mapping.service.WaqCodMap" >
    insert into WAQ_COD_MAP (RQST_NO, RQST_SNO, RQST_DCD, 
      RVW_STS_CD, RVW_CONTS, VRF_CD, 
      VRF_RMK, OBJ_VERS, OBJ_DESCN, 
      REG_TYP_CD, FRS_RQST_DTM, FRS_RQST_USER_ID, 
      RQST_DTM, RQST_USER_ID, APRV_DTM, 
      APRV_USER_ID, CD_MAP_ID, MAP_DF_TYPE, 
      CD_CNVS_TYPE, CD_MAP_TYPE, TGT_DMN_ID, 
      TGT_DMN_PNM, TGT_DMN_LNM, TGT_CD_VAL, 
      TGT_CD_VAL_NM, SRC_DB_ID, SRC_DB_PNM, 
      SRC_TBL_ID, SRC_TBL_LNM, SRC_TBL_PNM, 
      SRC_COL_LNM, SRC_COL_PNM, SRC_CD_VAL, 
      SRC_CD_VAL_NM, SRC_CD_DMN_CD)
    values (#{rqstNo,jdbcType=VARCHAR}, #{rqstSno,jdbcType=DECIMAL}, #{rqstDcd,jdbcType=VARCHAR}, 
      #{rvwStsCd,jdbcType=VARCHAR}, #{rvwConts,jdbcType=VARCHAR}, #{vrfCd,jdbcType=VARCHAR}, 
      #{vrfRmk,jdbcType=VARCHAR}, #{objVers,jdbcType=DECIMAL}, #{objDescn,jdbcType=VARCHAR}, 
      #{regTypCd,jdbcType=VARCHAR}, #{frsRqstDtm,jdbcType=TIMESTAMP}, #{frsRqstUserId,jdbcType=VARCHAR}, 
      #{rqstDtm,jdbcType=TIMESTAMP}, #{rqstUserId,jdbcType=VARCHAR}, #{aprvDtm,jdbcType=TIMESTAMP}, 
      #{aprvUserId,jdbcType=VARCHAR}, #{cdMapId,jdbcType=VARCHAR}, #{mapDfType,jdbcType=VARCHAR}, 
      #{cdCnvsType,jdbcType=VARCHAR}, #{cdMapType,jdbcType=VARCHAR}, #{tgtDmnId,jdbcType=VARCHAR}, 
      #{tgtDmnPnm,jdbcType=VARCHAR}, #{tgtDmnLnm,jdbcType=VARCHAR}, #{tgtCdVal,jdbcType=VARCHAR}, 
      #{tgtCdValNm,jdbcType=VARCHAR}, #{srcDbId,jdbcType=VARCHAR}, #{srcDbPnm,jdbcType=VARCHAR}, 
      #{srcTblId,jdbcType=VARCHAR}, #{srcTblLnm,jdbcType=VARCHAR}, #{srcTblPnm,jdbcType=VARCHAR}, 
      #{srcColLnm,jdbcType=VARCHAR}, #{srcColPnm,jdbcType=VARCHAR}, #{srcCdVal,jdbcType=VARCHAR}, 
      #{srcCdValNm,jdbcType=VARCHAR}, #{srcCdDmnCd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="kr.wise.meta.mapping.service.WaqCodMap" >
  	<selectKey keyProperty="rqstSno" resultType="int" statementType="PREPARED" order="BEFORE">
		SELECT COALESCE(MAX(RQST_SNO), 0) + 1 FROM WAQ_COD_MAP WHERE RQST_NO = #{rqstNo}
  	</selectKey>
    insert into WAQ_COD_MAP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rqstNo != null" >
        RQST_NO,
      </if>
      <if test="rqstSno != null" >
        RQST_SNO,
      </if>
      <if test="rqstDcd != null" >
        RQST_DCD,
      </if>
      <if test="rvwStsCd != null" >
        RVW_STS_CD,
      </if>
      <if test="rvwConts != null" >
        RVW_CONTS,
      </if>
      <if test="vrfCd != null" >
        VRF_CD,
      </if>
      <if test="vrfRmk != null" >
        VRF_RMK,
      </if>
        OBJ_VERS,
      <if test="objDescn != null" >
        OBJ_DESCN,
      </if>
      <if test="regTypCd != null" >
        REG_TYP_CD,
      </if>
      <if test="frsRqstDtm != null" >
        FRS_RQST_DTM,
      </if>
      <if test="frsRqstUserId != null" >
        FRS_RQST_USER_ID,
      </if>
      <if test="rqstDtm != null" >
        RQST_DTM,
      </if>
      <if test="rqstUserId != null" >
        RQST_USER_ID,
      </if>
      <if test="aprvDtm != null" >
        APRV_DTM,
      </if>
      <if test="aprvUserId != null" >
        APRV_USER_ID,
      </if>
      <if test="cdMapId != null" >
        CD_MAP_ID,
      </if>
      <if test="mapDfType != null" >
        MAP_DF_TYPE,
      </if>
      <if test="cdCnvsType != null" >
        CD_CNVS_TYPE,
      </if>
      <if test="cdMapType != null" >
        CD_MAP_TYPE,
      </if>
      <if test="tgtDmnId != null" >
        TGT_DMN_ID,
      </if>
      <if test="tgtDmnPnm != null" >
        TGT_DMN_PNM,
      </if>
      <if test="tgtDmnLnm != null" >
        TGT_DMN_LNM,
      </if>
      <if test="tgtCdVal != null" >
        TGT_CD_VAL,
      </if>
      <if test="tgtCdValNm != null" >
        TGT_CD_VAL_NM,
      </if>
      <if test="srcDbId != null" >
        SRC_DB_ID,
      </if>
      <if test="srcDbPnm != null" >
        SRC_DB_PNM,
      </if>
      <if test="srcTblId != null" >
        SRC_TBL_ID,
      </if>
      <if test="srcTblLnm != null" >
        SRC_TBL_LNM,
      </if>
      <if test="srcTblPnm != null" >
        SRC_TBL_PNM,
      </if>
      <if test="srcColLnm != null" >
        SRC_COL_LNM,
      </if>
      <if test="srcColPnm != null" >
        SRC_COL_PNM,
      </if>
      <if test="srcCdVal != null" >
        SRC_CD_VAL,
      </if>
      <if test="srcCdValNm != null" >
        SRC_CD_VAL_NM,
      </if>
      
      <if test="srcBizId != null" >
       SRC_BIZ_ID,
      </if>
      <if test="srcBizNm != null" >
		SRC_BIZ_NM,
      </if>
      <if test="srcSysId != null" >
		SRC_SYS_ID,
      </if>
      <if test="srcSysNm != null" >
		SRC_SYS_NM,
      </if>
      <if test="srcUppCdVal != null" >
		SRC_UPP_CD_VAL,
      </if>
      <if test="srcUppCdValNm != null" >
		SRC_UPP_CD_VAL_NM,
      </if>
      <if test="appCrgpId != null" >
        APP_CRGP_ID,
      </if>
      <if test="appCrgpNm != null" >
        APP_CRGP_NM,
      </if>
      <if test="cnvsCrgpId != null" >
        CNVS_CRGP_ID,
      </if>
      <if test="cnvsCrgpNm != null" >
        CNVS_CRGP_NM,
      </if>
      <if test="srcCdDmnCd != null" >
        SRC_CD_DMN_CD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rqstNo != null" >
        #{rqstNo,jdbcType=VARCHAR},
      </if>
      <if test="rqstSno != null" >
        #{rqstSno,jdbcType=DECIMAL},
      </if>
      <if test="rqstDcd != null" >
        #{rqstDcd,jdbcType=VARCHAR},
      </if>
      <if test="rvwStsCd != null" >
        #{rvwStsCd,jdbcType=VARCHAR},
      </if>
      <if test="rvwConts != null" >
        #{rvwConts,jdbcType=VARCHAR},
      </if>
      <if test="vrfCd != null" >
        #{vrfCd,jdbcType=VARCHAR},
      </if>
      <if test="vrfRmk != null" >
        #{vrfRmk,jdbcType=VARCHAR},
      </if>
        1 ,
      <if test="objDescn != null" >
        #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="regTypCd != null" >
        #{regTypCd,jdbcType=VARCHAR},
      </if>
      <if test="frsRqstDtm != null" >
        #{frsRqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="frsRqstUserId != null" >
        #{frsRqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="rqstDtm != null" >
        #{rqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="rqstUserId != null" >
        #{rqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="aprvDtm != null" >
        #{aprvDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="aprvUserId != null" >
        #{aprvUserId,jdbcType=VARCHAR},
      </if>
      <if test="cdMapId != null" >
        #{cdMapId,jdbcType=VARCHAR},
      </if>
      <if test="mapDfType != null" >
        #{mapDfType,jdbcType=VARCHAR},
      </if>
      <if test="cdCnvsType != null" >
        #{cdCnvsType,jdbcType=VARCHAR},
      </if>
      <if test="cdMapType != null" >
        #{cdMapType,jdbcType=VARCHAR},
      </if>
      <if test="tgtDmnId != null" >
        #{tgtDmnId,jdbcType=VARCHAR},
      </if>
      <if test="tgtDmnPnm != null" >
        #{tgtDmnPnm,jdbcType=VARCHAR},
      </if>
      <if test="tgtDmnLnm != null" >
        #{tgtDmnLnm,jdbcType=VARCHAR},
      </if>
      <if test="tgtCdVal != null" >
        #{tgtCdVal,jdbcType=VARCHAR},
      </if>
      <if test="tgtCdValNm != null" >
        #{tgtCdValNm,jdbcType=VARCHAR},
      </if>
      <if test="srcDbId != null" >
        #{srcDbId,jdbcType=VARCHAR},
      </if>
      <if test="srcDbPnm != null" >
        #{srcDbPnm,jdbcType=VARCHAR},
      </if>
      <if test="srcTblId != null" >
        #{srcTblId,jdbcType=VARCHAR},
      </if>
      <if test="srcTblLnm != null" >
        #{srcTblLnm,jdbcType=VARCHAR},
      </if>
      <if test="srcTblPnm != null" >
        #{srcTblPnm,jdbcType=VARCHAR},
      </if>
      <if test="srcColLnm != null" >
        #{srcColLnm,jdbcType=VARCHAR},
      </if>
      <if test="srcColPnm != null" >
        #{srcColPnm,jdbcType=VARCHAR},
      </if>
      <if test="srcCdVal != null" >
        #{srcCdVal,jdbcType=VARCHAR},
      </if>
      <if test="srcCdValNm != null" >
        #{srcCdValNm,jdbcType=VARCHAR},
      </if>
       <if test="srcBizId != null" >
        #{srcBizId,jdbcType=VARCHAR},
      </if>
      <if test="srcBizNm != null" >
        #{srcBizNm,jdbcType=VARCHAR},
      </if>
      <if test="srcSysId != null" >
        #{srcSysId,jdbcType=VARCHAR},
      </if>
      <if test="srcSysNm != null" >
        #{srcSysNm,jdbcType=VARCHAR},
      </if>
      <if test="srcUppCdVal != null" >
        #{srcUppCdVal,jdbcType=VARCHAR},
      </if>
      <if test="srcUppCdValNm != null" >
        #{srcUppCdValNm ,jdbcType=VARCHAR},
      </if>
      <if test="appCrgpId != null" >
        #{appCrgpId,jdbcType=VARCHAR},
      </if>
      <if test="appCrgpNm != null" >
        #{appCrgpNm,jdbcType=VARCHAR},
      </if>
      <if test="cnvsCrgpId != null" >
        #{cnvsCrgpId,jdbcType=VARCHAR},
      </if>
      <if test="cnvsCrgpNm != null" >
        #{cnvsCrgpNm,jdbcType=VARCHAR},
      </if>
      <if test="srcCdDmnCd != null" >
        #{srcCdDmnCd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="kr.wise.meta.mapping.service.WaqCodMap" >
    update WAQ_COD_MAP
    <set >
      <if test="rqstDcd != null" >
        RQST_DCD = #{rqstDcd,jdbcType=VARCHAR},
      </if>
      <if test="rvwStsCd != null" >
        RVW_STS_CD = #{rvwStsCd,jdbcType=VARCHAR},
      </if>
      <if test="rvwConts != null" >
        RVW_CONTS = #{rvwConts,jdbcType=VARCHAR},
      </if>
      <if test="vrfCd != null" >
        VRF_CD = #{vrfCd,jdbcType=VARCHAR},
      </if>
      <if test="vrfRmk != null" >
        VRF_RMK = #{vrfRmk,jdbcType=VARCHAR},
      </if>
      <if test="objVers != null" >
        OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      </if>
      <if test="objDescn != null" >
        OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="regTypCd != null" >
        REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      </if>
      <if test="frsRqstDtm != null" >
        FRS_RQST_DTM = #{frsRqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="frsRqstUserId != null" >
        FRS_RQST_USER_ID = #{frsRqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="rqstDtm != null" >
        RQST_DTM = #{rqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="rqstUserId != null" >
        RQST_USER_ID = #{rqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="aprvDtm != null" >
        APRV_DTM = #{aprvDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="aprvUserId != null" >
        APRV_USER_ID = #{aprvUserId,jdbcType=VARCHAR},
      </if>
      <if test="cdMapId != null" >
        CD_MAP_ID = #{cdMapId,jdbcType=VARCHAR},
      </if>
      <if test="mapDfType != null" >
        MAP_DF_TYPE = #{mapDfType,jdbcType=VARCHAR},
      </if>
      <if test="cdCnvsType != null" >
        CD_CNVS_TYPE = #{cdCnvsType,jdbcType=VARCHAR},
      </if>
      <if test="cdMapType != null" >
        CD_MAP_TYPE = #{cdMapType,jdbcType=VARCHAR},
      </if>
      <if test="tgtDmnId != null" >
        TGT_DMN_ID = #{tgtDmnId,jdbcType=VARCHAR},
      </if>
      <if test="tgtDmnPnm != null" >
        TGT_DMN_PNM = #{tgtDmnPnm,jdbcType=VARCHAR},
      </if>
      <if test="tgtDmnLnm != null" >
        TGT_DMN_LNM = #{tgtDmnLnm,jdbcType=VARCHAR},
      </if>
      <if test="tgtCdVal != null" >
        TGT_CD_VAL = #{tgtCdVal,jdbcType=VARCHAR},
      </if>
      <if test="tgtCdValNm != null" >
        TGT_CD_VAL_NM = #{tgtCdValNm,jdbcType=VARCHAR},
      </if>
      <if test="srcDbId != null" >
        SRC_DB_ID = #{srcDbId,jdbcType=VARCHAR},
      </if>
      <if test="srcDbPnm != null" >
        SRC_DB_PNM = #{srcDbPnm,jdbcType=VARCHAR},
      </if>
      <if test="srcTblId != null" >
        SRC_TBL_ID = #{srcTblId,jdbcType=VARCHAR},
      </if>
      <if test="srcTblLnm != null" >
        SRC_TBL_LNM = #{srcTblLnm,jdbcType=VARCHAR},
      </if>
      <if test="srcTblPnm != null" >
        SRC_TBL_PNM = #{srcTblPnm,jdbcType=VARCHAR},
      </if>
      <if test="srcColLnm != null" >
        SRC_COL_LNM = #{srcColLnm,jdbcType=VARCHAR},
      </if>
      <if test="srcColPnm != null" >
        SRC_COL_PNM = #{srcColPnm,jdbcType=VARCHAR},
      </if>
      <if test="srcCdVal != null" >
        SRC_CD_VAL = #{srcCdVal,jdbcType=VARCHAR},
      </if>
      <if test="srcCdValNm != null" >
        SRC_CD_VAL_NM = #{srcCdValNm,jdbcType=VARCHAR},
      </if>
       <if test="srcBizId != null" >
        SRC_BIZ_ID = #{srcBizId,jdbcType=VARCHAR},
      </if>
      <if test="srcBizNm != null" >
        SRC_BIZ_NM = #{srcBizNm,jdbcType=VARCHAR},
      </if>
      <if test="srcSysId != null" >
        SRC_SYS_ID = #{srcSysId,jdbcType=VARCHAR},
      </if>
      <if test="srcSysNm != null" >
        SRC_SYS_NM = #{srcSysNm,jdbcType=VARCHAR},
      </if>
      <if test="srcUppCdVal != null" >
        SRC_UPP_CD_VAL = #{srcUppCdVal,jdbcType=VARCHAR},
      </if>
      <if test="srcUppCdValNm != null" >
        SRC_UPP_CD_VAL_NM = #{srcUppCdValNm,jdbcType=VARCHAR},
      </if>
       <if test="appCrgpId != null" >
        APP_CRGP_ID = #{appCrgpId,jdbcType=VARCHAR},
      </if>
      <if test="appCrgpNm != null" >
        APP_CRGP_NM = #{appCrgpNm,jdbcType=VARCHAR},
      </if>
      <if test="cnvsCrgpId != null" >
        CNVS_CRGP_ID = #{cnvsCrgpId,jdbcType=VARCHAR},
      </if>
      <if test="cnvsCrgpNm != null" >
        CNVS_CRGP_NM = #{cnvsCrgpNm,jdbcType=VARCHAR},
      </if>
      <if test="srcCdDmnCd != null" >
        SRC_CD_DMN_CD = #{srcCdDmnCd,jdbcType=VARCHAR},
      </if>
    </set>
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="kr.wise.meta.mapping.service.WaqCodMap" >
    update WAQ_COD_MAP
    set RQST_DCD = #{rqstDcd,jdbcType=VARCHAR},
      RVW_STS_CD = #{rvwStsCd,jdbcType=VARCHAR},
      RVW_CONTS = #{rvwConts,jdbcType=VARCHAR},
      VRF_CD = #{vrfCd,jdbcType=VARCHAR},
      VRF_RMK = #{vrfRmk,jdbcType=VARCHAR},
      OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      FRS_RQST_DTM = #{frsRqstDtm,jdbcType=TIMESTAMP},
      FRS_RQST_USER_ID = #{frsRqstUserId,jdbcType=VARCHAR},
      RQST_DTM = #{rqstDtm,jdbcType=TIMESTAMP},
      RQST_USER_ID = #{rqstUserId,jdbcType=VARCHAR},
      APRV_DTM = #{aprvDtm,jdbcType=TIMESTAMP},
      APRV_USER_ID = #{aprvUserId,jdbcType=VARCHAR},
      CD_MAP_ID = #{cdMapId,jdbcType=VARCHAR},
      MAP_DF_TYPE = #{mapDfType,jdbcType=VARCHAR},
      CD_CNVS_TYPE = #{cdCnvsType,jdbcType=VARCHAR},
      CD_MAP_TYPE = #{cdMapType,jdbcType=VARCHAR},
      TGT_DMN_ID = #{tgtDmnId,jdbcType=VARCHAR},
      TGT_DMN_PNM = #{tgtDmnPnm,jdbcType=VARCHAR},
      TGT_DMN_LNM = #{tgtDmnLnm,jdbcType=VARCHAR},
      TGT_CD_VAL = #{tgtCdVal,jdbcType=VARCHAR},
      TGT_CD_VAL_NM = #{tgtCdValNm,jdbcType=VARCHAR},
      SRC_DB_ID = #{srcDbId,jdbcType=VARCHAR},
      SRC_DB_PNM = #{srcDbPnm,jdbcType=VARCHAR},
      SRC_TBL_ID = #{srcTblId,jdbcType=VARCHAR},
      SRC_TBL_LNM = #{srcTblLnm,jdbcType=VARCHAR},
      SRC_TBL_PNM = #{srcTblPnm,jdbcType=VARCHAR},
      SRC_COL_LNM = #{srcColLnm,jdbcType=VARCHAR},
      SRC_COL_PNM = #{srcColPnm,jdbcType=VARCHAR},
      SRC_CD_VAL = #{srcCdVal,jdbcType=VARCHAR},
      SRC_CD_VAL_NM = #{srcCdValNm,jdbcType=VARCHAR},
      SRC_CD_DMN_CD = #{srcCdDmnCd,jdbcType=VARCHAR}
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </update>
  
    <select id="selectCodMapDetail" resultMap="BaseResultMap" parameterType="kr.wise.meta.mapping.service.WaqCodMap" >
    -- 코드매핑정의서 요청 상세정보 조회
    select 
    <include refid="Base_Column_List" />
    from WAQ_COD_MAP
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </select>
  
  
   <select id="selectCodMapListbyMst" parameterType="kr.wise.commons.rqstmst.service.WaqMstr" resultMap="BaseResultMap">
  	--코드매핑정의서 요청서 리스트 조회
  	 SELECT A.RQST_NO, A.RQST_SNO, A.RQST_DCD, A.RVW_CONTS, A.VRF_CD, A.VRF_RMK, A.OBJ_VERS, A.OBJ_DESCN 
          , A.REG_TYP_CD, A.FRS_RQST_DTM, A.FRS_RQST_USER_ID, A.RQST_DTM, A.RQST_USER_ID, A.APRV_DTM, A.APRV_USER_ID 
          , A.CD_MAP_ID, A.MAP_DF_TYPE, A.CD_CNVS_TYPE, A.CD_MAP_TYPE, A.TGT_DMN_ID, A.TGT_DMN_PNM, A.TGT_DMN_LNM
          , A.TGT_CD_VAL, A.TGT_CD_VAL_NM, A.SRC_DB_ID, A.SRC_DB_PNM, A.SRC_TBL_ID, A.SRC_TBL_LNM, A.SRC_TBL_PNM 
          , A.SRC_COL_LNM, A.SRC_COL_PNM, A.SRC_CD_VAL, A.SRC_CD_VAL_NM
          , A.SRC_BIZ_ID, A.SRC_BIZ_NM, A.SRC_SYS_ID, A.SRC_SYS_NM, A.SRC_UPP_CD_VAL, A.SRC_UPP_CD_VAL_NM
          , A.APP_CRGP_ID, A.APP_CRGP_NM, A.CNVS_CRGP_ID, A.CNVS_CRGP_NM, A.SRC_CD_DMN_CD
          <if test='rqstStepCd == "Q" '>
          , CASE WHEN A.RVW_STS_CD = '2' THEN '2' ELSE '0' END AS RVW_STS_CD
          </if>
          <if test='rqstStepCd != "Q" '>
          , A.RVW_STS_CD
          </if>          
          , U.USER_NM AS RQST_USER_NM
          , CASE WHEN A.VRF_CD = '2' THEN '#FF0000' ELSE CASE WHEN A.VRF_CD = '5' THEN '#0000FF'  END END AS FontColor
       FROM WAQ_COD_MAP A
            LEFT JOIN WAA_USER U
              ON A.RQST_USER_ID = U.USER_ID
             AND U.EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
             AND U.REG_TYP_CD IN ('C', 'U')
      WHERE A.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      <if test='rqstStepCd == "Q" or rqstStepCd == "A" '>
      	AND A.VRF_CD = '1'
      </if>
      ORDER BY A.RQST_SNO  	
  </select>
  
  <select id="selectTgtCdDmnListbyNm" parameterType="kr.wise.meta.mapping.service.WaqCodMap" resultMap="BaseResultMap">
  	--코드매핑정의서 타겟코드도메인 리스트 조회
  	SELECT A.DMN_ID AS TGT_DMN_ID,
       G.DMNG_LNM AS TGT_DMNG_LNM,
       A.DMN_LNM AS TGT_DMN_LNM,
       A.DMN_PNM AS TGT_DMN_PNM,
       D.CD_VAL AS TGT_CD_VAL,
       D.CD_VAL_NM AS TGT_CD_VAL_NM,
       B.DATA_TYPE AS TGT_DATA_TYPE,
       B.DATA_LEN AS TGT_DATA_LEN, 
       A.CD_VAL_TYP_CD AS TGT_CD_VAL_TYP_CD,
       A.CD_VAL_IVW_CD AS TGT_CD_VAL_IVW_CD             
	FROM WAM_CD_VAL D
	 INNER JOIN WAM_DMN A 
	  ON A.DMN_ID = D.DMN_ID
	 INNER JOIN V_WAA_DMNG G
	  ON A.DMNG_ID = G.DMNG_ID
	 INNER JOIN WAA_INFO_TYPE B
	  ON A.INFOTP_ID = B.INFOTP_ID
	  AND B.EXP_DTM = TO_DATE('99991231','YYYYMMDD')
    <where>
    AND G.FULL_PATH  LIKE '코드%' 
    <if test="tgtDmnLnm != null" >
       AND (A.DMN_LNM LIKE '%' || #{tgtDmnLnm,jdbcType=VARCHAR} || '%'
        	OR A.DMN_PNM LIKE '%' || #{tgtDmnLnm,jdbcType=VARCHAR} || '%')
    </if>
    <if test="tgtCdVal != null" >
       AND D.CD_VAL = #{tgtCdVal,jdbcType=VARCHAR}
    </if>
    <if test="tgtCdValTypCd != null" >
       AND A.CD_VAL_TYP_CD = #{tgtCdValTypCd,jdbcType=VARCHAR}
    </if>
    <if test="tgtCdValIvwCd != null" >
       AND A.CD_VAL_IVW_CD = #{tgtCdValIvwCd,jdbcType=VARCHAR}
    </if>
    </where> 	
    ORDER BY A.DMN_LNM, D.CD_VAL
  </select>
  
  <delete id="deleteByrqstSno" parameterType="kr.wise.meta.mapping.service.WaqCodMap">
  	DELETE FROM WAQ_COD_MAP
  	 WHERE RQST_NO  = #{rqstNo}
  	   AND RQST_SNO = #{rqstSno}
  </delete>
  
  <!-- 검증SQL -->
  <update id="updateCheckInit" parameterType="java.lang.String" >
  --등록유형코드(C/U/D), 검증코드 업데이트
    UPDATE WAQ_COD_MAP A
    SET A.REG_TYP_CD = (SELECT CASE WHEN A.RQST_DCD = 'DD' THEN 'D' ELSE CASE WHEN MAX(B.CD_MAP_ID ) IS NULL THEN 'C' ELSE 'U' END END
                          FROM WAM_COD_MAP B 
                         WHERE B.REG_TYP_CD IN ('C','U')
                            AND    A.TGT_DMN_LNM = B.TGT_DMN_LNM
							AND    A.TGT_CD_VAL = B.TGT_CD_VAL
<!-- 							AND    COALESCE(A.SRC_CD_DMN_CD, 'X') = COALESCE(B.SRC_CD_DMN_CD, 'X') -->
<!-- 							AND    COALESCE(A.SRC_TBL_PNM, 'X') = COALESCE(B.SRC_TBL_PNM, 'X') -->
<!-- 							AND    COALESCE(A.SRC_COL_PNM, 'X') = COALESCE(B.SRC_COL_PNM, 'X') -->
							AND    COALESCE(A.SRC_CD_VAL, 'X') = COALESCE(B.SRC_CD_VAL, 'X')
                       )
       ,A.VRF_CD = '4'
    WHERE A.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
  </update>
  
  <update id="updateTgtDmnInfo" parameterType="string">
  --타겟(TOBE)코드도메인정보 업데이트
    UPDATE WAQ_COD_MAP A
	   SET (A.TGT_DMN_ID, A.TGT_DMN_PNM, A.TGT_CD_VAL_NM)
        = (	 SELECT E.DMN_ID, E.DMN_PNM, D.CD_VAL_NM
        	 FROM WAM_CD_VAL D
			 INNER JOIN WAM_DMN E 
			  ON E.DMN_ID = D.DMN_ID
			 WHERE A.TGT_DMN_LNM = E.DMN_LNM
			   AND A.TGT_CD_VAL = D.CD_VAL
          )
	WHERE A.RQST_NO = #{rqstNo}
	AND A.REG_TYP_CD IN ('C', 'U')
    AND EXISTS ( SELECT 1
                 FROM WAM_CD_VAL D
				 INNER JOIN WAM_DMN E 
				  ON E.DMN_ID = D.DMN_ID
				 WHERE A.TGT_DMN_LNM = E.DMN_LNM
				   AND A.TGT_CD_VAL = D.CD_VAL
                )
  </update>
  
  <update id="updateTgtInfoByCnvsType" parameterType="string">
  --코드전환유형 2(ASIS비매핑대상코드)인 경우 타겟정보 clear
    UPDATE WAQ_COD_MAP A
	   SET A.TGT_DMN_ID = ''
	   , A.TGT_DMN_PNM = ''
	   , A.TGT_DMN_LNM = ''
	   , A.TGT_CD_VAL = ''
	   , A.TGT_CD_VAL_NM = ''
	WHERE A.RQST_NO = #{rqstNo}
	AND A.REG_TYP_CD IN ('C', 'U')
	AND A.CD_CNVS_TYPE = '2'
  </update>
  
   <update id="updateSrcInfoByCnvsType" parameterType="string">
  --코드전환유형 3(TOBE신규코드)인 경우 소스정보 clear
    UPDATE WAQ_COD_MAP A
	   SET A.SRC_DB_ID = ''
	   , A.SRC_DB_PNM = ''
	   , A.SRC_TBL_ID = ''
	   , A.SRC_TBL_LNM = ''
	   , A.SRC_TBL_PNM = ''  
	   , A.SRC_COL_LNM = ''
	   , A.SRC_COL_PNM = ''
	   , A.SRC_CD_VAL = ''
	   , A.SRC_CD_VAL_NM = ''
	   , A.SRC_SYS_ID = ''
	   , A.SRC_SYS_NM = ''
	   , A.SRC_BIZ_ID = ''
	   , A.SRC_BIZ_NM = ''
	   , A.SRC_UPP_CD_VAL = ''
	   , A.SRC_UPP_CD_VAL_NM = ''
	   , A.SRC_CD_DMN_CD = ''
	WHERE A.RQST_NO = #{rqstNo}
	AND A.REG_TYP_CD IN ('C', 'U')
	AND A.CD_CNVS_TYPE = '3'
  </update>
  
  <insert id="checkDupCodMap" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
  	--검증쿼리 : 요청서내 중복 코드매핑정의서(CDM01)
    AND EXISTS (SELECT 1
             FROM WAQ_COD_MAP D
             WHERE A.RQST_NO = D.RQST_NO
               AND    A.TGT_DMN_LNM = D.TGT_DMN_LNM
				AND    A.TGT_CD_VAL = D.TGT_CD_VAL
				AND    COALESCE(A.SRC_CD_DMN_CD, 'X') = COALESCE(D.SRC_CD_DMN_CD, 'X')
				AND    COALESCE(A.SRC_TBL_PNM, 'X') = COALESCE(D.SRC_TBL_PNM, 'X')
				AND    COALESCE(A.SRC_COL_PNM, 'X') = COALESCE(D.SRC_COL_PNM, 'X')
				AND    COALESCE(A.SRC_CD_VAL, 'X') = COALESCE(D.SRC_CD_VAL, 'X')
               AND A.RQST_SNO != D.RQST_SNO)
  </insert>
  
     <insert id="checkNotExistCodMap" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
      --검증쿼리 : 삭제대상 코드매핑정의서 미존재(CDM02)
      AND A.RQST_DCD = 'DD'
      AND NOT EXISTS (SELECT 1
                  FROM WAM_COD_MAP D
                  WHERE A.TGT_DMN_LNM = D.TGT_DMN_LNM
					AND    A.TGT_CD_VAL = D.TGT_CD_VAL
					AND    COALESCE(A.SRC_TBL_PNM, 'X') = COALESCE(D.SRC_TBL_PNM, 'X')
					AND    COALESCE(A.SRC_COL_PNM, 'X') = COALESCE(D.SRC_COL_PNM, 'X')
					AND    COALESCE(A.SRC_CD_VAL, 'X') = COALESCE(D.SRC_CD_VAL, 'X')
                    AND D.REG_TYP_CD IN ('C', 'U'))  
  </insert> 
  
  
     <insert id="checkRequestCodMap" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
  	--검증쿼리 : 요청중인 코드매핑정의서 (CDM03)
    AND EXISTS (
    		SELECT 1 FROM WAQ_MSTR E
             INNER JOIN WAQ_COD_MAP D
             	ON E.RQST_NO = D.RQST_NO
             WHERE E.RQST_NO != #{rqstNo}
               AND E.RQST_STEP_CD = 'Q'
               AND    A.TGT_DMN_LNM = D.TGT_DMN_LNM
			   AND    A.TGT_CD_VAL = D.TGT_CD_VAL
			   AND    COALESCE(A.SRC_TBL_PNM, 'X') = COALESCE(D.SRC_TBL_PNM, 'X')
			   AND    COALESCE(A.SRC_COL_PNM, 'X') = COALESCE(D.SRC_COL_PNM, 'X')
			   AND    COALESCE(A.SRC_CD_VAL, 'X') = COALESCE(D.SRC_CD_VAL, 'X')
               AND COALESCE(D.RVW_STS_CD, 0) != '2' 
               )
  </insert>
  
    <insert id="checkNotExistTgtDmn" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
      --검증쿼리 : 타겟도메인 미존재(CDM04)
      	AND A.REG_TYP_CD IN ('C', 'U')
		AND NOT EXISTS (SELECT 1
		                  FROM WAM_DMN D
		                  WHERE A.TGT_DMN_LNM = D.DMN_LNM
		               ) 
  </insert>
  
        <insert id="checkNotExistTgtCdVal" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
      --검증쿼리 : 타겟코드값 미존재(CDM05)
      	AND A.REG_TYP_CD IN ('C', 'U')
      	AND EXISTS (SELECT 1
		                  FROM WAM_DMN D
		                  WHERE A.TGT_DMN_LNM = D.DMN_LNM
		                    AND D.CD_VAL_TYP_CD = 'O' 
		           ) 
		AND NOT EXISTS ( SELECT 1
		                 FROM WAM_CD_VAL D
						 INNER JOIN WAM_DMN E 
						  ON E.DMN_ID = D.DMN_ID
						 WHERE A.TGT_DMN_LNM = E.DMN_LNM
						   AND A.TGT_CD_VAL = D.CD_VAL
		                )
  </insert>
  
    <insert id="checkNotExistSrcDmn" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
      --검증쿼리 : 소스도메인 미존재(CDM09)
      	AND A.REG_TYP_CD IN ('C', 'U')
		AND NOT EXISTS (SELECT 1
		                  FROM WAM_ASIS_DMN_CD_VAL D
		                  WHERE A.SRC_DMN_LNM = D.ASIS_COL_NM
		               ) 
  </insert>
  
        <insert id="checkNotExistSrcCdVal" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
      --검증쿼리 : 소스코드값 미존재(CDM10)
      	AND A.REG_TYP_CD IN ('C', 'U')
		AND NOT EXISTS ( SELECT 1
		                 FROM WAM_ASIS_DMN_CD_VAL D
						 WHERE A.SRC_CD_VAL = D.CODE_VALUE
		                )
  </insert>
  
  <insert id="checkNotExistSrcInfo" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
      --검증쿼리 : 코드전환유형 1(ASIS매핑대상코드)누락된 소스(ASIS)정보(CDM06)
      	AND A.REG_TYP_CD IN ('C', 'U')
      	AND A.CD_CNVS_TYPE = '1'
		AND (
			--  A.SRC_DB_PNM IS NULL OR
			--    A.SRC_TBL_PNM IS NULL OR  
			    A.SRC_COL_LNM IS NULL
			   OR A.SRC_CD_VAL IS NULL
			   OR A.SRC_CD_VAL_NM IS NULL			   
		    )
		AND CD_MAP_TYPE != '2'
  </insert>
   
  <insert id="checkNotExistSrcInfo1" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
      --검증쿼리 : 코드전환유형 1(ASIS매핑대상코드)누락된 소스(ASIS)정보(CDM06)
      	AND A.REG_TYP_CD IN ('C', 'U')
		AND (
			--  A.SRC_DB_PNM IS NULL OR
			--    A.SRC_TBL_PNM IS NULL OR  
			    A.SRC_COL_LNM IS NULL
			   OR A.SRC_CD_VAL IS NULL
			--   OR A.SRC_CD_VAL_NM IS NULL			   
		    )
		AND CD_MAP_TYPE != '2'
  </insert> 
  
  <insert id="checkRqstUser" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
      --검증쿼리 : 신청자만 수정,삭제 불가(CDM07)
	  AND A.REG_TYP_CD != 'C'
	  AND EXISTS ( SELECT 1
		           FROM WAM_COD_MAP B
		           WHERE DECODE(B.REG_TYP_CD, 'C', B.FRS_RQST_USER_ID, RQST_USER_ID) != B.RQST_USER_ID 
	                 AND    A.TGT_DMN_LNM = B.TGT_DMN_LNM
					 AND    A.TGT_CD_VAL = B.TGT_CD_VAL
					 AND    COALESCE(A.SRC_TBL_PNM, 'X') = COALESCE(B.SRC_TBL_PNM, 'X')
					 AND    COALESCE(A.SRC_COL_PNM, 'X') = COALESCE(B.SRC_COL_PNM, 'X')
					 AND    COALESCE(A.SRC_CD_VAL, 'X') = COALESCE(B.SRC_CD_VAL, 'X')
		          )
  </insert>
  
  
      <insert id="checkAppCrgp" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
      --검증쿼리 : 응용담당자외 등록,수정,삭제 불가(CDM08)
	  AND EXISTS ( SELECT 1
		           FROM WAM_COD_MAP B
		           WHERE 1 = 1
		             AND A.TGT_DMN_LNM = B.TGT_DMN_LNM
					 AND A.TGT_CD_VAL = B.TGT_CD_VAL
		             AND COALESCE(A.APP_CRGP_NM, 'X') != COALESCE(B.APP_CRGP_NM, 'O')
		         )
  </insert>

  <insert id="checkNotChgData" parameterType="map">
	  <!-- <include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>  -->
	   <include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.updateVrfNotChg"/>
	  --검증쿼리 : 변경일 때 변경된 데이터가 없을 경우 (CDM00)
      AND A.REG_TYP_CD = 'U'
      AND EXISTS (
      		SELECT 1 FROM WAM_COD_MAP D
      		 WHERE A.TGT_DMN_LNM = D.TGT_DMN_LNM
				AND    A.TGT_CD_VAL = D.TGT_CD_VAL
				AND    COALESCE(A.SRC_TBL_PNM, 'X') = COALESCE(D.SRC_TBL_PNM, 'X')
				AND    COALESCE(A.SRC_COL_PNM, 'X') = COALESCE(D.SRC_COL_PNM, 'X')
				AND    COALESCE(A.SRC_CD_VAL, 'X') = COALESCE(D.SRC_CD_VAL, 'X')
				AND    COALESCE(A.TGT_CD_VAL_NM, 'X') = COALESCE(D.TGT_CD_VAL_NM, 'X')
				AND    COALESCE(A.SRC_DB_PNM, 'X') = COALESCE(D.SRC_DB_PNM, 'X')
				AND    COALESCE(A.SRC_CD_VAL_NM, 'X') = COALESCE(D.SRC_CD_VAL_NM, 'X') 				 	
				AND    COALESCE(A.SRC_BIZ_ID, 'X') = COALESCE(D.SRC_BIZ_ID, 'X')  	
				AND    COALESCE(A.SRC_BIZ_NM, 'X') = COALESCE(D.SRC_BIZ_NM, 'X')  	
				AND    COALESCE(A.SRC_SYS_ID, 'X') = COALESCE(D.SRC_SYS_ID, 'X')  	
				AND    COALESCE(A.SRC_SYS_NM, 'X') = COALESCE(D.SRC_SYS_NM, 'X')  	
				AND    COALESCE(A.SRC_UPP_CD_VAL, 'X') = COALESCE(D.SRC_UPP_CD_VAL, 'X')  	
				AND    COALESCE(A.SRC_UPP_CD_VAL_NM, 'X') = COALESCE(D.SRC_UPP_CD_VAL_NM, 'X')
				AND    COALESCE(A.SRC_CD_DMN_CD, 'X') = COALESCE(D.SRC_CD_DMN_CD, 'X')
      		)
  </insert>
  
   <!-- 승인/반려 업데이트 -->
  <update id="updatervwStsCd" parameterType="kr.wise.meta.mapping.service.WaqCodMap" >
  	UPDATE WAQ_COD_MAP
  	<set>
  	    RVW_STS_CD 	= #{rvwStsCd} , 
  		RVW_CONTS 	= #{rvwConts} , 
  		APRV_DTM	= NOW() ,
  		APRV_USER_ID = #{aprvUserId} ,
  	</set>
    WHERE RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      AND RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
      AND VRF_CD = '1'
      AND COALESCE(RVW_STS_CD, '_') != '2'
  </update>
  
  <select id="selectWaqC" parameterType="map" resultMap="BaseResultMap">
   	--신규 적재 대상 추출
   	SELECT * FROM WAQ_COD_MAP
   	WHERE RQST_NO = #{rqstNo}
   	  AND RVW_STS_CD = '1'  --승인
   	  AND REG_TYP_CD = 'C'
   </select>
   
    <update id="updateidByKey" parameterType="kr.wise.meta.mapping.service.WaqCodMap">
     --신규 적재 대상 ID 업데이트
     UPDATE WAQ_COD_MAP SET CD_MAP_ID = #{cdMapId,jdbcType=VARCHAR}
  	 WHERE RQST_NO = #{rqstNo,jdbcType=VARCHAR}
       AND RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
   </update>
   
   <update id="updateWaqCUD" parameterType="map">
   	--WAQ ID, VERS 등을 업데이트...
	UPDATE WAQ_COD_MAP A
	SET (CD_MAP_ID, OBJ_VERS, FRS_RQST_DTM, FRS_RQST_USER_ID) = (
	    SELECT 
	          B.CD_MAP_ID AS CD_MAP_ID
	        , COALESCE(B.OBJ_VERS, 0) + 1 AS OBJ_VERS
	        , B.FRS_RQST_DTM
	        , B.FRS_RQST_USER_ID
	    FROM WAM_COD_MAP B
	    WHERE  A.TGT_DMN_LNM = B.TGT_DMN_LNM
		 AND    A.TGT_CD_VAL = B.TGT_CD_VAL
<!-- 		 AND    COALESCE(A.SRC_CD_DMN_CD, 'X') = COALESCE(D.SRC_CD_DMN_CD, 'X') -->
<!-- 		 AND    COALESCE(A.SRC_TBL_PNM, 'X') = COALESCE(B.SRC_TBL_PNM, 'X') -->
<!-- 		 AND    COALESCE(A.SRC_COL_PNM, 'X') = COALESCE(B.SRC_COL_PNM, 'X') -->
		 AND    COALESCE(A.SRC_CD_VAL, 'X') = COALESCE(B.SRC_CD_VAL, 'X')
	)
	WHERE A.RQST_NO = #{rqstNo}
	--AND A.VRF_CD = '1' 		--등록가능
	AND A.RVW_STS_CD = '1'  --승인
	AND EXISTS (
		SELECT 1
		 FROM WAM_COD_MAP B
	     WHERE  A.TGT_DMN_LNM = B.TGT_DMN_LNM
		 AND    A.TGT_CD_VAL = B.TGT_CD_VAL
<!-- 		 AND    COALESCE(A.SRC_CD_DMN_CD, 'X') = COALESCE(D.SRC_CD_DMN_CD, 'X') -->
<!-- 		 AND    COALESCE(A.SRC_TBL_PNM, 'X') = COALESCE(B.SRC_TBL_PNM, 'X') -->
<!-- 		 AND    COALESCE(A.SRC_COL_PNM, 'X') = COALESCE(B.SRC_COL_PNM, 'X') -->
		 AND    COALESCE(A.SRC_CD_VAL, 'X') = COALESCE(B.SRC_CD_VAL, 'X')

	)
   </update>
   
   <delete id="deleteWAM" parameterType="map">
    --WAM 삭제 (등록유형코드가REG_TYP_CD 변경, 삭제일 경우)
	DELETE FROM WAM_COD_MAP A
	WHERE EXISTS (
	    SELECT 1 FROM WAQ_COD_MAP B
	     WHERE B.RQST_NO = #{rqstNo}
	       AND B.RVW_STS_CD = '1'
	       AND A.TGT_DMN_LNM = B.TGT_DMN_LNM
		   AND    A.TGT_CD_VAL = B.TGT_CD_VAL
<!-- 		   AND    COALESCE(A.SRC_CD_DMN_CD, 'X') = COALESCE(D.SRC_CD_DMN_CD, 'X') -->
<!-- 		   AND    COALESCE(A.SRC_TBL_PNM, 'X') = COALESCE(B.SRC_TBL_PNM, 'X') -->
<!-- 		   AND    COALESCE(A.SRC_COL_PNM, 'X') = COALESCE(B.SRC_COL_PNM, 'X') -->
		   AND    COALESCE(A.SRC_CD_VAL, 'X') = COALESCE(B.SRC_CD_VAL, 'X')
	)
   </delete>  
   
   <insert id="insertWAM" parameterType="map">
   	--WAM 추가 (WAQ 내용을 추가, REG_TYP_CD 가 신규,변경일 경우)
	INSERT INTO WAM_COD_MAP 
	SELECT 
		CD_MAP_ID 
	
	<include refid="wam_col"/>
	
	FROM WAQ_COD_MAP A
	WHERE A.RQST_NO = #{rqstNo}
	AND A.RVW_STS_CD = '1'
	AND A.REG_TYP_CD IN ('C', 'U')
   </insert>
   
   <update id="updateWAH"  parameterType="map">
   	--WAH 이력 만료...
	UPDATE WAH_COD_MAP A
	SET EXP_DTM = NOW()
	WHERE EXISTS (
	   SELECT 1 FROM WAQ_COD_MAP B
	    WHERE B.RQST_NO = #{rqstNo}
	      AND B.RVW_STS_CD = '1'
	      AND A.TGT_DMN_LNM = B.TGT_DMN_LNM
		  AND    A.TGT_CD_VAL = B.TGT_CD_VAL
<!-- 		  AND    COALESCE(A.SRC_CD_DMN_CD, 'X') = COALESCE(D.SRC_CD_DMN_CD, 'X') -->
<!-- 		  AND    COALESCE(A.SRC_TBL_PNM, 'X') = COALESCE(B.SRC_TBL_PNM, 'X') -->
<!-- 		  AND    COALESCE(A.SRC_COL_PNM, 'X') = COALESCE(B.SRC_COL_PNM, 'X') -->
		  AND    COALESCE(A.SRC_CD_VAL, 'X') = COALESCE(B.SRC_CD_VAL, 'X')
	    )
	AND EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
   </update>
   
    <insert id="insertWAH"  parameterType="map">
   	--WAH이력 적재...
	INSERT INTO WAH_COD_MAP
	SELECT
	    A.CD_MAP_ID AS CD_MAP_ID
	    , TO_DATE( '9999-12-31', 'YYYY-MM-DD') AS EXP_DTM
	    , NOW() AS STR_DTM 
	
	<include refid="wam_col"/>
   
	 FROM WAQ_COD_MAP A
	WHERE A.RQST_NO = #{rqstNo}
	  AND A.RVW_STS_CD = '1'
   </insert> 
   
  <select id="selectwamlist" parameterType="map" resultMap="BaseResultMap" >
  	--코드매핑정의서 테이블 추가대상 조회...
   		SELECT 
  			((SELECT COALESCE(MAX(RQST_SNO), 0) FROM WAQ_COD_MAP WHERE RQST_NO = #{reqmst.rqstNo}) + (ROW_NUMBER() OVER())) AS RQST_SNO
  		  , 'I' AS IBS_STATUS
		  , CD_MAP_ID , #{reqmst.rqstDcd} AS RQST_DCD
		  , OBJ_VERS, OBJ_DESCN, 
		    REG_TYP_CD, FRS_RQST_DTM, FRS_RQST_USER_ID, RQST_DTM, RQST_USER_ID, APRV_DTM, APRV_USER_ID, 
		    MAP_DF_TYPE, CD_CNVS_TYPE, CD_MAP_TYPE, TGT_DMN_ID, TGT_DMN_PNM, TGT_DMN_LNM, 
		    TGT_CD_VAL, TGT_CD_VAL_NM, SRC_DB_ID, SRC_DB_PNM, SRC_TBL_ID, SRC_TBL_LNM, SRC_TBL_PNM, 
		    SRC_COL_LNM, SRC_COL_PNM, SRC_CD_VAL, SRC_CD_VAL_NM,
			A.SRC_BIZ_ID, A.SRC_BIZ_NM, A.SRC_SYS_ID, A.SRC_SYS_NM, A.SRC_UPP_CD_VAL, A.SRC_UPP_CD_VAL_NM,
			A.APP_CRGP_ID, A.APP_CRGP_NM, A.CNVS_CRGP_ID, A.CNVS_CRGP_NM, A.SRC_CD_DMN_CD
	  FROM WAM_COD_MAP A
	  WHERE A.CD_MAP_ID IN 
	 <foreach collection="list" item="item" open="(" separator="," close=")">
	  	#{item.cdMapId}
	 </foreach>
	   AND A.REG_TYP_CD IN ('C', 'U') 	
  </select>
  
</mapper>