@charset "utf-8";
/* CSS Document */

@import url("develop.css");

/****************************************************************** 리셋 및 템플릿 코딩 *************************************************************/
/* 기본 스타일 
body{font-size:9pt; font-family:dotum, gulim, Verdana, sans-serif; color:#666666; line-height:1.4;}
*/
/* 링크스타일 */
a{color:#666666; cursor:pointer; text-decoration:none;}
a:visited{color:#666666; cursor:pointer; text-decoration:none;}
a:hover, a:focus, a:active{color:#0cacdd; text-decoration:none; cursor:pointer;}

/* 폼 */
select,input,textarea, button{font-family:dotum, gulim, Verdana, sans-serif; font-size:9pt; color:#666666; line-height:1.4;}

/* 요소(element) 여백 초기화  */
html, body, div, span, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, blockquote, p, address, pre, cite, form, fieldset, input, textarea, select, table, th, td {margin:0px; padding:0px;}

/* 제목요소 */
h1, h2, h3, h4, h5, h6 {font-size:100%; font-weight:normal; margin:0px; padding:0px;}

/* 테두리 없애기 */
fieldset, img, abbr,acronym {border:0px none;} 

/* 목록 */
ol, ul, li {list-style:none; margin:0px; padding:0px;}

/* 테이블 - 마크업에 'cellspacing="0"' 지정 함께 필요 
table {border-collapse:separate; border-spacing:0;	border:0 none;}
caption, th, td{text-align:left; font-weight: normal;}
*/


/* 텍스트 관련 요소 초기화 */
address, caption, strong, em, cite {font-weight:normal;	font-style:normal;}
ins {text-decoration:none;}
del {text-decoration:line-through;}

/* 인용문 */
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote,q {quotes:"" "";}

/* 수평선 */
hr{display:none;}

/* 인라인 요소 세로 정렬 부분 */
img, input, select, textarea, label, button{vertical-align:middle;}

/* 숨김 컨텐츠 */
.skipnav, .blind, legend, caption{display:none; position:absolute; top:-9999em; overflow:hidden; font-size:0px; line-height:0px;}





/* 템플릿 */
.bd_none{border:0px none;}
.bg_none{background:none;}

.pd10{padding:0 0 0 10px;}
.pd15{padding:0 0 0 15px;}
.pd20{padding:0 0 0 20px;}
.pd25{padding:0 0 0 25px;}
.pd30{padding:0 0 0 30px;}
.pd35{padding:0 0 0 35px;}
.pd40{padding:0 0 0 40px;}
.pd45{padding:0 0 0 45px;}
.pd50{padding:0 0 0 50px;}
.pd55{padding:0 0 0 55px;}
.pd60{padding:0 0 0 60px;}

.mg10{margin:0 0 0 10px;}
.mg20{margin:0 0 0 20px;}
.mg30{margin:0 0 0 30px;}
.mg40{margin:0 0 0 40px;}
.mg50{margin:0 0 0 50px;}

.ft10{font-size:10pt;}
.ft11{font-size:11pt;}
.ft12{font-size:12pt;}
.ft13{font-size:13pt;}
.ft14{font-size:14pt;}
.ft15{font-size:15pt;}
.ft16{font-size:16pt;}
.ft17{font-size:17pt;}
.ft18{font-size:18pt;}
.ft19{font-size:19pt;}
.ft20{font-size:20pt;}

.lh12{line-height:1.2;}
.lh14{line-height:1.4;}
.lh16{line-height:1.6;}
.lh18{line-height:1.8;}
.lh20{line-height:2;}

.weight_b{font-weight:bold;}
.weight_600{font-weight:600;}

.txt_left{text-align:left;}
.txt_center{text-align:center;}
.txt_right{text-align:right;}

.ellipsis{overflow:hidden; white-space:nowrap; text-overflow:ellipsis; display:block;}

.wd10{width:10px;}
.wd20{width:20px;}
.wd30{width:30px;}
.wd40{width:40px;}
.wd50{width:50px;}
.wd60{width:60px;}
.wd70{width:70px;}
.wd80{width:80px;}
.wd90{width:90px;}
.wd100{width:100px;}
.wd110{width:110px;}
.wd120{width:120px;}
.wd130{width:130px;}
.wd140{width:140px;}
.wd150{width:150px;}
.wd160{width:160px;}
.wd170{width:170px;}
.wd180{width:180px;}
.wd190{width:190px;}
.wd200{width:200px;}
.wd220{width:220px;}
.wd240{width:240px;}
.wd260{width:260px;}
.wd280{width:280px;}
.wd300{width:300px;}
.wd320{width:320px;}
.wd340{width:340px;}
.wd360{width:360px;}
.wd380{width:380px;}
.wd400{width:400px;}
.wd500{width:500px;}
.wd600{width:600px;}
.wd700{width:700px;}
.wd800{width:800px;}

.ht10{height:10px; clear:both;}
.ht20{height:20px; clear:both;}
.ht30{height:30px; clear:both;}
.ht40{height:40px; clear:both;}
.ht50{height:50px; clear:both;}
.ht60{height:60px; clear:both;}
.ht70{height:70px; clear:both;}
.ht80{height:80px; clear:both;}
.ht90{height:90px; clear:both;}
.ht100{height:100px; clear:both;}
.ht200{height:200px; clear:both;}
.ht300{height:300px; clear:both;}
.ht400{height:400px; clear:both;}
.ht500{height:500px; clear:both;}













/* 메인 페이지 */
/* 상단 및 공통 */
.wrap{width:100%;}
.top{width:1000px; height:70px; margin:0px auto; position:relative;}
.top_logo{padding-left:14px; padding-top:20px;}
.top_info{position:absolute; top:34px; right:0px; color:#999999;}
.top_info li{background:url(../img/top_info_dot.gif) no-repeat 0 6px; padding-left:8px; padding-right:6px; float:left;}
.top_info_user{font-weight:bold; color:#666666;}
.top_info_num{font-weight:bold; color:#00b1d7;}
.top_info a{color:#999999;}
.top_info a:visited{color:#999999;}
.top_info a:hover, a:focus, a:active{color:#0cacdd;}

.gnb{background:#9e9e9e; height:40px;}
.gnb_bt{width:1000px; height:40px; margin:0px auto; background:#676767;}
.gnb_bt li{float:left;}

.layer_position{width:1000px; margin:0px auto; position:relative;}
.gnb_all{width:998px; border-left:1px solid #676767; border-right:1px solid #676767; border-bottom:1px solid #676767; background:#FFFFFF;}
.gnb_all_top{border-top:4px solid #00b1d7; background:#f5f5f5; height:32px;}
.gnb_all_tit{float:left; font-size:11pt; font-weight:bold; color:#00b1d7; padding:7px 0px 0px 10px;}
.gnb_all_close{float:right;}

.gnb_all_menu{float:left; width:146px; padding:10px;}
.gnb_all_menu_tit{font-size:11pt; font-weight:bold; height:38px; padding:8px 0px 5px 2px; background:url(../img/gnb_all_menu_tit.gif) no-repeat 0px 35px;}
.gnb_all_menu_list{}
.gnb_all_menu_list li{height:22px; padding-left:10px; background:url(../img/pop_icon_03.gif) no-repeat 3px 5px;}

.quick{width:120px; background:#f7f7f7; border-bottom:1px solid #dadada;}
.quick_list{padding:0px 5px;}
.quick_list li{border-bottom:1px solid #FFFFFF;}



/* footer */
.footer{clear:both; border-top:1px solid #dadada;}
.footer_cont{width:1000px; height:92px; margin:0px auto; position:relative;}
.footer_logo{position:absolute; top:22px; left:10px; }
.footer_address{position:absolute; top:25px; left:130px; font-size:11px;}
.footer_copy{position:absolute; top:40px; left:130px; font-family:tahoma, dotum, gulim, Verdana, sans-serif; font-size:11px; color:#999999;}

/* 메인 컨테이너 */
.container{width:1000px; margin:0px auto;}

/* 메인 통합검색 */
.main_search{width:332px; height:189px; border-left:1px solid #dadada; border-right:1px solid #dadada; border-bottom:1px solid #dadada; float:left; background:#f7f7f7; position:relative;}
.main_search_tit{padding:16px 0px 0px 13px;}
.main_search_input{padding:9px 0px 0px 13px;}
.main_search_input input{width:212px; padding-left:3px; height:26px; border-top:1px solid #b3b3b3; border-left:1px solid #b3b3b3; border-right:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8;}
.main_search_bt{background:#626262; border:1px solid #4c4c4c; color:#e4e4e4; font-size:11pt; font-weight:bold; width:72px; height:28px; letter-spacing:-1px; display:inline-block; cursor:pointer; margin-left:4px;}
.main_search_txt{padding:9px 16px 0px 13px; font-size:11pt; letter-spacing:-1px;}
.main_search_popular{background:#f1f1f1; height:36px; padding-left:13px; position:absolute; bottom:0px; width:319px;}
.main_search_popular_tit{float:left; width:65px; padding-right:7px;}
.main_search_popular_link{float:left; width:200px; padding-top:11px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.main_search_popular_link a{color:#00b1d7; text-decoration:underline; margin-right:5px;}
.main_search_popular_link a:hover{color:#ef3f3e; text-decoration:underline;}


/* 메인 아이콘 바로가기 */
.main_icon{width:665px; height:189px; border-right:1px solid #dadada; border-bottom:1px solid #dadada;  float:left;}
.main_icon_list{margin-top:26px;}
.main_icon_list li{float:left; border-right:1px solid #ececec;}
.main_icon_list li a{height:140px; text-align:center;}
.main_icon_list .bd_none{border:0 none;}



/* 메인페이지탭 */
.main_tab_tit{height:32px; background:url(../img/main_tit_bg.gif) repeat-x; position:relative;}
.main_tab{}
.main_tab li{float:left;}
.main_tab li a{display:block; height:24px; padding:8px 15px 0px 15px; background:url(../img/main_tab_bg.gif) no-repeat right 0; font-weight:bold; color:#999999;}
.main_tab li a:hover{background:url(../img/main_tab_bg_.gif) no-repeat right 0; font-weight:bold; color:#00b1d7;}
.main_tab .main_tab_select a{background:url(../img/main_tab_bg_.gif) no-repeat right 0; font-weight:bold; color:#00b1d7;}


/* 메인 공지사항 리스트 */
.main_bbs{width:332px; height:189px; border-left:1px solid #dadada; border-right:1px solid #dadada; border-bottom:1px solid #dadada; float:left;}
.main_more{position:absolute; top:8px; right:10px;}
.main_more a{display:block; color:#999999; letter-spacing:-1px;}
.main_more span{color:#ef3f3e;}
.main_bbs_list{overflow:auto; margin:20px 15px 0px 15px; display:block;}
.main_bbs_list li{display:block; height:24px;}
.main_bbs_item{float:left; background:url(../img/bbs_list_icon.gif) no-repeat 0 5px; padding-left:7px; width:230px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.main_bbs_date{float:right; font-family:tahoma, dotum, gulim, Verdana, sans-serif; font-size:11px; color:#999999;}


/* 메인 등록요청사항, 결재대상현황 */
.main_data{width:665px; height:189px; border-right:1px solid #dadada; border-bottom:1px solid #dadada; float:left;}
.main_table{width:100%; height:157px;}
.main_table th{height:29px; font-size:11px; background:#f9f9f9; border-right:1px solid #ececec;}
.main_table td{padding:3px 5px; border-right:1px solid #ececec;}
.main_table .bd_none{border:0 none;}
.main_table_ellipsis{display:block; width:250px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}


/* 메인 필수설치파일, 바로가기 */
.main_link{width:332px; height:202px; border-left:1px solid #dadada; border-right:1px solid #dadada; float:left;}

.main_file{float:left; width:165px; height:202px; border-right:1px solid #ececec;}
.main_file_tit{border-bottom:1px solid #ececec; background:url(../img/icon_01.gif) no-repeat 10px 5px; padding-left:32px; padding-top:8px;height:23px; font-weight:bold;}
.main_file_cont{margin-top:18px;}
.main_file_cont li{padding-bottom:4px; text-align:center;}

.main_quick{float:left; width:165px; }
.main_quick_tit{border-bottom:1px solid #ececec; background:url(../img/icon_02.gif) no-repeat 10px 6px; padding-left:32px; padding-top:8px;height:23px; font-weight:bold;}
.main_quick_cont{padding:20px 15px;}
.main_quick_cont li{padding:3px 0px 3px 8px; background:url(../img/main_quick_icon.gif) no-repeat 0 6px;}


/* 메인 차트01 */
.main_chart_01{width:332px;  border-right:1px solid #dadada; float:left;}
.main_chart_01_tit{background:url(../img/icon_03.gif) no-repeat 10px 5px; padding-left:32px; padding-top:8px;height:24px; font-weight:bold;}
.main_chart_01_cont{text-align:center;}

/* 메인 차트02 */
.main_chart_02{width:332px;  border-right:1px solid #dadada; float:left;}
.main_chart_02_tit{background:url(../img/icon_04.gif) no-repeat 10px 5px; padding-left:32px; padding-top:8px;height:24px; font-weight:bold;}
.main_chart_02_cont{text-align:center;}



/* 서브페이지 공통 */
.subcont{width:1000px; margin:0px auto;} /* 왼쪽에 메뉴가 없는 경우 */
.subcont_left{width:1000px; margin:0px auto; background:url(../img/left_bg.gif) repeat-y; overflow:auto;} /* 왼쪽메뉴가 있는 경우 */
.right{float:left; width:800px; margin-left:15px;} /* 왼쪽메뉴가 있을 경우 오른쪽 컨테이너 */

.left{float:left; width:183px; padding:0px 1px;}
.left_tit{}
.left_menu{}
.left_menu li{height:34px; border-bottom:1px solid #ececec;}
.left_menu a{font-size:9pt; display:block; padding:10px 0px 0px 12px; height:24px;}
.left_menu a:visited{color:#666666;}
.left_menu a:hover, .left_menu a:active, .left_menu a:focus{color:#000000; font-weight:bold;}
.left_menu .left_menu_select a{color:#000000; font-weight:bold; background:url(../img/left_menu_icon.gif) no-repeat 160px 12px;}
.left_menu .left_menu_link a{color:#00b1d7; font-weight:bold; background:url(../img/left_menu_icon_link.gif) no-repeat 160px 14px;}
.left_menu .left_menu_link a:hover{color:#00b1d7; font-weight:bold; background:url(../img/left_menu_icon_link.gif) no-repeat 160px 14px;}



.location{color:#999999; font-size:12px; padding:8px 10px; text-align:right;}
.location img{vertical-align:top;}
.stit{background:url(../img/icon_sub_01.gif) no-repeat 0px 0px; padding-left:20px; padding-bottom:8px; font-size:11pt; font-weight:bold; letter-spacing:-1px;}
.stit_02{background:url(../img/icon_sub_02.gif) no-repeat 0 6px; padding:5px 0px 5px 17px; font-weight:bold;}
.stit_02 span{font-size:11px; font-weight:normal; letter-spacing:-1px; color:#999999;}
.stit_02 span a{color:#999999;}


/* 조회 및 등록 테이블 */
.tb_write{width:100%; border-top:1px solid #00b1d7; border-bottom:1px solid #bdbdbd;}
.tb_write th{padding:4px 5px; background:#f9fafa; border-bottom:1px solid #eaeaea; font-weight:normal; min-height:20px; height:20px;}
.tb_write td{padding:4px 5px; border-bottom:1px solid #eaeaea; min-height:20px; height:20px;}
.tb_write .bd_none{border:0px none;}
.tb_write input{border:1px solid #cccccc; height:18px; width:96%;}

/* input 사이즈 조절에 주로 씀 */
.tb_write .wd10{width:10px;}
.tb_write .wd20{width:20px;}
.tb_write .wd30{width:30px;}
.tb_write .wd40{width:40px;}
.tb_write .wd50{width:50px;}
.tb_write .wd60{width:60px;}
.tb_write .wd70{width:70px;}
.tb_write .wd80{width:80px;}
.tb_write .wd90{width:90px;}
.tb_write .wd100{width:100px;}
.tb_write .wd110{width:110px;}
.tb_write .wd120{width:120px;}
.tb_write .wd130{width:130px;}
.tb_write .wd140{width:140px;}
.tb_write .wd150{width:150px;}
.tb_write .wd160{width:160px;}
.tb_write .wd170{width:170px;}
.tb_write .wd180{width:180px;}
.tb_write .wd190{width:190px;}
.tb_write .wd200{width:200px;}
.tb_write .wd220{width:220px;}
.tb_write .wd240{width:240px;}
.tb_write .wd260{width:260px;}
.tb_write .wd280{width:280px;}
.tb_write .wd300{width:300px;}
.tb_write .wd320{width:320px;}
.tb_write .wd340{width:340px;}
.tb_write .wd360{width:360px;}
.tb_write .wd380{width:380px;}
.tb_write .wd400{width:400px;}
.tb_write .wd500{width:500px;}

/* 조회 및 등록 테이블 텍스트 */
.tb_write_txt{padding:5px 10px;}
.tb_write_txt span{color:#e7891a;}



/* 게시판리스트 */
.bbs_num{clear:both; padding-left:7px; padding-bottom:7px; font-size:11px; font-family:tahoma, dotum, gulim, Verdana, sans-serif; color:#0098c4; font-weight:bold;}
.tb_bbslist{width:100%; border-top:1px solid #00b1d7; border-bottom:1px solid #bdbdbd;}
.tb_bbslist th{padding:9px 5px; background:#f9fafa; border-bottom:1px solid #bdbdbd; font-weight:normal; color:#0098c4;}
.tb_bbslist td{padding:8px 5px; border-bottom:1px solid #f2f2f2; text-align:center;}
.tb_bbslist .bd_none{border:0px none;}
.tb_bbslist .txt_left{text-align:left;}
.tb_bbslist input{border:1px solid #cccccc; height:18px;}
.tb_bbslist .link_txt{text-align:left;}
.tb_bbslist .link_txt a{width:280px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; display:block;}


/* 게시판 페이징 */
.paging{text-align:center; padding:10px 0px 10px 0px;}
a.paging_select{display:inline-block; padding:0px 3px; font-size:14px; font-weight:bold; font-family:tahoma, dotum, gulim, Verdana, sans-serif; color:red;}
.paging_num{display:inline-block; padding:0px 3px; font-size:14px; font-weight:600; font-family:tahoma, dotum, gulim, Verdana, sans-serif;}
.paging_navi{display:inline-block; padding:0px 10px;}




/* grid */
.grid_num{clear:both; padding-left:7px; padding-bottom:7px; font-size:11px; font-family:tahoma, dotum, gulim, Verdana, sans-serif; color:#999999; font-weight:bold;}
.tb_grid{border-collapse:collapse; width:100%;}
.tb_grid th, .tb_grid td{border:1px solid #e4e6ea;}
.tb_grid th{background:#7d8188; color:#FFFFFF; height:20px; padding:3px; font-weight:normal;}
.tb_grid td{padding:3px;}

/* grid control */
.tb_grid td div{word-break:break-all; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;} /* div에 넓이만 정해주면 말줄임 적용됨 */
.tb_grid td{text-align:center;} /* 기본은 센터 정렬. td에 클래스 주면 적용됨 */
.tb_grid td.txt_left{text-align:left;}
.tb_grid td.txt_center{text-align:center;}
.tb_grid td.txt_right{text-align:right;}
.tb_grid td.txt_emphasis{color:#ef573e;}

.tb_grid tr.tr_th:hover{cursor:default; background:yellow;}
.tb_grid tr:hover{background:#ffffdc; cursor:pointer;}
.tr_line{background:#f9f9f9;}
.tr_select{background:#ffffdc;}
.tr_emphasis{background:#f9eeff;}
.tr_subtotal{background:#FFFE8E;}
.tr_total{background:#ddf676;}
/* .tr_total{background:#e1ebf5;}background:#ddf676; */




/* 회색 버튼, 파랑 버튼 */
.bt{clear:both; float:right; padding:8px 0px 8px 0px; overflow:auto;}
.bt li{float:left; margin-right:2px;}
a.bt_gray{display:block; padding:4px 14px 0px 14px; height:19px; background:#818181; border:1px solid #797979; color:#FFFFFF; border-radius:4px; font-weight:bold;}
a.bt_gray:hover{background:#626262; border:1px solid #585858; color:#FFFFFF;}
a.bt_blue{display:block; padding:4px 14px 0px 14px; height:19px; background:#4eacd4; border:1px solid #44a3cb; border-radius:4px; font-weight:bold; color:#FFFFFF;}
a.bt_blue:hover{padding:4px 14px 0px 14px; background:#1798d0; border:1px solid #0f90c8; border-radius:4px; font-weight:bold; color:#FFFFFF;}


/* 테이블 내부 버튼 */
/* 날짜 버튼 */
a.tb_bt{display:inline-block; padding:1px 4px 0px 4px; min-width:32px; height:15px; background:#ebebeb; border:1px solid #e6e6e6; font-size:11px; color:#777777; letter-spacing:0px; text-align:center;}
a.tb_bt:hover{background:#bdbdbd; border:1px solid #ababab; color:#FFFFFF;}
a.tb_bt_select{display:inline-block; padding:1px 4px 0px 4px; min-width:32px; height:15px; font-size:11px; letter-spacing:0px; text-align:center; background:#bdbdbd; border:1px solid #ababab; color:#FFFFFF;}

/* 기본버튼 */
a.tb_bt2{display:inline-block; padding:1px 7px 1px 7px; min-width:40px; height:16px; background:#6dc9e1; border:1px solid #5cc0da; color:#FFFFFF; letter-spacing:-1px; text-align:center; vertical-align:middle;}
a.tb_bt2:hover{background:#3bb0d1; border:1px solid #2ba6c8; color:#FFFFFF;}
a.tb_bt2_select{display:inline-block; padding:1px 7px 1px 7px; min-width:40px; height:16px; background:#3bb0d1; border:1px solid #2ba6c8; color:#FFFFFF; letter-spacing:-1px; text-align:center; vertical-align:middle;}



/* 통합검색 페이지 */
.search{height:39px; padding-top:11px; margin-bottom:16px; background:#f7f7f7; border:1px solid #dadada; text-align:center;}
.search_tit{padding:16px 0px 0px 13px;}
.search_input{padding:9px 0px 0px 13px;}
.search_input input{width:300px; padding-left:3px; height:26px; border-top:1px solid #b3b3b3; border-left:1px solid #b3b3b3; border-right:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8;}
.search_bt{background:#626262; border:1px solid #4c4c4c; color:#e4e4e4; font-size:11pt; font-weight:bold; width:72px; height:28px; letter-spacing:-1px; display:inline-block; cursor:pointer; margin-left:4px;}
.search_result{font-size:11px; color:#999999; margin-top:-2px; margin-bottom:20px;}
.search_result span{color:#00b0d6; font-weight:bold;}

.search_tab{height:29px; background:url(../img/search_tab_bg.gif) repeat-x;}
.search_tab li{float:left;}
.search_tab a{display:block; width:110px; height:22px; padding-top:7px; margin-right:2px; background:url(../img/search_tab.gif) no-repeat; color:#999999; font-weight:bold; text-align:center;}
.search_tab a:hover{background:url(../img/search_tab_.gif) no-repeat; color:#000000; font-weight:bold;}
.search_tab .search_tab_select a{display:block; width:110px; height:22px; padding-top:7px; background:url(../img/search_tab_.gif) no-repeat; color:#000000; font-weight:bold; text-align:center;}

.search_txt_01{font-size:13pt; font-weight:bold; padding-top:25px; padding-bottom:10px; clear:both;}
.search_txt_01 span{color:#ef3f3e;}
.search_txt_02{font-size:11pt; font-weight:bold; padding-left:15px; padding-bottom:10px; color:#000000; clear:both;}
a.search_more{font-size:11px; font-weight:normal; margin-left:5px;}
a.search_more span{color:#ef3f3e;}
.search_txt_03{padding-left:30px; padding-bottom:7px; clear:both;}
a.search_txt_03_a{display:inline-block; color:#00b1d7; text-decoration:underline;}
a.search_quick{display:inline-block; padding:2px 8px 0px 8px; height:15px; background:#00b1d7; font-size:11px; color:#FFFFFF; text-align:center; letter-spacing:-1px; border-radius:2px;}
.search_txt_04{padding-left:30px; padding-bottom:7px;}
.search_txt_05{padding-left:20px; padding-bottom:20px; font-size:11px; color:#999999; overflow:auto;}
.search_txt_05 div{float:left; padding-left:10px; padding-right:10px; background:url(../img/search_txt_05_bar.gif) no-repeat right 3px;}
.search_txt_05 .bg_none{background:none;}
.search_line{background:#ececec; height:1px; margin:10px 0px;}



/* 팝업 */
.pop_wrap{background:#f7f7f7;}
.pop_top{height:42px; background:#676767; position:relative;}
.pop_tit_01{font-size:11pt; font-weight:bold; color:#FFFFFF; background:url(../img/pop_icon_01.gif) no-repeat 10px 16px; padding:11px 0px 0px 25px; letter-spacing:-1px;}
.pop_tit_02{background:url(../img/pop_icon_02.gif) no-repeat 0px 3px; padding:0 0 5px 10px; font-weight:bold;}
.pop_tit_03{background:url(../img/pop_icon_03.gif) no-repeat 10px 5px; padding:0 0 5px 20px;}

.pop_close{color:#FFFFFF; position:absolute; top:14px; right:15px;} 
.pop_close a{color:#FFFFFF;}
.pop_close a span{color:#ffe400;}

.pop_container{padding:8px;}
.pop_cont{background:#FFFFFF; border:1px solid #eaeaea; padding:12px; overflow:auto;}

.pop_main_guide{text-align:center;}
.pop_main_bt{border-top:1px solid #eaeaea; margin-top:20px; padding:10px 0px 15px 0px; text-align:right;}

/* 팝업관련 */
/* bt03 가로 사이즈별 _숫자 */
.pop_bt03_57{text-align:center;}
.pop_bt03_57 a{display:inline-block; width:57px; height:20px; padding-top:4px; background:url(../images/bt03_57.gif) no-repeat; text-align:center; color:#FFFFFF; padding-right:1px;}
.pop_bt03_57 a:visited{display:inline-block; width:57px; height:20px; padding-top:4px; background:url(../images/bt03_57.gif) no-repeat; text-align:center; color:#FFFFFF; padding-right:1px;}
.pop_bt03_57 a:hover{display:inline-block; width:57px; height:20px; padding-top:4px; background:url(../images/bt03_57_.gif) no-repeat; text-align:center; color:#FFFFFF; padding-right:1px;}



/* 01_품질관리 */
.s01_bt_data{padding:12px 0px 0px 0px; text-align:right;}



/* 05_품질관리현황 */
.s05_01_01{float:left; margin-left:10px; width:256px;}
.s05_01_01_cont{border:1px solid #e7e7e7; padding:3px 3px 1px 3px;}
.s05_01_01_item{height:30px; background:#f8f8f8; font-weight:bold; position:relative; margin-bottom:2px;}
.s05_01_01_item_01{position:absolute; top:7px; left:10px;}
.s05_01_01_item_02{position:absolute; top:7px; right:10px;}
.s05_01_01_item_02 span{color:#00b1d7;}

.s05_01_02{float:left; margin-left:10px; width:190px;}
.s05_01_02_cont{border:1px solid #e7e7e7; padding:3px 3px 1px 3px;}
.s05_01_02_item{height:36px; background:#f8f8f8; font-weight:bold; position:relative; margin-bottom:2px;}
.s05_01_02_item_01{position:absolute; top:10px; left:10px;}
.s05_01_02_item_02{position:absolute; top:10px; right:10px;}
.s05_01_02_item_02 span{color:#00b1d7;}

.s05_01_03{float:left; margin-left:10px; width:522px;}

.s05_01_04{float:left; margin-left:10px; width:390px;}
.s05_01_05{float:left; margin-left:10px; width:390px;}
.s05_01_06{float:left; margin-left:10px; width:256px;}

.s05_txt_01{color:#999999; padding:5px 0px 0px 3px;}

.s05_02_01{float:left; margin-left:10px; width:390px;}
.s05_02_02{float:left; margin-left:10px; width:390px;}
.s05_02_03{float:left; margin-left:10px; width:390px;}
.s05_02_04{float:left; margin-left:10px; width:390px;}
.s05_02_04_radio{font-weight:normal; display:inline; padding-left:10px;}

.s05_chart{border:1px solid #e8e8e8;}

.s05_chart_tb{width:100%;}
.s05_chart_tb th{background:url(../img/s05_chart_tb_bg.gif) no-repeat -7px -14px; border-bottom:1px solid #FFFFFF; text-align:left; padding:2px 5px 2px 15px;}
.s05_chart_tb td{background:#f4f4f4; height:30px; border-bottom:1px solid #FFFFFF; padding:2px 5px;;}


.s05_txt_01{color:#999999; padding:5px 0px 0px 3px;}
.s05_txt_02{color:#e7891a; padding:5px 0px 0px 3px;}





/* 로그인 */
.login_wrap{width:100%;}
.login_container{width:500px; margin:140px auto 0px auto;}
.login_logo{padding-bottom:10px;}
.login_cont{background:#f4f4f4; border-top:6px solid #676767; overflow:auto;}
.login_form{width:484px; height:134px; margin:0px auto 8px auto; background:url(../img/login_form.gif) no-repeat; position:relative;}

.login_id{position:absolute; top:45px; left:150px;}
.login_id input{width:170px; height:18px; border:0px;}
.login_pass{position:absolute; top:70px; left:150px;}
.login_pass input{width:170px; height:18px; border:0px;}
.login_bt{position:absolute; top:41px; left:330px;}
.login_footer{font-family:tahoma, dotum, gulim, Verdana, sans-serif; font-size:11px; color:#999999; text-align:right; padding-top:5px;}
.login_bt2{position:absolute; top:41px; left:380px;}



/* 로딩중 -> 처리중으로 변경... */
.process_loading{width:200px; height:100px; border:3px solid #d7edff; background:#FFFFFF;}
.loading_img{text-align:center; padding-top:10px; }
.loading_txt{text-align:center; padding-top:10px;}



/* 메인 인기검색어 순위 */
.main_rank_list{border:2px solid #676767; padding:8px; width:134px; position: absolute;}
.main_rank_list li a{display:block; padding:2px 0px 2px 18px; font-weight:bold; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.main_rank_01{background:url(../img/rank_01.gif) no-repeat 0px 2px;}
.main_rank_02{background:url(../img/rank_02.gif) no-repeat 0px 2px;}
.main_rank_03{background:url(../img/rank_03.gif) no-repeat 0px 2px;}
.main_rank_04{background:url(../img/rank_04.gif) no-repeat 0px 2px;}
.main_rank_05{background:url(../img/rank_05.gif) no-repeat 0px 2px;}
.main_rank_06{background:url(../img/rank_06.gif) no-repeat 0px 2px;}
.main_rank_07{background:url(../img/rank_07.gif) no-repeat 0px 2px;}
.main_rank_08{background:url(../img/rank_08.gif) no-repeat 0px 2px;}
.main_rank_09{background:url(../img/rank_09.gif) no-repeat 0px 2px;}
.main_rank_10{background:url(../img/rank_10.gif) no-repeat 0px 2px;}





/* 관리자 서브메뉴 */
.admintop{ height:70px; margin:0px; position:relative;}
.adminContents{padding-left: 40px; padding-right: 10px; padding-top: 10px;}
.m_navi{float:left; width:268px; padding:7px; border:1px solid #bebebe; background:#f5f5f5;}
.m_navi{
	background: #fbfbfb; /* Old browsers */
	background: -moz-linear-gradient(top,  #fbfbfb 1%, #f5f5f5 5%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fbfbfb), color-stop(5%,#f5f5f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fbfbfb 1%,#f5f5f5 5%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fbfbfb 1%,#f5f5f5 5%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fbfbfb 1%,#f5f5f5 5%); /* IE10+ */
	background: linear-gradient(to bottom,  #fbfbfb 1%,#f5f5f5 5%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
	}
.m_navi_tit{font-family:tahoma, Dotum, Gulim, Verdana, AppleGothic, sans-serif; font-size:8pt; text-align:center; height:24px; padding-top:2px; color:#5c5c5c;}
.m_navi_tit_bold{font-weight:bold;}
.m_navi_cont_01{background:#FFFFFF; border:1px solid #bebebe; border-radius:4px; font-family:Dotum, Gulim, Verdana, AppleGothic, sans-serif; font-size:9pt; padding:7px; margin-bottom:7px;}
.m_navi_cont_02{font-family:Dotum, Gulim, Verdana, AppleGothic, sans-serif; font-size:9pt;}
/* .m_navi_cont_02{font-family:Dotum, Gulim, Verdana, AppleGothic, sans-serif; font-size:9pt; padding:7px;} */




.smenu_in{position:absolute; top:61px; left:-294px; width:323px; height:543px; background:url(../images/smenu_bg.gif) no-repeat;}
.smenu_out{position:absolute; top:61px; left:2px; width:323px; height:543px; background:url(../images/smenu_bg.gif) no-repeat;}
.smenu_bg{width:270px; height:498px; float:left; padding:15px;}
.smenu_bt_bar{float:left; padding-top:30px;}

.smenu_mywork{height:16px; padding-top:2px; padding-left:20px; padding-bottom:5px; background:url(../images/smenu_icon_my.gif) no-repeat; font-weight:bold;}
.smenu_favor{height:16px; padding-top:2px; padding-left:20px; padding-bottom:5px; background:url(../images/smenu_icon_favor.gif) no-repeat; font-weight:bold; float:left;}
.smenu_favor_bt{float:right;padding-left:1px;}
.smenu_tit{color:#23518C; font-size:14px; word-spacing:-1px; font-weight:bold; font-family:Dotum, Gulim, Verdana, AppleGothic, sans-serif; text-decoration:none; padding-left:10px;}

.smenu_tree{height:370px; overflow-y:auto;}
.smenu_folder_01{line-height:1.4; font-weight:bold; margin-bottom:4px;}
.smenu_folder_01 img{padding-right:4px;}
.smenu_folder_02{line-height:1.4; font-weight:bold; margin-bottom:4px;}
.smenu_folder_02 img{padding-right:4px;}
.smenu_folder_03{color:#23518C; margin-bottom:4px;}
.smenu_folder_03 a{color:#23518C; margin-bottom:4px; padding:2px;}
.smenu_folder_03 a:visited{color:#23518C; margin-bottom:4px; padding:2px;}
.smenu_folder_03 a:hover{color:#23518C; margin-bottom:4px; padding:2px; background:#EAF4FF;}

.smenu_link {display: inline-block;  vertical-align: bottom;}


/* 서브메뉴 파랑 */
.smenu_bt_bar_in{float:left; width:23px; height:200px; background:url(../images/smenu_bar_blue_in.gif) no-repeat;}
.smenu_bt_bar_in a{float:left; width:23px; height:200px; background:url(../images/smenu_bar_blue_in.gif) no-repeat;}
.smenu_bt_bar_in a:visited{float:left; width:23px; height:200px; background:url(../images/smenu_bar_blue_in.gif) no-repeat;}
.smenu_bt_bar_in a:hover{float:left; width:23px; height:200px; background:url(../images/smenu_bar_blue_in_.gif) no-repeat;}

.smenu_bt_bar_out{float:left; width:23px; height:200px; background:url(../images/smenu_bar_blue_out.gif) no-repeat;}
.smenu_bt_bar_out a{float:left; width:23px; height:200px; background:url(../images/smenu_bar_blue_out.gif) no-repeat;}
.smenu_bt_bar_out a:visited{float:left; width:23px; height:200px; background:url(../images/smenu_bar_blue_out.gif) no-repeat;}
.smenu_bt_bar_out a:hover{float:left; width:23px; height:200px; background:url(../images/smenu_bar_blue_out_.gif) no-repeat;}



.bt02{float:right;}
/* .bt02 li{display:inline;} */

.bt03{float:left;}
/* .bt03 li{display:inline;} */


/* admin input form */
.tb_write2{width:100%; border-top:1px solid #ef3f3e; border-bottom:1px solid #bdbdbd;}
.tb_write2 th{padding:4px 5px; background:#f9fafa; border-bottom:1px solid #eaeaea; font-weight:normal; min-height:20px; height:20px;}
.tb_write2 td{padding:4px 5px; border-bottom:1px solid #eaeaea; min-height:20px; height:20px;}
.tb_write2 .bd_none{border:0px none;}
.tb_write2 input{border:1px solid #cccccc; height:18px; width:96%;}

.tb_write2 .wd10{width:10px;}
.tb_write2 .wd20{width:20px;}
.tb_write2 .wd30{width:30px;}
.tb_write2 .wd40{width:40px;}
.tb_write2 .wd50{width:50px;}
.tb_write2 .wd60{width:60px;}
.tb_write2 .wd70{width:70px;}
.tb_write2 .wd80{width:80px;}
.tb_write2 .wd90{width:90px;}
.tb_write2 .wd100{width:100px;}
.tb_write2 .wd110{width:110px;}
.tb_write2 .wd120{width:120px;}
.tb_write2 .wd130{width:130px;}
.tb_write2 .wd140{width:140px;}
.tb_write2 .wd150{width:150px;}
.tb_write2 .wd160{width:160px;}
.tb_write2 .wd170{width:170px;}
.tb_write2 .wd180{width:180px;}
.tb_write2 .wd190{width:190px;}
.tb_write2 .wd200{width:200px;}
.tb_write2 .wd220{width:220px;}
.tb_write2 .wd240{width:240px;}
.tb_write2 .wd260{width:260px;}
.tb_write2 .wd280{width:280px;}
.tb_write2 .wd300{width:300px;}
.tb_write2 .wd320{width:320px;}
.tb_write2 .wd340{width:340px;}
.tb_write2 .wd360{width:360px;}
.tb_write2 .wd380{width:380px;}
.tb_write2 .wd400{width:400px;}
.tb_write2 .wd500{width:500px;}


