<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.sysinf.erwin.service.R7MartMapper" >
  <resultMap id="BaseResultMap" type="kr.wise.meta.model.service.WaqPdmTbl">
    <id column="PDM_TBL_ID" property="pdmTblId" jdbcType="VARCHAR" />
<!--     <result column="ENTITY_ID" property="entityId" jdbcType="DECIMAL" /> -->
    <result column="PDM_TBL_PNM" property="pdmTblPnm" jdbcType="VARCHAR" />
    <result column="PDM_TBL_LNM" property="pdmTblLnm" jdbcType="VARCHAR" />
<!--     <result column="PDM_COL_PNM" property="pdmColPnm" jdbcType="VARCHAR" /> -->
<!--     <result column="PDM_COL_LNM" property="pdmColLnm" jdbcType="VARCHAR" /> -->
    <result column="SUBJ_ID" property="subjId" jdbcType="VARCHAR" />
    <result column="SUBJ_LNM" property="subjLnm" jdbcType="VARCHAR" />
    <result column="STD_APL_YN" property="stdAplYn" jdbcType="VARCHAR" />
    <result column="PART_TBL_YN" property="partTblYn" jdbcType="VARCHAR" />
    <result column="DW_TRG_TBL_YN" property="dwTrgTblYn" jdbcType="VARCHAR" />
    <result column="CRG_USER_ID" property="crgUserId" jdbcType="VARCHAR" />
    <result column="CRG_USER_NM" property="crgUserNm" jdbcType="VARCHAR" />
<!--     <result column="RQST_NO" property="rqstNo" jdbcType="VARCHAR" /> -->
<!--     <result column="RQST_SNO" property="rqstSno" jdbcType="DECIMAL" /> -->
	<result column="RQST_DCD" property="rqstDcd" jdbcType="VARCHAR" />
    <result column="OBJ_DESCN" property="objDescn" jdbcType="VARCHAR" />
<!--     <result column="OBJ_VERS" property="objVers" jdbcType="DECIMAL" /> -->
    <result column="REG_TYP_CD" property="regTypCd" jdbcType="VARCHAR" />
<!--     <result column="FRS_RQST_DTM" property="frsRqstDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="FRS_RQST_USER_ID" property="frsRqstUserId" jdbcType="VARCHAR" /> -->
<!--     <result column="FRS_RQST_USER_NM" property="frsRqstUserNm" jdbcType="VARCHAR" /> -->
<!--     <result column="RQST_DTM" property="rqstDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="RQST_USER_ID" property="rqstUserId" jdbcType="VARCHAR" /> -->
<!--     <result column="RQST_USER_NM" property="rqstUserNm" jdbcType="VARCHAR" /> -->
<!--     <result column="APRV_DTM" property="aprvDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="APRV_USER_ID" property="aprvUserId" jdbcType="VARCHAR" /> -->
<!--     <result column="APRV_USER_NM" property="aprvUserNm" jdbcType="VARCHAR" /> -->
    <result column="CTD_FCY" property="ctdFcy" jdbcType="VARCHAR" />
    <result column="DEL_CRI" property="delCri" jdbcType="VARCHAR" />
    <result column="DEL_MTD" property="delMtd" jdbcType="VARCHAR" />
    <result column="BCK_FCY" property="bckFcy" jdbcType="VARCHAR" />
    <result column="SYS_AREA_LNM" property="sysAreaLnm" jdbcType="VARCHAR" />
    <result column="SUBJ_LVL_1" property="subjLvl1" jdbcType="VARCHAR" />
    <result column="SUBJ_LVL_2" property="subjLvl2" jdbcType="VARCHAR" />
    <result column="MDL_LNM" property="mdlLnm" jdbcType="VARCHAR" />
    <result column="UPP_SUBJ_LNM" property="uppSubjLnm" jdbcType="VARCHAR" />
<!--     <result column="STR_DTM" jdbcType="TIMESTAMP" property="strDtm" /> -->
<!--     <result column="EXP_DTM" jdbcType="TIMESTAMP" property="expDtm" /> -->
<!--     <result column="SUBJ_LVL" property="subjLvl" jdbcType="VARCHAR" /> -->
    <result column="BF_PDM_TBL_PNM" property="bfPdmTblPnm" jdbcType="VARCHAR" />
<!--     <result column="DATA_TYPE " property="dataType" jdbcType="VARCHAR" /> -->
<!--     <result column="SUBJ_LVL" property="Level" jdbcType="INTEGER" /> -->
    <result column="FULL_PATH" property="fullPath" jdbcType="VARCHAR" />
    <result column="IBS_STATUS" property="ibsStatus" jdbcType="VARCHAR" />
    
    <result column="CATEGORY_NAME" property="category_name" jdbcType="VARCHAR" />
    <result column="MODEL_NAME" property="model_name" jdbcType="VARCHAR" />
    <result column="SUBJECTAREA_NAME" property="subjectarea_name" jdbcType="VARCHAR" />
    <result column="STND_ASRT" property="stndAsrt" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="R7ColResult" type="kr.wise.meta.model.service.WaqPdmCol">
    <result column="RQST_NO" property="rqstNo" jdbcType="VARCHAR" />
    <result column="RQST_SNO" property="rqstSno" jdbcType="DECIMAL" />
<!--     <id column="RQST_DTL_SNO" property="rqstDtlSno" jdbcType="DECIMAL" /> -->
    <result column="PDM_COL_ID" property="pdmColId" jdbcType="VARCHAR" />
    <result column="PDM_COL_PNM" property="pdmColPnm" jdbcType="VARCHAR" />
    <result column="PDM_COL_LNM" property="pdmColLnm" jdbcType="VARCHAR" />
    <result column="BF_PDM_COL_PNM" property="bfPdmColPnm" jdbcType="VARCHAR" />
    <result column="RQST_DCD" property="rqstDcd" jdbcType="VARCHAR" />
<!--     <result column="VRF_CD" property="vrfCd" jdbcType="VARCHAR" /> -->
<!--     <result column="VRF_RMK" property="vrfRmk" jdbcType="VARCHAR" /> -->
    <result column="PDM_TBL_ID" property="pdmTblId" jdbcType="VARCHAR" />
    <result column="PDM_TBL_PNM" property="pdmTblPnm" jdbcType="VARCHAR" />
    <result column="MDL_LNM" property="mdlLnm" jdbcType="VARCHAR" />
    <result column="UPP_SUBJ_LNM" property="uppSubjLnm" jdbcType="VARCHAR" />
    <result column="SUBJ_ID" property="subjId" jdbcType="VARCHAR" />
    <result column="SUBJ_LNM" property="subjLnm" jdbcType="VARCHAR" />
    <result column="SDITM_ID" property="sditmId" jdbcType="VARCHAR" />
    <result column="COL_ORD" property="colOrd" jdbcType="DECIMAL" />
    <result column="DATA_TYPE" property="dataType" jdbcType="VARCHAR" />
    <result column="DATA_LEN" property="dataLen" jdbcType="DECIMAL" />
    <result column="DATA_SCAL" property="dataScal" jdbcType="DECIMAL" />
    <result column="PK_YN" property="pkYn" jdbcType="VARCHAR" />
    <result column="PK_ORD" property="pkOrd" jdbcType="DECIMAL" />
    <result column="NONUL_YN" property="nonulYn" jdbcType="VARCHAR" />
    <result column="DEFLT_VAL" property="defltVal" jdbcType="VARCHAR" />
    <result column="OBJ_DESCN" property="objDescn" jdbcType="VARCHAR" />
<!--     <result column="OBJ_VERS" property="objVers" jdbcType="DECIMAL" /> -->
<!--     <result column="REG_TYP_CD" property="regTypCd" jdbcType="VARCHAR" /> -->
<!--     <result column="FRS_RQST_DTM" property="frsRqstDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="FRS_RQST_USER_ID" property="frsRqstUserId" jdbcType="VARCHAR" /> -->
<!--     <result column="RQST_DTM" property="rqstDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="RQST_USER_ID" property="rqstUserId" jdbcType="VARCHAR" /> -->
<!--     <result column="APRV_DTM" property="aprvDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="APRV_USER_ID" property="aprvUserId" jdbcType="VARCHAR" /> -->
	<result column="IBS_STATUS" property="ibsStatus" jdbcType="VARCHAR" />
  </resultMap>
  
  
   <resultMap id="R7DqRelResult" type="kr.wise.dq.profile.tblrel.service.WaqPrfRelColVO"  >
    <result column="REL_COL_SNO" property="relColSno" jdbcType="DECIMAL" />
    <result column="CH_TBL_DBC_COL_NM" property="chTblDbcColNm" jdbcType="VARCHAR" />
    <result column="PA_TBL_DBC_COL_NM" property="paTblDbcColNm" jdbcType="VARCHAR" />
    
    <result column="PRF_ID" property="prfId" jdbcType="VARCHAR" />
    <result column="PRF_KND_CD" property="prfKndCd" jdbcType="VARCHAR" />
    <result column="PRF_NM" property="prfNm" jdbcType="VARCHAR" />
    <result column="DB_CONN_TRG_ID" property="dbConnTrgId" jdbcType="VARCHAR" />
    <result column="DB_CONN_TRG_PNM" property="dbConnTrgPnm" jdbcType="VARCHAR" />
    <result column="DB_SCH_ID" property="dbSchId" jdbcType="VARCHAR" />
    <result column="DB_SCH_PNM" property="dbSchPnm" jdbcType="VARCHAR" />
    <result column="DBC_TBL_NM" property="dbcTblNm" jdbcType="VARCHAR" />
    <result column="OBJ_NM" property="objNm" jdbcType="VARCHAR" />
    <result column="ADT_CND_SQL" property="adtCndSql" jdbcType="VARCHAR" />
    <result column="HNT_SQL" property="hntSql" jdbcType="VARCHAR" />
    <result column="USE_YN" property="useYn" jdbcType="VARCHAR" />
    
    
     <result column="PA_TBL_DB_CONN_TRG_NM" property="paTblDbConnTrgNm" jdbcType="VARCHAR" />
    <result column="PA_TBL_DBC_SCH_NM" property="paTblDbcSchNm" jdbcType="VARCHAR" />
    <result column="PA_TBL_DBC_TBL_NM" property="paTblDbcTblNm" jdbcType="VARCHAR" />
    <result column="PA_TBL_DB_CONN_TRG_ID" property="paTblDbConnTrgId" jdbcType="VARCHAR" />
    <result column="PA_TBL_DBC_SCH_ID" property="paTblDbcSchId" jdbcType="VARCHAR" />
    <result column="PA_TBL_ADT_CND_SQL" property="paTblAdtCndSql" jdbcType="VARCHAR" />
    
    <result column="RQST_DCD" property="rqstDcd" jdbcType="VARCHAR" />
    <result column="REG_TYP_CD" jdbcType="VARCHAR" property="regTypCd" />
    <result column="IBS_STATUS" jdbcType="VARCHAR" property="ibsStatus" />
<!--     <result column="IBS_STATUS" jdbcType="VARCHAR" property="ibsStatus" /> -->
    
  </resultMap>
  
   <select id="selectMartList" resultMap="BaseResultMap" parameterType="kr.wise.meta.model.service.WaqPdmTbl">
   --R7MART의 테이블 조회
    SELECT	/* R7MartMapper.selectMartList */
	       'N'                 AS IS_SELECT_YN
	      , A.OBJECTID         AS MODEL_ID
	      , A.OBJECTNAME       AS MODEL_KNM
	      , D.OBJECTID         AS PRIMARY_SUBJ_ID
	      , D.OBJECTNAME       AS PRIMARY_SUBJ_KNM
	      , F.OBJECTID         AS SUBJ_ID
	      , F.OBJECTNAME       AS SUBJ_KNM
		  , 'R'                AS GRID_STATUS
	      --, C1.OBJECTID    AS PDM_TBL_ID
	      , CASE WHEN C1.STRINGVALUE IS NULL THEN B1.STRINGVALUE ELSE C1.STRINGVALUE END AS PDM_TBL_PNM
	      , B1.OBJECTID    AS PDM_TBL_ID --ENTITY_ID
	      , B1.STRINGVALUE     AS PDM_TBL_LNM
	      , D1.STRINGVALUE     AS OBJ_DESCN
	      <![CDATA[, A.OBJECTNAME || '>' || D.OBJECTNAME || '>' || F.OBJECTNAME AS FULL_PATH]]>
       	  , CASE WHEN MMART.WISE_M7_INFO.GET_LOGICALONLY(B1.OBJECTID) = 1 THEN 'Y' ELSE 'N' END  AS  IS_LOGICAL_ONLY
       	  , #{stndAsrt,jdbcType=VARCHAR} AS STND_ASRT
       	  , 'C' AS REG_TYP_CD
	FROM    MMART.M7LIBRARY A
	      , MMART.M7OBJECT B
	      , MMART.M7OBJECT C
	      , MMART.M7LIBRARY D
	      , MMART.M7OBJECT E
	      , MMART.M7LIBRARY F
	      , MMART.M7OBJECTPROPERTY A1
	      , MMART.M7OBJECTPROPERTY B1
	      , MMART.M7OBJECTPROPERTY C1
	      , MMART.M7OBJECTPROPERTY D1
	WHERE   1 = 1
	AND     A.OBJECTID      = B.OBJECTID
	AND     B.CLASSID       = 2
	AND     B.OBJECTID      = C.CONTAINERID
	AND     C.CLASSID       = 1075838978
	AND     C.ENDVERSION IS NULL
	AND     C.OBJECTID      = D.OBJECTID
	AND     D.OBJECTID      = E.CONTAINERID
	AND     E.CLASSID       = 1075839014
	AND     E.ENDVERSION IS NULL
	AND     E.OBJECTID      = F.OBJECTID
	<![CDATA[AND     F.OBJECTNAME    != '<Main Subject Area>']]>
	AND     A1.OBJECTID     = F.OBJECTID
	AND     A1.PROPERTYID   = 1075849443
	AND     A1.VALUEOBJECTID = B1.OBJECTID
	AND     B1.PROPERTYID   = 1073742126
	AND     B1.OBJECTID     = C1.OBJECTID(+)
	AND     C1.PROPERTYID(+) = 1075849176
	AND     C1.OBJECTID     = D1.OBJECTID(+)
	AND     D1.PROPERTYID(+) = 1073742125
	AND     NVL(D1.VALUESEQUENCECOUNT,0) = 0
	<if test="category_name != '' and category_name != null " >
	AND A.OBJECTNAME = #{category_name,jdbcType=VARCHAR}
	</if>
	<if test="model_name != '' and model_name != null " >
	AND D.OBJECTNAME = #{model_name,jdbcType=VARCHAR}
	</if>
	<if test="subjectarea_name != '' and subjectarea_name != null " >
	AND F.OBJECTNAME = #{subjectarea_name,jdbcType=VARCHAR}
	</if>
	<if test="pdmTblLnm != '' and pdmTblLnm != null " >
	AND (UPPER(B1.STRINGVALUE) LIKE UPPER('%'||#{pdmTblLnm,jdbcType=VARCHAR}||'%')
			OR UPPER(C1.STRINGVALUE) LIKE UPPER('%'||#{pdmTblLnm,jdbcType=VARCHAR}||'%')
		)
	</if>
	
	ORDER BY MODEL_KNM, PRIMARY_SUBJ_KNM, SUBJ_KNM, PDM_TBL_LNM
   </select>
   
   <select id="selectmartlist" parameterType="map" resultMap="BaseResultMap" >
  	--R7 마트 테이블 추가대상 조회...
	   SELECT /* R7MartMapper.selectmartlist */
	   		RQST_NO
	      , 'I' AS IBS_STATUS
	      ,MAX(PDM_TBL_ID) AS PDM_TBL_ID
	      ,TRIM(PDM_TBL_LNM) AS PDM_TBL_LNM
	      ,TRIM(PDM_TBL_PNM) AS PDM_TBL_PNM
	      ,MAX(DESCRIPTION) AS  OBJ_DESCN
	      <![CDATA[,MDL_LNM || '>' || UPP_SUBJ_LNM || '>' || SUBJ_LNM AS 	FULL_PATH]]>
	      /*
	      , MAX(UDP_ROW_BAK_FCY) AS BCK_FCY
	      , '' AS DEL_CRI
	      , '' AS DEL_MTD
	      , MAX(UDP_ROW_DEL_FCY_UNIT)
	      , MAX(UDP_ROW_CTD_FCY) AS CTD_FCY
	      , MAX(UDP_ROW_CTD_FCY_UNIT)
	      */
	      , 'CU' AS RQST_DCD
	      , MDL_LNM, UPP_SUBJ_LNM, SUBJ_LNM
	      , #{reqmst.stndAsrt} AS STND_ASRT
	  FROM (
	        SELECT   DISTINCT #{reqmst.rqstNo} AS RQST_NO 
			      ,A.OBJECTNAME AS MDL_LNM
			      ,D.OBJECTNAME AS UPP_SUBJ_LNM
			      ,F.OBJECTNAME AS SUBJ_LNM
			      , H.OBJECTID    AS PDM_TBL_ID
			      ,NVL(H.STRINGVALUE, I.STRINGVALUE) AS PDM_TBL_LNM
			      ,NVL(I.STRINGVALUE, H.STRINGVALUE) AS PDM_TBL_PNM
			      ,NVL(H.OBJECTID, I.OBJECTID) AS ENTITY_ID
			      ,MMART.WISE_M7_INFO.GET_ENTITY_DEFINITION(H.OBJECTID) AS DESCRIPTION
			      /*
			      ,MMART.WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ROW_INIT_CNT_NM', 'Logical', 'Entity') AS UDP_ROW_INIT_CNT
			      ,MMART.WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ROW_INIT_CNT_UNIT_NM', 'Logical', 'Entity') AS UDP_ROW_INIT_CNT_UNIT
			      ,MMART.WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ROW_INC_CNT_NM', 'Logical', 'Entity') AS UDP_ROW_INC_CNT
			      ,MMART.WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ROW_INC_CNT_UNIT_NM', 'Logical', 'Entity') AS UDP_ROW_INC_CNT_UNIT
			      ,MMART.WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ROW_BAK_FCY_NM', 'Logical', 'Entity') AS UDP_ROW_BAK_FCY
			      ,MMART.WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ROW_BAK_FCY_UNIT_NM', 'Logical', 'Entity') AS UDP_ROW_BAK_FCY_UNIT
			      ,MMART.WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ROW_CTD_FCY_NM', 'Logical', 'Entity') AS UDP_ROW_CTD_FCY
			      ,MMART.WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ROW_CTD_FCY_UNIT_NM', 'Logical', 'Entity') AS UDP_ROW_CTD_FCY_UNIT
			      ,MMART.WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ROW_DEL_FCY_NM', 'Logical', 'Entity') AS UDP_ROW_DEL_FCY
			      ,MMART.WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ROW_DEL_FCY_UNIT_NM', 'Logical', 'Entity') AS UDP_ROW_DEL_FCY_UNIT
			      ,MMART.WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ROW_MAX_CNT_NM', 'Logical', 'Entity') AS UDP_ROW_MAX_CNT
			      ,MMART.WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ROW_MAX_CNT_UNIT_NM', 'Logical', 'Entity') AS UDP_ROW_MAX_CNT_UNIT
			      ,MMART.WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ROW_OCR_CNT_NM', 'Logical', 'Entity') AS UDP_ROW_OCR_CNT
			      ,MMART.WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ROW_OCR_CNT_UNIT_NM', 'Logical', 'Entity') AS UDP_ROW_OCR_CNT_UNIT
			      ,MMART.WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_PARTITION_NM', 'Logical', 'Entity') AS UDP_PARTITION_YN
			      ,MMART.WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ODS_TGT_GB_NM', 'Logical', 'Entity') AS UDP_ODS_TGT_GB
			      ,MMART.WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_SYNONYM_NM', 'Logical', 'Entity') AS UDP_SYNONYM_NM
			      ,MMART.WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_DB_NM', 'Logical', 'Entity') AS UDP_DB_NM
			      ,MMART.WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_OWNER_NM', 'Logical', 'Entity') AS UDP_OWNER_NM
			      ,MMART.WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_OF_DCR_PLY_DIT_NM', 'Logical', 'Entity') AS UDP_OF_DCR_PLY_DIT_NM
			      ,MMART.WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_CDM_SUBJ_NM', 'Logical', 'Entity') AS UDP_CDM_SUBJ_NM
			      ,MMART.WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ENTITY_DIT_NM', 'Logical', 'Entity') AS UDP_ENTITY_DIT_NM
			      ,MMART.WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_EXTERNAL_TGT_NM', 'Logical', 'Entity') AS UDP_EXTERNAL_TGT_NM
			      ,MMART.WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_EXTERNAL_TBL_PTH_NM', 'Logical', 'Entity') AS UDP_EXTERNAL_TBL_PTH_NM
			      ,NVL(MMART.WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, 'ILM대상여부', 'Logical', 'Entity'),'N') AS ILM_TGT_YN
			      */     
			FROM  MMART.M7LIBRARY A
			      , MMART.M7OBJECT B
			      , MMART.M7OBJECT C
			      , MMART.M7LIBRARY D
			      , MMART.M7OBJECT E
			      , MMART.M7LIBRARY F
			      , MMART.M7OBJECTPROPERTY G
			      , MMART.M7OBJECTPROPERTY H
			      , MMART.M7OBJECTPROPERTY I
			      , MMART.M7OBJECTPROPERTY J
			WHERE A.OBJECTID = B.OBJECTID
			  AND B.CLASSID = 2
			  AND B.ENDVERSION IS NULL
			  AND A.OBJECTID = C.CONTAINERID
			  AND C.CLASSID = 1075838978
			  AND C.ENDVERSION IS NULL
			  AND C.OBJECTID = D.OBJECTID
			  AND D.OBJECTID = E.CONTAINERID
			  AND E.CLASSID = 1075839014
			  AND E.ENDVERSION IS NULL
			  AND E.OBJECTID = F.OBJECTID
			  AND F.OBJECTID = G.OBJECTID
			  AND G.PROPERTYID = 1075849443
			  AND G.VALUEOBJECTID = H.OBJECTID
			  AND H.PROPERTYID = 1073742126
			  AND H.OBJECTID = I.OBJECTID(+)
			  AND I.PROPERTYID(+) = 1075849176
			  AND H.OBJECTID = J.OBJECTID(+)
			  AND J.PROPERTYID(+) = 1073742125
			  <![CDATA[AND F.OBJECTNAME != '<Main Subject Area>']]>
              --AND NVL(H.STRINGVALUE, I.STRINGVALUE) IN
              AND H.OBJECTID IN
			<foreach collection="list" item="item" open="(" separator="," close=")">
<!-- 	  		#{item.pdmTblLnm} -->
	  		#{item.pdmTblId}
	 		</foreach>
			ORDER BY PDM_TBL_LNM   ) A
--          WHERE NOT EXISTS
--          (
--          	 SELECT 1
--          	 FROM WAE_ERMART_R7_ENTY B
--            WHERE A.OF_DATAMODEL      = B.OF_DATAMODEL 
--              AND A.OF_PRIMARY_SUBJ   = B.OF_PRIMARY_SUBJ
--              AND A.OF_SUBJ           = B.OF_SUBJ
--              AND A.OBJ_ENM           = B.OBJ_ENM
--              AND A.REQUEST_ID        = B.REQUEST_ID
--          )
		  GROUP BY RQST_NO,  MDL_LNM, UPP_SUBJ_LNM, SUBJ_LNM, PDM_TBL_LNM, PDM_TBL_PNM	
  </select>
  
  
  <select id="selectR7ColListbyTblId" resultMap="R7ColResult" parameterType="kr.wise.meta.model.service.WaqPdmTbl">
  			--R7 엔티티ID에 해당하는 컬럼 리스트 조회
 	  		SELECT	/* R7MartMapper.selectR7ColListbyTblId */
 	  				DISTINCT #{rqstNo} AS RQST_NO    
				  , #{rqstSno} AS RQST_SNO
	              ,MMART.WISE_M7_INFO.GET_COLUMN_NAME(J.OBJECTID) AS PDM_COL_PNM
	              ,MMART.WISE_M7_INFO.GET_ATTRIBUTE_NAME(J.OBJECTID) AS PDM_COL_LNM
	              ,'CU' AS RQST_DCD
	              --,'' AS PDM_TBL_ID
				  ,TRIM(NVL(I.STRINGVALUE, H.STRINGVALUE)) AS PDM_TBL_PNM
				  --,'' AS SUBJ_ID
				  --,'' AS SDITM_ID
				  ,K.SEQUENCENUMBER + 1 AS COL_ORD
				  ,UPPER(MMART.WISE_M7_INFO.GET_DATATYPE(J.OBJECTID)) AS DATA_TYPE
				  --,UPPER(MMART.WISE_M7_INFO.GET_LOGICAL_DATATYPE(J.OBJECTID)) AS DATA_TYPE
				  --,MMART.WISE_M7_INFO.GET_LOGICAL_DATALENGTH(J.OBJECTID) AS DATA_LENGTH
        		  --,'' AS DATA_SCALE
        		  ,MMART.WISE_M7_INFO.GET_KEY_TYPE('PK', J.OBJECTID)  AS PK_YN
        		  ,CASE WHEN MMART.WISE_M7_INFO.GET_KEY_TYPE('PK', J.OBJECTID) = 'Y' THEN K.SEQUENCENUMBER + 1 END AS PK_ORD
        		  ,CASE WHEN NVL(UPPER(MMART.WISE_M7_INFO.GET_NULL(J.OBJECTID)),'NULL') = 'NULL' THEN 'N' ELSE 'Y' END AS NONUL_YN
        		  ,MMART.WISE_M7_INFO.GET_DEFAULT_VALUE(J.OBJECTID) AS DEFLT_VAL
        		  ,CASE WHEN MMART.WISE_M7_INFO.GET_ATTR_DEFINITION_CNT(J.OBJECTID) > 0 THEN MMART.WISE_M7_INFO.get_attribute_definition(J.OBJECTID) ELSE  M.STRINGVALUE END AS OBJ_DESCN
        		  --,SE.OBJ_VERS AS OBJ_VERS
        		  --,SE.FRS_RQST_DTM
        		  --, SE.FRS_RQST_USER_ID
        		  --, NOW()
        		  --, SE.RQST_USER_ID
			      --,MMART.WISE_M7_INFO.GET_LOGICALONLY(J.OBJECTID) AS IS_LDMONLY
			      --,MMART.WISE_M7_INFO.GET_KEY_TYPE('FK', J.OBJECTID) AS IS_FK_YN
			      --,CASE MMART.WISE_M7_INFO.GET_KEY_TYPE('PK', J.OBJECTID) WHEN 'Y' THEN 'N' ELSE CASE WHEN L.INTVALUE = 1 THEN 'N' ELSE 'Y' END END AS IS_NULL_YN
			      --,MMART.WISE_M7_INFO.GET_UDP_INFO(d.objectid, j.objectid, '$UDP_OF_COL_TYPE_NM', 'Logical', 'Attribute') AS OF_COL_TYPE
			      --,MMART.WISE_M7_INFO.GET_UDP_INFO(d.objectid, j.objectid, '$UDP_OF_DPL_TAB_COL_NM', 'Logical', 'Attribute') AS OF_DPL_TAB_COL
			      --,MMART.WISE_M7_INFO.GET_UDP_INFO(d.objectid, j.objectid, '$UDP_OF_DRV_DTL_NM', 'Logical', 'Attribute') AS OF_DRV_DTL
			      --,MMART.WISE_M7_INFO.GET_UDP_INFO(d.objectid, j.objectid, '$UDP_IQUNIQUE_VALUE_NM', 'Logical', 'Attribute') AS IQUNIQUE_VALUE
			FROM  MMART.M7LIBRARY A
			      , MMART.M7OBJECT B
			      , MMART.M7OBJECT C
			      , MMART.M7LIBRARY D
			      , MMART.M7OBJECT E
			      , MMART.M7LIBRARY F
			      , MMART.M7OBJECTPROPERTY G
			      , MMART.M7OBJECTPROPERTY H
			      , MMART.M7OBJECTPROPERTY I
			      , MMART.M7OBJECT J
			      , MMART.M7OBJECTPROPERTY K
			      , MMART.M7OBJECTPROPERTY L
			      , MMART.M7OBJECTPROPERTY M
        	      --, WAQ_PDM_TBL 	SE
			WHERE A.OBJECTID = B.OBJECTID
			  AND B.CLASSID = 2 AND B.ENDVERSION IS NULL
			  AND A.OBJECTID = C.CONTAINERID
			  AND C.CLASSID = 1075838978
			  AND C.ENDVERSION IS NULL
			  AND C.OBJECTID = D.OBJECTID
			  AND D.OBJECTID = E.CONTAINERID
			  AND E.CLASSID = 1075839014
			  AND E.ENDVERSION IS NULL
			  AND E.OBJECTID = F.OBJECTID
			  AND F.OBJECTID = G.OBJECTID
			  AND G.PROPERTYID = 1075849443
			  AND G.VALUEOBJECTID = H.OBJECTID
			  AND H.PROPERTYID = 1073742126
			  AND H.OBJECTID = I.OBJECTID(+)
			  AND I.PROPERTYID(+) = 1075849176
			  AND H.OBJECTID = J.CONTEXTID
			  AND J.CLASSID||'' = 1075838981
			  AND J.ENDVERSION IS NULL
			  AND J.OBJECTID = K.VALUEOBJECTID
			  AND K.OBJECTID = H.OBJECTID
			  AND K.PROPERTYID = 1075850197
			  AND J.OBJECTID = L.OBJECTID(+)
			  AND L.PROPERTYID(+) = 1075849062
			  AND J.OBJECTID = M.OBJECTID(+)
			  AND M.PROPERTYID(+) = 1073742125
              <![CDATA[AND F.OBJECTNAME != '<Main Subject Area>']]>
			  --AND A.OBJECTNAME 	=	SE.MDL_LNM
  			  --AND D.OBJECTNAME 	=	SE.UPP_SUBJ_LNM
			  --AND F.OBJECTNAME 	=	SE.SUBJ_LNM
			  AND NVL(H.OBJECTID, I.OBJECTID) =	#{pdmTblId}
              --AND NVL(H.STRINGVALUE, I.STRINGVALUE) = SE.PDM_TBL_LNM
			  AND MMART.WISE_M7_INFO.GET_LOGICALONLY(J.OBJECTID) = 0
			  ORDER BY PDM_TBL_PNM, COL_ORD 
  </select>
  
  
  
  <select id="selectErMart7RelLst" resultMap="BaseResultMap" parameterType="kr.wise.dq.profile.tblrel.service.WaqPrfRelColVO" >
  	SELECT	/* R7MartMapper.selectErMart7RelLst */
  			#{dbConnTrgId,jdbcType=VARCHAR} AS DB_CONN_TRG_ID  --자식테이블진단대상ID
	       ,TRIM(UPPER(#{dbConnTrgPnm,jdbcType=VARCHAR})) AS DB_CONN_TRG_PNM  --자식테이블진단대상명
	       ,TRIM(UPPER(#{dbSchId,jdbcType=VARCHAR})) AS DB_SCH_ID    --자식테이블스키마ID
	       ,TRIM(UPPER(#{dbSchPnm,jdbcType=VARCHAR})) AS DB_SCH_PNM  --자식테이블스키마명
	       ,A.CHILD_TBL_ENM AS DBC_TBL_NM --자식테이블명
	       ,A.RELATION_NM AS OBJ_NM      --관계명
	       ,'' AS ADT_CND_SQL  --자식추가조건
	       ,'' AS HNT_SQL            -- 자식힌트
	       ,'Y' AS USE_YN   --사용여부
           ,TRIM(UPPER(#{dbConnTrgPnm,jdbcType=VARCHAR})) AS PA_TBL_DB_CONN_TRG_NM   --부모테이블진단대상명
		   ,TRIM(UPPER(#{dbSchPnm,jdbcType=VARCHAR})) AS PA_TBL_DBC_SCH_NM          --부모테이블스키마명
		   ,A.PARENT_TBL_ENM AS PA_TBL_DBC_TBL_NM           --부모테이블명
	       ,'' AS PA_TBL_ADT_CND_SQL          --부모추가조건
           ,'' AS REL_COL_SNO
		   ,A.CHILD_COL_ENM AS CH_TBL_DBC_COL_NM           --자식컬럼명
		   ,A.PARENT_COL_ENM AS PA_TBL_DBC_COL_NM           --부모컬럼명
		   ,'CU' AS RQST_DCD                        --요청구분
		   ,'C' AS REG_TYP_CD                      --등록유형  
		   ,'I' AS IBS_STATUS 
   FROM (   
			 SELECT F.STRINGVALUE AS RELATION_NM                                          
				       ,CHILD_ENTY.STRINGVALUE AS CHILD_TBL_ENM                               
				       ,MMART.WISE_M7_INFO.GET_COLUMN_NAME(MO.OBJECTID) AS CHILD_COL_ENM            
				       ,PARENT_ENTY.STRINGVALUE AS PARENT_TBL_ENM                             
				       ,MMART.WISE_M7_INFO.GET_COLUMN_NAME(MO.OBJECTID) AS PARENT_COL_ENM  			
			   FROM MMART.M7LIBRARY A                          
			        INNER JOIN MMART.M7OBJECT B                
			           ON A.OBJECTID = B.OBJECTID        
			          AND B.CLASSID = 2                  
			          AND B.ENDVERSION IS NULL           
			        INNER JOIN MMART.M7OBJECT C                
			           ON B.OBJECTID = C.CONTAINERID     
			          AND C.CLASSID = 1075838978         
			          AND C.ENDVERSION IS NULL           
			        INNER JOIN MMART.M7LIBRARY D               
			           ON C.OBJECTID = D.OBJECTID        
			        INNER JOIN MMART.M7OBJECT SUBJ             
			           ON D.OBJECTID = SUBJ.CONTAINERID  
			          AND SUBJ.CLASSID = 1075839014      
			          AND SUBJ.ENDVERSION IS NULL        
			        INNER JOIN MMART.M7LIBRARY SUBJNM          
			 	       ON SUBJ.OBJECTID = SUBJNM.OBJECTID 
			 	       <![CDATA[
			          AND SUBJNM.OBJECTNAME NOT IN ('ZZ. Template','<Main Subject Area>') 
			          ]]> 
			        INNER JOIN MMART.M7OBJECT E              
			           ON D.OBJECTID = E.CONTAINERID   
			          AND E.CLASSID = 1075839016       
			          AND E.ENDVERSION IS NULL         
			        INNER JOIN MMART.M7OBJECTPROPERTY F      
			           ON E.OBJECTID = F.OBJECTID      
			          AND F.PROPERTYID = 1073742126    
			        INNER JOIN MMART.M7OBJECTPROPERTY G      
			           ON F.OBJECTID = G.OBJECTID      
			          AND G.PROPERTYID = 1075848978    
			        INNER JOIN MMART.M7OBJECTPROPERTY H      
			           ON F.OBJECTID = H.OBJECTID      
			          AND H.PROPERTYID = 1075849159    
			        INNER JOIN MMART.M7OBJECTPROPERTY I      
			           ON F.OBJECTID = I.OBJECTID      
			          AND I.PROPERTYID = 1075849160    
			        INNER JOIN MMART.M7OBJECTPROPERTY J      
			           ON F.OBJECTID = J.OBJECTID      
			          AND J.PROPERTYID = 1075849763    
			        INNER JOIN MMART.M7OBJECTPROPERTY K      
			           ON F.OBJECTID = K.OBJECTID      
			          AND K.PROPERTYID = 1075849764    
			        INNER JOIN MMART.M7OBJECT MO             
			           ON MO.CONTEXTID = J.VALUEOBJECTID          
			          AND MO.CLASSID = 1075838981                 
			          AND MO.ENDVERSION IS NULL                   
			        INNER JOIN MMART.M7OBJECTPROPERTY ATTPK             
			           ON MO.OBJECTID = ATTPK.OBJECTID            
			          AND ATTPK.PROPERTYID = 1075848978           
			          AND ATTPK.INTVALUE = 0                      
			        INNER JOIN MMART.M7OBJECTPROPERTY ATTPOS            
			           ON MO.OBJECTID = ATTPOS.VALUEOBJECTID      
			          AND ATTPOS.OBJECTID = MO.CONTEXTID          
			          AND ATTPOS.PROPERTYID = 1075850197          
			         LEFT OUTER JOIN MMART.M7OBJECTPROPERTY PARENT_ENTY 
			           ON PARENT_ENTY.OBJECTID = J.VALUEOBJECTID  
			          AND PARENT_ENTY.PROPERTYID = 1075849176     
			         LEFT OUTER JOIN MMART.M7OBJECTPROPERTY CHILD_ENTY  
			           ON CHILD_ENTY.OBJECTID = K.VALUEOBJECTID   
			          AND CHILD_ENTY.PROPERTYID = 1075849176  ) A    
     WHERE 1 = 1
     <if test="dbcTblNm != null  and  dbcTblNm != '' ">
       AND ( A.CHILD_TBL_ENM LIKE REPLACE(#{dbcTblNm,jdbcType=VARCHAR}, '*', '%') OR LIKE REPLACE(#{dbcTblNm,jdbcType=VARCHAR}, '*', '%') )
     </if>   
     <if test="objNm != null  and  objNm != '' ">
       AND ( A.CHILD_COL_ENM LIKE REPLACE(#{objNm,jdbcType=VARCHAR}, '*', '%') OR A.PARENT_COL_ENM LIKE REPLACE(#{objNm,jdbcType=VARCHAR}, '*', '%') )
     </if>   
  	
 GROUP BY  A.RELATION_NM ,A.CHILD_TBL_ENM ,A.CHILD_COL_ENM ,A.PARENT_TBL_ENM ,A.PARENT_COL_ENM     
 ORDER BY A.CHILD_TBL_ENM, A.RELATION_NM
</select>
    
</mapper>