<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.meta.symn.service.StructureMapper">
<resultMap id="BaseResultMap" type="kr.wise.meta.symn.service.StructureVO">
	<id column="SRC_DMN_ID" property="dmnId" jdbcType="VARCHAR" />
    <result column="SRC_DMN_KNM" property="dmnLnm" jdbcType="VARCHAR" />
    <result column="SRC_DMN_ENM" property="dmnPnm" jdbcType="VARCHAR" />
    <result column="SRC_DMN_DSCD" property="dmnOrgDs" jdbcType="VARCHAR" />
    <result column="OF_DMNGRP" property="dmngId" jdbcType="VARCHAR" />
    <result column="OF_INFOTYPE" property="infotpId" jdbcType="VARCHAR" />
    <result column="TGT_DMN_ID" property="tgtDmnId" jdbcType="VARCHAR" />
    <result column="TGT_DMN_KNM" property="tgtDmnLnm" jdbcType="VARCHAR" />
    <result column="TGT_DMN_ENM" property="tgtDmnPnm" jdbcType="VARCHAR" />
    <result column="TGT_DMN_DSCD" property="tgtDmnDscd" jdbcType="VARCHAR" />
    <result column="SRC_TRM_CNT" property="srcTrmCnt" jdbcType="VARCHAR" />
    <result column="TGT_TRM_CNT" property="tgtTrmCnt" jdbcType="VARCHAR" />
    <result column="SAM_TRM_CNT" property="samTrmCnt" jdbcType="VARCHAR" />
    <result column="SRC_SAME_RT" property="srcSameRt" jdbcType="VARCHAR" />
    <result column="TGT_SAME_RT" property="tgtSameRt" jdbcType="VARCHAR" />
    <result column="SRC_SAME_ORDER" property="srcSameOrder" jdbcType="VARCHAR" />
    <result column="TGT_SAME_ORDER" property="tgtSameOrder" jdbcType="VARCHAR" />
    
    <result column="SRC_TRM_KNM" property="srcTrmKnm" 	jdbcType="VARCHAR" />
    <result column="SRC_TRM_ENM" property="srcTrmEnm" 	jdbcType="VARCHAR" />
    <result column="TGT_TRM_KNM" property="tgtTrmKnm" 	jdbcType="VARCHAR" />
    <result column="TGT_TRM_ENM" property="tgtTrmEnm" 	jdbcType="VARCHAR" />
    
    <result column="SRC_ITEM_ID" property="srcItemId" 	jdbcType="VARCHAR" />
    <result column="SRC_ITEM_KNM" property="srcItemKnm" jdbcType="VARCHAR" />
    <result column="SRC_ITEM_ENM" property="srcItemEnm" jdbcType="VARCHAR" />
    <result column="DOMAIN_KNM" property="domainKnm" 	jdbcType="VARCHAR" />
    <result column="DMNGRP_NM" property="dmngrpNm" 		jdbcType="VARCHAR" />
    <result column="INFOTYPE_NM" property="infotypeNm" 	jdbcType="VARCHAR" />
    <result column="TGT_ITEM_ID" property="tgtItemId" 	jdbcType="VARCHAR" />
    <result column="TGT_ITEM_KNM" property="tgtItemKnm" jdbcType="VARCHAR" />
    <result column="TGT_ITEM_ENM" property="tgtItemEnm" jdbcType="VARCHAR" />
    
    <result column="SRC_OBJ_ID" property="srcObjId" jdbcType="VARCHAR" />
    <result column="SRC_DATAMODEL_NM" property="srcDatemodelNm" jdbcType="VARCHAR" />
    <result column="SRC_PRIMARY_SUBJ_NM" property="srcPrimarySubjNm" jdbcType="VARCHAR" />
    <result column="SRC_SUBJ_NM" property="srcSubjNm" jdbcType="VARCHAR" />
    <result column="SRC_TBL_KNM" property="srcTblKnm" jdbcType="VARCHAR" />
    <result column="SRC_TBL_ENM" property="srcTblEnm" jdbcType="VARCHAR" />
    <result column="SRC_COL_CNT" property="srcColCnt" jdbcType="VARCHAR" />
    <result column="TGT_OBJ_ID" property="tgtObjId" jdbcType="VARCHAR" />
    <result column="TGT_DATAMODEL_NM" property="tgtDatemodelNm" jdbcType="VARCHAR" />
    <result column="TGT_PRIMARY_SUBJ_NM" property="tgtPrimarySubjNm" jdbcType="VARCHAR" />
    <result column="TGT_SUBJ_NM" property="tgtSubjNm" jdbcType="VARCHAR" />
    <result column="TGT_TBL_KNM" property="tgtTblKnm" jdbcType="VARCHAR" />
    <result column="TGT_TBL_ENM" property="tgtTblEnm" jdbcType="VARCHAR" />
    <result column="TGT_COL_CNT" property="tgtColCnt" jdbcType="VARCHAR" />
    <result column="SAME_COL_CNT" property="sameColCnt" jdbcType="VARCHAR" />
    
    <result column="SRC_COL_KNM" property="srcColKnm" jdbcType="VARCHAR" />
    <result column="SRC_COL_ENM" property="srcColEnm" jdbcType="VARCHAR" />
    <result column="SRC_POSITION" property="srcPosition" jdbcType="VARCHAR" />
    <result column="SRC_PK_YN" property="srcPkYn" jdbcType="VARCHAR" />
    <result column="SRC_NULL_YN" property="srcNullYn" jdbcType="VARCHAR" />
    <result column="SRC_DATA_TYPE" property="srcDataType" jdbcType="VARCHAR" />
    <result column="TGT_COL_KNM" property="tgtColKnm" jdbcType="VARCHAR" />
    <result column="TGT_COL_ENM" property="tgtColEnm" jdbcType="VARCHAR" />
    <result column="TGT_POSITION" property="tgtPosition" jdbcType="VARCHAR" />
    <result column="TGT_PK_YN" property="tgtPkYn" jdbcType="VARCHAR" />
    <result column="TGT_NULL_YN" property="tgtNullYn" jdbcType="VARCHAR" />
    <result column="TGT_DATA_TYPE" property="tgtDataType" jdbcType="VARCHAR" />
    <result column="SRC_TBL_ID" property="srcTblId" jdbcType="VARCHAR" />
    <result column="SRC_COL_ID" property="srcColId" jdbcType="VARCHAR" />
    <result column="TGT_TBL_ID" property="tgtTblId" jdbcType="VARCHAR" />
    <result column="TGT_COL_ID" property="tgtColId" jdbcType="VARCHAR" />
    <result column="SRC_FULL_PATH" property="fullPath" jdbcType="VARCHAR" />
    
    <result column="SRC_CD_CNT" property="srcCdCnt" jdbcType="VARCHAR" />
    <result column="TGT_CD_CNT" property="tgtCdCnt" jdbcType="VARCHAR" />
    <result column="SAM_CD_CNT" property="samCdCnt" jdbcType="VARCHAR" />
    
    <result column="SRC_CD_VAL_NM" property="srcCdValNm" jdbcType="VARCHAR" />
    <result column="SRC_CD_VAL" property="srcCdVal" jdbcType="VARCHAR" />
    <result column="SRC_CD_VAL_ID" property="srcCdValId" jdbcType="VARCHAR" />
    <result column="TGT_CD_VAL_NM" property="tgtCdValNm" jdbcType="VARCHAR" />
    <result column="TGT_CD_VAL" property="tgtCdVal" jdbcType="VARCHAR" />
    <result column="TGT_CD_VAL_ID" property="tgtCdValId" jdbcType="VARCHAR" />
    

   
</resultMap>

<select id="getDmnStructure" resultMap="BaseResultMap" parameterType="kr.wise.meta.symn.service.StructureVO">
		SELECT A.SRC_DMN_ID
		     , A.SRC_DMN_KNM
		     , A.SRC_DMN_ENM
		     , A.SRC_DMN_DSCD
		     , A.OF_DMNGRP
		     , A.OF_INFOTYPE
		     , B.TGT_DMN_ID
		     , B.TGT_DMN_KNM
		     , B.TGT_DMN_ENM
		     , B.TGT_DMN_DSCD
		     , ROUND( COUNT(A.STWD_ID) / MAX(A.SRC_TOT_CNT) * 100, 2) || '%' AS SRC_SAME_RT
		     , MAX(A.SRC_TOT_CNT) || '개' AS SRC_TRM_CNT 
		     , COUNT(DISTINCT A.STWD_ID || A.WD_SNO) || '개'   AS SAM_TRM_CNT
		     , MAX(B.TGT_TOT_CNT) || '개' AS TGT_TRM_CNT
		     , ROUND( COUNT(B.STWD_ID) / MAX(B.TGT_TOT_CNT) * 100, 2) || '%' AS TGT_SAME_RT
		     , ROUND( COUNT(A.STWD_ID) / MAX(A.SRC_TOT_CNT) * 100, 2) AS SRC_SAME_ORDER
		     , ROUND( COUNT(B.STWD_ID) / MAX(B.TGT_TOT_CNT) * 100, 2) AS TGT_SAME_ORDER
		  FROM (
			    SELECT A.STND_ASRT   AS SRC_STND_ASRT
			         , A.DMN_ID      AS SRC_DMN_ID 
			         , A.DMN_LNM     AS SRC_DMN_KNM
			         , A.DMN_PNM     AS SRC_DMN_ENM
			         , A.DMN_ORG_DS  AS SRC_DMN_DSCD
			         , A.DMNG_ID     AS  OF_DMNGRP                                            
					 , A.INFOTP_ID   AS  OF_INFOTYPE 
			         , B.STWD_ID   
			         , B.WD_SNO
			         , C.STWD_LNM
			         , COUNT(*) OVER (PARTITION BY A.STND_ASRT, A.DMN_LNM) AS SRC_TOT_CNT
			      FROM WAM_DMN A
			           INNER JOIN WAM_STWD_CNFG B                                             
			              ON A.DMN_ID = B.OBJ_ID                                         
			           INNER JOIN WAM_STWD C                                             
			              ON B.STWD_ID = C.STWD_ID                                             			      
			     WHERE 1 = 1
			       AND A.STND_ASRT = 'CM'
			    ) A
			    LEFT OUTER JOIN
			    (
			    SELECT A.STND_ASRT   AS TGT_STND_ASRT 
			         , A.DMN_ID      AS TGT_DMN_ID
			         , A.DMN_LNM     AS TGT_DMN_KNM
			         , A.DMN_PNM     AS TGT_DMN_ENM 
			         , A.DMN_ORG_DS  AS TGT_DMN_DSCD
			         , B.STWD_ID
			         , B.WD_SNO
			         , C.STWD_LNM
			         , COUNT(*) OVER (PARTITION BY A.STND_ASRT, A.DMN_LNM) AS TGT_TOT_CNT
			      FROM WAM_DMN A
			           INNER JOIN WAM_STWD_CNFG B
			              ON B.OBJ_ID = A.DMN_ID
			           INNER JOIN WAM_STWD C
			              ON C.STWD_ID = B.STWD_ID   
			     WHERE 1 = 1		     
			       AND A.STND_ASRT =  'CM' 
			    ) B
			      ON A.STWD_ID       = B.STWD_ID
			     AND A.SRC_STND_ASRT = B.TGT_STND_ASRT
			     AND A.SRC_DMN_ID   != B.TGT_DMN_ID
			 INNER JOIN V_WAA_DMNG D
	             ON A.OF_DMNGRP = D.DMNG_ID
	  WHERE 1 = 1                                                  
		<if test="dmnLnm != null and dmnLnm != '' ">
			AND ( SRC_DMN_KNM LIKE '%' || #{dmnLnm,jdbcType=VARCHAR} || '%'
				  OR SRC_DMN_KNM LIKE '%' || UPPER( #{dmnLnm,jdbcType=VARCHAR} ) || '%' )
		</if>
		<if test="dmngId != null and dmngId != '' ">
	        AND D.DMNG_ID = #{dmngId,jdbcType=VARCHAR}
	    </if>
		<if test="uppDmngId != null and uppDmngId != '' ">
	        AND D.UPP_DMNG_ID = #{uppDmngId,jdbcType=VARCHAR}
	    </if>
	    <if test="infotpId != null and infotpId != ''" >
	        AND OF_INFOTYPE = #{infotpId,jdbcType=VARCHAR}
	    </if>
	    <if test="stndAsrt != null and stndAsrt != ''" >
	    	AND STND_ASRT =  #{stndAsrt,jdbcType=VARCHAR}
	    </if>
	    GROUP BY A.SRC_DMN_ID
		       , A.SRC_DMN_KNM
		       , A.SRC_DMN_ENM
		       , A.SRC_DMN_DSCD
		       , A.OF_DMNGRP
		       , A.OF_INFOTYPE
		       , B.TGT_DMN_ID
		       , B.TGT_DMN_KNM
		       , B.TGT_DMN_ENM
		       , B.TGT_DMN_DSCD  
		
		HAVING (      (  COUNT(DISTINCT A.STWD_ID || A.WD_SNO) /  MAX(A.SRC_TOT_CNT) * 100) >= #{crlRt,jdbcType=VARCHAR}
		          AND (  COUNT(DISTINCT B.STWD_ID || B.WD_SNO) /  MAX(B.TGT_TOT_CNT) * 100) >= #{crlRt,jdbcType=VARCHAR}
		        )  
		
	  ORDER BY SRC_DMN_KNM, SRC_SAME_ORDER desc, TGT_SAME_ORDER desc, TGT_DMN_KNM
</select> 

<select id="getItmStructure" resultMap="BaseResultMap" parameterType="kr.wise.meta.symn.service.StructureVO">
	SELECT A.SRC_ITEM_ID
	     , A.SRC_ITEM_KNM
	     , A.SRC_ITEM_ENM
	     , A.DOMAIN_KNM                                                                                                   
		 , A.DMNGRP_NM                                                                                                 
	     , A.INFOTYPE_NM 
	     , B.TGT_ITEM_ID
	     , B.TGT_ITEM_KNM
	     , B.TGT_ITEM_ENM     
	     , ROUND( (COUNT(DISTINCT A.STWD_ID || A.WD_SNO) + 1) / MAX(A.SRC_TOT_CNT) * 100, 2) || '%' AS SRC_SAME_RT
	     , MAX(A.SRC_TOT_CNT) || '개' AS SRC_TRM_CNT 
	     , COUNT(DISTINCT A.STWD_ID || A.WD_SNO) + 1 || '개' AS SAM_TRM_CNT
	     , MAX(B.TGT_TOT_CNT) || '개' AS TGT_TRM_CNT
	     , ROUND( (COUNT(DISTINCT A.STWD_ID || A.WD_SNO) + 1) / MAX(B.TGT_TOT_CNT) * 100, 2) || '%' AS TGT_SAME_RT
	     , ROUND( (COUNT(DISTINCT A.STWD_ID || A.WD_SNO) + 1) / MAX(A.SRC_TOT_CNT) * 100, 2) AS SRC_SAME_ORDER
	     , ROUND( (COUNT(DISTINCT A.STWD_ID || A.WD_SNO) + 1) / MAX(B.TGT_TOT_CNT) * 100, 2) AS TGT_SAME_ORDER
	  FROM (
	    SELECT A.STND_ASRT   AS SRC_STND_ASRT
	         , A.SDITM_ID    AS SRC_ITEM_ID 
	         , A.SDITM_LNM   AS SRC_ITEM_KNM
	         , A.SDITM_PNM   AS SRC_ITEM_ENM
	         , A.DMN_ID      AS SRC_DMN_ID
	         , I.DMN_LNM     AS DOMAIN_KNM
	         , G.DMNG_LNM    AS DMNGRP_NM
			 , H.INFOTP_LNM  AS INFOTYPE_NM          
	         , B.STWD_ID 
	         , B.WD_SNO  
	         , C.STWD_LNM	        
	         , COUNT(*) OVER (PARTITION BY A.STND_ASRT, A.SDITM_LNM) +  1 AS SRC_TOT_CNT
	      FROM WAM_SDITM A
	           INNER JOIN WAM_STWD_CNFG B                                             
	              ON A.SDITM_ID = B.OBJ_ID                                         
	           INNER JOIN WAM_STWD C                                             
	              ON B.STWD_ID = C.STWD_ID
	           LEFT OUTER JOIN WAM_DMN I
	              ON   A.DMN_ID = I.DMN_ID
	           LEFT OUTER JOIN WAA_DMNG G
	              ON  A.DMNG_ID = G.DMNG_ID
			     LEFT OUTER JOIN WAA_INFO_TYPE H
	              ON   A.INFOTP_ID = H.INFOTP_ID                                                                       
	     WHERE 1 = 1
	        <if test="stndAsrt != null and stndAsrt != '' ">
				  AND A.STND_ASRT = 'CM'
			</if>    
	    ) A
	    LEFT OUTER JOIN
	    (
	    SELECT A.STND_ASRT   AS TGT_STND_ASRT
	         , A.SDITM_ID    AS TGT_ITEM_ID 
	         , A.SDITM_LNM   AS TGT_ITEM_KNM
	         , A.SDITM_PNM   AS TGT_ITEM_ENM  
	         , A.DMN_ID      AS TGT_DMN_ID        
	         , B.STWD_ID   
	         , B.WD_SNO
	         , C.STWD_LNM
	         , COUNT(*) OVER (PARTITION BY A.STND_ASRT, A.SDITM_LNM) + 1 AS TGT_TOT_CNT
	      FROM WAM_SDITM A
	           INNER JOIN WAM_STWD_CNFG B                                             
	              ON A.SDITM_ID = B.OBJ_ID                                         
	           INNER JOIN WAM_STWD C                                             
	              ON B.STWD_ID = C.STWD_ID                                                       
	     WHERE 1 = 1
	       <if test="stndAsrt != null and stndAsrt != '' ">
				  AND A.STND_ASRT = 'CM'
			</if>      
	    ) B
	      ON A.STWD_ID       = B.STWD_ID
	     AND A.SRC_STND_ASRT = B.TGT_STND_ASRT
	     AND A.SRC_DMN_ID    = B.TGT_DMN_ID
	     AND A.SRC_ITEM_ID  != B.TGT_ITEM_ID
   WHERE 1 = 1      
    <if test="srcItemKnm != null and srcItemKnm != '' ">
      AND ( A.SRC_ITEM_KNM LIKE '%' || #{srcItemKnm,jdbcType=VARCHAR} || '%'
		  OR A.SRC_ITEM_KNM  LIKE '%' || UPPER( #{srcItemKnm,jdbcType=VARCHAR} ) || '%' )
    </if>
    <if test="dmnLnm != null and dmnLnm != '' ">
      AND ( A.DOMAIN_KNM LIKE '%' || #{dmnLnm,jdbcType=VARCHAR} || '%'
		  OR A.DOMAIN_KNM  LIKE '%' || UPPER( #{dmnLnm,jdbcType=VARCHAR} ) || '%' )
    </if>
   GROUP BY A.SRC_ITEM_ID
          , A.SRC_ITEM_KNM
          , A.SRC_ITEM_ENM
          , A.DOMAIN_KNM                                                                                                   
          , A.DMNGRP_NM                                                                                                 
          , A.INFOTYPE_NM 
          , B.TGT_ITEM_ID
          , B.TGT_ITEM_KNM
          , B.TGT_ITEM_ENM                                                                                               
   HAVING (     
             ROUND( (COUNT(DISTINCT A.STWD_ID || A.WD_SNO) + 1) / MAX(A.SRC_TOT_CNT) * 100, 2) <![CDATA[>=]]> #{crlRt,jdbcType=VARCHAR}
         AND ROUND( (COUNT(DISTINCT B.STWD_ID || B.WD_SNO) + 1) / MAX(B.TGT_TOT_CNT) * 100, 2) <![CDATA[>=]]> #{crlRt,jdbcType=VARCHAR}             
         )                                                                                                                                                                                                                                                                                                       
   ORDER BY SRC_ITEM_KNM, SRC_SAME_ORDER desc, TGT_SAME_ORDER desc, TGT_ITEM_KNM
</select>   
   
<select id="getMdlStructure" resultMap="BaseResultMap" parameterType="kr.wise.meta.symn.service.StructureVO">
		SELECT SRC_OBJ_ID                                                                                                                                                                
		     , SRC_DATAMODEL_NM                                                                           
		     , SRC_PRIMARY_SUBJ_NM                                                                        
		     , SRC_SUBJ_NM                                                                                
		     , SRC_TBL_KNM                                                                                
		     , SRC_TBL_ENM                                                                               
		     , SRC_COL_CNT  || ' 개' AS SRC_COL_CNT                                                       
		     , TGT_OBJ_ID                                                                                                                                                   
		     , TGT_DATAMODEL_NM                                                                      
		     , TGT_PRIMARY_SUBJ_NM                                                                   
		     , TGT_SUBJ_NM                                                                           
		     , TGT_TBL_KNM                                                                          
		     , TGT_TBL_ENM                                                                         
		     , TGT_COL_CNT  || ' 개' AS TGT_COL_CNT                                                 
		     , SAME_COL_CNT || ' 개' AS SAME_COL_CNT                 
		     , IF(SRC_COL_CNT = 0, ((ROUND(SAME_COL_CNT / SAME_COL_CNT, 2) - 1) * 100), (ROUND(SAME_COL_CNT / SRC_COL_CNT, 2) * 100)) || ' %' AS SRC_SAME_RT 
		     , IF(TGT_COL_CNT = 0, ((ROUND(SAME_COL_CNT / SAME_COL_CNT, 2) - 1) * 100), (ROUND(SAME_COL_CNT / TGT_COL_CNT, 2) * 100)) || ' %' AS TGT_SAME_RT
		     , IF(SRC_COL_CNT = 0, ((ROUND(SAME_COL_CNT / SAME_COL_CNT, 2) - 1) * 100), (ROUND(SAME_COL_CNT / SRC_COL_CNT, 2) * 100)) AS SRC_SAME_ORDER 
		     , IF(TGT_COL_CNT = 0, ((ROUND(SAME_COL_CNT / SAME_COL_CNT, 2) - 1) * 100), (ROUND(SAME_COL_CNT / TGT_COL_CNT, 2) * 100)) AS TGT_SAME_ORDER                               
		     <!-- , (ROUND(SAME_COL_CNT / SRC_COL_CNT, 2) * 100) || ' %' AS SRC_SAME_RT                   
		     , (ROUND(SAME_COL_CNT / TGT_COL_CNT, 2) * 100) || ' %' AS TGT_SAME_RT                
		     , (ROUND(SAME_COL_CNT / SRC_COL_CNT, 2) * 100)AS SRC_SAME_ORDER                        
		     , (ROUND(SAME_COL_CNT / TGT_COL_CNT, 2) * 100)AS TGT_SAME_ORDER -->
		     , SRC_FULL_PATH
		FROM (     
		SELECT    A.PDM_TBL_ID    AS SRC_OBJ_ID
		        , SUBSTR(A.FULL_PATH ,0,INSTR(A.FULL_PATH, '>',1)-1 ) AS SRC_DATAMODEL_NM
		        , SUBSTR(A.FULL_PATH,INSTR(A.FULL_PATH, '>',1)+1,INSTR(A.FULL_PATH, '>',1)+1 ) AS SRC_PRIMARY_SUBJ_NM
		        , SUBSTR(A.FULL_PATH,INSTR(A.FULL_PATH, '>',1)+1 ) AS SRC_SUBJ_NM 
		        , A.PDM_TBL_PNM  AS SRC_TBL_ENM
		        , A.PDM_TBL_LNM  AS SRC_TBL_KNM
		        , SUBSTR(D.FULL_PATH ,0,INSTR(A.FULL_PATH, '>',1)-1 ) AS TGT_DATAMODEL_NM
		        , SUBSTR(D.FULL_PATH,INSTR(A.FULL_PATH, '>',1)+1,INSTR(D.FULL_PATH, '>',1)+1 ) AS TGT_PRIMARY_SUBJ_NM
		        , SUBSTR(D.FULL_PATH,INSTR(A.FULL_PATH, '>',1)+1 ) AS TGT_SUBJ_NM 
		        , D.PDM_TBL_ID   AS TGT_OBJ_ID
		        , D.PDM_TBL_PNM  AS TGT_TBL_ENM
		        , D.PDM_TBL_LNM  AS TGT_TBL_KNM
		        , GET_PDM_COL_CNT(A.PDM_TBL_ID) AS SRC_COL_CNT
		        , GET_PDM_COL_CNT(C.PDM_TBL_ID)   AS TGT_COL_CNT
		        , SUM(CASE                                                                                           
		              WHEN  B.PDM_TBL_ID = C.PDM_TBL_ID  THEN  NULL                                                          
		              ELSE   1     
		                END)  SAME_COL_CNT
		        , A.FULL_PATH SRC_FULL_PATH          
		FROM WAM_PDM_TBL A                                                                            
		INNER JOIN WAM_PDM_COL B                                                                     
		ON    A.PDM_TBL_ID = B.PDM_TBL_ID                                                                 
		INNER JOIN  WAM_PDM_COL C                                                                   
		ON    B.PDM_COL_LNM = C.PDM_COL_LNM                                                                  
		INNER  JOIN  WAM_PDM_TBL D                                                                  
		ON   C.PDM_TBL_ID = D.PDM_TBL_ID                                                                  
		WHERE  A.REG_TYP_CD IN ('C','U')                                                                                                  
		AND   B.REG_TYP_CD IN ('C','U')
		<if test="srcTblEnm != null and srcTblEnm != '' " >
			AND( ( A.PDM_TBL_LNM LIKE '%' || #{srcTblEnm,jdbcType=VARCHAR} || '%'
				  OR A.PDM_TBL_LNM  LIKE '%' || UPPER( #{srcTblEnm,jdbcType=VARCHAR} ) || '%' )	
			 OR (A.PDM_TBL_PNM LIKE '%' || #{srcTblEnm,jdbcType=VARCHAR} || '%'
				  OR A.PDM_TBL_PNM  LIKE '%' || UPPER( #{srcTblEnm,jdbcType=VARCHAR} ) || '%')
			)	  	  	
		</if>
		<if test="colNm != null and colNm != '' ">	
			 AND ( (B.PDM_COL_PNM LIKE '%' || #{colNm,jdbcType=VARCHAR} || '%'
				  OR B.PDM_COL_PNM  LIKE '%' || UPPER( #{colNm,jdbcType=VARCHAR} ) || '%')
			  OR   (B.PDM_COL_LNM LIKE '%' || #{colNm,jdbcType=VARCHAR} || '%'
				  OR B.PDM_COL_LNM  LIKE '%' || UPPER( #{colNm,jdbcType=VARCHAR} ) || '%')
				  )	  	
		</if>
		GROUP BY  A.PDM_TBL_ID
		        , A.PDM_TBL_PNM
		        , A.PDM_TBL_LNM
		        , D.PDM_TBL_PNM
		        , D.PDM_TBL_LNM
		        , C.PDM_TBL_ID
		        , A.FULL_PATH
		        , D.FULL_PATH
		        , D.PDM_TBL_ID
		        , A.FULL_PATH
		)TBL                                                                                       
		WHERE SAME_COL_CNT > 0
		<if test="fullPath != null and fullPath != '' ">
				AND SRC_FULL_PATH LIKE '%' || #{fullPath,jdbcType=VARCHAR} || '%'
		</if>
		<if test="crlRt != null" >
			   	AND ( IF(SRC_COL_CNT = 0, ((ROUND(SAME_COL_CNT / SAME_COL_CNT, 2) - 1) * 100), (ROUND(SAME_COL_CNT / SRC_COL_CNT, 2) * 100)) >= #{crlRt,jdbcType=VARCHAR}     
		       	AND IF(TGT_COL_CNT = 0, ((ROUND(SAME_COL_CNT / SAME_COL_CNT, 2) - 1) * 100), (ROUND(SAME_COL_CNT / TGT_COL_CNT, 2) * 100)) >= #{crlRt,jdbcType=VARCHAR} )
			   	<!-- AND ( ROUND(SAME_COL_CNT / SRC_COL_CNT, 2) * 100 >= #{crlRt,jdbcType=VARCHAR}     
		       	AND ROUND(SAME_COL_CNT / TGT_COL_CNT, 2) * 100 >= #{crlRt,jdbcType=VARCHAR} ) -->
		</if>   
		ORDER BY SRC_DATAMODEL_NM, SRC_PRIMARY_SUBJ_NM, SRC_SUBJ_NM, SRC_TBL_KNM, SRC_SAME_ORDER desc, TGT_SAME_ORDER desc       
</select>

<select id="getCodeStructuer" resultMap="BaseResultMap" parameterType="kr.wise.meta.symn.service.StructureVO">
	<![CDATA[	
		SELECT DISTINCT 
		       CASE WHEN SRC_ITEM_ID < TGT_ITEM_ID THEN SRC_ITEM_ID ELSE TGT_ITEM_ID END   AS SRC_ITEM_ID
		     , CASE WHEN SRC_ITEM_ID < TGT_ITEM_ID THEN SRC_ITEM_KNM ELSE TGT_ITEM_KNM END AS SRC_ITEM_KNM
		     , CASE WHEN SRC_ITEM_ID < TGT_ITEM_ID THEN SRC_ITEM_ENM ELSE TGT_ITEM_ENM END AS SRC_ITEM_ENM
		     , CASE WHEN SRC_ITEM_ID > TGT_ITEM_ID THEN SRC_ITEM_ID ELSE TGT_ITEM_ID END   AS TGT_ITEM_ID
		     , CASE WHEN SRC_ITEM_ID > TGT_ITEM_ID THEN SRC_ITEM_KNM ELSE TGT_ITEM_KNM END AS TGT_ITEM_KNM
		     , CASE WHEN SRC_ITEM_ID > TGT_ITEM_ID THEN SRC_ITEM_ENM ELSE TGT_ITEM_ENM END AS TGT_ITEM_ENM
		     , CASE WHEN SRC_ITEM_ID < TGT_ITEM_ID THEN SRC_CD_CNT ELSE TGT_CD_CNT END||' 개' AS SRC_CD_CNT
		     , CASE WHEN SRC_ITEM_ID > TGT_ITEM_ID THEN SRC_CD_CNT ELSE TGT_CD_CNT END||' 개' AS TGT_CD_CNT
		     , SAM_CD_CNT||' 개' AS SAM_CD_CNT
		     , ROUND(SAM_CD_CNT / CASE WHEN SRC_ITEM_ID < TGT_ITEM_ID THEN SRC_CD_CNT ELSE TGT_CD_CNT END ,2)*100 ||' %' AS SRC_SAME_RT
		     , ROUND(SAM_CD_CNT / CASE WHEN SRC_ITEM_ID > TGT_ITEM_ID THEN SRC_CD_CNT ELSE TGT_CD_CNT END ,2)*100 ||' %' AS TGT_SAME_RT
		     , ROUND(SAM_CD_CNT / CASE WHEN SRC_ITEM_ID < TGT_ITEM_ID THEN SRC_CD_CNT ELSE TGT_CD_CNT END ,2)*100  AS SRC_SAME_ORDER
		     , ROUND(SAM_CD_CNT / CASE WHEN SRC_ITEM_ID > TGT_ITEM_ID THEN SRC_CD_CNT ELSE TGT_CD_CNT END ,2)*100  AS TGT_SAME_ORDER 
		     
		  FROM (
		  
		        SELECT   A.DMN_ID      AS SRC_ITEM_ID
		               , A.DMN_LNM     AS SRC_ITEM_KNM
		               , A.DMN_PNM     AS SRC_ITEM_ENM
		               , D.DMN_ID      AS TGT_ITEM_ID
		               , D.DMN_LNM     AS TGT_ITEM_KNM
		               , D.DMN_PNM     AS TGT_ITEM_ENM
		               , B.SRC_CD_CNT
		               , C.TGT_CD_CNT
		               , COUNT(1)      AS SAM_CD_CNT 
		          FROM WAM_DMN A
		         INNER JOIN 
		             (
		                SELECT   DMN_ID
		                       , REGEXP_REPLACE(CD_VAL_NM,'(\W)|_','') AS SRC_CD_VAL_NM  --비문자열 또는 _(언더바)를 찾아 공백으로 치환 하는 정규식
		                       , COUNT(*) OVER (PARTITION BY DMN_ID) AS SRC_CD_CNT
		                  FROM WAM_CD_VAL
		                 WHERE REG_TYP_CD IN('C','U')
		                   AND REGEXP_REPLACE(CD_VAL_NM,'(\W)|_','') IS NOT NULL
		                 GROUP BY DMN_ID, REGEXP_REPLACE(CD_VAL_NM,'(\W)|_',''), CD_VAL_NM
		             ) B
		            ON A.DMN_ID = B.DMN_ID
		           AND A.REG_TYP_CD IN('C','U')
		         INNER JOIN 
		             (
		                SELECT   DMN_ID
		                       , REGEXP_REPLACE(CD_VAL_NM,'(\W)|_','') AS TGT_CD_VAL_NM
		                       , COUNT(*) OVER (PARTITION BY DMN_ID) AS TGT_CD_CNT
		                  FROM WAM_CD_VAL
		                 WHERE REG_TYP_CD IN('C','U')
		                   AND REGEXP_REPLACE(CD_VAL_NM,'(\W)|_','') IS NOT NULL
		                 GROUP BY DMN_ID, REGEXP_REPLACE(CD_VAL_NM,'(\W)|_','')    
		             ) C
		            ON B.SRC_CD_VAL_NM = C.TGT_CD_VAL_NM
		         INNER JOIN WAM_DMN D
		            ON D.DMN_ID = C.DMN_ID
		           AND D.REG_TYP_CD IN('C','U')  
		         WHERE A.DMN_ID <> D.DMN_ID 
		         GROUP BY A.DMN_ID, A.DMN_LNM, A.DMN_PNM, D.DMN_ID, D.DMN_LNM, D.DMN_PNM, B.SRC_CD_CNT, C.TGT_CD_CNT
		            HAVING ROUND(COUNT(1) / SRC_CD_CNT, 2) * 100 >= #{crlRt,jdbcType=VARCHAR} 	-- /* 기준비율 */
             		AND ROUND(COUNT(1) / TGT_CD_CNT, 2) * 100 >= #{crlRt,jdbcType=VARCHAR}   	-- /* 기준비율 */
		        )
		     WHERE 1=1   
		     ]]>   
		     <if test="dmnLnm != null and dmnLnm != '' ">
			  AND( ( SRC_ITEM_KNM LIKE '%' || #{dmnLnm,jdbcType=VARCHAR} ||'%' OR SRC_ITEM_KNM LIKE '%' || UPPER( #{dmnLnm,jdbcType=VARCHAR}) ||'%' ) 
			  OR( SRC_ITEM_ENM LIKE '%' || #{dmnLnm,jdbcType=VARCHAR} ||'%' OR SRC_ITEM_ENM LIKE '%' || UPPER( #{dmnLnm,jdbcType=VARCHAR}) ||'%' )
			  )
			</if>
			<![CDATA[         
		     ORDER BY CASE WHEN SRC_ITEM_ID < TGT_ITEM_ID THEN SRC_ITEM_KNM ELSE TGT_ITEM_KNM END
		        , CASE WHEN SRC_ITEM_ID > TGT_ITEM_ID THEN SRC_ITEM_KNM ELSE TGT_ITEM_KNM END 
		    ]]>
		        
</select>

<select id="selectDmnInitList" resultMap="BaseResultMap" parameterType="kr.wise.meta.symn.service.StructureVO">
		SELECT A.DMN_LNM        AS SRC_DMN_KNM                         
		     , A.DMN_PNM        AS SRC_DMN_ENM                         
		     , A.DMN_ORG_DS       AS SRC_DMN_DSCD                        
		     , E.STWD_LNM        AS SRC_TRM_KNM                         
		     , E.STWD_PNM        AS SRC_TRM_ENM                         
		     , D.DMN_LNM        AS TGT_DMN_KNM                         
		     , D.DMN_PNM        AS TGT_DMN_ENM                         
		     , D.DMN_ORG_DS       AS TGT_DMN_DSCD                        
		     , F.STWD_LNM        AS TGT_TRM_KNM                         
		     , F.STWD_PNM        AS TGT_TRM_ENM 
		     , B.WD_SNO												
		FROM WAM_DMN A                                             
		INNER JOIN WAM_STWD_CNFG B                                       
		ON    A.DMN_ID = B.OBJ_ID
		LEFT OUTER JOIN WAM_STWD E 
		ON  B.STWD_ID = E.STWD_ID
		LEFT OUTER JOIN WAM_STWD_CNFG C
		ON    B.STWD_ID = C.STWD_ID
		AND   C.OBJ_ID  = #{tgtDmnId,jdbcType=VARCHAR}                                   
		LEFT OUTER JOIN WAM_STWD F
		ON  C.STWD_ID = F.STWD_ID
		LEFT OUTER JOIN WAM_DMN D                                  
		ON    D.DMN_ID= C.OBJ_ID                                          
		AND   D.REG_TYP_CD IN ('C','U')
		WHERE   A.REG_TYP_CD IN ('C','U')
		AND   A.DMN_ID = #{dmnId,jdbcType=VARCHAR} 
		UNION 
		SELECT D.DMN_LNM        AS SRC_DMN_KNM                         
		     , D.DMN_PNM        AS SRC_DMN_ENM                         
		     , D.DMN_ORG_DS       AS SRC_DMN_DSCD                        
		     , F.STWD_LNM        AS SRC_TRM_KNM                         
		     , F.STWD_PNM       AS SRC_TRM_ENM                         
		     , A.DMN_LNM        AS TGT_DMN_KNM                         
		     , A.DMN_PNM        AS TGT_DMN_ENM                         
		     , A.DMN_ORG_DS       AS TGT_DMN_DSCD                        
		     , E.STWD_LNM        AS TGT_TRM_KNM                         
		     , E.STWD_PNM        AS TGT_TRM_ENM
		     , C.WD_SNO												
		FROM WAM_DMN A                                             
		INNER JOIN WAM_STWD_CNFG B                                       
		ON    A.DMN_ID = B.OBJ_ID
		LEFT OUTER JOIN WAM_STWD E 
		ON  B.STWD_ID = E.STWD_ID
		LEFT OUTER JOIN WAM_STWD_CNFG C                                  
		ON    B.STWD_ID = C.STWD_ID
		AND   C.OBJ_ID = #{dmnId,jdbcType=VARCHAR}                                                                      
		LEFT OUTER JOIN WAM_STWD F
		ON  C.STWD_ID = F.STWD_ID
		LEFT OUTER JOIN WAM_DMN D                                  
		ON    D.DMN_ID= C.OBJ_ID                                          
		AND   D.REG_TYP_CD IN ('C','U')
		WHERE   A.REG_TYP_CD IN ('C','U')
		AND   A.DMN_ID = #{tgtDmnId,jdbcType=VARCHAR}  
		ORDER BY WD_SNO
</select>

<select id="selectItmInitList" resultMap="BaseResultMap" parameterType="kr.wise.meta.symn.service.StructureVO">
		SELECT A.SDITM_LNM        AS SRC_ITEM_KNM                       
		     , A.SDITM_PNM        AS SRC_ITEM_ENM                                           
		     , D.SDITM_LNM        AS TGT_ITEM_KNM                       
		     , D.SDITM_PNM        AS TGT_ITEM_ENM                                             
		     , E.STWD_LNM        AS SRC_TRM_KNM                         
		     , E.STWD_PNM        AS SRC_TRM_ENM
		     , F.STWD_LNM        AS TGT_TRM_KNM                         
		     , F.STWD_PNM        AS TGT_TRM_ENM 
		     , B.WD_SNO											
		FROM WAM_SDITM A                                      
		INNER JOIN WAM_STWD_CNFG B                            
		ON    A.SDITM_ID = B.OBJ_ID 
		LEFT OUTER JOIN WAM_STWD E 
		ON  B.STWD_ID = E.STWD_ID
		LEFT OUTER JOIN WAM_STWD_CNFG C                       
		ON    B.STWD_ID = C.STWD_ID                                                          
		AND   C.OBJ_ID = #{tgtItemId,jdbcType=VARCHAR}
		LEFT OUTER JOIN WAM_STWD F 
		ON  C.STWD_ID = F.STWD_ID
		LEFT OUTER JOIN WAM_SDITM D                           
		ON    D.SDITM_ID = C.OBJ_ID                                          
		AND   D.REG_TYP_CD IN ('C','U')
		WHERE A.REG_TYP_CD IN ('C','U')                               
		AND   A.SDITM_ID = #{srcItemId,jdbcType=VARCHAR}         
		UNION                                                        
		SELECT D.SDITM_LNM        AS SRC_ITEM_KNM                       
		     , D.SDITM_PNM        AS SRC_ITEM_ENM
		     , A.SDITM_LNM        AS TGT_ITEM_KNM                       
		     , A.SDITM_PNM        AS TGT_ITEM_ENM              
		     , F.STWD_LNM        AS SRC_TRM_KNM                         
		     , F.STWD_PNM        AS SRC_TRM_ENM
		     , E.STWD_LNM        AS TGT_TRM_KNM                         
		     , E.STWD_PNM        AS TGT_TRM_ENM                       
		     , C.WD_SNO                                         
		FROM WAM_SDITM A                                      
		INNER JOIN WAM_STWD_CNFG B                            
		ON    A.SDITM_ID = B.OBJ_ID
		LEFT OUTER JOIN WAM_STWD E 
		ON  B.STWD_ID = E.STWD_ID
		LEFT OUTER JOIN WAM_STWD_CNFG C                       
		ON    B.STWD_ID = C.STWD_ID                                                                
		AND   C.OBJ_ID = #{srcItemId,jdbcType=VARCHAR}
		LEFT OUTER JOIN WAM_STWD F 
		ON  C.STWD_ID = F.STWD_ID
		LEFT OUTER JOIN WAM_SDITM D                           
		ON    D.SDITM_ID = C.OBJ_ID                                           
		AND   D.REG_TYP_CD IN ('C','U')                               
		WHERE A.REG_TYP_CD IN ('C','U')                               
		AND   A.SDITM_ID = #{tgtItemId,jdbcType=VARCHAR}           
		ORDER BY WD_SNO
</select>

<select id="selectMdlInitList" resultMap="BaseResultMap" parameterType="kr.wise.meta.symn.service.StructureVO">
	
		 SELECT SUBSTR(A.FULL_PATH ,0,INSTR(A.FULL_PATH, '>',1,1)-1 )      AS SRC_DATAMODEL_NM                                                                           
		      , SUBSTR(A.FULL_PATH,INSTR(A.FULL_PATH, '>',1,1)+1,INSTR(A.FULL_PATH, '>',1,1)+1 )    AS SRC_PRIMARY_SUBJ_NM                                                                            
		      , SUBSTR(A.FULL_PATH,INSTR(A.FULL_PATH, '>',1,2)+1 )            AS SRC_SUBJ_NM                                                                             
		      , A.PDM_TBL_LNM            AS SRC_TBL_KNM                                                                            
		      , A.PDM_TBL_PNM            AS SRC_TBL_ENM                                                                     
		      , B.PDM_COL_LNM            AS SRC_COL_KNM                                                                       
		      , B.PDM_COL_PNM            AS SRC_COL_ENM                                                                    
		      , B.COL_ORD                AS SRC_POSITION                                                                      
		      , B.PK_YN                  AS SRC_PK_YN                                                                                                                                              
		      , B.NONUL_YN         AS SRC_NULL_YN
		      , REPLACE(REPLACE(B.DATA_TYPE||'('||B.DATA_LEN||','||B.DATA_SCAL||')',',)',')'),'()','') AS SRC_DATA_TYPE
		      , SUBSTR(D.FULL_PATH ,0,INSTR(D.FULL_PATH, '>',1,1)-1 ) AS TGT_DATAMODEL_NM
			  , SUBSTR(D.FULL_PATH,INSTR(D.FULL_PATH, '>',1,1)+1,INSTR(D.FULL_PATH, '>',1,1)+1 ) AS TGT_PRIMARY_SUBJ_NM
		      , SUBSTR(D.FULL_PATH,INSTR(D.FULL_PATH, '>',1,2)+1 ) AS TGT_SUBJ_NM 
		      , D.PDM_TBL_LNM            AS TGT_TBL_KNM                                                                            
		      , D.PDM_TBL_PNM            AS TGT_TBL_ENM
		      , C.PDM_COL_LNM            AS TGT_COL_KNM                                                                       
		      , C.PDM_COL_PNM            AS TGT_COL_ENM
		      , C.COL_ORD                AS TGT_POSITION                                                                      
		      , C.PK_YN                  AS TGT_PK_YN                                                              
		      , C.NONUL_YN               AS TGT_NULL_YN                                                                     
		      , REPLACE(REPLACE(C.DATA_TYPE||'('||C.DATA_LEN||','||C.DATA_SCAL||')',',)',')'),'()','') AS TGT_DATA_TYPE   
		      , A.PDM_TBL_ID             AS SRC_TBL_ID                                                                             
		      , B.PDM_COL_ID             AS SRC_COL_ID                                                                      
		      , D.PDM_TBL_ID             AS TGT_TBL_ID                                                                       
		      , C.PDM_COL_ID             AS TGT_COL_ID                                                                         
		 FROM WAM_PDM_TBL A                                                                                              
		 INNER JOIN WAM_PDM_COL B                                                                                         
		 ON    A.PDM_TBL_ID = B.PDM_TBL_ID                                                                                                                                                                           
		 LEFT OUTER JOIN WAM_PDM_COL C                                                                                  
		 ON    B.PDM_COL_LNM = C.PDM_COL_LNM                                                                                      
		 AND   C.PDM_TBL_ID =  #{tgtObjId,jdbcType=VARCHAR}                                                                                                                                            
		 LEFT OUTER JOIN WAM_PDM_TBL D                                                                                   
		 ON    D.PDM_TBL_ID = C.PDM_TBL_ID                                                                                                                                           
		 AND   D.REG_TYP_CD IN ('C','U')                                                                                  
		 WHERE A.REG_TYP_CD IN ('C','U')                                                                                  
		 AND   A.PDM_TBL_ID = #{srcObjId,jdbcType=VARCHAR}                                                               
		 UNION 
		
		 SELECT SUBSTR(D.FULL_PATH ,0,INSTR(D.FULL_PATH, '>',1,1)-1 ) AS SRC_DATAMODEL_NM
			  , SUBSTR(D.FULL_PATH,INSTR(D.FULL_PATH, '>',1,1)+1,INSTR(D.FULL_PATH, '>',1,1)+1 ) AS SRC_PRIMARY_SUBJ_NM
		      , SUBSTR(D.FULL_PATH,INSTR(D.FULL_PATH, '>',1,2)+1 ) AS SRC_SUBJ_NM                                                                      
		      , D.PDM_TBL_LNM            AS SRC_TBL_KNM                                                                      
		      , D.PDM_TBL_PNM            AS SRC_TBL_ENM                                                                      
		      , C.PDM_COL_LNM            AS SRC_COL_KNM                                                                      
		      , C.PDM_COL_PNM            AS SRC_COL_ENM                                                                      
		      , C.COL_ORD           AS SRC_POSITION                                                                     
		      , C.PK_YN           AS SRC_PK_YN                                                                                                                                              
		      , C.NONUL_YN         AS SRC_NULL_YN                                                                       
		      , REPLACE(REPLACE(C.DATA_TYPE||'('||C.DATA_LEN||','||C.DATA_SCAL||')',',)',')'),'()','') AS SRC_DATA_TYPE
		      , SUBSTR(A.FULL_PATH ,0,INSTR(A.FULL_PATH, '>',1,1)-1 )      AS TGT_DATAMODEL_NM                                                                           
		      , SUBSTR(A.FULL_PATH,INSTR(A.FULL_PATH, '>',1,1)+1,INSTR(A.FULL_PATH, '>',1,1)+1 )    AS TGT_PRIMARY_SUBJ_NM                                                                            
		      , SUBSTR(A.FULL_PATH,INSTR(A.FULL_PATH, '>',1,2)+1 )            AS TGT_SUBJ_NM                                                                           
		      , A.PDM_TBL_LNM            AS TGT_TBL_KNM                                                                        
		      , A.PDM_TBL_PNM            AS TGT_TBL_ENM                                                                       
		      , B.PDM_COL_LNM            AS TGT_COL_KNM                                                                      
		      , B.PDM_COL_PNM            AS TGT_COL_ENM                                                                      
		      , B.COL_ORD           AS TGT_POSITION                                                                      
		      , B.PK_YN           AS TGT_PK_YN                                                                                                                                                   
		      , B.NONUL_YN         AS TGT_NULL_YN                                                                       
		      , REPLACE(REPLACE(B.DATA_TYPE||'('||B.DATA_LEN||','||B.DATA_SCAL||')',',)',')'),'()','') AS TGT_DATA_TYPE    
		      , D.PDM_TBL_ID             AS SRC_TBL_ID                                                                             
		      , C.PDM_COL_ID             AS SRC_COL_ID                                                                             
		      , A.PDM_TBL_ID             AS TGT_TBL_ID                                                                            
		      , B.PDM_COL_ID             AS TGT_COL_ID                                                                             
		 FROM WAM_PDM_TBL A                                                                                                    
		 INNER JOIN WAM_PDM_COL B                                                                                              
		 ON    A.PDM_TBL_ID = B.PDM_TBL_ID                                                                                                                                                                                
		 LEFT OUTER JOIN WAM_PDM_COL C                                                                                        
		 ON    B.PDM_COL_LNM = C.PDM_COL_LNM                                                                                          
		 AND   C.PDM_TBL_ID = #{srcObjId,jdbcType=VARCHAR}                                                                                                                                                      
		 LEFT OUTER JOIN WAM_PDM_TBL D                                                                                        
		 ON    D.PDM_TBL_ID = C.PDM_TBL_ID                                                                                                                                                           
		 AND   D.REG_TYP_CD IN ('C','U')                                                                                       
		 WHERE A.REG_TYP_CD IN ('C','U')                                                                                       
		 AND   A.PDM_TBL_ID = #{tgtObjId,jdbcType=VARCHAR}                                                                   
		 ORDER BY SRC_POSITION
	
</select>

<select id="selectCodeInitList" resultMap="BaseResultMap" parameterType="kr.wise.meta.symn.service.StructureVO">
		   SELECT
	SRC_CD_VAL_NM,
	SRC_CD_VAL,
	SRC_DMN_ID,
	TGT_CD_VAL_NM,
	TGT_CD_VAL,
	TGT_CD_VAL_ID,
	TGT_DMN_ID
FROM
	(
	SELECT
		SRC.SRC_CD_VAL_NM,
		SRC.SRC_CD_VAL,
		SRC.SRC_CD_VAL_ID,
		SRC.SRC_DMN_ID,
		TGT.TGT_CD_VAL_NM,
		TGT.TGT_CD_VAL,
		TGT.TGT_CD_VAL_ID,
		TGT.TGT_DMN_ID
	FROM
		(
		SELECT
			REGEXP_REPLACE(B.CD_VAL_NM,'[^A-Z a-z 0-9 ㄱ-ㅎㅏ-ㅣ가-힣]+', '') AS SRC_CD_VAL_NM,
			B.CD_VAL AS SRC_CD_VAL,
			B.CD_VAL_ID AS SRC_CD_VAL_ID,
			B.DMN_ID   AS SRC_DMN_ID,
			'' AS TGT_CD_VAL_NM,
			'' AS TGT_CD_VAL,
			'' AS TGT_CD_VAL_ID,
			'' AS TGT_DMN_ID
		FROM 
			WAM_DMN A
			INNER JOIN WAM_CD_VAL B
				ON A.DMN_ID = B.DMN_ID
				AND B.REG_TYP_CD IN('C', 'U')
		WHERE 1 = 1
			AND A.REG_TYP_CD IN('C', 'U')
			AND A.DMN_ID = #{srcCdValId,jdbcType=VARCHAR}  -- 소스 도메인 ID
		) SRC
	LEFT OUTER JOIN
		(
		SELECT
			NULL AS SRC_CD_VAL_NM,
			NULL AS SRC_CD_VAL,
			NULL AS SRC_CD_VAL_ID,
			NULL AS SRC_DMN_ID,
			REGEXP_REPLACE(B.CD_VAL_NM,'[^A-Z a-z 0-9 ㄱ-ㅎㅏ-ㅣ가-힣]+', '') AS TGT_CD_VAL_NM,
			B.CD_VAL AS TGT_CD_VAL,
			B.CD_VAL_ID AS TGT_CD_VAL_ID,
			B.DMN_ID   AS TGT_DMN_ID
		FROM
			WAM_DMN A
			INNER JOIN WAM_CD_VAL B
				ON A.DMN_ID = B.DMN_ID
				AND B.REG_TYP_CD IN('C', 'U')
		WHERE 1 = 1
			AND A.REG_TYP_CD IN('C', 'U')
			AND A.DMN_ID = #{srcCdValId,jdbcType=VARCHAR}  -- 타겟 도메인 ID
		) TGT
		ON SRC.SRC_CD_VAL_NM = TGT.TGT_CD_VAL_NM
	WHERE 1 = 1
UNION
	SELECT
		SRC.SRC_CD_VAL_NM,
		SRC.SRC_CD_VAL,
		SRC.SRC_CD_VAL_ID,
		SRC.SRC_DMN_ID,
		TGT.TGT_CD_VAL_NM,
		TGT.TGT_CD_VAL,
		TGT.TGT_CD_VAL_ID,
		TGT.TGT_DMN_ID
	FROM
		(
		SELECT
			REGEXP_REPLACE(B.CD_VAL_NM,'[^A-Z a-z 0-9 ㄱ-ㅎㅏ-ㅣ가-힣]+', '') AS SRC_CD_VAL_NM,
			B.CD_VAL AS SRC_CD_VAL,
			B.CD_VAL_ID AS SRC_CD_VAL_ID,
			B.DMN_ID   AS SRC_DMN_ID,
			'' AS TGT_CD_VAL_NM,
			'' AS TGT_CD_VAL,
			'' AS TGT_CD_VAL_ID,
			'' AS TGT_DMN_ID
		FROM 
			WAM_DMN A
			INNER JOIN WAM_CD_VAL B
				ON A.DMN_ID = B.DMN_ID
				AND B.REG_TYP_CD IN('C', 'U')
		WHERE 1 = 1
			AND A.REG_TYP_CD IN('C', 'U')
			AND A.DMN_ID = #{srcCdValId,jdbcType=VARCHAR}  -- 소스 도메인 ID
		) SRC
	RIGHT OUTER JOIN
		(
		SELECT
			NULL AS SRC_CD_VAL_NM,
			NULL AS SRC_CD_VAL,
			NULL AS SRC_CD_VAL_ID,
			NULL AS SRC_DMN_ID,
			REGEXP_REPLACE(B.CD_VAL_NM,'[^A-Z a-z 0-9 ㄱ-ㅎㅏ-ㅣ가-힣]+', '') AS TGT_CD_VAL_NM,
			B.CD_VAL AS TGT_CD_VAL,
			B.CD_VAL_ID AS TGT_CD_VAL_ID,
			B.DMN_ID   AS TGT_DMN_ID
		FROM
			WAM_DMN A
			INNER JOIN WAM_CD_VAL B
				ON A.DMN_ID = B.DMN_ID
				AND B.REG_TYP_CD IN('C', 'U')
		WHERE 1 = 1
			AND A.REG_TYP_CD IN('C', 'U')
			AND A.DMN_ID = #{srcCdValId,jdbcType=VARCHAR}  -- 타겟 도메인 ID
		) TGT
		ON SRC.SRC_CD_VAL_NM = TGT.TGT_CD_VAL_NM
	WHERE 1 = 1
	) SEL_LIST
		        
</select>

   
</mapper>










