<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	수정일                 수정자                          수정내용
  =========     =======    =================================================
  2011.9.7   	정진오     	 	resultMap id="commentDetail"   : FRST_REGISTER_ID -> FRST_REGISTER_NM 
  							"selectComment"  : FRST_REGISTER_NM
  							두 요소간 불일치로 인한 에러 발생 수정	
  2011.10.18       서준식               insertComment	 : select key 태그 삭제										
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.wise.commons.bbs.service.BBSCommentMapper" >
	
	<resultMap id="commentList" type="kr.wise.commons.bbs.service.CommentVO">
		<id property="nttId" column="NTT_ID"/>
		<id property="bbsId" column="BBS_ID"/>
		<result property="commentNo" column="ANSWER_NO"/>
		<result property="wrterId" column="WRTER_ID"/>
		<result property="wrterNm" column="WRTER_NM"/>
		<result property="commentPassword" column="PASSWORD"/>
		<result property="commentCn" column="ANSWER"/>
		<result property="useAt" column="USE_AT"/>
		<result property="frstRegisterPnttm" column="FRST_REGIST_PNTTM"/>
		<result property="frstRegisterNm" column="FRST_REGISTER_ID"/>
		<result property="cateCode" column="CATE_CODE"/>
		<result property="prjId" column="PRJ_ID"/>
		<result property="reportType" column="REPORT_TYPE"/>
	</resultMap>
	
	<resultMap id="commentDetail" type="kr.wise.commons.bbs.service.CommentVO">
		<id property="nttId" column="NTT_ID"/>
		<id property="bbsId" column="BBS_ID"/>
		<result property="commentNo" column="ANSWER_NO"/>
		<result property="wrterId" column="WRTER_ID"/>
		<result property="wrterNm" column="WRTER_NM"/>
		<result property="commentPassword" column="PASSWORD"/>
		<result property="commentCn" column="ANSWER"/>
		<result property="useAt" column="USE_AT"/>
		<result property="frstRegisterPnttm" column="FRST_REGIST_PNTTM"/>
		<result property="frstRegisterNm" column="FRST_REGISTER_NM"/>
		<result property="lastUpdtPnttm" column="LAST_UPDT_PNTTM"/>
		<result property="lastUpdusrId" column="LAST_UPDUSR_ID"/>
		<result property="cateCode" column="CATE_CODE"/>
		<result property="prjId" column="PRJ_ID"/>
		<result property="reportType" column="REPORT_TYPE"/>
	</resultMap>
	
	<sql id="Base_Column_List" >
    NTT_ID, BBS_ID, ANSWER_NO, WRTER_ID, WRTER_NM, PASSWORD, ANSWER, USE_AT,
    FRST_REGIST_PNTTM, FRST_REGISTER_NM, LAST_UPDT_PNTTM, LAST_UPDUSR_ID,
    CATE_CODE, PRJ_ID, REPORT_TYPE
  	</sql>

	<select id="selectArticleCommentList" parameterType="kr.wise.commons.bbs.service.CommentVO" resultMap="commentList">
		<![CDATA[
		SELECT * FROM ( SELECT ROWNUM() AS rn, TB.* FROM (
			SELECT
				a.ANSWER_NO, a.NTT_ID, a.BBS_ID, 
				a.WRTER_ID, a.WRTER_NM, a.PASSWORD, a.ANSWER, a.USE_AT,
				a.CATE_CODE, a.PRJ_ID, a.REPORT_TYPE,
				DATE_FORMAT(a.FRST_REGIST_PNTTM, '%Y-%m-%d %H:%i:%S')
				as FRST_REGIST_PNTTM,
				b.USER_NM as FRST_REGISTER_ID
			FROM
				COMTNCOMMENT a
			INNER JOIN COMTNBBSMASTER X
            ON a.BBS_ID = X.BBS_ID
            LEFT OUTER JOIN 
				COMTNBBSMASTER c
			ON a.BBS_ID = c.BBS_ID
            LEFT OUTER JOIN COMTCCMMNDETAILCODE Y
            ON  c.CATE_CODE = Y.CODE_ID
            AND a.CATE_CODE = Y.CODE
			LEFT OUTER JOIN WAA_USER b 
			ON a.FRST_REGISTER_ID = b.LOGIN_AC_ID
			AND B.REG_TYP_CD IN ('C', 'U')
			AND B.EXP_DTM = STR_TO_DATE('9999-12-31', '%Y-%m-%d')	
			WHERE
				a.BBS_ID = #{bbsId} 
			AND 
				a.NTT_ID = #{nttId}
			AND
				a.USE_AT = 'Y'
			
			]]>
				<if test="cateCode !=null and cateCode != ''">
				AND
				a.CATE_CODE = #{cateCode}
			</if>
<!--			<if test="cateCode !=null and cateCode != ''"> -->
<!--				<![CDATA[ AND a.CATE_CODE = #{cateCode} 		]]> -->
<!--			</if> -->
<!--			<if test="prjId !=null and prjId != ''"> -->
<!--				<![CDATA[ AND a.PRJ_ID = #{prjId} 		]]> -->
<!--			</if> -->
<!--			<if test="reportType !=null and reportType != ''"> -->
<!--				<![CDATA[ AND a.REPORT_TYPE = #{reportType} 		]]> -->
<!--			</if> -->
		  
		<![CDATA[			
			ORDER BY a.FRST_REGIST_PNTTM ASC
			) TB ) AS FRIST
			WHERE rn BETWEEN #{subFirstIndex} + 1 AND #{subFirstIndex} + #{subRecordCountPerPage}
		]]>	
	</select>	
	
	<select id="selectArticleCommentListCnt" parameterType="kr.wise.commons.bbs.service.CommentVO" resultType="java.lang.Integer">
		<![CDATA[
			SELECT
				COUNT(ANSWER_NO)
			FROM
				COMTNCOMMENT 
			WHERE
				BBS_ID = #{bbsId} AND NTT_ID = #{nttId}
			AND
				USE_AT = 'Y'
		]]>
		<!--
			<if test="cateCode !=null and cateCode != ''">
				<![CDATA[ AND	a.CATE_CODE  = #{cateCode} 		]]>
			</if>
			<if test="prjId !=null and prjId != ''">
				<![CDATA[ AND	a.PRJ_ID  = #{prjId} 		]]>
			</if>
			<if test="reportType !=null and reportType != ''">
				<![CDATA[ AND	a.REPORT_TYPE  = #{reportType} 		]]>
			</if>	
		  -->	
	</select>
	
	<insert id="insertArticleComment" parameterType="kr.wise.commons.bbs.service.CommentVO">
		<![CDATA[
			INSERT INTO COMTNCOMMENT (
			ANSWER_NO, NTT_ID, BBS_ID, WRTER_ID, WRTER_NM, PASSWORD, 
			ANSWER, USE_AT, CATE_CODE, PRJ_ID, REPORT_TYPE, 
			FRST_REGISTER_ID, FRST_REGIST_PNTTM 
			)VALUES ( 
				#{commentNo}, 
				#{nttId}, 
				#{bbsId, jdbcType=CHAR}, 
				#{wrterId}, 
				#{wrterNm}, 
				#{commentPassword}, 
			  	#{commentCn}, 
			  	'Y', 
			  	#{cateCode, jdbcType=VARCHAR}, 
			  	#{prjId, jdbcType=VARCHAR}, 
			  	#{reportType, jdbcType=VARCHAR},
			  	#{frstRegisterId}, 
			  	NOW()
			 )
		]]>	
	</insert>
	
	<update id="deleteArticleComment" parameterType="kr.wise.commons.bbs.service.CommentVO">
		<![CDATA[
			UPDATE COMTNCOMMENT
			SET USE_AT = 'N'
			WHERE ANSWER_NO = #{commentNo}
		]]>				
	</update>
	
	<select id="selectArticleCommentDetail" parameterType="kr.wise.commons.bbs.service.CommentVO" resultMap="commentDetail">
		<![CDATA[
			SELECT
				a.ANSWER_NO, a.NTT_ID, a.BBS_ID, 
				a.WRTER_ID, a.WRTER_NM, a.PASSWORD, a.ANSWER, a.USE_AT,
				a.CATE_CODE, a.PRJ_ID, a.REPORT_TYPE,
				DATE_FORMAT(a.FRST_REGIST_PNTTM, '%Y-%m-%d %H:%i:%S') 
				as FRST_REGIST_PNTTM,
				b.USER_NM as FRST_REGISTER_NM
			FROM
				COMTNCOMMENT a
			LEFT OUTER JOIN WAA_USER b 
			ON a.FRST_REGISTER_ID = b.LOGIN_AC_ID 
			AND B.REG_TYP_CD IN ('C', 'U')
			AND B.EXP_DTM = STR_TO_DATE('9999-12-31', '%Y-%m-%d')
			LEFT OUTER JOIN 
				COMTNBBSMASTER c
			ON a.BBS_ID = c.BBS_ID	
            LEFT OUTER JOIN COMTCCMMNDETAILCODE Y
            ON  c.CATE_CODE = Y.CODE_ID
            AND a.CATE_CODE = Y.CODE
			WHERE
				a.ANSWER_NO = #{commentNo}
			AND
				a.NTT_ID = #{nttId}
		]]>
						
	</select> 

 	 <update id="updateArticleComment" parameterType="kr.wise.commons.bbs.service.CommentVO">
 		<![CDATA[
			UPDATE COMTNCOMMENT SET 
				ANSWER = #{commentCn},
				LAST_UPDUSR_ID = #{lastUpdusrId},
				LAST_UPDT_PNTTM = NOW()
			WHERE ANSWER_NO = #{commentNo} 
 		]]>
 	</update>
 	
</mapper>