<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.sysinf.pwdesigner.service.PdMartMapper" >
  <resultMap id="BaseResultMap" type="kr.wise.meta.model.service.WaqPdmTbl">
    <id column="PDM_TBL_ID" property="pdmTblId" jdbcType="VARCHAR" />
<!--     <result column="ENTITY_ID" property="entityId" jdbcType="DECIMAL" /> -->
    <result column="PDM_TBL_PNM" property="pdmTblPnm" jdbcType="VARCHAR" />
    <result column="PDM_TBL_LNM" property="pdmTblLnm" jdbcType="VARCHAR" />
<!--     <result column="PDM_COL_PNM" property="pdmColPnm" jdbcType="VARCHAR" /> -->
<!--     <result column="PDM_COL_LNM" property="pdmColLnm" jdbcType="VARCHAR" /> -->
    <result column="SUBJ_ID" property="subjId" jdbcType="VARCHAR" />
    <result column="SUBJ_LNM" property="subjLnm" jdbcType="VARCHAR" />
    <result column="STD_APL_YN" property="stdAplYn" jdbcType="VARCHAR" />
    <result column="PART_TBL_YN" property="partTblYn" jdbcType="VARCHAR" />
    <result column="DW_TRG_TBL_YN" property="dwTrgTblYn" jdbcType="VARCHAR" />
    <result column="CRG_USER_ID" property="crgUserId" jdbcType="VARCHAR" />
    <result column="CRG_USER_NM" property="crgUserNm" jdbcType="VARCHAR" />
<!--     <result column="RQST_NO" property="rqstNo" jdbcType="VARCHAR" /> -->
<!--     <result column="RQST_SNO" property="rqstSno" jdbcType="DECIMAL" /> -->
	<result column="RQST_DCD" property="rqstDcd" jdbcType="VARCHAR" />
    <result column="OBJ_DESCN" property="objDescn" jdbcType="VARCHAR" />
<!--     <result column="OBJ_VERS" property="objVers" jdbcType="DECIMAL" /> -->
<!--     <result column="REG_TYP_CD" property="regTypCd" jdbcType="VARCHAR" /> -->
<!--     <result column="FRS_RQST_DTM" property="frsRqstDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="FRS_RQST_USER_ID" property="frsRqstUserId" jdbcType="VARCHAR" /> -->
<!--     <result column="FRS_RQST_USER_NM" property="frsRqstUserNm" jdbcType="VARCHAR" /> -->
<!--     <result column="RQST_DTM" property="rqstDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="RQST_USER_ID" property="rqstUserId" jdbcType="VARCHAR" /> -->
<!--     <result column="RQST_USER_NM" property="rqstUserNm" jdbcType="VARCHAR" /> -->
<!--     <result column="APRV_DTM" property="aprvDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="APRV_USER_ID" property="aprvUserId" jdbcType="VARCHAR" /> -->
<!--     <result column="APRV_USER_NM" property="aprvUserNm" jdbcType="VARCHAR" /> -->
    <result column="CTD_FCY" property="ctdFcy" jdbcType="VARCHAR" />
    <result column="DEL_CRI" property="delCri" jdbcType="VARCHAR" />
    <result column="DEL_MTD" property="delMtd" jdbcType="VARCHAR" />
    <result column="BCK_FCY" property="bckFcy" jdbcType="VARCHAR" />
<!--     <result column="SYS_AREA_ID" property="sysAreaId" jdbcType="VARCHAR" /> -->
    <result column="MDL_LNM" property="mdlLnm" jdbcType="VARCHAR" />
    <result column="UPP_SUBJ_LNM" property="uppSubjLnm" jdbcType="VARCHAR" />
<!--     <result column="STR_DTM" jdbcType="TIMESTAMP" property="strDtm" /> -->
<!--     <result column="EXP_DTM" jdbcType="TIMESTAMP" property="expDtm" /> -->
<!--     <result column="SUBJ_LVL" property="subjLvl" jdbcType="VARCHAR" /> -->
    <result column="BF_PDM_TBL_PNM" property="bfPdmTblPnm" jdbcType="VARCHAR" />
<!--     <result column="DATA_TYPE " property="dataType" jdbcType="VARCHAR" /> -->
<!--     <result column="SUBJ_LVL" property="Level" jdbcType="INTEGER" /> -->
    <result column="FULL_PATH" property="fullPath" jdbcType="VARCHAR" />
    <result column="IBS_STATUS" property="ibsStatus" jdbcType="VARCHAR" />
    <result column="PDM_REG_YN" property="pdmRegYn" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="PdColResult" type="kr.wise.meta.model.service.WaqPdmCol">
    <result column="RQST_NO" property="rqstNo" jdbcType="VARCHAR" />
    <result column="RQST_SNO" property="rqstSno" jdbcType="DECIMAL" />
<!--     <id column="RQST_DTL_SNO" property="rqstDtlSno" jdbcType="DECIMAL" /> -->
    <result column="PDM_COL_ID" property="pdmColId" jdbcType="VARCHAR" />
    <result column="PDM_COL_PNM" property="pdmColPnm" jdbcType="VARCHAR" />
    <result column="PDM_COL_LNM" property="pdmColLnm" jdbcType="VARCHAR" />
    <result column="BF_PDM_COL_PNM" property="bfPdmColPnm" jdbcType="VARCHAR" />
    <result column="RQST_DCD" property="rqstDcd" jdbcType="VARCHAR" />
<!--     <result column="VRF_CD" property="vrfCd" jdbcType="VARCHAR" /> -->
<!--     <result column="VRF_RMK" property="vrfRmk" jdbcType="VARCHAR" /> -->
    <result column="PDM_TBL_ID" property="pdmTblId" jdbcType="VARCHAR" />
    <result column="PDM_TBL_PNM" property="pdmTblPnm" jdbcType="VARCHAR" />
    <result column="MDL_LNM" property="mdlLnm" jdbcType="VARCHAR" />
    <result column="UPP_SUBJ_LNM" property="uppSubjLnm" jdbcType="VARCHAR" />
    <result column="SUBJ_ID" property="subjId" jdbcType="VARCHAR" />
    <result column="SUBJ_LNM" property="subjLnm" jdbcType="VARCHAR" />
    <result column="SDITM_ID" property="sditmId" jdbcType="VARCHAR" />
    <result column="COL_ORD" property="colOrd" jdbcType="DECIMAL" />
    <result column="DATA_TYPE" property="dataType" jdbcType="VARCHAR" />
    <result column="DATA_LEN" property="dataLen" jdbcType="DECIMAL" />
    <result column="DATA_SCAL" property="dataScal" jdbcType="DECIMAL" />
    <result column="PK_YN" property="pkYn" jdbcType="VARCHAR" />
    <result column="PK_ORD" property="pkOrd" jdbcType="DECIMAL" />
    <result column="NONUL_YN" property="nonulYn" jdbcType="VARCHAR" />
    <result column="DEFLT_VAL" property="defltVal" jdbcType="VARCHAR" />
    <result column="OBJ_DESCN" property="objDescn" jdbcType="VARCHAR" />
<!--     <result column="OBJ_VERS" property="objVers" jdbcType="DECIMAL" /> -->
<!--     <result column="REG_TYP_CD" property="regTypCd" jdbcType="VARCHAR" /> -->
<!--     <result column="FRS_RQST_DTM" property="frsRqstDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="FRS_RQST_USER_ID" property="frsRqstUserId" jdbcType="VARCHAR" /> -->
<!--     <result column="RQST_DTM" property="rqstDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="RQST_USER_ID" property="rqstUserId" jdbcType="VARCHAR" /> -->
<!--     <result column="APRV_DTM" property="aprvDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="APRV_USER_ID" property="aprvUserId" jdbcType="VARCHAR" /> -->
	<result column="IBS_STATUS" property="ibsStatus" jdbcType="VARCHAR" />
  </resultMap>
  
  
   <resultMap id="PdDqRelResult" type="kr.wise.dq.profile.tblrel.service.WaqPrfRelColVO"  >
    <result column="REL_COL_SNO" property="relColSno" jdbcType="DECIMAL" />
    <result column="CH_TBL_DBC_COL_NM" property="chTblDbcColNm" jdbcType="VARCHAR" />
    <result column="PA_TBL_DBC_COL_NM" property="paTblDbcColNm" jdbcType="VARCHAR" />
    
    <result column="PRF_ID" property="prfId" jdbcType="VARCHAR" />
    <result column="PRF_KND_CD" property="prfKndCd" jdbcType="VARCHAR" />
    <result column="PRF_NM" property="prfNm" jdbcType="VARCHAR" />
    <result column="DB_CONN_TRG_ID" property="dbConnTrgId" jdbcType="VARCHAR" />
    <result column="DB_CONN_TRG_PNM" property="dbConnTrgPnm" jdbcType="VARCHAR" />
    <result column="DB_SCH_ID" property="dbSchId" jdbcType="VARCHAR" />
    <result column="DB_SCH_PNM" property="dbSchPnm" jdbcType="VARCHAR" />
    <result column="DBC_TBL_NM" property="dbcTblNm" jdbcType="VARCHAR" />
    <result column="OBJ_NM" property="objNm" jdbcType="VARCHAR" />
    <result column="ADT_CND_SQL" property="adtCndSql" jdbcType="VARCHAR" />
    <result column="HNT_SQL" property="hntSql" jdbcType="VARCHAR" />
    <result column="USE_YN" property="useYn" jdbcType="VARCHAR" />
    
    
     <result column="PA_TBL_DB_CONN_TRG_NM" property="paTblDbConnTrgNm" jdbcType="VARCHAR" />
    <result column="PA_TBL_DBC_SCH_NM" property="paTblDbcSchNm" jdbcType="VARCHAR" />
    <result column="PA_TBL_DBC_TBL_NM" property="paTblDbcTblNm" jdbcType="VARCHAR" />
    <result column="PA_TBL_DB_CONN_TRG_ID" property="paTblDbConnTrgId" jdbcType="VARCHAR" />
    <result column="PA_TBL_DBC_SCH_ID" property="paTblDbcSchId" jdbcType="VARCHAR" />
    <result column="PA_TBL_ADT_CND_SQL" property="paTblAdtCndSql" jdbcType="VARCHAR" />
    
    <result column="RQST_DCD" property="rqstDcd" jdbcType="VARCHAR" />
    <result column="REG_TYP_CD" jdbcType="VARCHAR" property="regTypCd" />
    <result column="IBS_STATUS" jdbcType="VARCHAR" property="ibsStatus" />
<!--     <result column="IBS_STATUS" jdbcType="VARCHAR" property="ibsStatus" /> -->
    
  </resultMap>
  
   <select id="selectMartList" resultMap="BaseResultMap" parameterType="kr.wise.meta.model.service.WaqPdmTbl">
   --power designer MART의 테이블 조회
SELECT Z.*, DECODE(PDM.PDM_TBL_LNM,NULL, 'N', 'Y') AS PDM_REG_YN FROM (
  SELECT  
  	    'N'                 AS IS_SELECT_YN,
  	    PKGLST.FOLDER_OBJECTID AS MODEL_ID , 
        PKGLST.FOLDER_KNAME    AS MODEL_KNM,
        PKGLST.MODEL_OBJECTID AS PRIMARY_SUBJ_ID , 
        PKGLST.MODEL_KNAME    AS PRIMARY_SUBJ_KNM, 
        PKGLST.MODEL_ENAME    AS PRIMARY_SUBJ_ENM,
        PKGLST.PKG_OBJECTID   AS SUBJ_ID    , 
        PKGLST.PKG_KNAME      AS SUBJ_KNM   , 
        PKGLST.PKG_ENAME      AS SUBJ_ENM   , 
        'R'                AS GRID_STATUS,
        PMO2.OBJT AS PDM_TBL_ID, 
        PMO2.NAME AS PDM_TBL_LNM, 
        PMO2.CODE AS PDM_TBL_PNM, 
        FN_GET_TEXT(PMO2.CMMT) AS OBJ_DESCN,
        'Y'  AS             IS_LOGICAL_ONLY,
        <![CDATA[PKGLST.FOLDER_KNAME || '>' || PKGLST.MODEL_KNAME  || '>' || PKGLST.PKG_KNAME  AS 	FULL_PATH]]>
  FROM  PMRLSH PMR2, 
        PMRLTN PML2, 
        PMOBJT PMO2, 
        PMCLSS PMC2, 
        PMCLSS PMC3, 
        PMPDMTABL PMPD, 
        (SELECT MDLLST.FOLDER_OBJECTID, 
             MDLLST.FOLDER_KNAME, 
             MDLLST.MODEL_OBJECTID, 
             MDLLST.MODEL_KNAME, 
             MDLLST.MODEL_ENAME, 
             PMO1.OBJT PKG_OBJECTID, 
             PMO1.NAME PKG_KNAME, 
             PMO1.CODE PKG_ENAME 
        FROM PMRLSH PMR1, 
             PMRLTN PML1, 
             PMOBJT PMO1, 
             (SELECT MAX(FLDLST.FOLDER_KNAME) FOLDER_KNAME, 
                    MAX(FLDLST.FOLDER_OBJECTID) FOLDER_OBJECTID, 
                    MAX(OBJ.NAME) MODEL_KNAME, 
                    MAX(OBJ.CODE) MODEL_ENAME, 
                    MAX(OBJ.OBJT) MODEL_OBJECTID, 
                    MAX(OBJ.VRSN) VRSN 
               FROM PMOBJT OBJ, 
                    PMRLSH RL, 
                    (SELECT OB.NAME FOLDER_KNAME, 
                           OB.CODE FOLDER_ENAME, 
                           OB.OBJT FOLDER_OBJECTID 
                      FROM PMOBJT OB
                     WHERE OB.CLSS =1
                       AND OB.GOID IS NULL
                       --AND OB.OBJT = 1111 -- 조건1. folder_objectid 
                       --AND OB.NAME = 'folder name'
                    ) FLDLST 
              WHERE RL.SRCE = FLDLST.FOLDER_OBJECTID 
                    AND RL.rtyp = 1 
                    AND RL.TRGT = OBJ.OBJT
                    --AND OBJ.OBJT = 2222        -- 조건2. model_objtid
                    --AND OBJ.NAME = 'model name' 
              GROUP BY OBJ.POID 
             ) MDLLST 
        WHERE PMR1.srce = MDLLST.MODEL_OBJECTID 
             AND PMR1.RTYP = PML1.RLTN 
             AND PML1.NAME = 'Packages'  
             --AND PMR1.TRGT = 3333              -- 조건3. PKG_OBJECTID
             AND PMR1.TRGT = PMO1.OBJT 
             --AND PMO1.NAME = 'package name'                     
        ) PKGLST 
 WHERE  PMR2.SRCE = PKGLST.PKG_OBJECTID 
        AND PMR2.RTYP = PML2.RLTN 
        AND PML2.CLSS = PMC2.CLSS 
        AND PML2.NAME='Tables' 
        AND PMC2.NAME='Package' 
        AND PMC2.CODE='BasePhysicalPackage' 
        AND (PMO2.NAME LIKE '%'|| #{pdmTblLnm,jdbcType=VARCHAR}||'%' OR PMO2.CODE LIKE '%'|| #{pdmTblLnm,jdbcType=VARCHAR}||'%') -- ENTITY NAME 
        AND PMR2.TRGT = PMO2.OBJT 
        AND PMO2.CLSS = PMC3.CLSS 
        AND PMC3.NAME = 'Table' 
        AND PMC3.CODE = 'Table' 
        AND PMO2.OBJT = PMPD.OBJT 
        AND PMPD.GENE = 1
         <![CDATA[AND (PKGLST.FOLDER_KNAME LIKE '%'|| SUBSTR(#{subjLnm,jdbcType=VARCHAR}, INSTR(#{subjLnm,jdbcType=VARCHAR}, '>', -1)+1)||'%'
        OR PKGLST.MODEL_KNAME LIKE '%'|| SUBSTR(#{subjLnm,jdbcType=VARCHAR}, INSTR(#{subjLnm,jdbcType=VARCHAR}, '>', -1)+1)||'%' 
        OR PKGLST.PKG_KNAME LIKE '%'|| SUBSTR(#{subjLnm,jdbcType=VARCHAR}, INSTR(#{subjLnm,jdbcType=VARCHAR}, '>', -1)+1)||'%')]]>
        ORDER BY FOLDER_OBJECTID, MODEL_OBJECTID, PKG_OBJECTID, PDM_TBL_LNM
        ) Z  
        LEFT OUTER JOIN WAA_SUBJ SUBJ
        ON SUBJ.FULL_PATH = Z.MODEL_KNM||'>'||Z.PRIMARY_SUBJ_KNM||'>'||Z.SUBJ_KNM
        AND SUBJ.EXP_DTM = TO_DATE('99991231', 'YYYYMMDD')
        AND REG_TYP_CD IN ('C', 'U')
        LEFT OUTER JOIN WAM_PDM_TBL PDM
        ON  SUBJ.SUBJ_ID = PDM.SUBJ_ID
        AND PDM.PDM_TBL_LNM = Z.PDM_TBL_LNM
   </select>
   
   <select id="selectmartlist" parameterType="map" resultMap="BaseResultMap" >
  	--power designer 마트 테이블 추가대상 조회...
	   SELECT RQST_NO
	      , 'I' AS IBS_STATUS
	      ,MAX(PDM_TBL_ID) AS PDM_TBL_ID
	      ,TRIM(PDM_TBL_LNM) AS PDM_TBL_LNM
	      ,TRIM(PDM_TBL_PNM) AS PDM_TBL_PNM
	      ,MAX(OBJ_DESCN) AS  OBJ_DESCN
	      <![CDATA[,MDL_LNM || '>' || UPP_SUBJ_LNM || '>' || SUBJ_LNM AS 	FULL_PATH]]>
	      --, MAX(UDP_ROW_BAK_FCY) AS BCK_FCY
	      , '' AS DEL_CRI
	      , '' AS DEL_MTD
	      --, MAX(UDP_ROW_DEL_FCY_UNIT)
	      --, MAX(UDP_ROW_CTD_FCY) AS CTD_FCY
	      --, MAX(UDP_ROW_CTD_FCY_UNIT)
	      , 'CU' AS RQST_DCD
	      , MDL_LNM, UPP_SUBJ_LNM, SUBJ_LNM
	  FROM (
	    SELECT  DISTINCT #{reqmst.rqstNo} AS RQST_NO, 
              PKGLST.FOLDER_KNAME    AS MDL_LNM,
              PKGLST.MODEL_KNAME    AS UPP_SUBJ_LNM, 
              PKGLST.PKG_KNAME      AS SUBJ_LNM   , 
              PMO2.OBJT AS PDM_TBL_ID, 
              PMO2.NAME AS PDM_TBL_LNM, 
              PMO2.CODE AS PDM_TBL_PNM, 
              FN_GET_TEXT(PMO2.CMMT) AS OBJ_DESCN
        FROM  PMRLSH PMR2, 
              PMRLTN PML2, 
              PMOBJT PMO2, 
              PMCLSS PMC2, 
              PMCLSS PMC3, 
              PMPDMTABL PMPD, 
              (SELECT MDLLST.FOLDER_OBJECTID, 
                   MDLLST.FOLDER_KNAME, 
                   MDLLST.MODEL_OBJECTID, 
                   MDLLST.MODEL_KNAME, 
                   MDLLST.MODEL_ENAME, 
                   PMO1.OBJT PKG_OBJECTID, 
                   PMO1.NAME PKG_KNAME, 
                   PMO1.CODE PKG_ENAME 
              FROM PMRLSH PMR1, 
                   PMRLTN PML1, 
                   PMOBJT PMO1, 
                   (SELECT MAX(FLDLST.FOLDER_KNAME) FOLDER_KNAME, 
                          MAX(FLDLST.FOLDER_OBJECTID) FOLDER_OBJECTID, 
                          MAX(OBJ.NAME) MODEL_KNAME, 
                          MAX(OBJ.CODE) MODEL_ENAME, 
                          MAX(OBJ.OBJT) MODEL_OBJECTID, 
                          MAX(OBJ.VRSN) VRSN 
                     FROM PMOBJT OBJ, 
                          PMRLSH RL, 
                          (SELECT OB.NAME FOLDER_KNAME, 
                                 OB.CODE FOLDER_ENAME, 
                                 OB.OBJT FOLDER_OBJECTID 
                            FROM PMOBJT OB
                           WHERE OB.CLSS =1
                             AND OB.GOID IS NULL
                             --AND OB.OBJT = 1111 -- 조건1. folder_objectid 
                             --AND OB.NAME = 'folder name'
                          ) FLDLST 
                    WHERE RL.SRCE = FLDLST.FOLDER_OBJECTID 
                          AND RL.rtyp = 1 
                          AND RL.TRGT = OBJ.OBJT
                          --AND OBJ.OBJT = 2222        -- 조건2. model_objtid
                          --AND OBJ.NAME = 'model name' 
                    GROUP BY OBJ.POID 
                   ) MDLLST 
              WHERE PMR1.srce = MDLLST.MODEL_OBJECTID 
                   AND PMR1.RTYP = PML1.RLTN 
                   AND PML1.NAME = 'Packages'  
                   --AND PMR1.TRGT = 3333              -- 조건3. PKG_OBJECTID
                   AND PMR1.TRGT = PMO1.OBJT 
                   --AND PMO1.NAME = 'package name'                     
              ) PKGLST 
       WHERE  PMR2.SRCE = PKGLST.PKG_OBJECTID 
              AND PMR2.RTYP = PML2.RLTN 
              AND PML2.CLSS = PMC2.CLSS 
              AND PML2.NAME='Tables' 
              AND PMC2.NAME='Package' 
              AND PMC2.CODE='BasePhysicalPackage' 
              --AND PMO2.NAME LIKE '%" + entityName + "%' -- ENTITY NAME 
              AND  PMO2.OBJT IN
              			<foreach collection="list" item="item" open="(" separator="," close=")">
              <!-- 	  		#{item.pdmTblLnm} -->                                            
              	  		#{item.pdmTblId}                                                     
              	 		</foreach>                                                             
              AND PMR2.TRGT = PMO2.OBJT    
              AND PMO2.CLSS = PMC3.CLSS    
              AND PMC3.NAME = 'Table'      
              AND PMC3.CODE = 'Table' 
              AND PMO2.OBJT = PMPD.OBJT 
              AND PMPD.GENE = 1
      ORDER BY FOLDER_OBJECTID, MODEL_OBJECTID, PKG_OBJECTID, PDM_TBL_LNM
      )
      GROUP BY RQST_NO,  MDL_LNM, UPP_SUBJ_LNM, SUBJ_LNM, PDM_TBL_LNM, PDM_TBL_PNM		
  </select>
  
  
  <select id="selectPdColListbyTblId" resultMap="PdColResult" parameterType="kr.wise.meta.model.service.WaqPdmTbl">
  --power designer 엔티티ID에 해당하는 컬럼 리스트 조회
SELECT DISTINCT #{rqstNo} AS RQST_NO,    
			 #{rqstSno} AS RQST_SNO,
			 'CU' AS RQST_DCD,
       TABLST.FOLDER_OBJECTID AS 폴더아이디,
       TABLST.FOLDER_KNAME AS 폴터한글명,
       TABLST.MODEL_OBJECTID AS 모델아이디, 
       TABLST.MODEL_KNAME AS 모델한글명,
       TABLST.PKG_OBJECTID AS 패키지아이디,
       TABLST.PKG_KNAME AS 패키지한글명,
       TABLST.TAB_OBJECTID AS 테이블아이디 ,
       TABLST.TAB_KNAME AS PDM_TBL_LNM, 
       TABLST.TAB_ENAME AS PDM_TBL_PNM,
       --PMO3.OBJT AS 속성아이디 , 
       PMO3.NAME AS PDM_COL_LNM , 
       PMO3.CODE AS PDM_COL_PNM ,
       FN_GET_TEXT(PMO3.CMMT) AS OBJ_DESCN,
       PMR3.NUMR AS COL_ORD , 
       --DECODE(FN_GET_PK(PMO3.OBJT), '1', 'PK') AS PK여부, 
       --DECODE(FN_GET_FK(PMO3.OBJT), '1', 'FK') AS FK여부, -> 성능느려짐
       DECODE(KEYCOLLST.ISKEY, '1', 'Y', 'N') AS PK_YN,
       --CASE WHEN KEYCOLLST.ISKEY = '1' THEN PMR3.NUMR END AS PK_ORD,
       --CASE WHEN KEYCOLLST.ISKEY = '1' THEN KEYCOLLST.PK_ORD END AS PK_ORD, -- 변경 이상익
       DECODE(KEYCOLLST.ISKEY, '1',DENSE_RANK() OVER(PARTITION BY TABLST.TAB_OBJECTID, KEYCOLLST.ISKEY ORDER BY PMR3.NUMR),NULL) AS PK_ORD, -- 추가
       --DECODE(FKEYCOLLST.ISFKEY, '1', 'FK', '') AS FK여부, 
       CASE WHEN PMH3.MAND ='1' THEN 'Y' ELSE 'N' END NONUL_YN ,  
       --substr(fn_get_pmtext(pmo3.oexa), instr(fn_get_pmtext(pmo3.oexa), '=', instr(fn_get_pmtext(pmo3.oexa), '확장도메인명', 1), 1) + 1, substr(fn_get_pmtext(pmo3.oexa), instr(fn_get_pmtext(pmo3.oexa), ',', instr(fn_get_pmtext(pmo3.oexa), '확장도메인명', 1), 1) +1, instr(fn_get_pmtext(pmo3.oexa), '=', instr(fn_get_pmtext(pmo3.oexa), '확장도메인명', 1), 1)-1 - instr(fn_get_pmtext(pmo3.oexa), ',', instr(fn_get_pmtext(pmo3.oexa), '확장도메인명', 1), 1)) ) AS OBJ_RMK2----★ 도메인 명 컬럼 0522일 추가 
       --FN_GET_LDATATYPE(PMH3.DTTP) AS OBJ_RMK1 ,
       UPPER(PMH3.DTTP) AS DATA_TYPE ,  
       --PMH3.LVAL AS 최소값 , 
       --PMH3.HVAL AS 최대값 ,
       PMH3.DVAL AS DEFLT_VAL
  FROM PMRLSH PMR3, 
       PMRLTN PML3, 
       PMOBJT PMO3, 
       PMCLSS PMC3, 
       PMCHCK PMH3,
       (SELECT DISTINCT PMR3.TRGT, 
              '1' AS ISKEY 
               --,DENSE_RANK() OVER(PARTITION BY PMR2.SRCE ORDER BY PMR3.NUMR) AS PK_ORD -- 추가
         FROM PMRLSH PMR2, 
              PMRLTN PML2, 
              PMRLSH PMR3, 
              (SELECT PMO1.OBJT
                FROM PMRLSH PMR1, 
                     PMRLTN PML1, 
                     PMCLSS PMC1, 
                     PMOBJT PMO1 
               --WHERE PMR1.SRCE = " + sub_objectid + " 
                 WHERE PMR1.RTYP = PML1.RLTN 
                     AND PML1.NAME = 'Tables' 
                     AND PMC1.NAME = 'Table' 
                     AND PMO1.OBJT = PMR1.TRGT 
                     AND PMO1.CLSS = PMC1.CLSS 
              ) TABLEKEY 
        WHERE PMR2.SRCE = TABLEKEY.OBJT 
              AND PMR2.RTYP = PML2.RLTN 
              AND PML2.NAME = 'Primary Key' 
              AND PMR2.TRGT = PMR3.SRCE 
       ) KEYCOLLST,  
       (SELECT DISTINCT PMR2.TRGT, 
              '1' AS ISFKEY
              
         FROM PMRLSH PMR1, 
              PMRLTN PML1, 
              PMRLSH PMR2, 
              PMRLTN PML2, 
              PMCLSS PMC2, 
              (SELECT PMO0.OBJT
                FROM PMOBJT PMO0, 
                     PMCLSS PMC0 
               WHERE PMO0.CLSS = PMC0.CLSS 
                     AND PMC0.NAME='Reference' 
                     AND PMC0.CODE='Reference' 
              ) FKLST 
        WHERE PMR1.SRCE = FKLST.OBJT 
              AND PMR1.RTYP = PML1.RLTN 
              AND PML1.NAME ='Reference Joins' 
              AND PMR2.SRCE = PMR1.TRGT 
              AND PMR2.RTYP = PML2.RLTN 
              AND PML2.NAME = 'First Object' 
              AND PML2.CLSS = PMC2.CLSS 
              AND PMC2.NAME = 'Link' 
              AND PMC2.CODE = 'BaseLinkObject' 
       ) FKEYCOLLST, 
       (SELECT PKGLST.FOLDER_OBJECTID, 
              PKGLST.FOLDER_KNAME, 
              PKGLST.MODEL_OBJECTID, 
              PKGLST.MODEL_KNAME, 
              PKGLST.MODEL_ENAME, 
              PKGLST.PKG_OBJECTID, 
              PKGLST.PKG_KNAME, 
              PKGLST.PKG_ENAME, 
              PMO2.OBJT TAB_OBJECTID, 
              PMO2.NAME TAB_KNAME, 
              PMO2.CODE TAB_ENAME 
         FROM PMRLSH PMR2, 
              PMRLTN PML2, 
              PMOBJT PMO2, 
              PMCLSS PMC2, 
              PMCLSS PMC3, 
              PMPDMTABL PMPD, 
              (SELECT MDLLST.FOLDER_OBJECTID, 
                     MDLLST.FOLDER_KNAME, 
                     MDLLST.MODEL_OBJECTID, 
                     MDLLST.MODEL_KNAME, 
                     MDLLST.MODEL_ENAME, 
                     PMO1.OBJT PKG_OBJECTID, 
                     PMO1.NAME PKG_KNAME, 
                     PMO1.CODE PKG_ENAME 
                FROM PMRLSH PMR1, 
                     PMRLTN PML1, 
                     PMOBJT PMO1, 
                     (SELECT MAX(FLDLST.FOLDER_KNAME) FOLDER_KNAME, 
                            MAX(FLDLST.FOLDER_OBJECTID) FOLDER_OBJECTID, 
                            MAX(OBJ.NAME) MODEL_KNAME, 
                            MAX(OBJ.CODE) MODEL_ENAME, 
                            MAX(OBJ.OBJT) MODEL_OBJECTID, 
                            MAX(OBJ.VRSN) VRSN 
                       FROM PMOBJT OBJ, 
                            PMRLSH RL, 
                            (SELECT OB.NAME FOLDER_KNAME, 
                                   OB.CODE FOLDER_ENAME, 
                                   OB.OBJT FOLDER_OBJECTID 
                              FROM PMOBJT OB
                             WHERE OB.CLSS =1
                               AND OB.GOID IS NULL
                               --AND OB.OBJT = 1111 -- 조건1. folder_objectid 
                               --AND OB.NAME = 'folder name'
                            ) FLDLST 
                      WHERE RL.SRCE = FLDLST.FOLDER_OBJECTID 
                            AND RL.rtyp = 1 
                            AND RL.TRGT = OBJ.OBJT
                            --AND OBJ.OBJT = 2222        -- 조건2. model_objtid
                            --AND OBJ.NAME = 'model name' 
                      GROUP BY OBJ.POID 
                     ) MDLLST 
               WHERE PMR1.srce = MDLLST.MODEL_OBJECTID 
                     AND PMR1.RTYP = PML1.RLTN 
                     AND PML1.NAME = 'Packages'  
                     --AND PMR1.TRGT = 3333              -- 조건3. PKG_OBJECTID
                     AND PMR1.TRGT = PMO1.OBJT 
                     --AND PMO1.NAME = 'package name'                     
              ) PKGLST 
        WHERE PMR2.SRCE = PKGLST.PKG_OBJECTID 
              AND PMR2.RTYP = PML2.RLTN 
              AND PML2.CLSS = PMC2.CLSS 
              AND PML2.NAME='Tables' 
              AND PMC2.NAME='Package' 
              AND PMC2.CODE='BasePhysicalPackage' 
              --AND PMO2.NAME LIKE '%" + entityName + "%' -- ENTITY NAME 
              AND PMR2.TRGT = PMO2.OBJT 
              AND PMO2.CLSS = PMC3.CLSS 
              AND PMC3.NAME = 'Table' 
              AND PMC3.CODE = 'Table' 
              AND PMO2.OBJT = PMPD.OBJT 
              AND PMPD.GENE = 1 
              AND PMO2.OBJT  =	#{pdmTblId}
       ) TABLST 
 WHERE PMR3.SRCE = TABLST.TAB_OBJECTID 
       AND PMR3.RTYP = PML3.RLTN 
       AND PML3.CLSS = PMC3.CLSS 
       AND PML3.NAME = 'Columns' 
       AND PMC3.NAME='Base Table' 
       AND PMC3.CODE='BaseTable' 
       AND PMR3.TRGT = PMO3.OBJT 
       AND PMH3.OBJT = PMO3.OBJT 
       AND PMO3.OBJT = KEYCOLLST.TRGT(+) 
       AND PMO3.OBJT = FKEYCOLLST.TRGT(+) 
--       AND TABLST.TAB_ENAME = 'YJIKK'
--       AND 
--       ( 
--           TABLST.TAB_KNAME NOT LIKE '%[%' 
--           AND TABLST.TAB_KNAME NOT LIKE '%]%' 
--       ) 
ORDER BY MODEL_KNAME, 
       PKG_KNAME, 
       TAB_OBJECTID, 
       PMR3.NUMR
  </select>
  
  
  
  <select id="selectPdMartRelLst" resultMap="BaseResultMap" parameterType="kr.wise.dq.profile.tblrel.service.WaqPrfRelColVO" >
  SELECT #{dbConnTrgId,jdbcType=VARCHAR} AS DB_CONN_TRG_ID  --자식테이블진단대상ID
	       ,TRIM(UPPER(#{dbConnTrgPnm,jdbcType=VARCHAR})) AS DB_CONN_TRG_PNM  --자식테이블진단대상명
	       ,TRIM(UPPER(#{dbSchId,jdbcType=VARCHAR})) AS DB_SCH_ID    --자식테이블스키마ID
	       ,TRIM(UPPER(#{dbSchPnm,jdbcType=VARCHAR})) AS DB_SCH_PNM  --자식테이블스키마명
	       ,A.CHILD_TBL_ENM AS DBC_TBL_NM --자식테이블명
	       ,A.RELATION_NM AS OBJ_NM      --관계명
	       ,'' AS ADT_CND_SQL  --자식추가조건
	       ,'' AS HNT_SQL            -- 자식힌트
	       ,'Y' AS USE_YN   --사용여부
           ,TRIM(UPPER(#{dbConnTrgPnm,jdbcType=VARCHAR})) AS PA_TBL_DB_CONN_TRG_NM   --부모테이블진단대상명
		   ,TRIM(UPPER(#{dbSchPnm,jdbcType=VARCHAR})) AS PA_TBL_DBC_SCH_NM          --부모테이블스키마명
		   ,A.PARENT_TBL_ENM AS PA_TBL_DBC_TBL_NM           --부모테이블명
	       ,'' AS PA_TBL_ADT_CND_SQL          --부모추가조건
           ,'' AS REL_COL_SNO
		   ,A.CHILD_COL_ENM AS CH_TBL_DBC_COL_NM           --자식컬럼명
		   ,A.PARENT_COL_ENM AS PA_TBL_DBC_COL_NM           --부모컬럼명
		   ,'CU' AS RQST_DCD                        --요청구분
		   ,'C' AS REG_TYP_CD                      --등록유형  
		   ,'I' AS IBS_STATUS 
   FROM (   
			 SELECT F.STRINGVALUE AS RELATION_NM                                          
				       ,CHILD_ENTY.STRINGVALUE AS CHILD_TBL_ENM                               
				       ,WISE_M7_INFO.GET_COLUMN_NAME(MO.OBJECTID) AS CHILD_COL_ENM            
				       ,PARENT_ENTY.STRINGVALUE AS PARENT_TBL_ENM                             
				       ,WISE_M7_INFO.GET_COLUMN_NAME(MO.OBJECTID) AS PARENT_COL_ENM  			
			   FROM M7LIBRARY A                          
			        INNER JOIN M7OBJECT B                
			           ON A.OBJECTID = B.OBJECTID        
			          AND B.CLASSID = 2                  
			          AND B.ENDVERSION IS NULL           
			        INNER JOIN M7OBJECT C                
			           ON B.OBJECTID = C.CONTAINERID     
			          AND C.CLASSID = 1075838978         
			          AND C.ENDVERSION IS NULL           
			        INNER JOIN M7LIBRARY D               
			           ON C.OBJECTID = D.OBJECTID        
			        INNER JOIN M7OBJECT SUBJ             
			           ON D.OBJECTID = SUBJ.CONTAINERID  
			          AND SUBJ.CLASSID = 1075839014      
			          AND SUBJ.ENDVERSION IS NULL        
			        INNER JOIN M7LIBRARY SUBJNM          
			 	       ON SUBJ.OBJECTID = SUBJNM.OBJECTID 
			 	       <![CDATA[
			          AND SUBJNM.OBJECTNAME NOT IN ('ZZ. Template','<Main Subject Area>') 
			          ]]> 
			        INNER JOIN M7OBJECT E              
			           ON D.OBJECTID = E.CONTAINERID   
			          AND E.CLASSID = 1075839016       
			          AND E.ENDVERSION IS NULL         
			        INNER JOIN M7OBJECTPROPERTY F      
			           ON E.OBJECTID = F.OBJECTID      
			          AND F.PROPERTYID = 1073742126    
			        INNER JOIN M7OBJECTPROPERTY G      
			           ON F.OBJECTID = G.OBJECTID      
			          AND G.PROPERTYID = 1075848978    
			        INNER JOIN M7OBJECTPROPERTY H      
			           ON F.OBJECTID = H.OBJECTID      
			          AND H.PROPERTYID = 1075849159    
			        INNER JOIN M7OBJECTPROPERTY I      
			           ON F.OBJECTID = I.OBJECTID      
			          AND I.PROPERTYID = 1075849160    
			        INNER JOIN M7OBJECTPROPERTY J      
			           ON F.OBJECTID = J.OBJECTID      
			          AND J.PROPERTYID = 1075849763    
			        INNER JOIN M7OBJECTPROPERTY K      
			           ON F.OBJECTID = K.OBJECTID      
			          AND K.PROPERTYID = 1075849764    
			        INNER JOIN M7OBJECT MO             
			           ON MO.CONTEXTID = J.VALUEOBJECTID          
			          AND MO.CLASSID = 1075838981                 
			          AND MO.ENDVERSION IS NULL                   
			        INNER JOIN M7OBJECTPROPERTY ATTPK             
			           ON MO.OBJECTID = ATTPK.OBJECTID            
			          AND ATTPK.PROPERTYID = 1075848978           
			          AND ATTPK.INTVALUE = 0                      
			        INNER JOIN M7OBJECTPROPERTY ATTPOS            
			           ON MO.OBJECTID = ATTPOS.VALUEOBJECTID      
			          AND ATTPOS.OBJECTID = MO.CONTEXTID          
			          AND ATTPOS.PROPERTYID = 1075850197          
			         LEFT OUTER JOIN M7OBJECTPROPERTY PARENT_ENTY 
			           ON PARENT_ENTY.OBJECTID = J.VALUEOBJECTID  
			          AND PARENT_ENTY.PROPERTYID = 1075849176     
			         LEFT OUTER JOIN M7OBJECTPROPERTY CHILD_ENTY  
			           ON CHILD_ENTY.OBJECTID = K.VALUEOBJECTID   
			          AND CHILD_ENTY.PROPERTYID = 1075849176  ) A    
     WHERE 1 = 1
     <if test="dbcTblNm != null  and  dbcTblNm != '' ">
       AND ( A.CHILD_TBL_ENM LIKE REPLACE(#{dbcTblNm,jdbcType=VARCHAR}, '*', '%') OR LIKE REPLACE(#{dbcTblNm,jdbcType=VARCHAR}, '*', '%') )
     </if>   
     <if test="objNm != null  and  objNm != '' ">
       AND ( A.CHILD_COL_ENM LIKE REPLACE(#{objNm,jdbcType=VARCHAR}, '*', '%') OR A.PARENT_COL_ENM LIKE REPLACE(#{objNm,jdbcType=VARCHAR}, '*', '%') )
     </if>   
  	
 GROUP BY  A.RELATION_NM ,A.CHILD_TBL_ENM ,A.CHILD_COL_ENM ,A.PARENT_TBL_ENM ,A.PARENT_COL_ENM     
 ORDER BY A.CHILD_TBL_ENM, A.RELATION_NM
</select>
    
</mapper>