<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.wise.meta.stnd.service.WapWordDvMapper">
  <resultMap id="BaseResultMap" type="kr.wise.meta.stnd.service.WapWordDv">
    <result column="DV_RQST_NO" jdbcType="VARCHAR" property="dvRqstNo" />
    <result column="REG_WORD" jdbcType="VARCHAR" property="regWord" />
    <result column="DIV_WORD1" jdbcType="VARCHAR" property="divWord1" />
    <result column="DIV_WORD2" jdbcType="VARCHAR" property="divWord2" />
    <result column="DIV_WORD3" jdbcType="VARCHAR" property="divWord3" />
    <result column="DIV_WORD4" jdbcType="VARCHAR" property="divWord4" />
    <result column="DIV_WORD5" jdbcType="VARCHAR" property="divWord5" />
    <result column="DIV_WORD6" jdbcType="VARCHAR" property="divWord6" />
    <result column="DIV_WORD7" jdbcType="VARCHAR" property="divWord7" />
    <result column="DIV_WORD8" jdbcType="VARCHAR" property="divWord8" />
    <result column="DIV_WORD9" jdbcType="VARCHAR" property="divWord9" />
    <result column="DIV_WORD10" jdbcType="VARCHAR" property="divWord10" />
    <result column="DIV_WORD11" jdbcType="VARCHAR" property="divWord11" />
    <result column="DIV_WORD12" jdbcType="VARCHAR" property="divWord12" />
    <result column="DIV_WORD13" jdbcType="VARCHAR" property="divWord13" />
    <result column="DIV_WORD14" jdbcType="VARCHAR" property="divWord14" />
    <result column="DIV_WORD15" jdbcType="VARCHAR" property="divWord15" />
    <result column="DIV_WORD16" jdbcType="VARCHAR" property="divWord16" />
    <result column="DIV_WORD17" jdbcType="VARCHAR" property="divWord17" />
    <result column="DIV_WORD18" jdbcType="VARCHAR" property="divWord18" />
    <result column="DIV_WORD19" jdbcType="VARCHAR" property="divWord19" />
    <result column="DIV_WORD20" jdbcType="VARCHAR" property="divWord20" />
    <result column="DIV_WORD21" jdbcType="VARCHAR" property="divWord21" />
    <result column="DIV_WORD22" jdbcType="VARCHAR" property="divWord22" />
    <result column="DIV_WORD23" jdbcType="VARCHAR" property="divWord23" />
    <result column="DIV_WORD24" jdbcType="VARCHAR" property="divWord24" />
    <result column="DIV_WORD25" jdbcType="VARCHAR" property="divWord25" />
    <result column="DIV_WORD26" jdbcType="VARCHAR" property="divWord26" />
    <result column="DIV_WORD27" jdbcType="VARCHAR" property="divWord27" />
    <result column="DIV_WORD28" jdbcType="VARCHAR" property="divWord28" />
    <result column="DIV_WORD29" jdbcType="VARCHAR" property="divWord29" />
    <result column="DIV_WORD30" jdbcType="VARCHAR" property="divWord30" />
    <result column="DV_RQST_DTM" jdbcType="TIMESTAMP" property="dvRqstDtm" />
    <result column="DV_RQST_USER_ID" jdbcType="VARCHAR" property="dvRqstUserId" />
    <result column="DV_RQST_RES" jdbcType="VARCHAR" property="dvRqstRes" />
  </resultMap>
  
  <sql id="Base_Column_List">
  	DV_RQST_NO, REG_WORD
  , DIV_WORD1, DIV_WORD2, DIV_WORD3, DIV_WORD4, DIV_WORD5, DIV_WORD6, DIV_WORD7, DIV_WORD8, DIV_WORD9, DIV_WORD10
  , DIV_WORD11, DIV_WORD12, DIV_WORD13, DIV_WORD14, DIV_WORD15, DIV_WORD16, DIV_WORD17, DIV_WORD18, DIV_WORD19, DIV_WORD20
  , DIV_WORD21, DIV_WORD22, DIV_WORD23, DIV_WORD24, DIV_WORD25, DIV_WORD26, DIV_WORD27, DIV_WORD28, DIV_WORD29, DIV_WORD30
  , DV_RQST_DTM, DV_RQST_USER_ID, DV_RQST_RES
  </sql>
  
  <insert id="insert" parameterType="kr.wise.meta.stnd.service.WapWordDv">
    insert into WAP_WORD_DV (DV_RQST_NO, REG_WORD, DIV_WORD1, 
      DIV_WORD2, DIV_WORD3, DIV_WORD4, 
      DIV_WORD5, DIV_WORD6, DIV_WORD7, 
      DIV_WORD8, DIV_WORD9, DIV_WORD10, 
      DIV_WORD11, DIV_WORD12, DIV_WORD13, 
      DIV_WORD14, DIV_WORD15, DIV_WORD16, 
      DIV_WORD17, DIV_WORD18, DIV_WORD19, 
      DIV_WORD20, DIV_WORD21, DIV_WORD22, 
      DIV_WORD23, DIV_WORD24, DIV_WORD25, 
      DIV_WORD26, DIV_WORD27, DIV_WORD28, 
      DIV_WORD29, DIV_WORD30, DV_RQST_DTM, 
      DV_RQST_USER_ID, DV_RQST_RES)
    values (#{dvRqstNo,jdbcType=VARCHAR}, #{regWord,jdbcType=VARCHAR}, #{divWord1,jdbcType=VARCHAR}, 
      #{divWord2,jdbcType=VARCHAR}, #{divWord3,jdbcType=VARCHAR}, #{divWord4,jdbcType=VARCHAR}, 
      #{divWord5,jdbcType=VARCHAR}, #{divWord6,jdbcType=VARCHAR}, #{divWord7,jdbcType=VARCHAR}, 
      #{divWord8,jdbcType=VARCHAR}, #{divWord9,jdbcType=VARCHAR}, #{divWord10,jdbcType=VARCHAR}, 
      #{divWord11,jdbcType=VARCHAR}, #{divWord12,jdbcType=VARCHAR}, #{divWord13,jdbcType=VARCHAR}, 
      #{divWord14,jdbcType=VARCHAR}, #{divWord15,jdbcType=VARCHAR}, #{divWord16,jdbcType=VARCHAR}, 
      #{divWord17,jdbcType=VARCHAR}, #{divWord18,jdbcType=VARCHAR}, #{divWord19,jdbcType=VARCHAR}, 
      #{divWord20,jdbcType=VARCHAR}, #{divWord21,jdbcType=VARCHAR}, #{divWord22,jdbcType=VARCHAR}, 
      #{divWord23,jdbcType=VARCHAR}, #{divWord24,jdbcType=VARCHAR}, #{divWord25,jdbcType=VARCHAR}, 
      #{divWord26,jdbcType=VARCHAR}, #{divWord27,jdbcType=VARCHAR}, #{divWord28,jdbcType=VARCHAR}, 
      #{divWord29,jdbcType=VARCHAR}, #{divWord30,jdbcType=VARCHAR}, #{dvRqstDtm,jdbcType=TIMESTAMP}, 
      #{dvRqstUserId,jdbcType=VARCHAR}, #{dvRqstRes,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="kr.wise.meta.stnd.service.WapWordDv">
    insert into WAP_WORD_DV
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dvRqstNo != null">
        DV_RQST_NO,
      </if>
      <if test="regWord != null">
        REG_WORD,
      </if>
      <if test="divWord1 != null">
        DIV_WORD1,
      </if>
      <if test="divWord2 != null">
        DIV_WORD2,
      </if>
      <if test="divWord3 != null">
        DIV_WORD3,
      </if>
      <if test="divWord4 != null">
        DIV_WORD4,
      </if>
      <if test="divWord5 != null">
        DIV_WORD5,
      </if>
      <if test="divWord6 != null">
        DIV_WORD6,
      </if>
      <if test="divWord7 != null">
        DIV_WORD7,
      </if>
      <if test="divWord8 != null">
        DIV_WORD8,
      </if>
      <if test="divWord9 != null">
        DIV_WORD9,
      </if>
      <if test="divWord10 != null">
        DIV_WORD10,
      </if>
      <if test="divWord11 != null">
        DIV_WORD11,
      </if>
      <if test="divWord12 != null">
        DIV_WORD12,
      </if>
      <if test="divWord13 != null">
        DIV_WORD13,
      </if>
      <if test="divWord14 != null">
        DIV_WORD14,
      </if>
      <if test="divWord15 != null">
        DIV_WORD15,
      </if>
      <if test="divWord16 != null">
        DIV_WORD16,
      </if>
      <if test="divWord17 != null">
        DIV_WORD17,
      </if>
      <if test="divWord18 != null">
        DIV_WORD18,
      </if>
      <if test="divWord19 != null">
        DIV_WORD19,
      </if>
      <if test="divWord20 != null">
        DIV_WORD20,
      </if>
      <if test="divWord21 != null">
        DIV_WORD21,
      </if>
      <if test="divWord22 != null">
        DIV_WORD22,
      </if>
      <if test="divWord23 != null">
        DIV_WORD23,
      </if>
      <if test="divWord24 != null">
        DIV_WORD24,
      </if>
      <if test="divWord25 != null">
        DIV_WORD25,
      </if>
      <if test="divWord26 != null">
        DIV_WORD26,
      </if>
      <if test="divWord27 != null">
        DIV_WORD27,
      </if>
      <if test="divWord28 != null">
        DIV_WORD28,
      </if>
      <if test="divWord29 != null">
        DIV_WORD29,
      </if>
      <if test="divWord30 != null">
        DIV_WORD30,
      </if>
        DV_RQST_DTM,
      <if test="dvRqstUserId != null">
        DV_RQST_USER_ID,
      </if>
      <if test="dvRqstRes != null">
        DV_RQST_RES,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dvRqstNo != null">
        #{dvRqstNo,jdbcType=VARCHAR},
      </if>
      <if test="regWord != null">
        #{regWord,jdbcType=VARCHAR},
      </if>
      <if test="divWord1 != null">
        #{divWord1,jdbcType=VARCHAR},
      </if>
      <if test="divWord2 != null">
        #{divWord2,jdbcType=VARCHAR},
      </if>
      <if test="divWord3 != null">
        #{divWord3,jdbcType=VARCHAR},
      </if>
      <if test="divWord4 != null">
        #{divWord4,jdbcType=VARCHAR},
      </if>
      <if test="divWord5 != null">
        #{divWord5,jdbcType=VARCHAR},
      </if>
      <if test="divWord6 != null">
        #{divWord6,jdbcType=VARCHAR},
      </if>
      <if test="divWord7 != null">
        #{divWord7,jdbcType=VARCHAR},
      </if>
      <if test="divWord8 != null">
        #{divWord8,jdbcType=VARCHAR},
      </if>
      <if test="divWord9 != null">
        #{divWord9,jdbcType=VARCHAR},
      </if>
      <if test="divWord10 != null">
        #{divWord10,jdbcType=VARCHAR},
      </if>
      <if test="divWord11 != null">
        #{divWord11,jdbcType=VARCHAR},
      </if>
      <if test="divWord12 != null">
        #{divWord12,jdbcType=VARCHAR},
      </if>
      <if test="divWord13 != null">
        #{divWord13,jdbcType=VARCHAR},
      </if>
      <if test="divWord14 != null">
        #{divWord14,jdbcType=VARCHAR},
      </if>
      <if test="divWord15 != null">
        #{divWord15,jdbcType=VARCHAR},
      </if>
      <if test="divWord16 != null">
        #{divWord16,jdbcType=VARCHAR},
      </if>
      <if test="divWord17 != null">
        #{divWord17,jdbcType=VARCHAR},
      </if>
      <if test="divWord18 != null">
        #{divWord18,jdbcType=VARCHAR},
      </if>
      <if test="divWord19 != null">
        #{divWord19,jdbcType=VARCHAR},
      </if>
      <if test="divWord20 != null">
        #{divWord20,jdbcType=VARCHAR},
      </if>
      <if test="divWord21 != null">
        #{divWord21,jdbcType=VARCHAR},
      </if>
      <if test="divWord22 != null">
        #{divWord22,jdbcType=VARCHAR},
      </if>
      <if test="divWord23 != null">
        #{divWord23,jdbcType=VARCHAR},
      </if>
      <if test="divWord24 != null">
        #{divWord24,jdbcType=VARCHAR},
      </if>
      <if test="divWord25 != null">
        #{divWord25,jdbcType=VARCHAR},
      </if>
      <if test="divWord26 != null">
        #{divWord26,jdbcType=VARCHAR},
      </if>
      <if test="divWord27 != null">
        #{divWord27,jdbcType=VARCHAR},
      </if>
      <if test="divWord28 != null">
        #{divWord28,jdbcType=VARCHAR},
      </if>
      <if test="divWord29 != null">
        #{divWord29,jdbcType=VARCHAR},
      </if>
      <if test="divWord30 != null">
        #{divWord30,jdbcType=VARCHAR},
      </if>
      NOW(),
      <if test="dvRqstUserId != null">
        #{dvRqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="dvRqstRes != null">
        #{dvRqstRes,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="selectWordDivListList" parameterType="kr.wise.meta.stnd.service.WapWordDv" resultMap="BaseResultMap">
  	SELECT 
  	<include refid="Base_Column_List" />
  	FROM WAP_WORD_DV
  	WHERE DV_RQST_NO = #{dvRqstNo, jdbcType=VARCHAR}
  </select>
  
  <delete id="delWordAutoDiv" parameterType="kr.wise.meta.stnd.service.WapWordDv" >
	DELETE FROM WAP_WORD_DV
	 WHERE DV_RQST_NO = #{dvRqstNo,jdbcType=VARCHAR} 
	     AND REG_WORD = #{regWord,jdbcType=VARCHAR}
  </delete>
</mapper>