<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.meta.codecfcsys.service.WamCodeCfcSysItemMapper" >
  <resultMap id="BaseResultMap" type="kr.wise.meta.codecfcsys.service.WamCodeCfcSysItem" extends="kr.wise.meta.codecfcsys.service.WamCodeCfcSysMapper.BaseResultMap">
<!--     <id column="CODE_CFC_SYS_ID" property="codeCfcSysId" jdbcType="VARCHAR" /> -->
<!--     <result column="CODE_CFC_SYS_CD" property="codeCfcSysCd" jdbcType="VARCHAR" /> -->
    <result column="CODE_CFC_SYS_ITEM_SEQ" property="codeCfcSysItemSeq" jdbcType="DECIMAL" />
    <result column="CODE_CFC_SYS_ITEM_CD" property="codeCfcSysItemCd" jdbcType="VARCHAR" />
    <result column="CODE_CFC_SYS_ITEM_FRM" property="codeCfcSysItemFrm" jdbcType="VARCHAR" />
    <result column="CODE_CFC_SYS_ITEM_LEN" property="codeCfcSysItemLen" jdbcType="DECIMAL" />
    <result column="CODE_CFC_SYS_ITEM_SPT" property="codeCfcSysItemSpt" jdbcType="VARCHAR" />
    <result column="CODE_CFC_SYS_ITEM_REF_TBL" property="codeCfcSysItemRefTbl" jdbcType="VARCHAR" />
    <result column="CODE_CFC_SYS_ITEM_REF_COL" property="codeCfcSysItemRefCol" jdbcType="VARCHAR" />
    <result column="CODE_CFC_SYS_ITEM_REF_ID" property="codeCfcSysItemRefId" jdbcType="VARCHAR" />
<!--     <result column="RQST_NO" property="rqstNo" jdbcType="VARCHAR" /> -->
<!--     <result column="RQST_SNO" property="rqstSno" jdbcType="DECIMAL" /> -->
<!--     <result column="RQST_DTL_SNO" property="rqstDtlSno" jdbcType="DECIMAL" /> -->
<!--     <result column="OBJ_DESCN" property="objDescn" jdbcType="VARCHAR" /> -->
<!--     <result column="OBJ_VERS" property="objVers" jdbcType="DECIMAL" /> -->
<!--     <result column="REG_TYP_CD" property="regTypCd" jdbcType="VARCHAR" /> -->
<!--     <result column="FRS_RQST_DTM" property="frsRqstDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="FRS_RQST_USER_ID" property="frsRqstUserId" jdbcType="VARCHAR" /> -->
<!--     <result column="RQST_DTM" property="rqstDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="RQST_USER_ID" property="rqstUserId" jdbcType="VARCHAR" /> -->
<!--     <result column="APRV_DTM" property="aprvDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="APRV_USER_ID" property="aprvUserId" jdbcType="VARCHAR" /> -->
  </resultMap>
  <sql id="Base_Column_List" >
    CODE_CFC_SYS_ID, CODE_CFC_SYS_CD, CODE_CFC_SYS_ITEM_SEQ, CODE_CFC_SYS_ITEM_CD, CODE_CFC_SYS_ITEM_FRM, 
    CODE_CFC_SYS_ITEM_LEN, CODE_CFC_SYS_ITEM_SPT, CODE_CFC_SYS_ITEM_REF_TBL, CODE_CFC_SYS_ITEM_REF_COL, CODE_CFC_SYS_ITEM_REF_ID, 
    RQST_NO, RQST_SNO, RQST_DTL_SNO, OBJ_DESCN, OBJ_VERS, REG_TYP_CD, FRS_RQST_DTM, FRS_RQST_USER_ID, 
    RQST_DTM, RQST_USER_ID, APRV_DTM, APRV_USER_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from WAM_CODE_CFC_SYS_ITEM
    where CODE_CFC_SYS_ID = #{codeCfcSysId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from WAM_CODE_CFC_SYS_ITEM
    where CODE_CFC_SYS_ID = #{codeCfcSysId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="kr.wise.meta.codecfcsys.service.WamCodeCfcSysItem" >
    insert into WAM_CODE_CFC_SYS_ITEM (CODE_CFC_SYS_ID, CODE_CFC_SYS_CD, CODE_CFC_SYS_ITEM_SEQ, 
      CODE_CFC_SYS_ITEM_CD, CODE_CFC_SYS_ITEM_FRM, CODE_CFC_SYS_ITEM_LEN, 
      CODE_CFC_SYS_ITEM_SPT, CODE_CFC_SYS_ITEM_REF_TBL, 
      CODE_CFC_SYS_ITEM_REF_COL, CODE_CFC_SYS_ITEM_REF_ID, RQST_NO, RQST_SNO, 
      RQST_DTL_SNO, OBJ_DESCN, OBJ_VERS, 
      REG_TYP_CD, FRS_RQST_DTM, FRS_RQST_USER_ID, 
      RQST_DTM, RQST_USER_ID, APRV_DTM, 
      APRV_USER_ID)
    values (#{codeCfcSysId,jdbcType=VARCHAR}, #{codeCfcSysCd,jdbcType=VARCHAR}, #{codeCfcSysItemSeq,jdbcType=DECIMAL}, 
      #{codeCfcSysItemCd,jdbcType=VARCHAR}, #{codeCfcSysItemFrm,jdbcType=VARCHAR}, #{codeCfcSysItemLen,jdbcType=DECIMAL}, 
      #{codeCfcSysItemSpt,jdbcType=VARCHAR}, #{codeCfcSysItemRefTbl,jdbcType=VARCHAR}, 
      #{codeCfcSysItemRefCol,jdbcType=VARCHAR}, #{codeCfcSysItemRefId,jdbcType=VARCHAR}, #{rqstNo,jdbcType=VARCHAR}, #{rqstSno,jdbcType=DECIMAL}, 
      #{rqstDtlSno,jdbcType=DECIMAL}, #{objDescn,jdbcType=VARCHAR}, #{objVers,jdbcType=DECIMAL}, 
      #{regTypCd,jdbcType=VARCHAR}, #{frsRqstDtm,jdbcType=TIMESTAMP}, #{frsRqstUserId,jdbcType=VARCHAR}, 
      #{rqstDtm,jdbcType=TIMESTAMP}, #{rqstUserId,jdbcType=VARCHAR}, #{aprvDtm,jdbcType=TIMESTAMP}, 
      #{aprvUserId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="kr.wise.meta.codecfcsys.service.WamCodeCfcSysItem" >
    insert into WAM_CODE_CFC_SYS_ITEM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="codeCfcSysId != null" >
        CODE_CFC_SYS_ID,
      </if>
      <if test="codeCfcSysCd != null" >
        CODE_CFC_SYS_CD,
      </if>
      <if test="codeCfcSysItemSeq != null" >
        CODE_CFC_SYS_ITEM_SEQ,
      </if>
      <if test="codeCfcSysItemCd != null" >
        CODE_CFC_SYS_ITEM_CD,
      </if>
      <if test="codeCfcSysItemFrm != null" >
        CODE_CFC_SYS_ITEM_FRM,
      </if>
      <if test="codeCfcSysItemLen != null" >
        CODE_CFC_SYS_ITEM_LEN,
      </if>
      <if test="codeCfcSysItemSpt != null" >
        CODE_CFC_SYS_ITEM_SPT,
      </if>
      <if test="codeCfcSysItemRefTbl != null" >
        CODE_CFC_SYS_ITEM_REF_TBL,
      </if>
      <if test="codeCfcSysItemRefCol != null" >
        CODE_CFC_SYS_ITEM_REF_COL,
      </if>
      <if test="codeCfcSysItemRefId != null" >
        CODE_CFC_SYS_ITEM_REF_ID,
      </if>
      <if test="rqstNo != null" >
        RQST_NO,
      </if>
      <if test="rqstSno != null" >
        RQST_SNO,
      </if>
      <if test="rqstDtlSno != null" >
        RQST_DTL_SNO,
      </if>
      <if test="objDescn != null" >
        OBJ_DESCN,
      </if>
      <if test="objVers != null" >
        OBJ_VERS,
      </if>
      <if test="regTypCd != null" >
        REG_TYP_CD,
      </if>
      <if test="frsRqstDtm != null" >
        FRS_RQST_DTM,
      </if>
      <if test="frsRqstUserId != null" >
        FRS_RQST_USER_ID,
      </if>
      <if test="rqstDtm != null" >
        RQST_DTM,
      </if>
      <if test="rqstUserId != null" >
        RQST_USER_ID,
      </if>
      <if test="aprvDtm != null" >
        APRV_DTM,
      </if>
      <if test="aprvUserId != null" >
        APRV_USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="codeCfcSysId != null" >
        #{codeCfcSysId,jdbcType=VARCHAR},
      </if>
      <if test="codeCfcSysCd != null" >
        #{codeCfcSysCd,jdbcType=VARCHAR},
      </if>
      <if test="codeCfcSysItemSeq != null" >
        #{codeCfcSysItemSeq,jdbcType=DECIMAL},
      </if>
      <if test="codeCfcSysItemCd != null" >
        #{codeCfcSysItemCd,jdbcType=VARCHAR},
      </if>
      <if test="codeCfcSysItemFrm != null" >
        #{codeCfcSysItemFrm,jdbcType=VARCHAR},
      </if>
      <if test="codeCfcSysItemLen != null" >
        #{codeCfcSysItemLen,jdbcType=DECIMAL},
      </if>
      <if test="codeCfcSysItemSpt != null" >
        #{codeCfcSysItemSpt,jdbcType=VARCHAR},
      </if>
      <if test="codeCfcSysItemRefTbl != null" >
        #{codeCfcSysItemRefTbl,jdbcType=VARCHAR},
      </if>
      <if test="codeCfcSysItemRefCol != null" >
        #{codeCfcSysItemRefCol,jdbcType=VARCHAR},
      </if>
      <if test="codeCfcSysItemRefId != null" >
        #{codeCfcSysItemRefId,jdbcType=VARCHAR},
      </if>
      <if test="rqstNo != null" >
        #{rqstNo,jdbcType=VARCHAR},
      </if>
      <if test="rqstSno != null" >
        #{rqstSno,jdbcType=DECIMAL},
      </if>
      <if test="rqstDtlSno != null" >
        #{rqstDtlSno,jdbcType=DECIMAL},
      </if>
      <if test="objDescn != null" >
        #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="objVers != null" >
        #{objVers,jdbcType=DECIMAL},
      </if>
      <if test="regTypCd != null" >
        #{regTypCd,jdbcType=VARCHAR},
      </if>
      <if test="frsRqstDtm != null" >
        #{frsRqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="frsRqstUserId != null" >
        #{frsRqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="rqstDtm != null" >
        #{rqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="rqstUserId != null" >
        #{rqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="aprvDtm != null" >
        #{aprvDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="aprvUserId != null" >
        #{aprvUserId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="kr.wise.meta.codecfcsys.service.WamCodeCfcSysItem" >
    update WAM_CODE_CFC_SYS_ITEM
    <set >
      <if test="codeCfcSysCd != null" >
        CODE_CFC_SYS_CD = #{codeCfcSysCd,jdbcType=VARCHAR},
      </if>
      <if test="codeCfcSysItemSeq != null" >
        CODE_CFC_SYS_ITEM_SEQ = #{codeCfcSysItemSeq,jdbcType=DECIMAL},
      </if>
      <if test="codeCfcSysItemCd != null" >
        CODE_CFC_SYS_ITEM_CD = #{codeCfcSysItemCd,jdbcType=VARCHAR},
      </if>
      <if test="codeCfcSysItemFrm != null" >
        CODE_CFC_SYS_ITEM_FRM = #{codeCfcSysItemFrm,jdbcType=VARCHAR},
      </if>
      <if test="codeCfcSysItemLen != null" >
        CODE_CFC_SYS_ITEM_LEN = #{codeCfcSysItemLen,jdbcType=DECIMAL},
      </if>
      <if test="codeCfcSysItemSpt != null" >
        CODE_CFC_SYS_ITEM_SPT = #{codeCfcSysItemSpt,jdbcType=VARCHAR},
      </if>
      <if test="codeCfcSysItemRefTbl != null" >
        CODE_CFC_SYS_ITEM_REF_TBL = #{codeCfcSysItemRefTbl,jdbcType=VARCHAR},
      </if>
      <if test="codeCfcSysItemRefCol != null" >
        CODE_CFC_SYS_ITEM_REF_COL = #{codeCfcSysItemRefCol,jdbcType=VARCHAR},
      </if>
      <if test="codeCfcSysItemRefId != null" >
        CODE_CFC_SYS_ITEM_REF_ID = #{codeCfcSysItemRefId,jdbcType=VARCHAR},
      </if>
      <if test="rqstNo != null" >
        RQST_NO = #{rqstNo,jdbcType=VARCHAR},
      </if>
      <if test="rqstSno != null" >
        RQST_SNO = #{rqstSno,jdbcType=DECIMAL},
      </if>
      <if test="rqstDtlSno != null" >
        RQST_DTL_SNO = #{rqstDtlSno,jdbcType=DECIMAL},
      </if>
      <if test="objDescn != null" >
        OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="objVers != null" >
        OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      </if>
      <if test="regTypCd != null" >
        REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      </if>
      <if test="frsRqstDtm != null" >
        FRS_RQST_DTM = #{frsRqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="frsRqstUserId != null" >
        FRS_RQST_USER_ID = #{frsRqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="rqstDtm != null" >
        RQST_DTM = #{rqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="rqstUserId != null" >
        RQST_USER_ID = #{rqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="aprvDtm != null" >
        APRV_DTM = #{aprvDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="aprvUserId != null" >
        APRV_USER_ID = #{aprvUserId,jdbcType=VARCHAR},
      </if>
    </set>
    where CODE_CFC_SYS_ID = #{codeCfcSysId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="kr.wise.meta.codecfcsys.service.WamCodeCfcSysItem" >
    update WAM_CODE_CFC_SYS_ITEM
    set CODE_CFC_SYS_CD = #{codeCfcSysCd,jdbcType=VARCHAR},
      CODE_CFC_SYS_ITEM_SEQ = #{codeCfcSysItemSeq,jdbcType=DECIMAL},
      CODE_CFC_SYS_ITEM_CD = #{codeCfcSysItemCd,jdbcType=VARCHAR},
      CODE_CFC_SYS_ITEM_FRM = #{codeCfcSysItemFrm,jdbcType=VARCHAR},
      CODE_CFC_SYS_ITEM_LEN = #{codeCfcSysItemLen,jdbcType=DECIMAL},
      CODE_CFC_SYS_ITEM_SPT = #{codeCfcSysItemSpt,jdbcType=VARCHAR},
      CODE_CFC_SYS_ITEM_REF_TBL = #{codeCfcSysItemRefTbl,jdbcType=VARCHAR},
      CODE_CFC_SYS_ITEM_REF_COL = #{codeCfcSysItemRefCol,jdbcType=VARCHAR},
      CODE_CFC_SYS_ITEM_REF_ID = #{codeCfcSysItemRefId,jdbcType=VARCHAR},
      RQST_NO = #{rqstNo,jdbcType=VARCHAR},
      RQST_SNO = #{rqstSno,jdbcType=DECIMAL},
      RQST_DTL_SNO = #{rqstDtlSno,jdbcType=DECIMAL},
      OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      FRS_RQST_DTM = #{frsRqstDtm,jdbcType=TIMESTAMP},
      FRS_RQST_USER_ID = #{frsRqstUserId,jdbcType=VARCHAR},
      RQST_DTM = #{rqstDtm,jdbcType=TIMESTAMP},
      RQST_USER_ID = #{rqstUserId,jdbcType=VARCHAR},
      APRV_DTM = #{aprvDtm,jdbcType=TIMESTAMP},
      APRV_USER_ID = #{aprvUserId,jdbcType=VARCHAR}
    where CODE_CFC_SYS_ID = #{codeCfcSysId,jdbcType=VARCHAR}
  </update>
  
    <select id="selectItemList" resultMap="BaseResultMap" parameterType="kr.wise.meta.codecfcsys.service.WamCodeCfcSysItem" >
    SELECT A.*

	  FROM WAM_CODE_CFC_SYS_ITEM A
	 
	 <where>
	   AND A.REG_TYP_CD IN ('C', 'U')
	   AND A.CODE_CFC_SYS_ID = #{codeCfcSysId,jdbcType=VARCHAR}
	 </where>
	 ORDER BY A.CODE_CFC_SYS_ITEM_SEQ
  </select>
  
  <select id="selectHistList" parameterType="kr.wise.meta.codecfcsys.service.WamCodeCfcSysItem" resultMap="BaseResultMap">
  SELECT A.*
    	 , CASE WHEN A.EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD') AND A.REG_TYP_CD IN ('C', 'U') THEN '#0000FF'
    	   ELSE NULL END AS FontColor
      FROM WAH_CODE_CFC_SYS_ITEM A
     WHERE CODE_CFC_SYS_ID = #{codeCfcSysId,jdbcType=VARCHAR}
     ORDER BY EXP_DTM DESC, STR_DTM DESC
  
  </select>
  
</mapper>