<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.meta.mapping.service.WaqTblMapMapper" >
  <resultMap id="BaseResultMap" type="kr.wise.meta.mapping.service.WaqTblMap" extends="kr.wise.commons.cmm.service.CommonMapper.BaseResultMap" >
    <id column="RQST_NO" property="rqstNo" jdbcType="VARCHAR" />
    <id column="RQST_SNO" property="rqstSno" jdbcType="DECIMAL" />
    <result column="RQST_DCD" property="rqstDcd" jdbcType="VARCHAR" />
    <result column="RVW_STS_CD" property="rvwStsCd" jdbcType="VARCHAR" />
    <result column="RVW_CONTS" property="rvwConts" jdbcType="VARCHAR" />
    <result column="VRF_CD" property="vrfCd" jdbcType="VARCHAR" />
    <result column="VRF_RMK" property="vrfRmk" jdbcType="VARCHAR" />
    <result column="OBJ_VERS" property="objVers" jdbcType="DECIMAL" />
    <result column="OBJ_DESCN" property="objDescn" jdbcType="VARCHAR" />
    <result column="REG_TYP_CD" property="regTypCd" jdbcType="VARCHAR" />
    <result column="FRS_RQST_DTM" property="frsRqstDtm" jdbcType="TIMESTAMP" />
    <result column="FRS_RQST_USER_ID" property="frsRqstUserId" jdbcType="VARCHAR" />
    <result column="RQST_DTM" property="rqstDtm" jdbcType="TIMESTAMP" />
    <result column="RQST_USER_ID" property="rqstUserId" jdbcType="VARCHAR" />
    <result column="APRV_DTM" property="aprvDtm" jdbcType="TIMESTAMP" />
    <result column="APRV_USER_ID" property="aprvUserId" jdbcType="VARCHAR" />
    <result column="TBL_MAP_ID" property="tblMapId" jdbcType="VARCHAR" />
    <result column="MAP_DF_TYPE" property="mapDfType" jdbcType="VARCHAR" />
    <result column="MAP_DF_ID" property="mapDfId" jdbcType="VARCHAR" />
    <result column="MAP_SNO" property="mapSno" jdbcType="DECIMAL" />
    <result column="TBL_MAP_TYPE" property="tblMapType" jdbcType="VARCHAR" />
    <result column="TGT_SUBJ_ID" property="tgtSubjId" jdbcType="VARCHAR" />
    <result column="TGT_SUBJ_ALL_PATH" property="tgtSubjAllPath" jdbcType="VARCHAR" />
    <result column="TGT_DB_ID" property="tgtDbId" jdbcType="VARCHAR" />
    <result column="TGT_DB_PNM" property="tgtDbPnm" jdbcType="VARCHAR" />
    <result column="TGT_TBL_ID" property="tgtTblId" jdbcType="VARCHAR" />
    <result column="TGT_TBL_LNM" property="tgtTblLnm" jdbcType="VARCHAR" />
    <result column="TGT_TBL_PNM" property="tgtTblPnm" jdbcType="VARCHAR" />
    <result column="TGT_FLF_TYPE" property="tgtFlfType" jdbcType="VARCHAR" />
    <result column="SRC_BIZ_ID" property="srcBizId" jdbcType="VARCHAR" />
    <result column="SRC_BIZ_NM" property="srcBizNm" jdbcType="VARCHAR" />
    <result column="SRC_SYS_ID" property="srcSysId" jdbcType="VARCHAR" />
    <result column="SRC_SYS_NM" property="srcSysNm" jdbcType="VARCHAR" />
    <result column="SRC_DB_ID" property="srcDbId" jdbcType="VARCHAR" />
    <result column="SRC_DB_PNM" property="srcDbPnm" jdbcType="VARCHAR" />
    <result column="SRC_TBL_ID" property="srcTblId" jdbcType="VARCHAR" />
    <result column="SRC_TBL_LNM" property="srcTblLnm" jdbcType="VARCHAR" />
    <result column="SRC_TBL_PNM" property="srcTblPnm" jdbcType="VARCHAR" />
    <result column="SLT_SKP_CND_NM" property="sltSkpCndNm" jdbcType="VARCHAR" />
    <result column="JN_CND_NM" property="jnCndNm" jdbcType="VARCHAR" />
    <result column="APP_CRGP_ID" property="appCrgpId" jdbcType="VARCHAR" />
    <result column="APP_CRGP_NM" property="appCrgpNm" jdbcType="VARCHAR" />
    <result column="CNVS_CRGP_ID" property="cnvsCrgpId" jdbcType="VARCHAR" />
    <result column="CNVS_CRGP_NM" property="cnvsCrgpNm" jdbcType="VARCHAR" />
    <result column="REF_DESCN" property="refDescn" jdbcType="VARCHAR" />
    <result column="PRE_FLF_DESCN" property="preFlfDescn" jdbcType="VARCHAR" />
    <result column="TGT_CHRG" property="tgtChrg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    RQST_NO, RQST_SNO, RQST_DCD, RVW_STS_CD, RVW_CONTS, VRF_CD, VRF_RMK, OBJ_VERS, OBJ_DESCN, 
    REG_TYP_CD, FRS_RQST_DTM, FRS_RQST_USER_ID, RQST_DTM, RQST_USER_ID, APRV_DTM, APRV_USER_ID, 
    TBL_MAP_ID, MAP_DF_TYPE, MAP_DF_ID, MAP_SNO, TBL_MAP_TYPE, TGT_SUBJ_ID, TGT_SUBJ_ALL_PATH, TGT_DB_ID, 
    TGT_DB_PNM, TGT_TBL_ID, TGT_TBL_LNM, TGT_TBL_PNM, TGT_FLF_TYPE, SRC_BIZ_ID, SRC_BIZ_NM, 
    SRC_SYS_ID, SRC_SYS_NM, SRC_DB_ID, SRC_DB_PNM, SRC_TBL_ID, SRC_TBL_LNM, SRC_TBL_PNM, 
    SLT_SKP_CND_NM, JN_CND_NM, APP_CRGP_ID, APP_CRGP_NM, CNVS_CRGP_ID, CNVS_CRGP_NM, 
    REF_DESCN, PRE_FLF_DESCN, TGT_CHRG
  </sql>
  <sql id="waq_Column_List" >
    RQST_NO, RQST_SNO, RQST_DCD, RVW_CONTS, VRF_CD, VRF_RMK, OBJ_VERS, OBJ_DESCN, 
    REG_TYP_CD, FRS_RQST_DTM, FRS_RQST_USER_ID, RQST_DTM, RQST_USER_ID, APRV_DTM, APRV_USER_ID, 
    TBL_MAP_ID, MAP_DF_TYPE, MAP_DF_ID, MAP_SNO, TBL_MAP_TYPE, TGT_SUBJ_ID, TGT_SUBJ_ALL_PATH, TGT_DB_ID, 
    TGT_DB_PNM, TGT_TBL_ID, TGT_TBL_LNM, TGT_TBL_PNM, TGT_FLF_TYPE, SRC_BIZ_ID, SRC_BIZ_NM, 
    SRC_SYS_ID, SRC_SYS_NM, SRC_DB_ID, SRC_DB_PNM, SRC_TBL_ID, SRC_TBL_LNM, SRC_TBL_PNM, 
    SLT_SKP_CND_NM, JN_CND_NM, APP_CRGP_ID, APP_CRGP_NM, CNVS_CRGP_ID, CNVS_CRGP_NM, 
    REF_DESCN, PRE_FLF_DESCN, TGT_CHRG
  </sql>
  <sql id="wam_col" >
   , MAP_DF_ID, RQST_NO, RQST_SNO, OBJ_VERS, OBJ_DESCN, REG_TYP_CD, FRS_RQST_DTM, 
    FRS_RQST_USER_ID, RQST_DTM, RQST_USER_ID, APRV_DTM, APRV_USER_ID, MAP_DF_TYPE, MAP_SNO, 
    TBL_MAP_TYPE, TGT_SUBJ_ID, TGT_SUBJ_ALL_PATH, TGT_DB_ID, TGT_DB_PNM, TGT_TBL_ID, 
    TGT_TBL_LNM, TGT_TBL_PNM, TGT_FLF_TYPE, SRC_BIZ_ID, SRC_BIZ_NM, SRC_SYS_ID, SRC_SYS_NM, 
    SRC_DB_ID, SRC_DB_PNM, SRC_TBL_ID, SRC_TBL_LNM, SRC_TBL_PNM, SLT_SKP_CND_NM, JN_CND_NM, 
    APP_CRGP_ID, APP_CRGP_NM, CNVS_CRGP_ID, CNVS_CRGP_NM, REF_DESCN, PRE_FLF_DESCN, TGT_CHRG
  </sql>
  <sql id="wah_col" >
   , RQST_NO, RQST_SNO, OBJ_VERS, OBJ_DESCN, REG_TYP_CD, FRS_RQST_DTM, 
    FRS_RQST_USER_ID, RQST_DTM, RQST_USER_ID, APRV_DTM, APRV_USER_ID, MAP_DF_ID, MAP_DF_TYPE,  MAP_SNO, 
    TBL_MAP_TYPE, TGT_SUBJ_ID, TGT_SUBJ_ALL_PATH, TGT_DB_ID, TGT_DB_PNM, TGT_TBL_ID, 
    TGT_TBL_LNM, TGT_TBL_PNM, TGT_FLF_TYPE, SRC_BIZ_ID, SRC_BIZ_NM, SRC_SYS_ID, SRC_SYS_NM, 
    SRC_DB_ID, SRC_DB_PNM, SRC_TBL_ID, SRC_TBL_LNM, SRC_TBL_PNM, SLT_SKP_CND_NM, JN_CND_NM, 
    APP_CRGP_ID, APP_CRGP_NM, CNVS_CRGP_ID, CNVS_CRGP_NM, REF_DESCN, PRE_FLF_DESCN, TGT_CHRG
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from WAQ_TBL_MAP
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from WAQ_TBL_MAP
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="kr.wise.meta.mapping.service.WaqTblMap" >
    insert into WAQ_TBL_MAP (RQST_NO, RQST_SNO, RQST_DCD, 
      RVW_STS_CD, RVW_CONTS, VRF_CD, 
      VRF_RMK, OBJ_VERS, OBJ_DESCN, 
      REG_TYP_CD, FRS_RQST_DTM, FRS_RQST_USER_ID, 
      RQST_DTM, RQST_USER_ID, APRV_DTM, 
      APRV_USER_ID, MAP_DF_TYPE, MAP_DF_ID, 
      MAP_SNO, TBL_MAP_TYPE, TGT_SUBJ_ID, 
      TGT_SUBJ_ALL_PATH, TGT_DB_ID, TGT_DB_PNM, 
      TGT_TBL_ID, TGT_TBL_LNM, TGT_TBL_PNM, 
      TGT_FLF_TYPE, SRC_BIZ_ID, SRC_BIZ_NM, 
      SRC_SYS_ID, SRC_SYS_NM, SRC_DB_ID, 
      SRC_DB_PNM, SRC_TBL_ID, SRC_TBL_LNM, 
      SRC_TBL_PNM, SLT_SKP_CND_NM, JN_CND_NM, 
      APP_CRGP_ID, APP_CRGP_NM, CNVS_CRGP_ID, 
      CNVS_CRGP_NM, REF_DESCN, PRE_FLF_DESCN, TGT_CHRG
      )
    values (#{rqstNo,jdbcType=VARCHAR}, #{rqstSno,jdbcType=DECIMAL}, #{rqstDcd,jdbcType=VARCHAR}, 
      #{rvwStsCd,jdbcType=VARCHAR}, #{rvwConts,jdbcType=VARCHAR}, #{vrfCd,jdbcType=VARCHAR}, 
      #{vrfRmk,jdbcType=VARCHAR}, #{objVers,jdbcType=DECIMAL}, #{objDescn,jdbcType=VARCHAR}, 
      #{regTypCd,jdbcType=VARCHAR}, #{frsRqstDtm,jdbcType=TIMESTAMP}, #{frsRqstUserId,jdbcType=VARCHAR}, 
      #{rqstDtm,jdbcType=TIMESTAMP}, #{rqstUserId,jdbcType=VARCHAR}, #{aprvDtm,jdbcType=TIMESTAMP}, 
      #{aprvUserId,jdbcType=VARCHAR}, #{mapDfType,jdbcType=VARCHAR}, #{mapDfId,jdbcType=VARCHAR}, 
      #{mapSno,jdbcType=DECIMAL}, #{tblMapType,jdbcType=VARCHAR}, #{tgtSubjId,jdbcType=VARCHAR}, 
      #{tgtSubjAllPath,jdbcType=VARCHAR}, #{tgtDbId,jdbcType=VARCHAR}, #{tgtDbPnm,jdbcType=VARCHAR}, 
      #{tgtTblId,jdbcType=VARCHAR}, #{tgtTblLnm,jdbcType=VARCHAR}, #{tgtTblPnm,jdbcType=VARCHAR}, 
      #{tgtFlfType,jdbcType=VARCHAR}, #{srcBizId,jdbcType=VARCHAR}, #{srcBizNm,jdbcType=VARCHAR}, 
      #{srcSysId,jdbcType=VARCHAR}, #{srcSysNm,jdbcType=VARCHAR}, #{srcDbId,jdbcType=VARCHAR}, 
      #{srcDbPnm,jdbcType=VARCHAR}, #{srcTblId,jdbcType=VARCHAR}, #{srcTblLnm,jdbcType=VARCHAR}, 
      #{srcTblPnm,jdbcType=VARCHAR}, #{sltSkpCndNm,jdbcType=VARCHAR}, #{jnCndNm,jdbcType=VARCHAR}, 
      #{appCrgpId,jdbcType=VARCHAR}, #{appCrgpNm,jdbcType=VARCHAR}, #{cnvsCrgpId,jdbcType=VARCHAR}, 
      #{cnvsCrgpNm,jdbcType=VARCHAR}, #{refDescn,jdbcType=VARCHAR}, #{preFlfDescn,jdbcType=VARCHAR},
      #{tgtChrg,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="kr.wise.meta.mapping.service.WaqTblMap" >
  	<selectKey keyProperty="rqstSno" resultType="int" statementType="PREPARED" order="BEFORE">
		SELECT NVL(MAX(RQST_SNO), 0) + 1 FROM WAQ_TBL_MAP WHERE RQST_NO = #{rqstNo}
  	</selectKey>
    insert into WAQ_TBL_MAP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rqstNo != null" >
        RQST_NO,
      </if>
      <if test="rqstSno != null" >
        RQST_SNO,
      </if>
      <if test="rqstDcd != null" >
        RQST_DCD,
      </if>
      <if test="rvwStsCd != null" >
        RVW_STS_CD,
      </if>
      <if test="rvwConts != null" >
        RVW_CONTS,
      </if>
      <if test="vrfCd != null" >
        VRF_CD,
      </if>
      <if test="vrfRmk != null" >
        VRF_RMK,
      </if>
        OBJ_VERS,
      <if test="objDescn != null" >
        OBJ_DESCN,
      </if>
      <if test="regTypCd != null" >
        REG_TYP_CD,
      </if>
      <if test="frsRqstDtm != null" >
        FRS_RQST_DTM,
      </if>
      <if test="frsRqstUserId != null" >
        FRS_RQST_USER_ID,
      </if>
      <if test="rqstDtm != null" >
        RQST_DTM,
      </if>
      <if test="rqstUserId != null" >
        RQST_USER_ID,
      </if>
      <if test="aprvDtm != null" >
        APRV_DTM,
      </if>
      <if test="aprvUserId != null" >
        APRV_USER_ID,
      </if>
      <if test="mapDfType != null" >
        MAP_DF_TYPE,
      </if>
      <if test="mapDfId != null" >
        MAP_DF_ID,
      </if>
      <if test="mapSno != null" >
        MAP_SNO,
      </if>
      <if test="tblMapType != null" >
        TBL_MAP_TYPE,
      </if>
      <if test="tgtSubjId != null" >
        TGT_SUBJ_ID,
      </if>
      <if test="tgtSubjAllPath != null" >
        TGT_SUBJ_ALL_PATH,
      </if>
      <if test="tgtDbId != null" >
        TGT_DB_ID,
      </if>
      <if test="tgtDbPnm != null" >
        TGT_DB_PNM,
      </if>
      <if test="tgtTblId != null" >
        TGT_TBL_ID,
      </if>
      <if test="tgtTblLnm != null" >
        TGT_TBL_LNM,
      </if>
      <if test="tgtTblPnm != null" >
        TGT_TBL_PNM,
      </if>
      <if test="tgtFlfType != null" >
        TGT_FLF_TYPE,
      </if>
      <if test="srcBizId != null" >
        SRC_BIZ_ID,
      </if>
      <if test="srcBizNm != null" >
        SRC_BIZ_NM,
      </if>
      <if test="srcSysId != null" >
        SRC_SYS_ID,
      </if>
      <if test="srcSysNm != null" >
        SRC_SYS_NM,
      </if>
      <if test="srcDbId != null" >
        SRC_DB_ID,
      </if>
      <if test="srcDbPnm != null" >
        SRC_DB_PNM,
      </if>
      <if test="srcTblId != null" >
        SRC_TBL_ID,
      </if>
      <if test="srcTblLnm != null" >
        SRC_TBL_LNM,
      </if>
      <if test="srcTblPnm != null" >
        SRC_TBL_PNM,
      </if>
      <if test="sltSkpCndNm != null" >
        SLT_SKP_CND_NM,
      </if>
      <if test="jnCndNm != null" >
        JN_CND_NM,
      </if>
      <if test="appCrgpId != null" >
        APP_CRGP_ID,
      </if>
      <if test="appCrgpNm != null" >
        APP_CRGP_NM,
      </if>
      <if test="cnvsCrgpId != null" >
        CNVS_CRGP_ID,
      </if>
      <if test="cnvsCrgpNm != null" >
        CNVS_CRGP_NM,
      </if>
      <if test="refDescn != null" >
        REF_DESCN,
      </if>
      <if test="preFlfDescn != null" >
        PRE_FLF_DESCN,
      </if>
      <if test="tblMapId != null" >
        TBL_MAP_ID,
      </if>
      <if test="tgtChrg != null" >
        TGT_CHRG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rqstNo != null" >
        #{rqstNo,jdbcType=VARCHAR},
      </if>
      <if test="rqstSno != null" >
        #{rqstSno,jdbcType=DECIMAL},
      </if>
      <if test="rqstDcd != null" >
        #{rqstDcd,jdbcType=VARCHAR},
      </if>
      <if test="rvwStsCd != null" >
        #{rvwStsCd,jdbcType=VARCHAR},
      </if>
      <if test="rvwConts != null" >
        #{rvwConts,jdbcType=VARCHAR},
      </if>
      <if test="vrfCd != null" >
        #{vrfCd,jdbcType=VARCHAR},
      </if>
      <if test="vrfRmk != null" >
        #{vrfRmk,jdbcType=VARCHAR},
      </if>
  		1 ,
      <if test="objDescn != null" >
        #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="regTypCd != null" >
        #{regTypCd,jdbcType=VARCHAR},
      </if>
      <if test="frsRqstDtm != null" >
        #{frsRqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="frsRqstUserId != null" >
        #{frsRqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="rqstDtm != null" >
        #{rqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="rqstUserId != null" >
        #{rqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="aprvDtm != null" >
        #{aprvDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="aprvUserId != null" >
        #{aprvUserId,jdbcType=VARCHAR},
      </if>
      <if test="mapDfType != null" >
        #{mapDfType,jdbcType=VARCHAR},
      </if>
      <if test="mapDfId != null" >
        #{mapDfId,jdbcType=VARCHAR},
      </if>
      <if test="mapSno != null" >
        #{mapSno,jdbcType=DECIMAL},
      </if>
      <if test="tblMapType != null" >
        #{tblMapType,jdbcType=VARCHAR},
      </if>
      <if test="tgtSubjId != null" >
        #{tgtSubjId,jdbcType=VARCHAR},
      </if>
      <if test="tgtSubjAllPath != null" >
        #{tgtSubjAllPath,jdbcType=VARCHAR},
      </if>
      <if test="tgtDbId != null" >
        #{tgtDbId,jdbcType=VARCHAR},
      </if>
      <if test="tgtDbPnm != null" >
        #{tgtDbPnm,jdbcType=VARCHAR},
      </if>
      <if test="tgtTblId != null" >
        #{tgtTblId,jdbcType=VARCHAR},
      </if>
      <if test="tgtTblLnm != null" >
        #{tgtTblLnm,jdbcType=VARCHAR},
      </if>
      <if test="tgtTblPnm != null" >
        #{tgtTblPnm,jdbcType=VARCHAR},
      </if>
      <if test="tgtFlfType != null" >
        #{tgtFlfType,jdbcType=VARCHAR},
      </if>
      <if test="srcBizId != null" >
        #{srcBizId,jdbcType=VARCHAR},
      </if>
      <if test="srcBizNm != null" >
        #{srcBizNm,jdbcType=VARCHAR},
      </if>
      <if test="srcSysId != null" >
        #{srcSysId,jdbcType=VARCHAR},
      </if>
      <if test="srcSysNm != null" >
        #{srcSysNm,jdbcType=VARCHAR},
      </if>
      <if test="srcDbId != null" >
        #{srcDbId,jdbcType=VARCHAR},
      </if>
      <if test="srcDbPnm != null" >
        #{srcDbPnm,jdbcType=VARCHAR},
      </if>
      <if test="srcTblId != null" >
        #{srcTblId,jdbcType=VARCHAR},
      </if>
      <if test="srcTblLnm != null" >
        #{srcTblLnm,jdbcType=VARCHAR},
      </if>
      <if test="srcTblPnm != null" >
        #{srcTblPnm,jdbcType=VARCHAR},
      </if>
      <if test="sltSkpCndNm != null" >
        #{sltSkpCndNm,jdbcType=VARCHAR},
      </if>
      <if test="jnCndNm != null" >
        #{jnCndNm,jdbcType=VARCHAR},
      </if>
      <if test="appCrgpId != null" >
        #{appCrgpId,jdbcType=VARCHAR},
      </if>
      <if test="appCrgpNm != null" >
        #{appCrgpNm,jdbcType=VARCHAR},
      </if>
      <if test="cnvsCrgpId != null" >
        #{cnvsCrgpId,jdbcType=VARCHAR},
      </if>
      <if test="cnvsCrgpNm != null" >
        #{cnvsCrgpNm,jdbcType=VARCHAR},
      </if>
      <if test="refDescn != null" >
        #{refDescn,jdbcType=VARCHAR},
      </if>
      <if test="preFlfDescn != null" >
        #{preFlfDescn,jdbcType=VARCHAR},
      </if>
      <if test="tblMapId != null" >
        #{tblMapId,jdbcType=VARCHAR},
      </if>
      <if test="tgtChrg != null" >
        #{tgtChrg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="kr.wise.meta.mapping.service.WaqTblMap" >
    update WAQ_TBL_MAP
    <set >
      <if test="rqstDcd != null" >
        RQST_DCD = #{rqstDcd,jdbcType=VARCHAR},
      </if>
      <if test="rvwStsCd != null" >
        RVW_STS_CD = #{rvwStsCd,jdbcType=VARCHAR},
      </if>
      <if test="rvwConts != null" >
        RVW_CONTS = #{rvwConts,jdbcType=VARCHAR},
      </if>
      <if test="vrfCd != null" >
        VRF_CD = #{vrfCd,jdbcType=VARCHAR},
      </if>
      <if test="vrfRmk != null" >
        VRF_RMK = #{vrfRmk,jdbcType=VARCHAR},
      </if>
      <if test="objVers != null" >
        OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      </if>
      <if test="objDescn != null" >
        OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="regTypCd != null" >
        REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      </if>
      <if test="frsRqstDtm != null" >
        FRS_RQST_DTM = #{frsRqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="frsRqstUserId != null" >
        FRS_RQST_USER_ID = #{frsRqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="rqstDtm != null" >
        RQST_DTM = #{rqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="rqstUserId != null" >
        RQST_USER_ID = #{rqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="aprvDtm != null" >
        APRV_DTM = #{aprvDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="aprvUserId != null" >
        APRV_USER_ID = #{aprvUserId,jdbcType=VARCHAR},
      </if>
      <if test="mapDfType != null" >
        MAP_DF_TYPE = #{mapDfType,jdbcType=VARCHAR},
      </if>
      <if test="mapDfId != null" >
        MAP_DF_ID = #{mapDfId,jdbcType=VARCHAR},
      </if>
      <if test="mapSno != null" >
        MAP_SNO = #{mapSno,jdbcType=DECIMAL},
      </if>
      <if test="tblMapType != null" >
        TBL_MAP_TYPE = #{tblMapType,jdbcType=VARCHAR},
      </if>
      <if test="tgtSubjId != null" >
        TGT_SUBJ_ID = #{tgtSubjId,jdbcType=VARCHAR},
      </if>
      <if test="tgtSubjAllPath != null" >
        TGT_SUBJ_ALL_PATH = #{tgtSubjAllPath,jdbcType=VARCHAR},
      </if>
      <if test="tgtDbId != null" >
        TGT_DB_ID = #{tgtDbId,jdbcType=VARCHAR},
      </if>
      <if test="tgtDbPnm != null" >
        TGT_DB_PNM = #{tgtDbPnm,jdbcType=VARCHAR},
      </if>
      <if test="tgtTblId != null" >
        TGT_TBL_ID = #{tgtTblId,jdbcType=VARCHAR},
      </if>
      <if test="tgtTblLnm != null" >
        TGT_TBL_LNM = #{tgtTblLnm,jdbcType=VARCHAR},
      </if>
      <if test="tgtTblPnm != null" >
        TGT_TBL_PNM = #{tgtTblPnm,jdbcType=VARCHAR},
      </if>
      <if test="tgtFlfType != null" >
        TGT_FLF_TYPE = #{tgtFlfType,jdbcType=VARCHAR},
      </if>
      <if test="srcBizId != null" >
        SRC_BIZ_ID = #{srcBizId,jdbcType=VARCHAR},
      </if>
      <if test="srcBizNm != null" >
        SRC_BIZ_NM = #{srcBizNm,jdbcType=VARCHAR},
      </if>
      <if test="srcSysId != null" >
        SRC_SYS_ID = #{srcSysId,jdbcType=VARCHAR},
      </if>
      <if test="srcSysNm != null" >
        SRC_SYS_NM = #{srcSysNm,jdbcType=VARCHAR},
      </if>
      <if test="srcDbId != null" >
        SRC_DB_ID = #{srcDbId,jdbcType=VARCHAR},
      </if>
      <if test="srcDbPnm != null" >
        SRC_DB_PNM = #{srcDbPnm,jdbcType=VARCHAR},
      </if>
      <if test="srcTblId != null" >
        SRC_TBL_ID = #{srcTblId,jdbcType=VARCHAR},
      </if>
      <if test="srcTblLnm != null" >
        SRC_TBL_LNM = #{srcTblLnm,jdbcType=VARCHAR},
      </if>
      <if test="srcTblPnm != null" >
        SRC_TBL_PNM = #{srcTblPnm,jdbcType=VARCHAR},
      </if>
      <if test="sltSkpCndNm != null" >
        SLT_SKP_CND_NM = #{sltSkpCndNm,jdbcType=VARCHAR},
      </if>
      <if test="jnCndNm != null" >
        JN_CND_NM = #{jnCndNm,jdbcType=VARCHAR},
      </if>
      <if test="appCrgpId != null" >
        APP_CRGP_ID = #{appCrgpId,jdbcType=VARCHAR},
      </if>
      <if test="appCrgpNm != null" >
        APP_CRGP_NM = #{appCrgpNm,jdbcType=VARCHAR},
      </if>
      <if test="cnvsCrgpId != null" >
        CNVS_CRGP_ID = #{cnvsCrgpId,jdbcType=VARCHAR},
      </if>
      <if test="cnvsCrgpNm != null" >
        CNVS_CRGP_NM = #{cnvsCrgpNm,jdbcType=VARCHAR},
      </if>
      <if test="refDescn != null" >
        REF_DESCN = #{refDescn,jdbcType=VARCHAR},
      </if>
      <if test="preFlfDescn != null" >
        PRE_FLF_DESCN = #{preFlfDescn,jdbcType=VARCHAR},
      </if>
      <if test="tgtChrg != null" >
        TGT_CHRG = #{tgtChrg,jdbcType=VARCHAR},
      </if>
    </set>
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="kr.wise.meta.mapping.service.WaqTblMap" >
    update WAQ_TBL_MAP
    set RQST_DCD = #{rqstDcd,jdbcType=VARCHAR},
      RVW_STS_CD = #{rvwStsCd,jdbcType=VARCHAR},
      RVW_CONTS = #{rvwConts,jdbcType=VARCHAR},
      VRF_CD = #{vrfCd,jdbcType=VARCHAR},
      VRF_RMK = #{vrfRmk,jdbcType=VARCHAR},
      OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      FRS_RQST_DTM = #{frsRqstDtm,jdbcType=TIMESTAMP},
      FRS_RQST_USER_ID = #{frsRqstUserId,jdbcType=VARCHAR},
      RQST_DTM = #{rqstDtm,jdbcType=TIMESTAMP},
      RQST_USER_ID = #{rqstUserId,jdbcType=VARCHAR},
      APRV_DTM = #{aprvDtm,jdbcType=TIMESTAMP},
      APRV_USER_ID = #{aprvUserId,jdbcType=VARCHAR},
      MAP_DF_TYPE = #{mapDfType,jdbcType=VARCHAR},
      MAP_DF_ID = #{mapDfId,jdbcType=VARCHAR},
      MAP_SNO = #{mapSno,jdbcType=DECIMAL},
      TBL_MAP_TYPE = #{tblMapType,jdbcType=VARCHAR},
      TGT_SUBJ_ID = #{tgtSubjId,jdbcType=VARCHAR},
      TGT_SUBJ_ALL_PATH = #{tgtSubjAllPath,jdbcType=VARCHAR},
      TGT_DB_ID = #{tgtDbId,jdbcType=VARCHAR},
      TGT_DB_PNM = #{tgtDbPnm,jdbcType=VARCHAR},
      TGT_TBL_ID = #{tgtTblId,jdbcType=VARCHAR},
      TGT_TBL_LNM = #{tgtTblLnm,jdbcType=VARCHAR},
      TGT_TBL_PNM = #{tgtTblPnm,jdbcType=VARCHAR},
      TGT_FLF_TYPE = #{tgtFlfType,jdbcType=VARCHAR},
      SRC_BIZ_ID = #{srcBizId,jdbcType=VARCHAR},
      SRC_BIZ_NM = #{srcBizNm,jdbcType=VARCHAR},
      SRC_SYS_ID = #{srcSysId,jdbcType=VARCHAR},
      SRC_SYS_NM = #{srcSysNm,jdbcType=VARCHAR},
      SRC_DB_ID = #{srcDbId,jdbcType=VARCHAR},
      SRC_DB_PNM = #{srcDbPnm,jdbcType=VARCHAR},
      SRC_TBL_ID = #{srcTblId,jdbcType=VARCHAR},
      SRC_TBL_LNM = #{srcTblLnm,jdbcType=VARCHAR},
      SRC_TBL_PNM = #{srcTblPnm,jdbcType=VARCHAR},
      SLT_SKP_CND_NM = #{sltSkpCndNm,jdbcType=VARCHAR},
      JN_CND_NM = #{jnCndNm,jdbcType=VARCHAR},
      APP_CRGP_ID = #{appCrgpId,jdbcType=VARCHAR},
      APP_CRGP_NM = #{appCrgpNm,jdbcType=VARCHAR},
      CNVS_CRGP_ID = #{cnvsCrgpId,jdbcType=VARCHAR},
      CNVS_CRGP_NM = #{cnvsCrgpNm,jdbcType=VARCHAR},
      REF_DESCN = #{refDescn,jdbcType=VARCHAR},
      PRE_FLF_DESCN = #{preFlfDescn,jdbcType=VARCHAR},
      TGT_CHRG = #{tgtChrg,jdbcType=VARCHAR}
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </update>
  
  <delete id="deleteByrqstSno" parameterType="kr.wise.meta.mapping.service.WaqTblMap">
  	DELETE FROM WAQ_TBL_MAP
  	 WHERE RQST_NO  = #{rqstNo}
  	   AND RQST_SNO = #{rqstSno}
  </delete>
  
  <select id="selectTblMapDetail" resultMap="BaseResultMap" parameterType="kr.wise.meta.mapping.service.WaqTblMap" >
    -- 테이블매핑정의서 요청 상세정보 조회
    select 
    <include refid="Base_Column_List" />
    from WAQ_TBL_MAP
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </select>
  
 <!-- 검증SQL -->
  <update id="updateCheckInit" parameterType="java.lang.String" >
  --등록유형코드(C/U/D), 검증코드 업데이트
    UPDATE WAQ_TBL_MAP A
    SET A.REG_TYP_CD = (SELECT CASE WHEN A.RQST_DCD = 'DD' THEN 'D' ELSE CASE WHEN MAX(B.TBL_MAP_ID ) IS NULL THEN 'C' ELSE 'U' END END
                          FROM WAM_TBL_MAP B 
                         WHERE B.REG_TYP_CD IN ('C','U')
                            AND A.MAP_DF_ID = B.MAP_DF_ID
							AND NVL(A.SRC_TBL_PNM, 'X') = NVL(B.SRC_TBL_PNM, 'X')
<!-- 							AND NVL(A.SRC_DB_PNM, 'X') = NVL(B.SRC_DB_PNM, 'X') -->
                       )
       ,A.VRF_CD = '4'
    WHERE A.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
  </update>
  
  
    <insert id="checkDupTblMap" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
  	--검증쿼리 : 요청서내 중복 테이블매핑정의서(TM001)
    AND EXISTS (SELECT 1
             FROM WAQ_TBL_MAP D
             WHERE A.RQST_NO = D.RQST_NO
               AND A.MAP_DF_ID = D.MAP_DF_ID
<!--                AND NVL(A.SRC_DB_PNM, 'X') = NVL(D.SRC_DB_PNM, 'X') -->
               AND NVL(A.SRC_TBL_PNM, 'X') = NVL(D.SRC_TBL_PNM, 'X')
               AND A.RQST_SNO != D.RQST_SNO)
  </insert>
  
 
    <insert id="checkNotExistTblMap" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
      --검증쿼리 : 삭제대상 테이블매핑정의서 미존재(TM002)
      AND A.RQST_DCD = 'DD'
      AND NOT EXISTS (SELECT 1
                  FROM WAM_TBL_MAP D
                  WHERE A.MAP_DF_ID = D.MAP_DF_ID
<!-- 	               AND NVL(A.SRC_DB_PNM, 'X') = NVL(D.SRC_DB_PNM, 'X') -->
	               AND NVL(A.SRC_TBL_PNM, 'X') = NVL(D.SRC_TBL_PNM, 'X')
                    AND D.REG_TYP_CD IN ('C', 'U'))  
  </insert> 
  
    <insert id="checkNotExistColMap" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
      --검증쿼리 : 삭제대상 컬럼매핑정의서미존재(TM007)
      AND A.RQST_DCD = 'DD'
      AND EXISTS (SELECT 1
                  FROM WAM_COL_MAP D
                  WHERE A.MAP_DF_ID = D.MAP_DF_ID
<!-- 	               AND NVL(A.SRC_DB_PNM, 'X') = NVL(D.SRC_DB_PNM, 'X') -->
	               AND NVL(A.SRC_TBL_PNM, 'X') = NVL(D.SRC_TBL_PNM, 'X')
                    AND D.REG_TYP_CD IN ('C', 'U'))  
  </insert> 
  
  
     <insert id="checkRequestTblMap" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
  	--검증쿼리 : 요청중인 테이블매핑정의서 (TM003)
    AND EXISTS (
    		SELECT 1 FROM WAQ_MSTR E
             INNER JOIN WAQ_TBL_MAP D
             	ON E.RQST_NO = D.RQST_NO
             WHERE E.RQST_NO != #{rqstNo}
               AND E.RQST_STEP_CD = 'Q'
               AND A.MAP_DF_ID = D.MAP_DF_ID
<!--                AND NVL(A.SRC_DB_PNM, 'X') = NVL(D.SRC_DB_PNM, 'X') -->
               AND NVL(A.SRC_TBL_PNM, 'X') = NVL(D.SRC_TBL_PNM, 'X')
               AND NVL(D.RVW_STS_CD, 0) != '2' 
               )
  </insert>
  
  
  <insert id="checkNotExistTgtTbl" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
      --검증쿼리 : 타겟테이블 미존재(TM004)
      	AND A.REG_TYP_CD IN ('C', 'U')
		AND NOT EXISTS (SELECT 1
		                  FROM WAM_PDM_TBL D
		                  WHERE A.TGT_TBL_PNM = D.PDM_TBL_PNM
		               ) 
  </insert>
  
  <insert id="checkNotExistSrcTbl" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
      --검증쿼리 : 소스테이블 미존재(TM006)
      	AND A.REG_TYP_CD IN ('C', 'U')
		AND NOT EXISTS (SELECT 1
		                  FROM WAM_ASIS_PDM_TBL D
		                  WHERE A.SRC_TBL_PNM = D.PDM_TBL_PNM
		                UNION ALL
						SELECT 1
						  FROM WAM_TBL_MAP M
						  WHERE A.SRC_TBL_PNM = M.TGT_TBL_PNM
						UNION ALL  
						SELECT 1
						  FROM WAQ_TBL_MAP Q
						  WHERE A.SRC_TBL_PNM = Q.TGT_TBL_PNM
						    AND A.RQST_NO = Q.RQST_NO 
		               )
		AND TBL_MAP_TYPE IN ('M','R')
  </insert>
  
    <insert id="checkAppCrgp" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>
      --검증쿼리 : 응용담당자외 등록,수정,삭제 불가(TM005)
	  AND EXISTS ( SELECT 1
		           FROM WAM_TBL_MAP B
		           WHERE NVL(A.APP_CRGP_NM, 'X') != NVL(B.APP_CRGP_NM, 'O')
	                 AND NVL(A.MAP_DF_ID, 'X') = NVL(B.MAP_DF_ID, 'O')
		         )
  </insert>
  
  
    <insert id="checkNotChgData" parameterType="map">
	  <!-- <include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSql"/>  -->
	  <include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.updateVrfNotChg"/>
	  --검증쿼리 : 변경일 때 변경된 데이터가 없을 경우 (TM000)
      AND A.REG_TYP_CD = 'U'
      AND EXISTS (
      		SELECT 1 
      		  FROM WAM_TBL_MAP D
      		 WHERE A.MAP_DF_ID = D.MAP_DF_ID
			   AND NVL(A.SRC_TBL_PNM, 'X')       = NVL(D.SRC_TBL_PNM, 'X')
			   AND NVL(A.SRC_DB_PNM, 'X')        = NVL(D.SRC_DB_PNM, 'X')
      		   AND NVL(A.MAP_SNO, '_') 		     = NVL(D.MAP_SNO, '_')
      		   AND NVL(A.TBL_MAP_TYPE, '_') 	 = NVL(D.TBL_MAP_TYPE, '_')
      		   AND NVL(A.TGT_SUBJ_ID, '_') 		 = NVL(D.TGT_SUBJ_ID, '_')
      		   AND NVL(A.TGT_SUBJ_ALL_PATH, '_') = NVL(D.TGT_SUBJ_ALL_PATH, '_')
      		   AND NVL(A.TGT_TBL_LNM, '_') 		 = NVL(D.TGT_TBL_LNM, '_')
      		   AND NVL(A.TGT_FLF_TYPE, '_') 	 = NVL(D.TGT_FLF_TYPE, '_')
      		   AND NVL(A.SRC_BIZ_NM, '_') 		 = NVL(D.SRC_BIZ_NM, '_')
      		   AND NVL(A.SRC_SYS_NM, '_') 		 = NVL(D.SRC_SYS_NM, '_')
      		   AND NVL(A.SRC_TBL_LNM, '_') 		 = NVL(D.SRC_TBL_LNM, '_')
      		   AND NVL(A.SLT_SKP_CND_NM, '_') 	 = NVL(D.SLT_SKP_CND_NM, '_')
      		   AND NVL(A.JN_CND_NM, '_') 		 = NVL(D.JN_CND_NM, '_') 		   
      		   AND NVL(A.APP_CRGP_NM, '_') 		 = NVL(D.APP_CRGP_NM, '_')
      		   AND NVL(A.CNVS_CRGP_NM, '_') 	 = NVL(D.CNVS_CRGP_NM, '_')
      		   AND NVL(A.REF_DESCN, '_') 		 = NVL(D.REF_DESCN, '_')
      		   AND NVL(A.PRE_FLF_DESCN, '_') 	 = NVL(D.PRE_FLF_DESCN, '_')   		   
      		   AND NVL(A.TGT_CHRG, '_') 		 = NVL(D.TGT_CHRG, '_')   		   
      		)
  </insert>
  
   <select id="selectTblMapListbyMst" parameterType="kr.wise.commons.rqstmst.service.WaqMstr" resultMap="BaseResultMap">
  	--테이블매핑정의서 요청서 리스트 조회
  	SELECT A.RQST_NO, A.RQST_SNO, A.RQST_DCD, A.RVW_CONTS, A.VRF_CD, A.VRF_RMK, A.OBJ_VERS, A.OBJ_DESCN 
         , A.REG_TYP_CD, A.FRS_RQST_DTM, A.FRS_RQST_USER_ID, A.RQST_DTM, A.RQST_USER_ID, A.APRV_DTM, A.APRV_USER_ID 
         , A.TBL_MAP_ID, A.MAP_DF_TYPE, A.MAP_DF_ID, A.MAP_SNO, A.TBL_MAP_TYPE, A.TGT_SUBJ_ID, A.TGT_SUBJ_ALL_PATH, A.TGT_DB_ID 
         , A.TGT_DB_PNM, A.TGT_TBL_ID, A.TGT_TBL_LNM, A.TGT_TBL_PNM, A.TGT_FLF_TYPE, A.SRC_BIZ_ID, A.SRC_BIZ_NM
         , A.SRC_SYS_ID, A.SRC_SYS_NM, A.SRC_DB_ID, A.SRC_DB_PNM, A.SRC_TBL_ID, A.SRC_TBL_LNM, A.SRC_TBL_PNM
         , A.SLT_SKP_CND_NM, A.JN_CND_NM, A.APP_CRGP_ID, A.APP_CRGP_NM, A.CNVS_CRGP_ID, A.CNVS_CRGP_NM
         , A.REF_DESCN, A.PRE_FLF_DESCN, A.TGT_CHRG
         <if test='rqstStepCd == "Q" '>
         , CASE WHEN A.RVW_STS_CD = '2' THEN '2' ELSE '0' END AS RVW_STS_CD
         </if>
         <if test='rqstStepCd != "Q" '>
         , A.RVW_STS_CD
         </if>
         , CASE WHEN A.VRF_CD = '2' THEN '#FF0000' ELSE CASE WHEN A.VRF_CD = '5' THEN '#0000FF'  END END AS FontColor
         , U.USER_NM AS RQST_USER_NM
      FROM WAQ_TBL_MAP A
           LEFT JOIN WAA_USER U
             ON A.RQST_USER_ID = U.USER_ID
            AND U.EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
            AND U.REG_TYP_CD IN ('C', 'U')
    WHERE A.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
    <if test='rqstStepCd == "Q" or rqstStepCd == "A" '>
    	AND A.VRF_CD = '1'
    </if>
    ORDER BY A.VRF_CD DESC, A.RQST_SNO  	
  </select>
  
     <select id="selectTgtTblListbyNm" parameterType="kr.wise.meta.mapping.service.WaqTblMap" resultMap="BaseResultMap">
  	--테이블매핑정의서 타겟테이블 리스트 조회
  	SELECT A.PDM_TBL_ID AS TGT_TBL_ID,
	       A.PDM_TBL_PNM AS TGT_TBL_PNM,
	       A.PDM_TBL_LNM AS TGT_TBL_LNM,
--	       GET_DDL_TRG_DB_PNM(A.DB_SCH_ID) AS TGT_DB_PNM,
	       B.SUBJ_ID AS TGT_SUBJ_ID,
	       B.FULL_PATH AS TGT_SUBJ_ALL_PATH
	FROM   WAM_PDM_TBL A
	 LEFT OUTER JOIN V_WAA_SUBJ B
	 ON A.SUBJ_ID = B.SUBJ_ID
    WHERE 1=1
    <if test="tgtTblPnm != null" >
       AND (A.PDM_TBL_LNM LIKE '%' || #{tgtTblPnm,jdbcType=VARCHAR} || '%'
        	OR A.PDM_TBL_PNM LIKE '%' || #{tgtTblPnm,jdbcType=VARCHAR} || '%')
    </if> 	
  </select>
  
  <!-- 승인/반려 업데이트 -->
  <update id="updatervwStsCd" parameterType="kr.wise.meta.mapping.service.WaqTblMap" >
  	UPDATE WAQ_TBL_MAP
  	<set>
  	    RVW_STS_CD 	= #{rvwStsCd} , 
  		RVW_CONTS 	= #{rvwConts} , 
  		APRV_DTM	= SYSDATE ,
  		APRV_USER_ID = #{aprvUserId} ,
  	</set>
    WHERE RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      AND RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
      AND VRF_CD = '1'
      AND NVL(RVW_STS_CD, '_') != '2'
  </update>
  
   <select id="selectWaqC" parameterType="map" resultMap="BaseResultMap">
   	--신규 적재 대상 추출
   	SELECT * FROM WAQ_TBL_MAP
   	WHERE RQST_NO = #{rqstNo}
   	  AND RVW_STS_CD = '1'  --승인
   	  AND REG_TYP_CD = 'C'
   </select>
   
    <update id="updateWaqCUD" parameterType="map">
   	--WAQ ID, VERS 등을 업데이트...
	UPDATE WAQ_TBL_MAP A
	SET (TBL_MAP_ID, OBJ_VERS, FRS_RQST_DTM, FRS_RQST_USER_ID) = (
	    SELECT 
	          B.TBL_MAP_ID AS TBL_MAP_ID
	        , NVL(B.OBJ_VERS, 0) + 1 AS OBJ_VERS
	        , B.FRS_RQST_DTM
	        , B.FRS_RQST_USER_ID
	    FROM WAM_TBL_MAP B
	    WHERE A.MAP_DF_ID = B.MAP_DF_ID
<!--           AND NVL(A.SRC_DB_PNM, 'X') = NVL(B.SRC_DB_PNM, 'X') -->
          AND NVL(A.SRC_TBL_PNM, 'X') = NVL(B.SRC_TBL_PNM, 'X')
	)
	WHERE A.RQST_NO = #{rqstNo}
	--AND A.VRF_CD = '1' 		--등록가능
	AND A.RVW_STS_CD = '1'  --승인
	AND EXISTS (
		SELECT 1
		 FROM WAM_TBL_MAP B
	     WHERE A.MAP_DF_ID = B.MAP_DF_ID
<!--           AND NVL(A.SRC_DB_PNM, 'X') = NVL(B.SRC_DB_PNM, 'X') -->
          AND NVL(A.SRC_TBL_PNM, 'X') = NVL(B.SRC_TBL_PNM, 'X')

	)
   </update>
   
    <update id="updateidByKey" parameterType="kr.wise.meta.mapping.service.WaqTblMap">
     --신규 적재 대상 ID 업데이트
     UPDATE WAQ_TBL_MAP SET TBL_MAP_ID = #{tblMapId,jdbcType=VARCHAR}
  	 WHERE RQST_NO = #{rqstNo,jdbcType=VARCHAR}
       AND RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
   </update>
   
   <delete id="deleteWAM" parameterType="map">
    --WAM 삭제 (등록유형코드가REG_TYP_CD 변경, 삭제일 경우)
	DELETE FROM WAM_TBL_MAP A
	WHERE EXISTS (
	    SELECT 1 FROM WAQ_TBL_MAP B
	     WHERE B.RQST_NO = #{rqstNo}
	       AND B.RVW_STS_CD = '1'
	       AND A.MAP_DF_ID = B.MAP_DF_ID
<!--           AND NVL(A.SRC_DB_PNM, 'X') = NVL(B.SRC_DB_PNM, 'X') -->
          AND NVL(A.SRC_TBL_PNM, 'X') = NVL(B.SRC_TBL_PNM, 'X')
	)
   </delete>   

   <insert id="insertWAM" parameterType="map">
   	--WAM 추가 (WAQ 내용을 추가, REG_TYP_CD 가 신규,변경일 경우)
	INSERT INTO WAM_TBL_MAP 
	SELECT 
		TBL_MAP_ID 
	
	<include refid="wam_col"/>
	
	FROM WAQ_TBL_MAP A
	WHERE A.RQST_NO = #{rqstNo}
	AND A.RVW_STS_CD = '1'
	AND A.REG_TYP_CD IN ('C', 'U')
   </insert> 
   
    <update id="updateWAH"  parameterType="map">
   	--WAH 이력 만료...
	UPDATE WAH_TBL_MAP A
	SET EXP_DTM = SYSDATE
	WHERE EXISTS (
	   SELECT 1 FROM WAQ_TBL_MAP B
	    WHERE B.RQST_NO = #{rqstNo}
	      AND B.RVW_STS_CD = '1'
	      AND A.MAP_DF_ID = B.MAP_DF_ID
<!--           AND NVL(A.SRC_DB_PNM, 'X') = NVL(B.SRC_DB_PNM, 'X') -->
          AND NVL(A.SRC_TBL_PNM, 'X') = NVL(B.SRC_TBL_PNM, 'X')
	    )
	AND EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
   </update>  

   <insert id="insertWAH"  parameterType="map">
   	--WAH이력 적재...
	INSERT INTO WAH_TBL_MAP
	SELECT
	    A.TBL_MAP_ID AS TBL_MAP_ID
	    , TO_DATE( '9999-12-31', 'YYYY-MM-DD') AS EXP_DTM
	    , SYSDATE AS STR_DTM 
	
	<include refid="wah_col"/>
   
	 FROM WAQ_TBL_MAP A
	WHERE A.RQST_NO = #{rqstNo}
	  AND A.RVW_STS_CD = '1'
   </insert> 
   
     <select id="selectwamlist" parameterType="map" resultMap="BaseResultMap" >
  	--테이블매핑정의서 테이블 추가대상 조회...
   		SELECT (SELECT NVL(MAX(RQST_SNO), 0) 
  	    		    FROM WAQ_TBL_MAP 
  	    		   WHERE RQST_NO = #{reqmst.rqstNo}
  	    	    ) + ROWNUM  
  	    	    AS RQST_SNO
  	    	  , 'I' AS IBS_STATUS
	    	  , TBL_MAP_ID 
	    	  , #{reqmst.rqstDcd} AS RQST_DCD
	    	  , MAP_DF_ID
	    	  , OBJ_VERS, OBJ_DESCN, REG_TYP_CD, FRS_RQST_DTM
	    	  , FRS_RQST_USER_ID, RQST_DTM, RQST_USER_ID, APRV_DTM, APRV_USER_ID, MAP_DF_TYPE, MAP_SNO 
	    	  , TBL_MAP_TYPE, TGT_SUBJ_ID, TGT_SUBJ_ALL_PATH, TGT_DB_ID, TGT_DB_PNM, TGT_TBL_ID
	    	  , TGT_TBL_LNM, TGT_TBL_PNM, TGT_FLF_TYPE, SRC_BIZ_ID, SRC_BIZ_NM, SRC_SYS_ID, SRC_SYS_NM 
	    	  , SRC_DB_ID, SRC_DB_PNM, SRC_TBL_ID, SRC_TBL_LNM, SRC_TBL_PNM, SLT_SKP_CND_NM, JN_CND_NM 
	    	  , APP_CRGP_ID, APP_CRGP_NM, CNVS_CRGP_ID, CNVS_CRGP_NM, REF_DESCN, PRE_FLF_DESCN, TGT_CHRG
	      FROM WAM_TBL_MAP A
	     WHERE 1 = 1
	       AND A.REG_TYP_CD IN ('C', 'U')
	       AND A.TBL_MAP_ID IN 
	     <foreach collection="list" item="item" open="(" separator="," close=")">
	      	#{item.tblMapId}
	     </foreach>
	        	
  </select>
  
  <update id="updateMapDfId" parameterType="string">
  --매핑정의서ID UPDATE(타겟테이블 물리명 + _ + 매핑일련번호(3자리))
	UPDATE WAQ_TBL_MAP A
	   SET (A.MAP_DF_ID, A.MAP_SNO) = (SELECT B.TGT_TBL_PNM || '_' || LPAD(B.MAP_SNO,3,'0'), LPAD(B.MAP_SNO,3,'0') FROM  WAQ_TBL_MAP B WHERE A.RQST_NO = B.RQST_NO AND A.RQST_SNO = B.RQST_SNO)
	WHERE A.RQST_NO = #{rqstNo}
  </update>
  
  <update id="updateSrcInfotoBlank" parameterType="string">
  --소스(ASIS)정보 공백처리(매핑유형:NEW,INITIAL)
	UPDATE WAQ_TBL_MAP A
	   SET A.SRC_BIZ_ID = '', 
	   A.SRC_BIZ_NM = '', 
	   A.SRC_SYS_ID = '', 
	   A.SRC_SYS_NM = '', 
	   A.SRC_DB_ID = '', 
	   A.SRC_DB_PNM = '', 
	   A.SRC_TBL_ID = '', 
	   A.SRC_TBL_LNM = '', 
	   A.SRC_TBL_PNM = ''
	WHERE A.RQST_NO = #{rqstNo}
	AND A.REG_TYP_CD IN ('C', 'U')
	AND A.TBL_MAP_TYPE IN ('N', 'I')
  </update>
  
  <update id="updateTgtSubjInfo" parameterType="string">
  --타겟(TOBE)테이블 주제영역정보 업데이트
    UPDATE WAQ_TBL_MAP A
	   SET (A.TGT_SUBJ_ID, A.TGT_TBL_LNM)
        = (SELECT B.SUBJ_ID, B.PDM_TBL_LNM
           FROM WAM_PDM_TBL B
           WHERE B.PDM_TBL_PNM = A.TGT_TBL_PNM
           AND B.FULL_PATH = NVL(A.TGT_SUBJ_ALL_PATH,'X')
          )
	WHERE A.RQST_NO = #{rqstNo}
	AND A.REG_TYP_CD IN ('C', 'U')
    AND EXISTS ( SELECT 1
                 FROM WAM_PDM_TBL B
                 WHERE B.PDM_TBL_PNM = A.TGT_TBL_PNM
                 AND B.FULL_PATH = NVL(A.TGT_SUBJ_ALL_PATH,'X')
               )
  </update>
  
  <update id="updateTgtSubjInfoForXlsC" parameterType="string">
  --타겟(TOBE)테이블 주제영역정보 업데이트(엑셀업로드시_신규)
    UPDATE WAQ_TBL_MAP A
	   SET (A.TGT_SUBJ_ID, A.TGT_TBL_LNM,A.TGT_SUBJ_ALL_PATH )
        = (SELECT B.SUBJ_ID, B.PDM_TBL_LNM,B.FULL_PATH 
           FROM WAM_PDM_TBL B
           WHERE B.PDM_TBL_PNM = A.TGT_TBL_PNM
			AND ROWNUM = 1
          )
	WHERE A.RQST_NO = #{rqstNo}
	AND A.REG_TYP_CD = 'C'
    AND EXISTS ( SELECT 1
                 FROM WAM_PDM_TBL B
                 WHERE B.PDM_TBL_PNM = A.TGT_TBL_PNM
                 AND ROWNUM = 1
               )
  </update>
  
    <update id="updateTgtSubjInfoForXlsU" parameterType="string">
  --타겟(TOBE)테이블 주제영역정보 업데이트(엑셀업로드시_변경)
    UPDATE WAQ_TBL_MAP A
	   SET (A.TGT_SUBJ_ID, A.TGT_TBL_LNM,A.TGT_SUBJ_ALL_PATH )
        = (SELECT D.TGT_SUBJ_ID, D.TGT_TBL_LNM,D.TGT_SUBJ_ALL_PATH 
           FROM WAM_TBL_MAP D
      		 	WHERE A.MAP_DF_ID = D.MAP_DF_ID
				AND NVL(A.SRC_TBL_PNM, 'X') = NVL(D.SRC_TBL_PNM, 'X')
<!-- 				AND NVL(A.SRC_DB_PNM, 'X') = NVL(D.SRC_DB_PNM, 'X') -->
          )
	WHERE A.RQST_NO = #{rqstNo}
	AND A.REG_TYP_CD = 'U'
    AND EXISTS ( SELECT 1
                 FROM WAM_TBL_MAP D
      		 	WHERE A.MAP_DF_ID = D.MAP_DF_ID
				AND NVL(A.SRC_TBL_PNM, 'X') = NVL(D.SRC_TBL_PNM, 'X')
<!-- 				AND NVL(A.SRC_DB_PNM, 'X') = NVL(D.SRC_DB_PNM, 'X') -->
               )
  </update>
  
  <update id="updateTgtDbInfo" parameterType="string">
  --타겟(TOBE)테이블 DB정보 업데이트
    UPDATE WAQ_TBL_MAP A
	   SET A.TGT_DB_ID = (SELECT D.DB_CONN_TRG_ID
                            FROM WAA_DB_CONN_TRG D                                  
                           WHERE D.EXP_DTM = TO_DATE('9999-12-31','YYYY-MM-DD')
                             AND D.DB_CONN_TRG_PNM = A.TGT_DB_PNM
                         )
	WHERE A.RQST_NO = #{rqstNo}	
      AND EXISTS (SELECT 1
                    FROM WAA_DB_CONN_TRG D                                  
                   WHERE D.EXP_DTM = TO_DATE('9999-12-31','YYYY-MM-DD')
                     AND D.DB_CONN_TRG_PNM = A.TGT_DB_PNM
                 )
  </update>
  
   <update id="updateTgtTblId" parameterType="string">
  --타겟(TOBE)테이블ID 업데이트
    UPDATE WAQ_TBL_MAP A
	   SET A.TGT_TBL_ID = (SELECT B.PDM_TBL_ID
                             FROM WAM_PDM_TBL B                               
                            WHERE B.PDM_TBL_PNM = A.TGT_TBL_PNM 
                              AND B.SUBJ_ID = A.TGT_SUBJ_ID
                          )
	WHERE A.RQST_NO = #{rqstNo}	
      AND EXISTS (SELECT 1
                    FROM WAM_PDM_TBL B                               
                   WHERE B.PDM_TBL_PNM = A.TGT_TBL_PNM 
                     AND B.SUBJ_ID = A.TGT_SUBJ_ID
                 )
  </update>
  
</mapper>