<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.meta.dbc.service.WatDbcIdxMapper" >

	<resultMap id="BaseResultMap" type="kr.wise.meta.dbc.service.WatDbcIdx" extends="kr.wise.commons.cmm.service.CommonMapper.BaseResultMap">
	
		<id column="DB_SCH_ID"				property="dbSchId"				jdbcType="VARCHAR" />
		<id column="DBC_TBL_NM" 			property="dbcTblNm"			jdbcType="VARCHAR" />
		<id column="DBC_IDX_NM" 			property="dbcIdxNm"			jdbcType="VARCHAR" />
		<id column="DBC_IDX_COL_NM"		property="dbcIdxColNm"		jdbcType="VARCHAR" />
   
   		<!-- WAT_DBC_IDX -->
    	<result column="DB_SCH_ID"						property="dbSchId"						jdbcType="VARCHAR" />
		<result column="DB_SCH_LNM"					property="dbSchLnm"					jdbcType="VARCHAR" />
		<result column="DB_CONN_TRG_ID"			property="dbConnTrgId"				jdbcType="VARCHAR" />
		<result column="DBC_IDX_KOR_NM"			property="dbcIdxKorNm"				jdbcType="VARCHAR" />
		<result column="VERS"							property="vers"							jdbcType="DECIMAL" />
		<result column="REG_TYP"						property="regTyp"						jdbcType="VARCHAR" />
		<result column="REG_DTM"						property="regDtm"						jdbcType="TIMESTAMP" />
		<result column="REG_USER"						property="regUser"						jdbcType="VARCHAR" />
		<result column="DESCN"							property="descn"						jdbcType="VARCHAR" />
		<result column="DBC_TBL_SPAC_NM"			property="dbcTblSpacNm"				jdbcType="VARCHAR" />
		<result column="DDL_IDX_ID"					property="ddlIdxId"						jdbcType="VARCHAR" />
		<result column="PDM_IDX_ID"					property="pdmIdxId"					jdbcType="VARCHAR" />
		<result column="PK_YN"							property="pkYn"						jdbcType="VARCHAR" />
		<result column="UQ_YN"							property="uqYn"						jdbcType="VARCHAR" />
		<result column="COL_EACNT"					property="colEacnt"						jdbcType="DECIMAL" />
		<result column="IDX_SIZE"						property="idxSize"						jdbcType="DECIMAL" />
		<result column="BF_IDX_EACNT"					property="bfIdxEacnt"					jdbcType="DECIMAL" />
		<result column="BF_IDX_SIZE"					property="bfIdxSize"					jdbcType="DECIMAL" />
		<result column="ANA_DTM"						property="anaDtm"						jdbcType="TIMESTAMP" />
		<result column="CRT_DTM"						property="crtDtm"						jdbcType="TIMESTAMP" />
		<result column="CHG_DTM"						property="chgDtm"						jdbcType="TIMESTAMP" />
		<result column="IDX_DQ_EXP_YN"				property="idxDqExpYn"				jdbcType="VARCHAR" />
		<result column="SGMT_BYTE_SIZE"				property="sgmtByteSize"				jdbcType="DECIMAL" />
		<result column="DDL_IDX_CMPS_CONTS"		property="ddlIdxCmpsConts"			jdbcType="VARCHAR" />
		<result column="PDM_IDX_CMPS_CONTS"		property="pdmIdxCmpsConts"		jdbcType="VARCHAR" />
		<result column="DDL_IDX_ERR_EXS"				property="ddlIdxErrExs"				jdbcType="VARCHAR" />
		<result column="DDL_IDX_ERR_CD"				property="ddlIdxErrCd"				jdbcType="VARCHAR" />
		<result column="DDL_IDX_ERR_DESCN"			property="ddlIdxErrDescn"			jdbcType="VARCHAR" />
		<result column="DDL_IDX_COL_ERR_EXS"		property="ddlIdxColErrExs"			jdbcType="VARCHAR" />
		<result column="DDL_IDX_COL_ERR_CD"		property="ddlIdxColErrCd"				jdbcType="VARCHAR" />
		<result column="DDL_IDX_COL_ERR_DESCN"	property="ddlIdxColErrDescn"			jdbcType="VARCHAR" />
		<result column="PDM_IDX_ERR_EXS"			property="pdmIdxErrExs"				jdbcType="VARCHAR" />
		<result column="PDM_IDX_ERR_CD"				property="pdmIdxErrCd"				jdbcType="VARCHAR" />
		<result column="PDM_IDX_ERR_DESCN"		property="pdmIdxErrDescn"			jdbcType="VARCHAR" />
		<result column="PDM_IDX_COL_ERR_EXS"		property="pdmIdxColErrExs"			jdbcType="VARCHAR" />
		<result column="PDM_IDX_COL_ERR_CD"		property="pdmIdxColErrCd"			jdbcType="VARCHAR" />
		<result column="PDM_IDX_COL_ERR_DESCN"	property="dpmIdxColErrDescn"		jdbcType="VARCHAR" />
		<result column="DDL_IDX_EXTNC_EXS"			property="ddlIdxExtncExs"				jdbcType="VARCHAR" />
		<result column="PDM_IDX_EXTNC_EXS"			property="pdmIdxExtncExs"			jdbcType="VARCHAR" />
		
		<!-- WAT_DBC_IDX_COL -->
		<result column="DBC_IDX_COL_NM"						property="dbcIdxColNm"						jdbcType="VARCHAR" />
		<result column="UPD_DTM"									property="updDtm"								jdbcType="TIMESTAMP" />
		<result column="UPD_USER"									property="updUser"							jdbcType="VARCHAR" />
		<result column="DDL_IDX_COL_ID"							property="ddlIdxColId"							jdbcType="VARCHAR" />
		<result column="PDM_IDX_COL_ID"							property="pdmIdxColId"						jdbcType="VARCHAR" />
		<result column="ORD"											property="ord"									jdbcType="DECIMAL" />
		<result column="SORT_TYPE"									property="sortType"							jdbcType="VARCHAR" />
		<result column="DATA_TYPE"									property="dataType"							jdbcType="VARCHAR" />
		<result column="DATA_PNUM"								property="dataPnum"							jdbcType="DECIMAL" />
		<result column="DATA_LEN"									property="dataLen"								jdbcType="VARCHAR" />
		<result column="DATA_PNT"									property="dataPnt"								jdbcType="VARCHAR" />
		<result column="IDXCOL_DQ_EXP_YN"						property="inxcolDqExpYn"						jdbcType="VARCHAR" />
		<result column="DDL_IDX_COL_LNM_ERR_EXS"			property="ddlIdxColLnmErrExs"				jdbcType="VARCHAR" />
		<result column="DDL_IDX_COL_ORD_ERR_EXS"			property="ddlIdxColOrdErrExs"				jdbcType="VARCHAR" />
		<result column="DDL_IDX_COL_SORT_TYPE_ERR_EXS"	property="ddlIdxColExtncExs"					jdbcType="VARCHAR" />
		<result column="DDL_IDX_COL_EXTNC_EXS"				property="ddlIdxColExtncExs"					jdbcType="VARCHAR" />
		<result column="DDL_IDX_COL_ERR_EXS"					property="ddlIdxColErrExs"					jdbcType="VARCHAR" />
		<result column="DDL_IDX_COL_ERR_CONTS"				property="ddlIdxColErrConts"					jdbcType="VARCHAR" />
		<result column="PDM_IDX_COL_LNM_ERR_EXS"			property="pdmIdxColLnmErrExs"				jdbcType="VARCHAR" />
		<result column="PDM_IDX_COL_ORD_ERR_EXS"			property="pdmIdxColOrdErrExs"				jdbcType="VARCHAR" />
		<result column="PDM_IDX_COL_SORT_TYPE_ERR_EXS"	property="pdmIdxColSortTypeErrExs"		jdbcType="VARCHAR" />
		<result column="PDM_IDX_COL_EXTNC_EXS"				property="pdmIdxColExtncExs"				jdbcType="VARCHAR" />
		<result column="PDM_IDX_COL_ERR_CONTS"				property="pdmIdxColErrConts"				jdbcType="VARCHAR" />

		
		
		<result column="DBC_TBL_ID"				property="dbcTblId"			jdbcType="VARCHAR" />
		<result column="DBC_TBL_NM"				property="dbcTblNm"			jdbcType="VARCHAR" />
		<result column="DBC_TBL_KOR_NM"		property="dbcTblKorNm"		jdbcType="VARCHAR" />
		<result column="DBC_IDX_NM"				property="dbcIdxNm"			jdbcType="VARCHAR" />
		<result column="DBC_IDX_COL_KOR_NM"	property="dbcIdxColKorNm"	jdbcType="VARCHAR" />
		<result column="ROW_EACNT" 				property="rowEacnt"			jdbcType="DECIMAL" />
		<result column="DB_CONN_TRG_LNM"		property="dbConnTrgLnm"	jdbcType="VARCHAR" />
		
	</resultMap>

	<sql id="Base_Column_List" >
	</sql>

	<select id="selectDbcIdxList" parameterType="kr.wise.meta.dbc.service.WatDbcIdx" resultMap="BaseResultMap">
  
		SELECT	/* WatDbcIdxMapper.selectDbcIdxList */
			A.*,
			B.DB_SCH_LNM,
			C.DB_CONN_TRG_LNM
		FROM
			WAT_DBC_IDX A
			LEFT OUTER JOIN WAA_DB_SCH B
				ON A.DB_SCH_ID = B.DB_SCH_ID
				AND B.REG_TYP_CD IN ('C', 'U')
				AND B.EXP_DTM = STR_TO_DATE('9999-12-31', '%Y-%m-%d')
			LEFT OUTER JOIN WAA_DB_CONN_TRG C
				ON A.DB_CONN_TRG_ID = C.DB_CONN_TRG_ID
				AND C.REG_TYP_CD IN ('C', 'U')
				AND C.EXP_DTM = STR_TO_DATE('9999-12-31', '%Y-%m-%d')
		<where>
		<if test="dbSchId != null" >
			AND A.DB_SCH_ID = #{ dbSchId , jdbcType=VARCHAR }
		</if>
		<if test="dbcTblNm != null" >
			AND A.DBC_TBL_NM = #{ dbcTblNm , jdbcType=VARCHAR }
		</if>
		<if test="dbcIdxNm != null" >
			AND A.DBC_IDX_NM = #{ dbcIdxNm , jdbcType=VARCHAR }
		</if>
		</where>
	  	ORDER BY
			A.DB_SCH_ID,
			A.DBC_TBL_NM,
			A.DBC_IDX_NM
		
	</select>

	<select id="selectDbcIdxInfoDtl" resultMap="BaseResultMap" parameterType="map" >

		SELECT	/* WatDbcIdxMapper.selectDbcIdxInfoDtl */
			A.*,
			B.DB_SCH_LNM,
			C.DB_CONN_TRG_LNM
		FROM
			WAT_DBC_IDX A
			LEFT OUTER JOIN WAA_DB_SCH B
				ON A.DB_SCH_ID = B.DB_SCH_ID
				AND B.REG_TYP_CD IN ('C', 'U')
				AND B.EXP_DTM = STR_TO_DATE('9999-12-31', '%Y-%m-%d')
			LEFT OUTER JOIN WAA_DB_CONN_TRG C
				ON A.DB_CONN_TRG_ID = C.DB_CONN_TRG_ID
				AND C.REG_TYP_CD IN ('C', 'U')
				AND C.EXP_DTM = STR_TO_DATE('9999-12-31', '%Y-%m-%d')
		WHERE 1=1
			AND A.DB_SCH_ID = #{ dbSchId , jdbcType=VARCHAR }
			AND A.DBC_TBL_NM = #{ dbcTblNm , jdbcType=VARCHAR }
			AND A.DBC_IDX_NM = #{ dbcIdxNm , jdbcType=VARCHAR }
		ORDER BY
			A.DB_SCH_ID,
			A.DBC_TBL_NM,
			A.DBC_IDX_NM
	</select>

 <select id="selectDbcIdxColList" parameterType="java.lang.String" resultMap="BaseResultMap">

	 SELECT	/* WatDbcIdxMapper.selectDbcIdxColList */
			B.*,
			C.DB_SCH_LNM,
			D.DB_CONN_TRG_LNM,
			A.DB_CONN_TRG_ID,
			A.PK_YN,
			A.UQ_YN,
			A.COL_EACNT,
			A.IDX_SIZE
	 FROM
	 	WAT_DBC_IDX A
		LEFT OUTER JOIN WAT_DBC_IDX_COL B
			ON A.DB_SCH_ID  = B.DB_SCH_ID
			AND A.DBC_TBL_NM = B.DBC_TBL_NM
			AND A.DBC_IDX_NM = B.DBC_IDX_NM
		LEFT OUTER JOIN WAA_DB_SCH C
			ON C.DB_SCH_ID = A.DB_SCH_ID
			AND C.REG_TYP_CD IN ('C', 'U')
			AND C.EXP_DTM = STR_TO_DATE('9999-12-31', '%Y-%m-%d')
		LEFT OUTER JOIN WAA_DB_CONN_TRG D
        	ON A.DB_CONN_TRG_ID = D.DB_CONN_TRG_ID
			AND D.REG_TYP_CD IN ('C', 'U')
			AND D.EXP_DTM = STR_TO_DATE('9999-12-31', '%Y-%m-%d')
	WHERE 1=1
		AND B.DB_SCH_ID = #{ dbSchId , jdbcType=VARCHAR }
	 	AND B.DBC_TBL_NM = #{ dbcTblNm , jdbcType=VARCHAR }
	 	AND B.DBC_IDX_NM = #{ dbcIdxNm , jdbcType=VARCHAR }
	ORDER BY
		B.DB_SCH_ID,
		B.DBC_TBL_NM,
		B.DBC_IDX_NM,
		B.DBC_IDX_COL_NM,
		B.ORD
	 	
  </select>
  
</mapper>