<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.sysinf.exerd.service.ExerdMartMapper" >
  <resultMap id="BaseResultMap" type="kr.wise.meta.model.service.WaqPdmTbl">
    <id column="PDM_TBL_ID" property="pdmTblId" jdbcType="VARCHAR" />
<!--     <result column="ENTITY_ID" property="entityId" jdbcType="DECIMAL" /> -->
    <result column="PDM_TBL_PNM" property="pdmTblPnm" jdbcType="VARCHAR" />
    <result column="PDM_TBL_LNM" property="pdmTblLnm" jdbcType="VARCHAR" />
<!--     <result column="PDM_COL_PNM" property="pdmColPnm" jdbcType="VARCHAR" /> -->
<!--     <result column="PDM_COL_LNM" property="pdmColLnm" jdbcType="VARCHAR" /> -->
    <result column="SUBJ_ID" property="subjId" jdbcType="VARCHAR" />
    <result column="SUBJ_LNM" property="subjLnm" jdbcType="VARCHAR" />
    <result column="STD_APL_YN" property="stdAplYn" jdbcType="VARCHAR" />
    <result column="PART_TBL_YN" property="partTblYn" jdbcType="VARCHAR" />
    <result column="DW_TRG_TBL_YN" property="dwTrgTblYn" jdbcType="VARCHAR" />
    <result column="CRG_USER_ID" property="crgUserId" jdbcType="VARCHAR" />
    <result column="CRG_USER_NM" property="crgUserNm" jdbcType="VARCHAR" />
<!--     <result column="RQST_NO" property="rqstNo" jdbcType="VARCHAR" /> -->
<!--     <result column="RQST_SNO" property="rqstSno" jdbcType="DECIMAL" /> -->
	<result column="RQST_DCD" property="rqstDcd" jdbcType="VARCHAR" />
    <result column="OBJ_DESCN" property="objDescn" jdbcType="VARCHAR" />
<!--     <result column="OBJ_VERS" property="objVers" jdbcType="DECIMAL" /> -->
<!--     <result column="REG_TYP_CD" property="regTypCd" jdbcType="VARCHAR" /> -->
<!--     <result column="FRS_RQST_DTM" property="frsRqstDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="FRS_RQST_USER_ID" property="frsRqstUserId" jdbcType="VARCHAR" /> -->
<!--     <result column="FRS_RQST_USER_NM" property="frsRqstUserNm" jdbcType="VARCHAR" /> -->
<!--     <result column="RQST_DTM" property="rqstDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="RQST_USER_ID" property="rqstUserId" jdbcType="VARCHAR" /> -->
<!--     <result column="RQST_USER_NM" property="rqstUserNm" jdbcType="VARCHAR" /> -->
<!--     <result column="APRV_DTM" property="aprvDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="APRV_USER_ID" property="aprvUserId" jdbcType="VARCHAR" /> -->
<!--     <result column="APRV_USER_NM" property="aprvUserNm" jdbcType="VARCHAR" /> -->
    <result column="CTD_FCY" property="ctdFcy" jdbcType="VARCHAR" />
    <result column="DEL_CRI" property="delCri" jdbcType="VARCHAR" />
    <result column="DEL_MTD" property="delMtd" jdbcType="VARCHAR" />
    <result column="BCK_FCY" property="bckFcy" jdbcType="VARCHAR" />
<!--     <result column="SYS_AREA_ID" property="sysAreaId" jdbcType="VARCHAR" /> -->
    <result column="MDL_LNM" property="mdlLnm" jdbcType="VARCHAR" />
    <result column="UPP_SUBJ_LNM" property="uppSubjLnm" jdbcType="VARCHAR" />
<!--     <result column="STR_DTM" jdbcType="TIMESTAMP" property="strDtm" /> -->
<!--     <result column="EXP_DTM" jdbcType="TIMESTAMP" property="expDtm" /> -->
<!--     <result column="SUBJ_LVL" property="subjLvl" jdbcType="VARCHAR" /> -->
    <result column="BF_PDM_TBL_PNM" property="bfPdmTblPnm" jdbcType="VARCHAR" />
<!--     <result column="DATA_TYPE " property="dataType" jdbcType="VARCHAR" /> -->
<!--     <result column="SUBJ_LVL" property="Level" jdbcType="INTEGER" /> -->
    <result column="FULL_PATH" property="fullPath" jdbcType="VARCHAR" />
    <result column="IBS_STATUS" property="ibsStatus" jdbcType="VARCHAR" />
    <result column="EXERD_PDM_TBL_ID" property="exerdPdmTblId" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="ExerdColResult" type="kr.wise.meta.model.service.WaqPdmCol">
    <result column="RQST_NO" property="rqstNo" jdbcType="VARCHAR" />
    <result column="RQST_SNO" property="rqstSno" jdbcType="DECIMAL" />
<!--     <id column="RQST_DTL_SNO" property="rqstDtlSno" jdbcType="DECIMAL" /> -->
    <result column="PDM_COL_ID" property="pdmColId" jdbcType="VARCHAR" />
    <result column="PDM_COL_PNM" property="pdmColPnm" jdbcType="VARCHAR" />
    <result column="PDM_COL_LNM" property="pdmColLnm" jdbcType="VARCHAR" />
    <result column="BF_PDM_COL_PNM" property="bfPdmColPnm" jdbcType="VARCHAR" />
    <result column="RQST_DCD" property="rqstDcd" jdbcType="VARCHAR" />
<!--     <result column="VRF_CD" property="vrfCd" jdbcType="VARCHAR" /> -->
<!--     <result column="VRF_RMK" property="vrfRmk" jdbcType="VARCHAR" /> -->
    <result column="PDM_TBL_ID" property="pdmTblId" jdbcType="VARCHAR" />
    <result column="PDM_TBL_PNM" property="pdmTblPnm" jdbcType="VARCHAR" />
    <result column="MDL_LNM" property="mdlLnm" jdbcType="VARCHAR" />
    <result column="UPP_SUBJ_LNM" property="uppSubjLnm" jdbcType="VARCHAR" />
    <result column="SUBJ_ID" property="subjId" jdbcType="VARCHAR" />
    <result column="SUBJ_LNM" property="subjLnm" jdbcType="VARCHAR" />
    <result column="SDITM_ID" property="sditmId" jdbcType="VARCHAR" />
    <result column="COL_ORD" property="colOrd" jdbcType="DECIMAL" />
    <result column="DATA_TYPE" property="dataType" jdbcType="VARCHAR" />
    <result column="DATA_LEN" property="dataLen" jdbcType="DECIMAL" />
    <result column="DATA_SCAL" property="dataScal" jdbcType="DECIMAL" />
    <result column="PK_YN" property="pkYn" jdbcType="VARCHAR" />
    <result column="PK_ORD" property="pkOrd" jdbcType="DECIMAL" />
    <result column="FK_YN" property="fkYn" jdbcType="VARCHAR" />
    <result column="AK_YN" property="akYn" jdbcType="VARCHAR" />
    <result column="NONUL_YN" property="nonulYn" jdbcType="VARCHAR" />
    <result column="DEFLT_VAL" property="defltVal" jdbcType="VARCHAR" />
    <result column="OBJ_DESCN" property="objDescn" jdbcType="VARCHAR" />
<!--     <result column="OBJ_VERS" property="objVers" jdbcType="DECIMAL" /> -->
<!--     <result column="REG_TYP_CD" property="regTypCd" jdbcType="VARCHAR" /> -->
<!--     <result column="FRS_RQST_DTM" property="frsRqstDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="FRS_RQST_USER_ID" property="frsRqstUserId" jdbcType="VARCHAR" /> -->
<!--     <result column="RQST_DTM" property="rqstDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="RQST_USER_ID" property="rqstUserId" jdbcType="VARCHAR" /> -->
<!--     <result column="APRV_DTM" property="aprvDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="APRV_USER_ID" property="aprvUserId" jdbcType="VARCHAR" /> -->
	<result column="IBS_STATUS" property="ibsStatus" jdbcType="VARCHAR" />
	<result column="EXERD_PDM_TBL_ID" property="exerdPdmTblId" jdbcType="VARCHAR" />
	<result column="PDM_TBL_NM" property="pdmTblNm" jdbcType="VARCHAR" />
  </resultMap>
  
  
   <resultMap id="ExerdDqRelResult" type="kr.wise.dq.profile.tblrel.service.WaqPrfRelColVO"  >
    <result column="REL_COL_SNO" property="relColSno" jdbcType="DECIMAL" />
    <result column="CH_TBL_DBC_COL_NM" property="chTblDbcColNm" jdbcType="VARCHAR" />
    <result column="PA_TBL_DBC_COL_NM" property="paTblDbcColNm" jdbcType="VARCHAR" />
    
    <result column="PRF_ID" property="prfId" jdbcType="VARCHAR" />
    <result column="PRF_KND_CD" property="prfKndCd" jdbcType="VARCHAR" />
    <result column="PRF_NM" property="prfNm" jdbcType="VARCHAR" />
    <result column="DB_CONN_TRG_ID" property="dbConnTrgId" jdbcType="VARCHAR" />
    <result column="DB_CONN_TRG_PNM" property="dbConnTrgPnm" jdbcType="VARCHAR" />
    <result column="DB_SCH_ID" property="dbSchId" jdbcType="VARCHAR" />
    <result column="DB_SCH_PNM" property="dbSchPnm" jdbcType="VARCHAR" />
    <result column="DBC_TBL_NM" property="dbcTblNm" jdbcType="VARCHAR" />
    <result column="OBJ_NM" property="objNm" jdbcType="VARCHAR" />
    <result column="ADT_CND_SQL" property="adtCndSql" jdbcType="VARCHAR" />
    <result column="HNT_SQL" property="hntSql" jdbcType="VARCHAR" />
    <result column="USE_YN" property="useYn" jdbcType="VARCHAR" />
    
    
     <result column="PA_TBL_DB_CONN_TRG_NM" property="paTblDbConnTrgNm" jdbcType="VARCHAR" />
    <result column="PA_TBL_DBC_SCH_NM" property="paTblDbcSchNm" jdbcType="VARCHAR" />
    <result column="PA_TBL_DBC_TBL_NM" property="paTblDbcTblNm" jdbcType="VARCHAR" />
    <result column="PA_TBL_DB_CONN_TRG_ID" property="paTblDbConnTrgId" jdbcType="VARCHAR" />
    <result column="PA_TBL_DBC_SCH_ID" property="paTblDbcSchId" jdbcType="VARCHAR" />
    <result column="PA_TBL_ADT_CND_SQL" property="paTblAdtCndSql" jdbcType="VARCHAR" />
    
    <result column="RQST_DCD" property="rqstDcd" jdbcType="VARCHAR" />
    <result column="REG_TYP_CD" jdbcType="VARCHAR" property="regTypCd" />
    <result column="IBS_STATUS" jdbcType="VARCHAR" property="ibsStatus" />
<!--     <result column="IBS_STATUS" jdbcType="VARCHAR" property="ibsStatus" /> -->
    
  </resultMap>
  
   <select id="selectExerdList" resultMap="BaseResultMap" parameterType="kr.wise.meta.model.service.WaqPdmTbl">
   --Exerd MART의 테이블 조회
    SELECT 
		  'N'			AS IS_SELECT_YN
		, 'CU'			AS RQST_DCD
		, D.NM			AS SYS_AREA_LNM
		--, C.UUID		AS SUBJ_ID
		, C.L_NM		AS SUBJ_KNM
		, 'R'			AS GRID_STATUS
		, A.P_NM		AS PDM_TBL_PNM
		, A.UUID		AS EXERD_PDM_TBL_ID
		, A.L_NM		AS PDM_TBL_LNM
		, A.CMNT		AS OBJ_DESCN
		, D.NM || '>' || C.L_NM AS FULL_PATH
	FROM EX_V_TABLE A
	INNER JOIN EX_V_BIZ_AREA C 
	ON A.BIZ_AREA_UUID = C.UUID
	INNER JOIN EX_V_DOC D 
	ON C.DOC_UUID = D.UUID
	WHERE 1=1
	<if test="mdlLnm != null  and  mdlLnm != '' ">
        AND D.NM = #{mdlLnm,jdbcType=VARCHAR}
    </if> 
    <if test="subjLnm != null  and  subjLnm != '' ">
    	AND C.L_NM = #{subjLnm, jdbcType=VARCHAR}
    </if> 
    <if test="pdmTblLnm != null  and  pdmTblLnm != '' "> 
    AND (A.L_NM LIKE '%' || #{pdmTblLnm,jdbcType=VARCHAR} || '%' 
    	OR A.P_NM LIKE '%' || #{pdmTblLnm,jdbcType=VARCHAR} || '%'
        OR A.L_NM LIKE '%' || UPPER(#{pdmTblLnm,jdbcType=VARCHAR}) || '%'
        OR A.P_NM LIKE '%' || UPPER(#{pdmTblLnm,jdbcType=VARCHAR}) || '%')
    </if>
	ORDER BY SUBJ_KNM, PDM_TBL_LNM
   </select>
   
   <select id="selectexerdlist" parameterType="map" resultMap="BaseResultMap" >
  	--Exerd 마트 테이블 추가대상 조회...
	   SELECT RQST_NO
	      , 'I' AS IBS_STATUS
	      ,MAX(PDM_TBL_ID) AS PDM_TBL_ID
	      ,TRIM(PDM_TBL_LNM) AS PDM_TBL_LNM
	      ,TRIM(PDM_TBL_PNM) AS PDM_TBL_PNM
	      ,MAX(DESCRIPTION) AS  OBJ_DESCN
	      <![CDATA[,MDL_LNM || '>' || UPP_SUBJ_LNM || '>' || SUBJ_LNM AS 	FULL_PATH]]>
	      , MAX(UDP_ROW_BAK_FCY) AS BCK_FCY
	      , '' AS DEL_CRI
	      , '' AS DEL_MTD
	      , MAX(UDP_ROW_DEL_FCY_UNIT)
	      , MAX(UDP_ROW_CTD_FCY) AS CTD_FCY
	      , MAX(UDP_ROW_CTD_FCY_UNIT)
	      , 'CU' AS RQST_DCD
	      , MDL_LNM, UPP_SUBJ_LNM, SUBJ_LNM
	  FROM (
	        SELECT   DISTINCT #{reqmst.rqstNo} AS RQST_NO 
			      ,A.OBJECTNAME AS MDL_LNM
			      ,D.OBJECTNAME AS UPP_SUBJ_LNM
			      ,F.OBJECTNAME AS SUBJ_LNM
			      , H.OBJECTID    AS PDM_TBL_ID
			      ,NVL(H.STRINGVALUE, I.STRINGVALUE) AS PDM_TBL_LNM
			      ,NVL(I.STRINGVALUE, H.STRINGVALUE) AS PDM_TBL_PNM
			      ,NVL(H.OBJECTID, I.OBJECTID) AS ENTITY_ID
			      ,WISE_M7_INFO.GET_ENTITY_DEFINITION(H.OBJECTID) AS DESCRIPTION
			      ,WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ROW_INIT_CNT_NM', 'Logical', 'Entity') AS UDP_ROW_INIT_CNT
			      ,WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ROW_INIT_CNT_UNIT_NM', 'Logical', 'Entity') AS UDP_ROW_INIT_CNT_UNIT
			      ,WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ROW_INC_CNT_NM', 'Logical', 'Entity') AS UDP_ROW_INC_CNT
			      ,WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ROW_INC_CNT_UNIT_NM', 'Logical', 'Entity') AS UDP_ROW_INC_CNT_UNIT
			      ,WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ROW_BAK_FCY_NM', 'Logical', 'Entity') AS UDP_ROW_BAK_FCY
			      ,WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ROW_BAK_FCY_UNIT_NM', 'Logical', 'Entity') AS UDP_ROW_BAK_FCY_UNIT
			      ,WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ROW_CTD_FCY_NM', 'Logical', 'Entity') AS UDP_ROW_CTD_FCY
			      ,WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ROW_CTD_FCY_UNIT_NM', 'Logical', 'Entity') AS UDP_ROW_CTD_FCY_UNIT
			      ,WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ROW_DEL_FCY_NM', 'Logical', 'Entity') AS UDP_ROW_DEL_FCY
			      ,WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ROW_DEL_FCY_UNIT_NM', 'Logical', 'Entity') AS UDP_ROW_DEL_FCY_UNIT
			      ,WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ROW_MAX_CNT_NM', 'Logical', 'Entity') AS UDP_ROW_MAX_CNT
			      ,WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ROW_MAX_CNT_UNIT_NM', 'Logical', 'Entity') AS UDP_ROW_MAX_CNT_UNIT
			      ,WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ROW_OCR_CNT_NM', 'Logical', 'Entity') AS UDP_ROW_OCR_CNT
			      ,WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ROW_OCR_CNT_UNIT_NM', 'Logical', 'Entity') AS UDP_ROW_OCR_CNT_UNIT
			      ,WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_PARTITION_NM', 'Logical', 'Entity') AS UDP_PARTITION_YN
			      ,WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ODS_TGT_GB_NM', 'Logical', 'Entity') AS UDP_ODS_TGT_GB
			      ,WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_SYNONYM_NM', 'Logical', 'Entity') AS UDP_SYNONYM_NM
			      ,WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_DB_NM', 'Logical', 'Entity') AS UDP_DB_NM
			      ,WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_OWNER_NM', 'Logical', 'Entity') AS UDP_OWNER_NM
			      ,WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_OF_DCR_PLY_DIT_NM', 'Logical', 'Entity') AS UDP_OF_DCR_PLY_DIT_NM
			      ,WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_CDM_SUBJ_NM', 'Logical', 'Entity') AS UDP_CDM_SUBJ_NM
			      ,WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_ENTITY_DIT_NM', 'Logical', 'Entity') AS UDP_ENTITY_DIT_NM
			      ,WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_EXTERNAL_TGT_NM', 'Logical', 'Entity') AS UDP_EXTERNAL_TGT_NM
			      ,WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, '$UDP_EXTERNAL_TBL_PTH_NM', 'Logical', 'Entity') AS UDP_EXTERNAL_TBL_PTH_NM
			      ,NVL(WISE_M7_INFO.get_udp_info(d.objectid, h.objectid, 'ILM대상여부', 'Logical', 'Entity'),'N') AS ILM_TGT_YN     
			FROM  M7LIBRARY A
			      , M7OBJECT B
			      , M7OBJECT C
			      , M7LIBRARY D
			      , M7OBJECT E
			      , M7LIBRARY F
			      , M7OBJECTPROPERTY G
			      , M7OBJECTPROPERTY H
			      , M7OBJECTPROPERTY I
			      , M7OBJECTPROPERTY J
			WHERE A.OBJECTID = B.OBJECTID
			  AND B.CLASSID = 2
			  AND B.ENDVERSION IS NULL
			  AND A.OBJECTID = C.CONTAINERID
			  AND C.CLASSID = 1075838978
			  AND C.ENDVERSION IS NULL
			  AND C.OBJECTID = D.OBJECTID
			  AND D.OBJECTID = E.CONTAINERID
			  AND E.CLASSID = 1075839014
			  AND E.ENDVERSION IS NULL
			  AND E.OBJECTID = F.OBJECTID
			  AND F.OBJECTID = G.OBJECTID
			  AND G.PROPERTYID = 1075849443
			  AND G.VALUEOBJECTID = H.OBJECTID
			  AND H.PROPERTYID = 1073742126
			  AND H.OBJECTID = I.OBJECTID(+)
			  AND I.PROPERTYID(+) = 1075849176
			  AND H.OBJECTID = J.OBJECTID(+)
			  AND J.PROPERTYID(+) = 1073742125
			  <![CDATA[AND F.OBJECTNAME != '<Main Subject Area>']]>
              --AND NVL(H.STRINGVALUE, I.STRINGVALUE) IN
              AND H.OBJECTID IN
			<foreach collection="list" item="item" open="(" separator="," close=")">
<!-- 	  		#{item.pdmTblLnm} -->
	  		#{item.pdmTblId}
	 		</foreach>
			ORDER BY PDM_TBL_LNM   ) A
--          WHERE NOT EXISTS
--          (
--          	 SELECT 1
--          	 FROM WAE_ERMART_R7_ENTY B
--            WHERE A.OF_DATAMODEL      = B.OF_DATAMODEL 
--              AND A.OF_PRIMARY_SUBJ   = B.OF_PRIMARY_SUBJ
--              AND A.OF_SUBJ           = B.OF_SUBJ
--              AND A.OBJ_ENM           = B.OBJ_ENM
--              AND A.REQUEST_ID        = B.REQUEST_ID
--          )
		  GROUP BY RQST_NO,  MDL_LNM, UPP_SUBJ_LNM, SUBJ_LNM, PDM_TBL_LNM, PDM_TBL_PNM	
  </select>
  
  
  <select id="selectExerdColListbyTblId" resultMap="ExerdColResult" parameterType="kr.wise.meta.model.service.WaqPdmTbl">
  --Exerd 엔티티ID에 해당하는 컬럼 리스트 조회
 	  SELECT DISTINCT #{rqstNo} AS RQST_NO    
			  , #{rqstSno} AS RQST_SNO
			  , B.P_NM AS PDM_COL_PNM
			  , B.L_NM AS PDM_COL_LNM
			  ,'CU' AS RQST_DCD
			  , A.P_NM AS PDM_TBL_PNM
			  , B.ORD_INDEX AS COL_ORD
			  , UPPER(REPLACE(B.DATA_TYPE, '.', ',')) AS DATA_TYPE
<!-- 			  , B.DATA_TYPE AS DATA_TYPE -->
<!-- 			  ,	SUBSTR(B.DATA_TYPE, 1, INSTR(B.DATA_TYPE, '(') -1 ) AS DATA_TYPE -->
<!-- 			  , CASE WHEN DATA_TYPE LIKE '%.%'  -->
<!-- 					 THEN SUBSTR(REPLACE(SUBSTR(B.DATA_TYPE,INSTR(B.DATA_TYPE,'(')+1 ),')'), 1,INSTR(REPLACE(SUBSTR(B.DATA_TYPE,INSTR(B.DATA_TYPE,'(')+1 ),')'),'.')-1) -->
<!-- 					 ELSE REPLACE(SUBSTR(B.DATA_TYPE,INSTR(B.DATA_TYPE,'(')+1 ),')') -->
<!-- 					 END  AS DATA_LEN -->
<!-- 			  , CASE WHEN B.DATA_TYPE LIKE '%.%' -->
<!-- 					 THEN REPLACE(SUBSTR(B.DATA_TYPE, INSTR(B.DATA_TYPE, '.')+1),')') -->
<!-- 					 END AS DATA_SCAL -->
				  , CASE WHEN B.UUID IN (
			  		SELECT B.UUID AS COL_UUID
			  		FROM EX_V_CSTR CSTR
			  		INNER JOIN EX_V_CSTR_COL CSTR_COL
			  		ON CSTR.UUID = CSTR_COL.CSTR_UUID 
			  		AND CSTR.CSTR_TYPE_CD ='PK'
			  		WHERE A.UUID  = B.TABLE_UUID 
			  		AND A.UUID = CSTR.TABLE_UUID 
			  		AND B.UUID = CSTR_COL.COL_UUID 
			  		) THEN 'Y'
			  		ELSE 'N' 
			 	END AS PK_YN 	
			  , '' AS PK_ORD
			  , CASE WHEN B.UUID IN (
			  		SELECT B.UUID AS COL_UUID
			  		FROM EX_V_CSTR CSTR
			  		INNER JOIN EX_V_CSTR_COL CSTR_COL
			  		ON CSTR.UUID = CSTR_COL.CSTR_UUID 
			  		AND CSTR.CSTR_TYPE_CD ='FK'
			  		WHERE A.UUID  = B.TABLE_UUID 
			  		AND A.UUID = CSTR.TABLE_UUID 
			  		AND B.UUID = CSTR_COL.COL_UUID 
			  		) THEN 'Y'
			  		ELSE 'N' 
			 	END AS FK_YN 
			  , CASE WHEN B.UUID IN (
			  		SELECT B.UUID AS COL_UUID
			  		FROM EX_V_CSTR CSTR
			  		INNER JOIN EX_V_CSTR_COL CSTR_COL
			  		ON CSTR.UUID = CSTR_COL.CSTR_UUID 
			  		AND CSTR.CSTR_TYPE_CD ='U'
			  		WHERE A.UUID  = B.TABLE_UUID 
			  		AND A.UUID = CSTR.TABLE_UUID 
			  		AND B.UUID = CSTR_COL.COL_UUID 
			  		) THEN 'Y'
			  		ELSE 'N' 
			 	END AS AK_YN 	
			  , B.NOTNULL_YN AS NONUL_YN
			  , B.DEFAULT_VALUE  AS DEFLT_VAL
			  , B.CMNT AS OBJ_DESCN
	FROM EX_V_TABLE A
	INNER JOIN EX_V_COL B 
	ON A.UUID = B.TABLE_UUID
	WHERE 1=1
	AND A.UUID = #{exerdPdmTblId}
	ORDER BY PDM_TBL_PNM, COL_ORD
  </select>
  
  <select id="selectExerdRelLst" resultMap="BaseResultMap" parameterType="kr.wise.dq.profile.tblrel.service.WaqPrfRelColVO" >
  SELECT #{dbConnTrgId,jdbcType=VARCHAR} AS DB_CONN_TRG_ID  --자식테이블진단대상ID
	       ,TRIM(UPPER(#{dbConnTrgPnm,jdbcType=VARCHAR})) AS DB_CONN_TRG_PNM  --자식테이블진단대상명
	       ,TRIM(UPPER(#{dbSchId,jdbcType=VARCHAR})) AS DB_SCH_ID    --자식테이블스키마ID
	       ,TRIM(UPPER(#{dbSchPnm,jdbcType=VARCHAR})) AS DB_SCH_PNM  --자식테이블스키마명
	       ,A.CHILD_TBL_ENM AS DBC_TBL_NM --자식테이블명
	       ,A.RELATION_NM AS OBJ_NM      --관계명
	       ,'' AS ADT_CND_SQL  --자식추가조건
	       ,'' AS HNT_SQL            -- 자식힌트
	       ,'Y' AS USE_YN   --사용여부
           ,TRIM(UPPER(#{dbConnTrgPnm,jdbcType=VARCHAR})) AS PA_TBL_DB_CONN_TRG_NM   --부모테이블진단대상명
		   ,TRIM(UPPER(#{dbSchPnm,jdbcType=VARCHAR})) AS PA_TBL_DBC_SCH_NM          --부모테이블스키마명
		   ,A.PARENT_TBL_ENM AS PA_TBL_DBC_TBL_NM           --부모테이블명
	       ,'' AS PA_TBL_ADT_CND_SQL          --부모추가조건
           ,'' AS REL_COL_SNO
		   ,A.CHILD_COL_ENM AS CH_TBL_DBC_COL_NM           --자식컬럼명
		   ,A.PARENT_COL_ENM AS PA_TBL_DBC_COL_NM           --부모컬럼명
		   ,'CU' AS RQST_DCD                        --요청구분
		   ,'C' AS REG_TYP_CD                      --등록유형  
		   ,'I' AS IBS_STATUS 
   FROM (   
			 SELECT F.STRINGVALUE AS RELATION_NM                                          
				       ,CHILD_ENTY.STRINGVALUE AS CHILD_TBL_ENM                               
				       ,WISE_M7_INFO.GET_COLUMN_NAME(MO.OBJECTID) AS CHILD_COL_ENM            
				       ,PARENT_ENTY.STRINGVALUE AS PARENT_TBL_ENM                             
				       ,WISE_M7_INFO.GET_COLUMN_NAME(MO.OBJECTID) AS PARENT_COL_ENM  			
			   FROM M7LIBRARY A                          
			        INNER JOIN M7OBJECT B                
			           ON A.OBJECTID = B.OBJECTID        
			          AND B.CLASSID = 2                  
			          AND B.ENDVERSION IS NULL           
			        INNER JOIN M7OBJECT C                
			           ON B.OBJECTID = C.CONTAINERID     
			          AND C.CLASSID = 1075838978         
			          AND C.ENDVERSION IS NULL           
			        INNER JOIN M7LIBRARY D               
			           ON C.OBJECTID = D.OBJECTID        
			        INNER JOIN M7OBJECT SUBJ             
			           ON D.OBJECTID = SUBJ.CONTAINERID  
			          AND SUBJ.CLASSID = 1075839014      
			          AND SUBJ.ENDVERSION IS NULL        
			        INNER JOIN M7LIBRARY SUBJNM          
			 	       ON SUBJ.OBJECTID = SUBJNM.OBJECTID 
			 	       <![CDATA[
			          AND SUBJNM.OBJECTNAME NOT IN ('ZZ. Template','<Main Subject Area>') 
			          ]]> 
			        INNER JOIN M7OBJECT E              
			           ON D.OBJECTID = E.CONTAINERID   
			          AND E.CLASSID = 1075839016       
			          AND E.ENDVERSION IS NULL         
			        INNER JOIN M7OBJECTPROPERTY F      
			           ON E.OBJECTID = F.OBJECTID      
			          AND F.PROPERTYID = 1073742126    
			        INNER JOIN M7OBJECTPROPERTY G      
			           ON F.OBJECTID = G.OBJECTID      
			          AND G.PROPERTYID = 1075848978    
			        INNER JOIN M7OBJECTPROPERTY H      
			           ON F.OBJECTID = H.OBJECTID      
			          AND H.PROPERTYID = 1075849159    
			        INNER JOIN M7OBJECTPROPERTY I      
			           ON F.OBJECTID = I.OBJECTID      
			          AND I.PROPERTYID = 1075849160    
			        INNER JOIN M7OBJECTPROPERTY J      
			           ON F.OBJECTID = J.OBJECTID      
			          AND J.PROPERTYID = 1075849763    
			        INNER JOIN M7OBJECTPROPERTY K      
			           ON F.OBJECTID = K.OBJECTID      
			          AND K.PROPERTYID = 1075849764    
			        INNER JOIN M7OBJECT MO             
			           ON MO.CONTEXTID = J.VALUEOBJECTID          
			          AND MO.CLASSID = 1075838981                 
			          AND MO.ENDVERSION IS NULL                   
			        INNER JOIN M7OBJECTPROPERTY ATTPK             
			           ON MO.OBJECTID = ATTPK.OBJECTID            
			          AND ATTPK.PROPERTYID = 1075848978           
			          AND ATTPK.INTVALUE = 0                      
			        INNER JOIN M7OBJECTPROPERTY ATTPOS            
			           ON MO.OBJECTID = ATTPOS.VALUEOBJECTID      
			          AND ATTPOS.OBJECTID = MO.CONTEXTID          
			          AND ATTPOS.PROPERTYID = 1075850197          
			         LEFT OUTER JOIN M7OBJECTPROPERTY PARENT_ENTY 
			           ON PARENT_ENTY.OBJECTID = J.VALUEOBJECTID  
			          AND PARENT_ENTY.PROPERTYID = 1075849176     
			         LEFT OUTER JOIN M7OBJECTPROPERTY CHILD_ENTY  
			           ON CHILD_ENTY.OBJECTID = K.VALUEOBJECTID   
			          AND CHILD_ENTY.PROPERTYID = 1075849176  ) A    
     WHERE 1 = 1
     <if test="dbcTblNm != null  and  dbcTblNm != '' ">
       AND ( A.CHILD_TBL_ENM LIKE REPLACE(#{dbcTblNm,jdbcType=VARCHAR}, '*', '%') OR LIKE REPLACE(#{dbcTblNm,jdbcType=VARCHAR}, '*', '%') )
     </if>   
     <if test="objNm != null  and  objNm != '' ">
       AND ( A.CHILD_COL_ENM LIKE REPLACE(#{objNm,jdbcType=VARCHAR}, '*', '%') OR A.PARENT_COL_ENM LIKE REPLACE(#{objNm,jdbcType=VARCHAR}, '*', '%') )
     </if>   
  	
 GROUP BY  A.RELATION_NM ,A.CHILD_TBL_ENM ,A.CHILD_COL_ENM ,A.PARENT_TBL_ENM ,A.PARENT_COL_ENM     
 ORDER BY A.CHILD_TBL_ENM, A.RELATION_NM
</select>
    
</mapper>