<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.meta.model.service.WaqAsisDmnCdValMapper" >
  <resultMap id="BaseResultMap" type="kr.wise.meta.model.service.WaqAsisDmnCdVal"  extends="kr.wise.commons.cmm.service.CommonMapper.BaseResultMap">
    <result column="DMN_ID" property="dmnId" jdbcType="VARCHAR" />
    <result column="DMN_LNM" property="dmnLnm" jdbcType="VARCHAR" />
    <result column="DMN_PNM" property="dmnPnm" jdbcType="VARCHAR" />
    <result column="ASIS_DIT" property="asisDit" jdbcType="VARCHAR" />
    <result column="ASIS_SYSTEM_NM" property="asisSystemNm" jdbcType="VARCHAR" />
    <result column="ASIS_GROUP_NM" property="asisGroupNm" jdbcType="VARCHAR" />
    <result column="ASIS_PART_NM" property="asisPartNm" jdbcType="VARCHAR" />
    <result column="ASIS_BIZ_NM" property="asisBizNm" jdbcType="VARCHAR" />
    <result column="ASIS_BIZ_CD" property="asisBizCd" jdbcType="VARCHAR" />
    <result column="ASIS_DB_NM" property="asisDbNm" jdbcType="VARCHAR" />
    <result column="ASIS_TBL_NM" property="asisTblNm" jdbcType="VARCHAR" />
    <result column="ASIS_COL_ID" property="asisColId" jdbcType="VARCHAR" />
    <result column="ASIS_COL_NM" property="asisColNm" jdbcType="VARCHAR" />
    <result column="CODE_NM" property="codeNm" jdbcType="VARCHAR" />
    <result column="DFD_COL_NM" property="dfdColNm" jdbcType="VARCHAR" />
    <result column="DFD_COL_VALUE" property="dfdColValue" jdbcType="VARCHAR" />
    <result column="CODE_VALUE" property="codeValue" jdbcType="VARCHAR" />
    <result column="CODE_DISP_NUM" property="codeDispNum" jdbcType="VARCHAR" />
    <result column="APP_TEAM_NM" property="appTeamNm" jdbcType="VARCHAR" />
    <result column="APP_CHRG_NM" property="appChrgNm" jdbcType="VARCHAR" />
    <result column="TSF_TEAM_NM" property="tsfTeamNm" jdbcType="VARCHAR" />
    <result column="TSF_CHRG_NM" property="tsfChrgNm" jdbcType="VARCHAR" />
    <result column="LAST_CHG_DT" property="lastChgDt" jdbcType="VARCHAR" />
    <result column="ADD_NOTE1" property="addNote1" jdbcType="VARCHAR" />
    <result column="ADD_NOTE2" property="addNote2" jdbcType="VARCHAR" />
    <result column="ADD_NOTE3" property="addNote3" jdbcType="VARCHAR" />
    <result column="ADD_NOTE4" property="addNote4" jdbcType="VARCHAR" />
    <result column="APP_SI_NM" property="appSiNm" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    RQST_NO, RQST_SNO, DMN_ID, DMN_LNM, DMN_PNM, RQST_DCD, RVW_STS_CD, RVW_CONTS, VRF_CD, 
    VRF_RMK, OBJ_DESCN, OBJ_VERS, REG_TYP_CD, FRS_RQST_DTM, FRS_RQST_USER_ID, RQST_DTM, 
    RQST_USER_ID, APRV_DTM, APRV_USER_ID, ASIS_DIT, ASIS_SYSTEM_NM, ASIS_GROUP_NM, ASIS_PART_NM, 
    ASIS_BIZ_NM, ASIS_BIZ_CD, ASIS_DB_NM, ASIS_TBL_NM, ASIS_COL_ID, ASIS_COL_NM, CODE_NM, 
    DFD_COL_NM, DFD_COL_VALUE, CODE_VALUE, CODE_DISP_NUM, APP_TEAM_NM, APP_CHRG_NM, TSF_TEAM_NM, 
    TSF_CHRG_NM, LAST_CHG_DT, ADD_NOTE1, ADD_NOTE2, ADD_NOTE3, ADD_NOTE4, APP_SI_NM
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from WAQ_ASIS_DMN_CD_VAL
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="kr.wise.meta.model.service.WaqAsisDmnCdVal" >
    delete from WAQ_ASIS_DMN_CD_VAL
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="kr.wise.meta.model.service.WaqAsisDmnCdVal" >
    insert into WAQ_ASIS_DMN_CD_VAL (RQST_NO, RQST_SNO, DMN_ID, 
      DMN_LNM, DMN_PNM, RQST_DCD, 
      RVW_STS_CD, RVW_CONTS, VRF_CD, 
      VRF_RMK, OBJ_DESCN, OBJ_VERS, 
      REG_TYP_CD, FRS_RQST_DTM, FRS_RQST_USER_ID, 
      RQST_DTM, RQST_USER_ID, APRV_DTM, 
      APRV_USER_ID, ASIS_DIT, ASIS_SYSTEM_NM, 
      ASIS_GROUP_NM, ASIS_PART_NM, ASIS_BIZ_NM, 
      ASIS_BIZ_CD, ASIS_DB_NM, ASIS_TBL_NM, 
      ASIS_COL_ID, ASIS_COL_NM, CODE_NM, 
      DFD_COL_NM, DFD_COL_VALUE, CODE_VALUE, 
      CODE_DISP_NUM, APP_TEAM_NM, APP_CHRG_NM, 
      TSF_TEAM_NM, TSF_CHRG_NM, LAST_CHG_DT, 
      ADD_NOTE1, ADD_NOTE2, ADD_NOTE3, 
      ADD_NOTE4, APP_SI_NM)
    values (#{rqstNo,jdbcType=VARCHAR}, #{rqstSno,jdbcType=DECIMAL}, #{dmnId,jdbcType=VARCHAR}, 
      #{dmnLnm,jdbcType=VARCHAR}, #{dmnPnm,jdbcType=VARCHAR}, #{rqstDcd,jdbcType=VARCHAR}, 
      #{rvwStsCd,jdbcType=VARCHAR}, #{rvwConts,jdbcType=VARCHAR}, #{vrfCd,jdbcType=VARCHAR}, 
      #{vrfRmk,jdbcType=VARCHAR}, #{objDescn,jdbcType=VARCHAR}, #{objVers,jdbcType=DECIMAL}, 
      #{regTypCd,jdbcType=VARCHAR}, #{frsRqstDtm,jdbcType=TIMESTAMP}, #{frsRqstUserId,jdbcType=VARCHAR}, 
      #{rqstDtm,jdbcType=TIMESTAMP}, #{rqstUserId,jdbcType=VARCHAR}, #{aprvDtm,jdbcType=TIMESTAMP}, 
      #{aprvUserId,jdbcType=VARCHAR}, #{asisDit,jdbcType=VARCHAR}, #{asisSystemNm,jdbcType=VARCHAR}, 
      #{asisGroupNm,jdbcType=VARCHAR}, #{asisPartNm,jdbcType=VARCHAR}, #{asisBizNm,jdbcType=VARCHAR}, 
      #{asisBizCd,jdbcType=VARCHAR}, #{asisDbNm,jdbcType=VARCHAR}, #{asisTblNm,jdbcType=VARCHAR}, 
      #{asisColId,jdbcType=VARCHAR}, #{asisColNm,jdbcType=VARCHAR}, #{codeNm,jdbcType=VARCHAR}, 
      #{dfdColNm,jdbcType=VARCHAR}, #{dfdColValue,jdbcType=VARCHAR}, #{codeValue,jdbcType=VARCHAR}, 
      #{codeDispNum,jdbcType=VARCHAR}, #{appTeamNm,jdbcType=VARCHAR}, #{appChrgNm,jdbcType=VARCHAR}, 
      #{tsfTeamNm,jdbcType=VARCHAR}, #{tsfChrgNm,jdbcType=VARCHAR}, #{lastChgDt,jdbcType=TIMESTAMP}, 
      #{addNote1,jdbcType=VARCHAR}, #{addNote2,jdbcType=VARCHAR}, #{addNote3,jdbcType=VARCHAR}, 
      #{addNote4,jdbcType=VARCHAR}, #{appSiNm,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="kr.wise.meta.model.service.WaqAsisDmnCdVal" >
    <selectKey keyProperty="rqstSno" resultType="int" statementType="PREPARED" order="BEFORE">
		SELECT COALESCE(MAX(RQST_SNO), 0) + 1 FROM WAQ_ASIS_DMN_CD_VAL WHERE RQST_NO = #{rqstNo}
  	</selectKey>
    insert into WAQ_ASIS_DMN_CD_VAL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rqstNo != null" >
        RQST_NO,
      </if>
      <if test="rqstSno != null" >
        RQST_SNO,
      </if>
      <if test="dmnId != null" >
        DMN_ID,
      </if>
      <if test="dmnLnm != null" >
        DMN_LNM,
      </if>
      <if test="dmnPnm != null" >
        DMN_PNM,
      </if>
      <if test="rqstDcd != null" >
        RQST_DCD,
      </if>
      <if test="rvwStsCd != null" >
        RVW_STS_CD,
      </if>
      <if test="rvwConts != null" >
        RVW_CONTS,
      </if>
      <if test="vrfCd != null" >
        VRF_CD,
      </if>
      <if test="vrfRmk != null" >
        VRF_RMK,
      </if>
      <if test="objDescn != null" >
        OBJ_DESCN,
      </if>
        OBJ_VERS,
      <if test="regTypCd != null" >
        REG_TYP_CD,
      </if>
        FRS_RQST_DTM,
      <if test="frsRqstUserId != null" >
        FRS_RQST_USER_ID,
      </if>
      <if test="rqstDtm != null" >
        RQST_DTM,
      </if>
      <if test="rqstUserId != null" >
        RQST_USER_ID,
      </if>
      <if test="aprvDtm != null" >
        APRV_DTM,
      </if>
      <if test="aprvUserId != null" >
        APRV_USER_ID,
      </if>
      <if test="asisDit != null" >
        ASIS_DIT,
      </if>
      <if test="asisSystemNm != null" >
        ASIS_SYSTEM_NM,
      </if>
      <if test="asisGroupNm != null" >
        ASIS_GROUP_NM,
      </if>
      <if test="asisPartNm != null" >
        ASIS_PART_NM,
      </if>
      <if test="asisBizNm != null" >
        ASIS_BIZ_NM,
      </if>
      <if test="asisBizCd != null" >
        ASIS_BIZ_CD,
      </if>
      <if test="asisDbNm != null" >
        ASIS_DB_NM,
      </if>
      <if test="asisTblNm != null" >
        ASIS_TBL_NM,
      </if>
      <if test="asisColId != null" >
        ASIS_COL_ID,
      </if>
      <if test="asisColNm != null" >
        ASIS_COL_NM,
      </if>
      <if test="codeNm != null" >
        CODE_NM,
      </if>
      <if test="dfdColNm != null" >
        DFD_COL_NM,
      </if>
      <if test="dfdColValue != null" >
        DFD_COL_VALUE,
      </if>
      <if test="codeValue != null" >
        CODE_VALUE,
      </if>
      <if test="codeDispNum != null" >
        CODE_DISP_NUM,
      </if>
      <if test="appTeamNm != null" >
        APP_TEAM_NM,
      </if>
      <if test="appChrgNm != null" >
        APP_CHRG_NM,
      </if>
      <if test="tsfTeamNm != null" >
        TSF_TEAM_NM,
      </if>
      <if test="tsfChrgNm != null" >
        TSF_CHRG_NM,
      </if>
      <if test="lastChgDt != null" >
        LAST_CHG_DT,
      </if>
      <if test="addNote1 != null" >
        ADD_NOTE1,
      </if>
      <if test="addNote2 != null" >
        ADD_NOTE2,
      </if>
      <if test="addNote3 != null" >
        ADD_NOTE3,
      </if>
      <if test="addNote4 != null" >
        ADD_NOTE4,
      </if>
      <if test="appSiNm != null" >
        APP_SI_NM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rqstNo != null" >
        #{rqstNo,jdbcType=VARCHAR},
      </if>
      <if test="rqstSno != null" >
        #{rqstSno,jdbcType=DECIMAL},
      </if>
      <if test="dmnId != null" >
        #{dmnId,jdbcType=VARCHAR},
      </if>
      <if test="dmnLnm != null" >
        #{dmnLnm,jdbcType=VARCHAR},
      </if>
      <if test="dmnPnm != null" >
        #{dmnPnm,jdbcType=VARCHAR},
      </if>
      <if test="rqstDcd != null" >
        #{rqstDcd,jdbcType=VARCHAR},
      </if>
      <if test="rvwStsCd != null" >
        #{rvwStsCd,jdbcType=VARCHAR},
      </if>
      <if test="rvwConts != null" >
        #{rvwConts,jdbcType=VARCHAR},
      </if>
      <if test="vrfCd != null" >
        #{vrfCd,jdbcType=VARCHAR},
      </if>
      <if test="vrfRmk != null" >
        #{vrfRmk,jdbcType=VARCHAR},
      </if>
      <if test="objDescn != null" >
        #{objDescn,jdbcType=VARCHAR},
      </if>
        1,
      <if test="regTypCd != null" >
        #{regTypCd,jdbcType=VARCHAR},
      </if>
      NOW(),
      <if test="frsRqstUserId != null" >
        #{frsRqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="rqstDtm != null" >
        #{rqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="rqstUserId != null" >
        #{rqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="aprvDtm != null" >
        #{aprvDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="aprvUserId != null" >
        #{aprvUserId,jdbcType=VARCHAR},
      </if>
      <if test="asisDit != null" >
        #{asisDit,jdbcType=VARCHAR},
      </if>
      <if test="asisSystemNm != null" >
        #{asisSystemNm,jdbcType=VARCHAR},
      </if>
      <if test="asisGroupNm != null" >
        #{asisGroupNm,jdbcType=VARCHAR},
      </if>
      <if test="asisPartNm != null" >
        #{asisPartNm,jdbcType=VARCHAR},
      </if>
      <if test="asisBizNm != null" >
        #{asisBizNm,jdbcType=VARCHAR},
      </if>
      <if test="asisBizCd != null" >
        #{asisBizCd,jdbcType=VARCHAR},
      </if>
      <if test="asisDbNm != null" >
        #{asisDbNm,jdbcType=VARCHAR},
      </if>
      <if test="asisTblNm != null" >
        #{asisTblNm,jdbcType=VARCHAR},
      </if>
      <if test="asisColId != null" >
        #{asisColId,jdbcType=VARCHAR},
      </if>
      <if test="asisColNm != null" >
        #{asisColNm,jdbcType=VARCHAR},
      </if>
      <if test="codeNm != null" >
        #{codeNm,jdbcType=VARCHAR},
      </if>
      <if test="dfdColNm != null" >
        #{dfdColNm,jdbcType=VARCHAR},
      </if>
      <if test="dfdColValue != null" >
        #{dfdColValue,jdbcType=VARCHAR},
      </if>
      <if test="codeValue != null" >
        #{codeValue,jdbcType=VARCHAR},
      </if>
      <if test="codeDispNum != null" >
        #{codeDispNum,jdbcType=VARCHAR},
      </if>
      <if test="appTeamNm != null" >
        #{appTeamNm,jdbcType=VARCHAR},
      </if>
      <if test="appChrgNm != null" >
        #{appChrgNm,jdbcType=VARCHAR},
      </if>
      <if test="tsfTeamNm != null" >
        #{tsfTeamNm,jdbcType=VARCHAR},
      </if>
      <if test="tsfChrgNm != null" >
        #{tsfChrgNm,jdbcType=VARCHAR},
      </if>
      <if test="lastChgDt != null" >
        #{lastChgDt,jdbcType=TIMESTAMP},
      </if>
      <if test="addNote1 != null" >
        #{addNote1,jdbcType=VARCHAR},
      </if>
      <if test="addNote2 != null" >
        #{addNote2,jdbcType=VARCHAR},
      </if>
      <if test="addNote3 != null" >
        #{addNote3,jdbcType=VARCHAR},
      </if>
      <if test="addNote4 != null" >
        #{addNote4,jdbcType=VARCHAR},
      </if>
      <if test="appSiNm != null" >
        #{appSiNm,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="kr.wise.meta.model.service.WaqAsisDmnCdVal" >
    update WAQ_ASIS_DMN_CD_VAL
    <set >
      <if test="dmnId != null" >
        DMN_ID = #{dmnId,jdbcType=VARCHAR},
      </if>
      <if test="dmnLnm != null" >
        DMN_LNM = #{dmnLnm,jdbcType=VARCHAR},
      </if>
      <if test="dmnPnm != null" >
        DMN_PNM = #{dmnPnm,jdbcType=VARCHAR},
      </if>
      <if test="rqstDcd != null" >
        RQST_DCD = #{rqstDcd,jdbcType=VARCHAR},
      </if>
      <if test="rvwStsCd != null" >
        RVW_STS_CD = #{rvwStsCd,jdbcType=VARCHAR},
      </if>
      <if test="rvwConts != null" >
        RVW_CONTS = #{rvwConts,jdbcType=VARCHAR},
      </if>
      <if test="vrfCd != null" >
        VRF_CD = #{vrfCd,jdbcType=VARCHAR},
      </if>
      <if test="vrfRmk != null" >
        VRF_RMK = #{vrfRmk,jdbcType=VARCHAR},
      </if>
      <if test="objDescn != null" >
        OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="objVers != null" >
        OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      </if>
      <if test="regTypCd != null" >
        REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      </if>
      <if test="frsRqstDtm != null" >
        FRS_RQST_DTM = #{frsRqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="frsRqstUserId != null" >
        FRS_RQST_USER_ID = #{frsRqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="rqstDtm != null" >
        RQST_DTM = #{rqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="rqstUserId != null" >
        RQST_USER_ID = #{rqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="aprvDtm != null" >
        APRV_DTM = #{aprvDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="aprvUserId != null" >
        APRV_USER_ID = #{aprvUserId,jdbcType=VARCHAR},
      </if>
      <if test="asisDit != null" >
        ASIS_DIT = #{asisDit,jdbcType=VARCHAR},
      </if>
      <if test="asisSystemNm != null" >
        ASIS_SYSTEM_NM = #{asisSystemNm,jdbcType=VARCHAR},
      </if>
      <if test="asisGroupNm != null" >
        ASIS_GROUP_NM = #{asisGroupNm,jdbcType=VARCHAR},
      </if>
      <if test="asisPartNm != null" >
        ASIS_PART_NM = #{asisPartNm,jdbcType=VARCHAR},
      </if>
      <if test="asisBizNm != null" >
        ASIS_BIZ_NM = #{asisBizNm,jdbcType=VARCHAR},
      </if>
      <if test="asisBizCd != null" >
        ASIS_BIZ_CD = #{asisBizCd,jdbcType=VARCHAR},
      </if>
      <if test="asisDbNm != null" >
        ASIS_DB_NM = #{asisDbNm,jdbcType=VARCHAR},
      </if>
      <if test="asisTblNm != null" >
        ASIS_TBL_NM = #{asisTblNm,jdbcType=VARCHAR},
      </if>
      <if test="asisColId != null" >
        ASIS_COL_ID = #{asisColId,jdbcType=VARCHAR},
      </if>
      <if test="asisColNm != null" >
        ASIS_COL_NM = #{asisColNm,jdbcType=VARCHAR},
      </if>
      <if test="codeNm != null" >
        CODE_NM = #{codeNm,jdbcType=VARCHAR},
      </if>
      <if test="dfdColNm != null" >
        DFD_COL_NM = #{dfdColNm,jdbcType=VARCHAR},
      </if>
      <if test="dfdColValue != null" >
        DFD_COL_VALUE = #{dfdColValue,jdbcType=VARCHAR},
      </if>
      <if test="codeValue != null" >
        CODE_VALUE = #{codeValue,jdbcType=VARCHAR},
      </if>
      <if test="codeDispNum != null" >
        CODE_DISP_NUM = #{codeDispNum,jdbcType=VARCHAR},
      </if>
      <if test="appTeamNm != null" >
        APP_TEAM_NM = #{appTeamNm,jdbcType=VARCHAR},
      </if>
      <if test="appChrgNm != null" >
        APP_CHRG_NM = #{appChrgNm,jdbcType=VARCHAR},
      </if>
      <if test="tsfTeamNm != null" >
        TSF_TEAM_NM = #{tsfTeamNm,jdbcType=VARCHAR},
      </if>
      <if test="tsfChrgNm != null" >
        TSF_CHRG_NM = #{tsfChrgNm,jdbcType=VARCHAR},
      </if>
      <if test="lastChgDt != null" >
        LAST_CHG_DT = #{lastChgDt,jdbcType=TIMESTAMP},
      </if>
      <if test="addNote1 != null" >
        ADD_NOTE1 = #{addNote1,jdbcType=VARCHAR},
      </if>
      <if test="addNote2 != null" >
        ADD_NOTE2 = #{addNote2,jdbcType=VARCHAR},
      </if>
      <if test="addNote3 != null" >
        ADD_NOTE3 = #{addNote3,jdbcType=VARCHAR},
      </if>
      <if test="addNote4 != null" >
        ADD_NOTE4 = #{addNote4,jdbcType=VARCHAR},
      </if>
      <if test="appSiNm != null" >
        APP_SI_NM = #{appSiNm,jdbcType=VARCHAR},
      </if>
    </set>
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="kr.wise.meta.model.service.WaqAsisDmnCdVal" >
    update WAQ_ASIS_DMN_CD_VAL
    set DMN_ID = #{dmnId,jdbcType=VARCHAR},
      DMN_LNM = #{dmnLnm,jdbcType=VARCHAR},
      DMN_PNM = #{dmnPnm,jdbcType=VARCHAR},
      RQST_DCD = #{rqstDcd,jdbcType=VARCHAR},
      RVW_STS_CD = #{rvwStsCd,jdbcType=VARCHAR},
      RVW_CONTS = #{rvwConts,jdbcType=VARCHAR},
      VRF_CD = #{vrfCd,jdbcType=VARCHAR},
      VRF_RMK = #{vrfRmk,jdbcType=VARCHAR},
      OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      FRS_RQST_DTM = #{frsRqstDtm,jdbcType=TIMESTAMP},
      FRS_RQST_USER_ID = #{frsRqstUserId,jdbcType=VARCHAR},
      RQST_DTM = #{rqstDtm,jdbcType=TIMESTAMP},
      RQST_USER_ID = #{rqstUserId,jdbcType=VARCHAR},
      APRV_DTM = #{aprvDtm,jdbcType=TIMESTAMP},
      APRV_USER_ID = #{aprvUserId,jdbcType=VARCHAR},
      ASIS_DIT = #{asisDit,jdbcType=VARCHAR},
      ASIS_SYSTEM_NM = #{asisSystemNm,jdbcType=VARCHAR},
      ASIS_GROUP_NM = #{asisGroupNm,jdbcType=VARCHAR},
      ASIS_PART_NM = #{asisPartNm,jdbcType=VARCHAR},
      ASIS_BIZ_NM = #{asisBizNm,jdbcType=VARCHAR},
      ASIS_BIZ_CD = #{asisBizCd,jdbcType=VARCHAR},
      ASIS_DB_NM = #{asisDbNm,jdbcType=VARCHAR},
      ASIS_TBL_NM = #{asisTblNm,jdbcType=VARCHAR},
      ASIS_COL_ID = #{asisColId,jdbcType=VARCHAR},
      ASIS_COL_NM = #{asisColNm,jdbcType=VARCHAR},
      CODE_NM = #{codeNm,jdbcType=VARCHAR},
      DFD_COL_NM = #{dfdColNm,jdbcType=VARCHAR},
      DFD_COL_VALUE = #{dfdColValue,jdbcType=VARCHAR},
      CODE_VALUE = #{codeValue,jdbcType=VARCHAR},
      CODE_DISP_NUM = #{codeDispNum,jdbcType=VARCHAR},
      APP_TEAM_NM = #{appTeamNm,jdbcType=VARCHAR},
      APP_CHRG_NM = #{appChrgNm,jdbcType=VARCHAR},
      TSF_TEAM_NM = #{tsfTeamNm,jdbcType=VARCHAR},
      TSF_CHRG_NM = #{tsfChrgNm,jdbcType=VARCHAR},
      LAST_CHG_DT = #{lastChgDt,jdbcType=TIMESTAMP},
      ADD_NOTE1 = #{addNote1,jdbcType=VARCHAR},
      ADD_NOTE2 = #{addNote2,jdbcType=VARCHAR},
      ADD_NOTE3 = #{addNote3,jdbcType=VARCHAR},
      ADD_NOTE4 = #{addNote4,jdbcType=VARCHAR},
      APP_SI_NM = #{appSiNm,jdbcType=VARCHAR}
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </update>
    <select id="selectDmnCdValDetail" resultMap="BaseResultMap" parameterType="kr.wise.meta.model.service.WaqAsisDmnCdVal" >
    -- ASIS 유효값 요청 상세정보 조회
    select 
    <include refid="Base_Column_List" />
    from WAQ_ASIS_DMN_CD_VAL
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
  </select>
    <select id="selectDmnCdValListbyMst" parameterType="kr.wise.commons.rqstmst.service.WaqMstr" resultMap="BaseResultMap">
  	--ASIS 유효값 요청서 리스트 조회
  	SELECT 
    A.RQST_NO, A.RQST_SNO, A.DMN_ID, A.DMN_LNM, A.DMN_PNM, 
    A.RQST_DCD, A.RVW_CONTS, A.VRF_CD, A.VRF_RMK, A.OBJ_DESCN, A.OBJ_VERS, 
    A.REG_TYP_CD, A.FRS_RQST_DTM, A.FRS_RQST_USER_ID, A.RQST_DTM, A.RQST_USER_ID, A.APRV_DTM, A.APRV_USER_ID, 
    A.ASIS_DIT, A.ASIS_SYSTEM_NM, A.ASIS_GROUP_NM, A.ASIS_PART_NM, 
    A.ASIS_BIZ_NM, A.ASIS_BIZ_CD, A.ASIS_DB_NM, A.ASIS_TBL_NM, A.ASIS_COL_ID, A.ASIS_COL_NM, A.CODE_NM, 
    A.DFD_COL_NM, A.DFD_COL_VALUE, A.CODE_VALUE, A.CODE_DISP_NUM, A.APP_TEAM_NM, A.APP_CHRG_NM, A.TSF_TEAM_NM, 
    A.TSF_CHRG_NM, A.LAST_CHG_DT, A.ADD_NOTE1, A.ADD_NOTE2, A.ADD_NOTE3, A.ADD_NOTE4, A.APP_SI_NM
    <if test='rqstStepCd == "Q" '>
     , CASE WHEN A.RVW_STS_CD = '2' THEN '2' ELSE '0' END AS RVW_STS_CD
     </if>
     <if test='rqstStepCd != "Q" '>
     , A.RVW_STS_CD
     </if>
     , CASE WHEN A.VRF_CD = '2' THEN '#FF0000' ELSE CASE WHEN A.VRF_CD = '5' THEN '#0000FF'  END END AS FontColor
     , U.USER_NM AS RQST_USER_NM
    FROM WAQ_ASIS_DMN_CD_VAL A
    LEFT OUTER JOIN WAA_USER U
      ON A.RQST_USER_ID = U.USER_ID
     AND U.EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
     AND U.REG_TYP_CD IN ('C', 'U')
    WHERE A.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
    <if test='rqstStepCd == "Q" or rqstStepCd == "A" '>
    	AND A.VRF_CD = '1'
    </if>
    ORDER BY A.RQST_SNO  	
  </select>
  
    <select id="selectwamlist" parameterType="map" resultMap="BaseResultMap" >
  	--물리모델 테이블 추가대상 조회...
   		SELECT 
  			((SELECT COALESCE(MAX(RQST_SNO), 0) FROM WAQ_ASIS_DMN_CD_VAL WHERE RQST_NO = #{reqmst.rqstNo}) + (ROW_NUMBER() OVER())) AS RQST_SNO
  		   , 'I' AS IBS_STATUS
		   , A.DMN_ID, A.DMN_LNM, A.DMN_PNM
		   , #{reqmst.rqstDcd} AS RQST_DCD
		   , A.ASIS_DIT, A.ASIS_SYSTEM_NM, A.ASIS_GROUP_NM, A.ASIS_PART_NM
		   , A.ASIS_BIZ_NM, A.ASIS_BIZ_CD, A.ASIS_DB_NM, A.ASIS_TBL_NM, A.ASIS_COL_ID, A.ASIS_COL_NM, A.CODE_NM
		   , A.DFD_COL_NM, A.DFD_COL_VALUE, A.CODE_VALUE, A.CODE_DISP_NUM, A.APP_TEAM_NM, A.APP_CHRG_NM, A.TSF_TEAM_NM
		   , A.TSF_CHRG_NM, A.LAST_CHG_DT, A.ADD_NOTE1, A.ADD_NOTE2, A.ADD_NOTE3, A.ADD_NOTE4, A.APP_SI_NM
	  FROM WAM_ASIS_DMN_CD_VAL A
	  WHERE  A.DMN_ID IN 
	 <foreach collection="list" item="item" open="(" separator="," close=")">
	  	#{item.dmnId}
	 </foreach>
	   AND A.REG_TYP_CD IN ('C', 'U') 	
  </select>
  
    <!-- 검증로직  -->
   <update id="updateCheckInit" parameterType="java.lang.String" >
    UPDATE WAQ_ASIS_DMN_CD_VAL A
    SET A.REG_TYP_CD = (SELECT CASE WHEN A.RQST_DCD = 'DD' THEN 'D' ELSE CASE WHEN MAX(B.DMN_ID ) IS NULL THEN 'C' ELSE 'U' END END
                          FROM WAM_ASIS_DMN_CD_VAL B
                         WHERE B.REG_TYP_CD IN ('C','U')
                          AND A.CODE_VALUE = B.CODE_VALUE
						  AND A.ASIS_DB_NM = B.ASIS_DB_NM
						  AND A.ASIS_TBL_NM = B.ASIS_TBL_NM
						  AND A.ASIS_COL_NM = B.ASIS_COL_NM
                           )
       ,A.VRF_CD = '4'
    WHERE A.RQST_NO = #{rqstNo,jdbcType=VARCHAR}
  </update> 
  
    <!-- 승인/반려 업데이트 -->
  <update id="updatervwStsCd" parameterType="kr.wise.meta.model.service.WaqAsisDmnCdVal" >
  	UPDATE WAQ_ASIS_DMN_CD_VAL
  	<set>
  	    RVW_STS_CD 	= #{rvwStsCd} , 
  		RVW_CONTS 	= #{rvwConts} , 
  		APRV_DTM	= NOW() ,
  		APRV_USER_ID = #{aprvUserId} ,
  	</set>
    WHERE RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      AND RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
      AND VRF_CD = '1'
      AND COALESCE(RVW_STS_CD, '_') != '2'
  </update>
  
    <insert id="checkNotChgData" parameterType="map">
	  <include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.updateVrfNotChg"/>
	  --검증쿼리 : 변경일 때 변경된 데이터가 없을 경우 (PT000)
      AND A.REG_TYP_CD = 'U'
      AND EXISTS (
      		SELECT 1 
      		  FROM WAM_ASIS_DMN_CD_VAL D
      		 WHERE D.CODE_VALUE = A.CODE_VALUE
			  AND D.ASIS_DB_NM  = A.ASIS_DB_NM
			  AND D.ASIS_TBL_NM = A.ASIS_TBL_NM
			  AND D.ASIS_COL_NM = A.ASIS_COL_NM
			  AND COALESCE(A.DMN_ID        ,'_') = COALESCE(D.DMN_ID        ,'_')
		      AND COALESCE(A.DMN_LNM       ,'_') = COALESCE(D.DMN_LNM       ,'_')
		      AND COALESCE(A.DMN_PNM       ,'_') = COALESCE(D.DMN_PNM       ,'_')
		      AND COALESCE(A.OBJ_DESCN     ,'_') = COALESCE(D.OBJ_DESCN     ,'_')
		      AND COALESCE(A.ASIS_DIT      ,'_') = COALESCE(D.ASIS_DIT      ,'_')
		      AND COALESCE(A.ASIS_SYSTEM_NM,'_') = COALESCE(D.ASIS_SYSTEM_NM,'_')
		      AND COALESCE(A.CODE_NM       ,'_') = COALESCE(D.CODE_NM       ,'_')
		      AND COALESCE(A.DFD_COL_NM    ,'_') = COALESCE(D.DFD_COL_NM    ,'_')
		      AND COALESCE(A.DFD_COL_VALUE ,'_') = COALESCE(D.DFD_COL_VALUE ,'_')
		      AND COALESCE(A.CODE_DISP_NUM ,'_') = COALESCE(D.CODE_DISP_NUM ,'_')
		      AND COALESCE(A.APP_TEAM_NM   ,'_') = COALESCE(D.APP_TEAM_NM   ,'_')
		      AND COALESCE(A.APP_CHRG_NM   ,'_') = COALESCE(D.APP_CHRG_NM   ,'_')
		      AND COALESCE(A.TSF_TEAM_NM   ,'_') = COALESCE(D.TSF_TEAM_NM   ,'_')
		      AND COALESCE(A.TSF_CHRG_NM   ,'_') = COALESCE(D.TSF_CHRG_NM   ,'_')
		      AND COALESCE(A.LAST_CHG_DT   ,'_') = COALESCE(D.LAST_CHG_DT   ,'_')
		      AND COALESCE(A.ADD_NOTE1     ,'_') = COALESCE(D.ADD_NOTE1     ,'_')
		      AND COALESCE(A.ADD_NOTE2     ,'_') = COALESCE(D.ADD_NOTE2     ,'_')
		      AND COALESCE(A.ADD_NOTE3     ,'_') = COALESCE(D.ADD_NOTE3     ,'_')
		      AND COALESCE(A.ADD_NOTE4     ,'_') = COALESCE(D.ADD_NOTE4     ,'_')
		      AND COALESCE(A.APP_SI_NM     ,'_') = COALESCE(D.APP_SI_NM     ,'_')
      		)
  </insert>
  
  <!-- 적재 SQL -->
  <!--   적재쿼리 
    selectWaqC
    
	int updateWaqCUD(@Param("rqstNo") String rqstNo);
	int updateWaqC(@Param("rqstNo") String rqstNo);
	int deleteWAM(@Param("rqstNo") String rqstNo);
	int insertWAM(@Param("rqstNo") String rqstNo);
	int updateWAH(@Param("rqstNo") String rqstNo);
	int insertWAH(@Param("rqstNo") String rqstNo);
-->

	<sql id="wam_col" >
	  , DMN_LNM, DMN_PNM, RQST_NO, RQST_SNO, OBJ_DESCN, OBJ_VERS, REG_TYP_CD, FRS_RQST_DTM, 
	  FRS_RQST_USER_ID, RQST_DTM, RQST_USER_ID, APRV_DTM, APRV_USER_ID, ASIS_DIT, ASIS_SYSTEM_NM, 
	  ASIS_GROUP_NM, ASIS_PART_NM, ASIS_BIZ_NM, ASIS_BIZ_CD, ASIS_DB_NM, ASIS_TBL_NM, ASIS_COL_ID, 
	  ASIS_COL_NM, CODE_NM, DFD_COL_NM, DFD_COL_VALUE, CODE_VALUE, CODE_DISP_NUM, APP_TEAM_NM, 
	  APP_CHRG_NM, TSF_TEAM_NM, TSF_CHRG_NM, LAST_CHG_DT, ADD_NOTE1, ADD_NOTE2, ADD_NOTE3, 
	  ADD_NOTE4, APP_SI_NM
	</sql>
	
   
   <select id="selectWaqC" parameterType="map" resultMap="BaseResultMap">
   	--신규 적재 대상 추출
   	SELECT * FROM WAQ_ASIS_DMN_CD_VAL
   	WHERE RQST_NO = #{rqstNo}
   	  AND RVW_STS_CD = '1'  --승인
   	  AND REG_TYP_CD = 'C'
   </select>
   
   <update id="updateidByKey" parameterType="kr.wise.meta.model.service.WaqPdmTbl">
     --신규 적재 대상 ID 업데이트
     UPDATE WAQ_ASIS_DMN_CD_VAL 
        SET DMN_ID = #{dmnId,jdbcType=VARCHAR}
  	  WHERE RQST_NO    = #{rqstNo,jdbcType=VARCHAR}
        AND RQST_SNO   = #{rqstSno,jdbcType=DECIMAL}
   </update>

   <update id="updateWaqCUD" parameterType="map">
   	--WAQ ID, VERS 등을 업데이트...
	UPDATE WAQ_ASIS_DMN_CD_VAL A
	SET (DMN_ID, OBJ_VERS, FRS_RQST_DTM, FRS_RQST_USER_ID) = (
	    SELECT 
	          B.DMN_ID AS DMN_ID
	        , COALESCE(B.OBJ_VERS, 0) + 1 AS OBJ_VERS
	        , B.FRS_RQST_DTM
	        , B.FRS_RQST_USER_ID
	    FROM WAM_ASIS_DMN_CD_VAL B
	    WHERE B.CODE_VALUE = A.CODE_VALUE
	      AND B.ASIS_DB_NM = A.ASIS_DB_NM
	      AND B.ASIS_TBL_NM = A.ASIS_TBL_NM
	      AND B.ASIS_COL_NM = A.ASIS_COL_NM
	      AND B.REG_TYP_CD IN ('C', 'U')
	)
	WHERE A.RQST_NO = #{rqstNo}
	--AND A.VRF_CD = '1' 		--등록가능
	AND A.RVW_STS_CD = '1'  --승인
	AND EXISTS (
		SELECT 1
		  FROM WAM_ASIS_DMN_CD_VAL B
		 WHERE B.CODE_VALUE = A.CODE_VALUE
	      AND B.ASIS_DB_NM = A.ASIS_DB_NM
	      AND B.ASIS_TBL_NM = A.ASIS_TBL_NM
	      AND B.ASIS_COL_NM = A.ASIS_COL_NM
	       AND B.REG_TYP_CD IN ('C', 'U')
	)
   </update>
   
   <delete id="deleteWAM" parameterType="map">
    --WAM 삭제 (등록유형코드가REG_TYP_CD 변경, 삭제일 경우)
	DELETE FROM WAM_ASIS_DMN_CD_VAL A
	WHERE EXISTS (
	    SELECT 1 
	      FROM WAQ_ASIS_DMN_CD_VAL B
	     WHERE B.RQST_NO = #{rqstNo}
	       AND B.RVW_STS_CD = '1'
	       AND B.DMN_ID = A.DMN_ID 
	)
   </delete>   

   <insert id="insertWAM" parameterType="map">
   	--WAM 추가 (WAQ 내용을 추가, REG_TYP_CD 가 신규,변경일 경우)
	INSERT INTO WAM_ASIS_DMN_CD_VAL 
	(
	   DMN_ID 	
	   <include refid="wam_col"/>	
	)
	SELECT DMN_ID 	
	       <include refid="wam_col"/>	
	 FROM WAQ_ASIS_DMN_CD_VAL A
	WHERE A.RQST_NO = #{rqstNo}
	  AND A.RVW_STS_CD = '1'
	  AND A.REG_TYP_CD IN ('C', 'U')
   </insert>  
   
   <update id="updateWAH"  parameterType="map">
   	--WAH 이력 만료...
	UPDATE WAH_ASIS_DMN_CD_VAL A
	   SET EXP_DTM = NOW()
	 WHERE EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
	   AND REG_TYP_CD IN ('C','U')
	   AND EXISTS (SELECT 1 
	                 FROM WAQ_ASIS_DMN_CD_VAL B
	                WHERE B.RQST_NO = #{rqstNo}
	                  AND B.RVW_STS_CD = '1'
	                  AND B.DMN_ID = A.DMN_ID
	                )
	
   </update>  

   <insert id="insertWAH"  parameterType="map">
   	--WAH이력 적재...
	INSERT INTO WAH_ASIS_DMN_CD_VAL
	(
	    DMN_ID
	   , EXP_DTM
	   , STR_DTM 	
	   <include refid="wam_col"/>   
	)
	SELECT A.DMN_ID AS DMN_ID
	     , TO_DATE( '9999-12-31', 'YYYY-MM-DD') AS EXP_DTM
	     , NOW() AS STR_DTM 	
	     <include refid="wam_col"/>   
	 FROM WAQ_ASIS_DMN_CD_VAL A
	WHERE A.RQST_NO = #{rqstNo}
	  AND A.RVW_STS_CD = '1'
   </insert>
   
   <insert id="insertWaqRejected" parameterType="map" >
   INSERT INTO WAQ_ASIS_DMN_CD_VAL(
              	<include refid="Base_Column_List"/>
   )
   SELECT 
               #{reqmst.rqstNo,jdbcType=VARCHAR}
                ,RQST_SNO
                ,PDM_TBL_ID
                ,PDM_TBL_PNM
                ,PDM_TBL_LNM
                ,BF_PDM_TBL_PNM
                ,RQST_DCD
                ,'0'
                ,NULL
                ,NULL
                ,NULL
                ,MDL_LNM
                ,UPP_SUBJ_LNM
                ,SUBJ_ID
                ,SUBJ_LNM
                ,STD_APL_YN
                ,PART_TBL_YN
                ,DW_TRG_TBL_YN
                ,CRG_USER_ID
                ,CRG_USER_NM
                ,OBJ_DESCN
                ,OBJ_VERS
                ,REG_TYP_CD
                ,FRS_RQST_DTM
                ,FRS_RQST_USER_ID
                ,RQST_DTM
                ,RQST_USER_ID
                ,NULL
                ,NULL
                ,CTD_FCY
                ,DEL_CRI
                ,DEL_MTD
                ,BCK_FCY
                ,FULL_PATH
                ,USER_RQST_CNTN
                    #{reqmst.rqstNo,jdbcType=VARCHAR}
                    , RQST_SNO
                    , DMN_ID
                    , DMN_LNM
                    , DMN_PNM
                    , RQST_DCD
                    , 0
                    , NULL
                    , NULL
                    , NULL
                    , NULL
                    , OBJ_DESCN
                    , OBJ_VERS
                    , REG_TYP_CD
                    , FRS_RQST_DTM
                    , FRS_RQST_USER_ID
                    , RQST_DTM
                    , RQST_USER_ID
                    , NULL
                    , NULL
                    , ASIS_DIT
                    , ASIS_SYSTEM_NM
                    , ASIS_GROUP_NM
                    , ASIS_PART_NM
                    , ASIS_BIZ_NM
                    , ASIS_BIZ_CD
                    , ASIS_DB_NM
                    , ASIS_TBL_NM
                    , ASIS_COL_ID
                    , ASIS_COL_NM
                    , CODE_NM
                    , DFD_COL_NM
                    , DFD_COL_VALUE
                    , CODE_VALUE
                    , CODE_DISP_NUM
                    , APP_TEAM_NM
                    , APP_CHRG_NM
                    , TSF_TEAM_NM
                    , TSF_CHRG_NM
                    , LAST_CHG_DT
                    , ADD_NOTE1
                    , ADD_NOTE2
                    , ADD_NOTE3
                    , ADD_NOTE4
                    , APP_SI_NM
      FROM WAQ_ASIS_DMN_CD_VAL A
      WHERE A.RQST_NO = #{oldRqstNo,jdbcType=VARCHAR}
      AND A.RVW_STS_CD = '2'
</insert>
</mapper>