<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.wise.meta.ddltsf.service.WaqDdlTsfIdxColMapper" >
  <resultMap id="BaseResultMap" type="kr.wise.meta.ddltsf.service.WaqDdlTsfIdxCol" extends="kr.wise.meta.ddl.service.WaqDdlIdxColMapper.BaseResultMap">
<!--     <id column="RQST_NO" property="rqstNo" jdbcType="VARCHAR" /> -->
<!--     <id column="RQST_SNO" property="rqstSno" jdbcType="DECIMAL" /> -->
<!--     <id column="RQST_DTL_SNO" property="rqstDtlSno" jdbcType="DECIMAL" /> -->
<!--     <result column="DDL_IDX_COL_ID" property="ddlIdxColId" jdbcType="VARCHAR" /> -->
<!--     <result column="DDL_IDX_COL_PNM" property="ddlIdxColPnm" jdbcType="VARCHAR" /> -->
<!--     <result column="DDL_IDX_COL_LNM" property="ddlIdxColLnm" jdbcType="VARCHAR" /> -->
<!--     <result column="RQST_DCD" property="rqstDcd" jdbcType="VARCHAR" /> -->
<!--     <result column="VRF_CD" property="vrfCd" jdbcType="VARCHAR" /> -->
<!--     <result column="VRF_RMK" property="vrfRmk" jdbcType="VARCHAR" /> -->
<!--     <result column="DDL_IDX_ID" property="ddlIdxId" jdbcType="VARCHAR" /> -->
<!--     <result column="DDL_IDX_PNM" property="ddlIdxPnm" jdbcType="VARCHAR" /> -->
<!--     <result column="DDL_COL_ID" property="ddlColId" jdbcType="VARCHAR" /> -->
<!--     <result column="DDL_IDX_COL_ORD" property="ddlIdxColOrd" jdbcType="DECIMAL" /> -->
<!--     <result column="SORT_TYP" property="sortTyp" jdbcType="VARCHAR" /> -->
<!--     <result column="OBJ_DESCN" property="objDescn" jdbcType="VARCHAR" /> -->
<!--     <result column="OBJ_VERS" property="objVers" jdbcType="DECIMAL" /> -->
<!--     <result column="REG_TYP_CD" property="regTypCd" jdbcType="VARCHAR" /> -->
<!--     <result column="FRS_RQST_DTM" property="frsRqstDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="FRS_RQST_USER_ID" property="frsRqstUserId" jdbcType="VARCHAR" /> -->
<!--     <result column="RQST_DTM" property="rqstDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="RQST_USER_ID" property="rqstUserId" jdbcType="VARCHAR" /> -->
<!--     <result column="APRV_DTM" property="aprvDtm" jdbcType="TIMESTAMP" /> -->
<!--     <result column="APRV_USER_ID" property="aprvUserId" jdbcType="VARCHAR" /> -->
  </resultMap>
  <sql id="Base_Column_List" >
    RQST_NO, RQST_SNO, RQST_DTL_SNO, DDL_IDX_COL_ID, DDL_IDX_COL_PNM, DDL_IDX_COL_LNM, 
    RQST_DCD, VRF_CD, VRF_RMK, DDL_IDX_ID, DDL_IDX_PNM, DDL_COL_ID, DDL_IDX_COL_ORD, 
    SORT_TYP, OBJ_DESCN, OBJ_VERS, REG_TYP_CD, FRS_RQST_DTM, FRS_RQST_USER_ID, RQST_DTM, 
    RQST_USER_ID, APRV_DTM, APRV_USER_ID
  </sql>
  
  <sql id="Base_Column_List2" >
    A.RQST_NO, A.RQST_SNO, A.RQST_DTL_SNO, A.DDL_IDX_COL_ID, A.DDL_IDX_COL_PNM, A.DDL_IDX_COL_LNM, 
    A.RQST_DCD, A.VRF_CD, A.VRF_RMK, A.DDL_IDX_ID, A.DDL_IDX_PNM, A.DDL_COL_ID, A.DDL_IDX_COL_ORD, 
    A.SORT_TYP, A.OBJ_DESCN, A.OBJ_VERS, A.REG_TYP_CD, A.FRS_RQST_DTM, A.FRS_RQST_USER_ID, A.RQST_DTM, 
    A.RQST_USER_ID, A.APRV_DTM, A.APRV_USER_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from WAQ_DDL_TSF_IDX_COL
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
      and RQST_DTL_SNO = #{rqstDtlSno,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from WAQ_DDL_TSF_IDX_COL
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
      and RQST_DTL_SNO = #{rqstDtlSno,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="kr.wise.meta.ddltsf.service.WaqDdlTsfIdxCol" >
    insert into WAQ_DDL_TSF_IDX_COL (RQST_NO, RQST_SNO, RQST_DTL_SNO, 
      DDL_IDX_COL_ID, DDL_IDX_COL_PNM, DDL_IDX_COL_LNM, 
      RQST_DCD, VRF_CD, VRF_RMK, 
      DDL_IDX_ID, DDL_IDX_PNM, DDL_COL_ID, 
      DDL_IDX_COL_ORD, SORT_TYP, OBJ_DESCN, 
      OBJ_VERS, REG_TYP_CD, FRS_RQST_DTM, 
      FRS_RQST_USER_ID, RQST_DTM, RQST_USER_ID, 
      APRV_DTM, APRV_USER_ID)
    values (#{rqstNo,jdbcType=VARCHAR}, #{rqstSno,jdbcType=DECIMAL}, #{rqstDtlSno,jdbcType=DECIMAL}, 
      #{ddlIdxColId,jdbcType=VARCHAR}, #{ddlIdxColPnm,jdbcType=VARCHAR}, #{ddlIdxColLnm,jdbcType=VARCHAR}, 
      #{rqstDcd,jdbcType=VARCHAR}, #{vrfCd,jdbcType=VARCHAR}, #{vrfRmk,jdbcType=VARCHAR}, 
      #{ddlIdxId,jdbcType=VARCHAR}, #{ddlIdxPnm,jdbcType=VARCHAR}, #{ddlColId,jdbcType=VARCHAR}, 
      #{ddlIdxColOrd,jdbcType=DECIMAL}, #{sortTyp,jdbcType=VARCHAR}, #{objDescn,jdbcType=VARCHAR}, 
      #{objVers,jdbcType=DECIMAL}, #{regTypCd,jdbcType=VARCHAR}, #{frsRqstDtm,jdbcType=TIMESTAMP}, 
      #{frsRqstUserId,jdbcType=VARCHAR}, #{rqstDtm,jdbcType=TIMESTAMP}, #{rqstUserId,jdbcType=VARCHAR}, 
      #{aprvDtm,jdbcType=TIMESTAMP}, #{aprvUserId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="kr.wise.meta.ddltsf.service.WaqDdlTsfIdxCol" >
    insert into WAQ_DDL_TSF_IDX_COL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rqstNo != null" >
        RQST_NO,
      </if>
      <if test="rqstSno != null" >
        RQST_SNO,
      </if>
      <if test="rqstDtlSno != null" >
        RQST_DTL_SNO,
      </if>
      <if test="ddlIdxColId != null" >
        DDL_IDX_COL_ID,
      </if>
      <if test="ddlIdxColPnm != null" >
        DDL_IDX_COL_PNM,
      </if>
      <if test="ddlIdxColLnm != null" >
        DDL_IDX_COL_LNM,
      </if>
      <if test="rqstDcd != null" >
        RQST_DCD,
      </if>
      <if test="vrfCd != null" >
        VRF_CD,
      </if>
      <if test="vrfRmk != null" >
        VRF_RMK,
      </if>
      <if test="ddlIdxId != null" >
        DDL_IDX_ID,
      </if>
      <if test="ddlIdxPnm != null" >
        DDL_IDX_PNM,
      </if>
      <if test="ddlColId != null" >
        DDL_COL_ID,
      </if>
      <if test="ddlIdxColOrd != null" >
        DDL_IDX_COL_ORD,
      </if>
      <if test="sortTyp != null" >
        SORT_TYP,
      </if>
      <if test="objDescn != null" >
        OBJ_DESCN,
      </if>
      <if test="objVers != null" >
        OBJ_VERS,
      </if>
      <if test="regTypCd != null" >
        REG_TYP_CD,
      </if>
      <if test="frsRqstDtm != null" >
        FRS_RQST_DTM,
      </if>
      <if test="frsRqstUserId != null" >
        FRS_RQST_USER_ID,
      </if>
      <if test="rqstDtm != null" >
        RQST_DTM,
      </if>
      <if test="rqstUserId != null" >
        RQST_USER_ID,
      </if>
      <if test="aprvDtm != null" >
        APRV_DTM,
      </if>
      <if test="aprvUserId != null" >
        APRV_USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rqstNo != null" >
        #{rqstNo,jdbcType=VARCHAR},
      </if>
      <if test="rqstSno != null" >
        #{rqstSno,jdbcType=DECIMAL},
      </if>
      <if test="rqstDtlSno != null" >
        #{rqstDtlSno,jdbcType=DECIMAL},
      </if>
      <if test="ddlIdxColId != null" >
        #{ddlIdxColId,jdbcType=VARCHAR},
      </if>
      <if test="ddlIdxColPnm != null" >
        #{ddlIdxColPnm,jdbcType=VARCHAR},
      </if>
      <if test="ddlIdxColLnm != null" >
        #{ddlIdxColLnm,jdbcType=VARCHAR},
      </if>
      <if test="rqstDcd != null" >
        #{rqstDcd,jdbcType=VARCHAR},
      </if>
      <if test="vrfCd != null" >
        #{vrfCd,jdbcType=VARCHAR},
      </if>
      <if test="vrfRmk != null" >
        #{vrfRmk,jdbcType=VARCHAR},
      </if>
      <if test="ddlIdxId != null" >
        #{ddlIdxId,jdbcType=VARCHAR},
      </if>
      <if test="ddlIdxPnm != null" >
        #{ddlIdxPnm,jdbcType=VARCHAR},
      </if>
      <if test="ddlColId != null" >
        #{ddlColId,jdbcType=VARCHAR},
      </if>
      <if test="ddlIdxColOrd != null" >
        #{ddlIdxColOrd,jdbcType=DECIMAL},
      </if>
      <if test="sortTyp != null" >
        #{sortTyp,jdbcType=VARCHAR},
      </if>
      <if test="objDescn != null" >
        #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="objVers != null" >
        #{objVers,jdbcType=DECIMAL},
      </if>
      <if test="regTypCd != null" >
        #{regTypCd,jdbcType=VARCHAR},
      </if>
      <if test="frsRqstDtm != null" >
        #{frsRqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="frsRqstUserId != null" >
        #{frsRqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="rqstDtm != null" >
        #{rqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="rqstUserId != null" >
        #{rqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="aprvDtm != null" >
        #{aprvDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="aprvUserId != null" >
        #{aprvUserId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="kr.wise.meta.ddltsf.service.WaqDdlTsfIdxCol" >
    update WAQ_DDL_TSF_IDX_COL
    <set >
      <if test="ddlIdxColId != null" >
        DDL_IDX_COL_ID = #{ddlIdxColId,jdbcType=VARCHAR},
      </if>
      <if test="ddlIdxColPnm != null" >
        DDL_IDX_COL_PNM = #{ddlIdxColPnm,jdbcType=VARCHAR},
      </if>
      <if test="ddlIdxColLnm != null" >
        DDL_IDX_COL_LNM = #{ddlIdxColLnm,jdbcType=VARCHAR},
      </if>
      <if test="rqstDcd != null" >
        RQST_DCD = #{rqstDcd,jdbcType=VARCHAR},
      </if>
      <if test="vrfCd != null" >
        VRF_CD = #{vrfCd,jdbcType=VARCHAR},
      </if>
      <if test="vrfRmk != null" >
        VRF_RMK = #{vrfRmk,jdbcType=VARCHAR},
      </if>
      <if test="ddlIdxId != null" >
        DDL_IDX_ID = #{ddlIdxId,jdbcType=VARCHAR},
      </if>
      <if test="ddlIdxPnm != null" >
        DDL_IDX_PNM = #{ddlIdxPnm,jdbcType=VARCHAR},
      </if>
      <if test="ddlColId != null" >
        DDL_COL_ID = #{ddlColId,jdbcType=VARCHAR},
      </if>
      <if test="ddlIdxColOrd != null" >
        DDL_IDX_COL_ORD = #{ddlIdxColOrd,jdbcType=DECIMAL},
      </if>
      <if test="sortTyp != null" >
        SORT_TYP = #{sortTyp,jdbcType=VARCHAR},
      </if>
      <if test="objDescn != null" >
        OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      </if>
      <if test="objVers != null" >
        OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      </if>
      <if test="regTypCd != null" >
        REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      </if>
      <if test="frsRqstDtm != null" >
        FRS_RQST_DTM = #{frsRqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="frsRqstUserId != null" >
        FRS_RQST_USER_ID = #{frsRqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="rqstDtm != null" >
        RQST_DTM = #{rqstDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="rqstUserId != null" >
        RQST_USER_ID = #{rqstUserId,jdbcType=VARCHAR},
      </if>
      <if test="aprvDtm != null" >
        APRV_DTM = #{aprvDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="aprvUserId != null" >
        APRV_USER_ID = #{aprvUserId,jdbcType=VARCHAR},
      </if>
    </set>
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
      and RQST_DTL_SNO = #{rqstDtlSno,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="kr.wise.meta.ddltsf.service.WaqDdlTsfIdxCol" >
    update WAQ_DDL_TSF_IDX_COL
    set DDL_IDX_COL_ID = #{ddlIdxColId,jdbcType=VARCHAR},
      DDL_IDX_COL_PNM = #{ddlIdxColPnm,jdbcType=VARCHAR},
      DDL_IDX_COL_LNM = #{ddlIdxColLnm,jdbcType=VARCHAR},
      RQST_DCD = #{rqstDcd,jdbcType=VARCHAR},
      VRF_CD = #{vrfCd,jdbcType=VARCHAR},
      VRF_RMK = #{vrfRmk,jdbcType=VARCHAR},
      DDL_IDX_ID = #{ddlIdxId,jdbcType=VARCHAR},
      DDL_IDX_PNM = #{ddlIdxPnm,jdbcType=VARCHAR},
      DDL_COL_ID = #{ddlColId,jdbcType=VARCHAR},
      DDL_IDX_COL_ORD = #{ddlIdxColOrd,jdbcType=DECIMAL},
      SORT_TYP = #{sortTyp,jdbcType=VARCHAR},
      OBJ_DESCN = #{objDescn,jdbcType=VARCHAR},
      OBJ_VERS = #{objVers,jdbcType=DECIMAL},
      REG_TYP_CD = #{regTypCd,jdbcType=VARCHAR},
      FRS_RQST_DTM = #{frsRqstDtm,jdbcType=TIMESTAMP},
      FRS_RQST_USER_ID = #{frsRqstUserId,jdbcType=VARCHAR},
      RQST_DTM = #{rqstDtm,jdbcType=TIMESTAMP},
      RQST_USER_ID = #{rqstUserId,jdbcType=VARCHAR},
      APRV_DTM = #{aprvDtm,jdbcType=TIMESTAMP},
      APRV_USER_ID = #{aprvUserId,jdbcType=VARCHAR}
    where RQST_NO = #{rqstNo,jdbcType=VARCHAR}
      and RQST_SNO = #{rqstSno,jdbcType=DECIMAL}
      and RQST_DTL_SNO = #{rqstDtlSno,jdbcType=DECIMAL}
  </update>
  
  <insert id="insertByRqstSnoTsf" parameterType="kr.wise.meta.ddl.service.WaqDdlIdxCol">
    --인덱스 추가시 WAM에 존재하는 컬럼 추가한다.
  	INSERT INTO WAQ_DDL_TSF_IDX_COL(
	      RQST_NO, RQST_SNO, RQST_DTL_SNO, DDL_IDX_COL_ID, DDL_IDX_COL_PNM, DDL_IDX_COL_LNM, RQST_DCD
	    , DDL_IDX_ID, DDL_IDX_PNM, DDL_COL_ID, DDL_IDX_COL_ORD, SORT_TYP
	    , OBJ_DESCN, OBJ_VERS, FRS_RQST_DTM, FRS_RQST_USER_ID, RQST_DTM, RQST_USER_ID
	)
	SELECT 
	  TI.RQST_NO, TI.RQST_SNO
	  , (SELECT COALESCE(MAX(RQST_DTL_SNO), 0) FROM WAQ_DDL_TSF_IDX_COL WHERE RQST_NO = #{rqstNo} AND RQST_SNO = #{rqstSno} ) + (ROW_NUMBER() OVER()) AS RQST_DTL_SNO
	  , A.DDL_IDX_COL_ID, A.DDL_IDX_COL_PNM, A.DDL_IDX_COL_LNM, 'CU' AS RQST_DCD
	  , B.DDL_IDX_ID, B.DDL_IDX_PNM, A.DDL_COL_ID, A.DDL_IDX_COL_ORD, A.SORT_TYP
	  , A.OBJ_DESCN, A.OBJ_VERS, TI.FRS_RQST_DTM, TI.FRS_RQST_USER_ID, NOW(), TI.RQST_USER_ID
	 FROM WAM_DDL_IDX_COL A 
	INNER JOIN WAM_DDL_IDX B
	   ON A.DDL_IDX_ID = B.DDL_IDX_ID
	INNER JOIN WAQ_DDL_TSF_IDX TI
	   ON B.DDL_IDX_PNM = TI.DDL_IDX_PNM
	
	WHERE TI.RQST_NO = #{rqstNo}
	  AND TI.RQST_SNO = #{rqstSno}
  </insert>
  
  <delete id="deleteByrqstSnoTsf" parameterType="kr.wise.meta.ddl.service.WaqDdlIdxCol">
  	DELETE FROM WAQ_DDL_TSF_IDX_COL
  	 WHERE RQST_NO  = #{rqstNo}
  	   AND RQST_SNO = #{rqstSno}
  </delete>
  
  <select id="selectDdlTsfIdxColRqstList" parameterType="kr.wise.commons.rqstmst.service.WaqMstr" resultMap="BaseResultMap">
  	SELECT 
  	<include refid="Base_Column_List2"/>
  	     , CASE WHEN A.VRF_CD = '2' THEN '#FF0000' END AS FontColor
  	     , U.USER_NM AS RQST_USER_NM
  	  FROM WAQ_DDL_TSF_IDX_COL A
  	  LEFT OUTER JOIN WAA_USER U
  	 	ON A.RQST_USER_ID = U.USER_ID
  	   AND U.REG_TYP_CD IN ('C', 'U')
  	   AND U.EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
  	 WHERE A.RQST_NO = #{rqstNo}
  	 <if test='rqstSno != null'>
      AND A.RQST_SNO = #{rqstSno}
  	</if>
  	 ORDER BY A.RQST_SNO, A.DDL_IDX_COL_ORD
  	
  </select>
  
  <update id="updateCheckInit" parameterType="string">
  	--요청구분 업데이트
    UPDATE WAQ_DDL_TSF_IDX_COL A
    SET A.REG_TYP_CD = (select case when A.RQST_DCD = 'DD' then 'D' else case when MAX(B.DDL_IDX_COL_ID) IS NULL then 'C' else 'U' end end
                        from WAM_DDL_TSF_IDX_COL B
                           inner join WAM_DDL_TSF_IDX C
                              on C.DDL_IDX_ID = B.DDL_IDX_ID
                             and C.REG_TYP_CD in ('C','U')
                           INNER JOIN WAQ_DDL_TSF_IDX D
                              ON C.DDL_IDX_PNM = D.DDL_IDX_PNM
                           	 AND C.TGT_DB_SCH_ID = D.TGT_DB_SCH_ID
                           	 AND C.IDX_SPAC_ID = D.IDX_SPAC_ID
                        where B.REG_TYP_CD in ('C','U')
                          and B.DDL_IDX_COL_PNM = A.DDL_IDX_COL_PNM
                          and D.RQST_NO = A.RQST_NO
                          AND D.RQST_SNO = A.RQST_SNO
                          )
       ,A.VRF_CD = '4'
    WHERE A.RQST_NO = #{rqstNo,jdbcType=VARCHAR} 	
  </update>
  
  <insert id="checkNotChgData" parameterType="map">
  	<include refid="kr.wise.commons.rqstmst.service.WaqRqstVrfDtlsMapper.insertVrfDtlSnoSql"/>
	--검증쿼리 : 변경사항 없을경우 (DTXC0)
      AND A.REG_TYP_CD = 'U'
      AND EXISTS (SELECT 1
            FROM WAM_DDL_TSF_IDX D 
           INNER JOIN WAM_DDL_TSF_IDX_COL E
              ON D.DDL_IDX_ID = E.DDL_IDX_ID
           INNER JOIN WAQ_DDL_TSF_IDX F
              ON F.DDL_IDX_PNM = D.DDL_IDX_PNM
             AND F.SRC_DB_SCH_ID = D.SRC_DB_SCH_ID
             AND F.TGT_DB_SCH_ID = D.TGT_DB_SCH_ID
             AND F.DDL_TBL_ID = D.DDL_TBL_ID
             AND F.IDX_SPAC_ID = D.IDX_SPAC_ID
           WHERE F.RQST_NO  = A.RQST_NO
             AND F.RQST_SNO = A.RQST_SNO
             AND A.DDL_IDX_COL_PNM = E.DDL_IDX_COL_PNM
             AND A.DDL_IDX_COL_LNM = E.DDL_IDX_COL_LNM
	  	     and COALESCE(A.DDL_IDX_COL_ORD    , 0)   = COALESCE(E.DDL_IDX_COL_ORD      , 0)
			 and COALESCE(A.DDL_COL_ID   , '_') = COALESCE(E.DDL_COL_ID      , '_')
			 and COALESCE(A.SORT_TYP  , '_') = COALESCE(E.SORT_TYP      , '_')
			 and COALESCE(A.OBJ_DESCN  , '_') = COALESCE(E.OBJ_DESCN      , '_')
          )
  </insert>
  
  <update id="updateWaqId" parameterType="map">
   --결재시각 업데이트...
   	UPDATE WAQ_DDL_TSF_IDX_COL X SET (APRV_DTM, APRV_USER_ID) = (
		SELECT NOW(), A.APRV_USER_ID
		  FROM WAQ_DDL_TSF_IDX A 
	     WHERE A.RQST_NO = X.RQST_NO
	       AND A.RQST_SNO = X.RQST_SNO
	       AND A.RVW_STS_CD = '1' --승인대상만...	
	) 
	WHERE X.RQST_NO = #{rqstNo}
	  AND X.VRF_CD = '1' --등록가능
   </update>   
	<update id="updateWaqCUD" parameterType="map">
   	--WAQ ID, VERS 등을 업데이트...
   	UPDATE WAQ_DDL_TSF_IDX_COL A
   	   SET (DDL_IDX_COL_ID, DDL_IDX_ID,  OBJ_VERS, FRS_RQST_DTM, FRS_RQST_USER_ID) = (
   	   		SELECT
   	   			  D.DDL_IDX_COL_ID
   	   			, C.DDL_IDX_ID
   	   			, COALESCE(D.OBJ_VERS, 0) + 1 AS OBJ_VERS
				, D.FRS_RQST_DTM
				, D.FRS_RQST_USER_ID
			  FROM WAQ_DDL_TSF_IDX B
			 INNER JOIN WAM_DDL_TSF_IDX C
			    ON B.DDL_IDX_PNM = C.DDL_IDX_PNM
		       AND B.SRC_DB_SCH_ID = C.SRC_DB_SCH_ID
		       AND B.TGT_DB_SCH_ID = C.TGT_DB_SCH_ID
		       AND B.DDL_TBL_ID = C.DDL_TBL_ID
		       AND B.IDX_SPAC_ID = C.IDX_SPAC_ID
	      	 INNER JOIN WAM_DDL_TSF_IDX_COL D
	      	    ON C.DDL_IDX_ID = D.DDL_IDX_ID
	      	 WHERE B.RQST_NO = A.RQST_NO
			   AND B.RQST_SNO = A.RQST_SNO
			   AND D.DDL_IDX_COL_PNM = A.DDL_IDX_COL_PNM
			   AND D.DDL_IDX_COL_LNM = A.DDL_IDX_COL_LNM
			   AND B.RVW_STS_CD = '1' --승인대상만...
   	   	   )
	WHERE A.RQST_NO = #{rqstNo}
	  AND A.VRF_CD = '1' --등록가능
	  AND EXISTS (
	  	  SELECT 1
	  		FROM WAQ_DDL_TSF_IDX B
			  JOIN WAM_DDL_TSF_IDX C
			    ON B.DDL_IDX_PNM = C.DDL_IDX_PNM
		       AND B.SRC_DB_SCH_ID = C.SRC_DB_SCH_ID
		       AND B.TGT_DB_SCH_ID = C.TGT_DB_SCH_ID
		       AND B.DDL_TBL_ID = C.DDL_TBL_ID
		       AND B.IDX_SPAC_ID = C.IDX_SPAC_ID
	      	  JOIN WAM_DDL_TSF_IDX_COL D
	      	    ON C.DDL_IDX_ID = D.DDL_IDX_ID
	      	 WHERE B.RQST_NO = A.RQST_NO
			   AND B.RQST_SNO = A.RQST_SNO
			   AND D.DDL_IDX_COL_PNM = A.DDL_IDX_COL_PNM
			   AND D.DDL_IDX_COL_LNM = A.DDL_IDX_COL_LNM
			   AND B.RVW_STS_CD = '1' --승인대상만...
	  )   	   
   	</update>
  
  <sql id="wam_col_list">
		  A.DDL_IDX_COL_PNM, A.DDL_IDX_COL_LNM, A.DDL_IDX_ID, A.DDL_COL_ID, A.DDL_IDX_COL_ORD, A.SORT_TYP
		, A.RQST_NO, A.RQST_SNO, A.RQST_DTL_SNO, A.OBJ_DESCN 
	    , A.OBJ_VERS, A.REG_TYP_CD, A.FRS_RQST_DTM, A.FRS_RQST_USER_ID, A.RQST_DTM, A.RQST_USER_ID, A.APRV_DTM, A.APRV_USER_ID
	</sql>
	<delete id="deleteWAM" parameterType="map">
    --WAM 삭제 (등록유형코드가REG_TYP_CD 변경, 삭제일 경우)
	DELETE FROM WAM_DDL_TSF_IDX_COL A
	 WHERE EXISTS (
		SELECT 1 FROM WAQ_DDL_TSF_IDX B 
	      JOIN WAM_DDL_TSF_IDX D
	        ON B.DDL_IDX_ID = D.DDL_IDX_ID
		  JOIN WAQ_DDL_TSF_IDX_COL C
	        ON B.RQST_NO = C.RQST_NO
	       AND B.RQST_SNO = C.RQST_SNO
		 WHERE C.RQST_NO = #{rqstNo}
	       AND D.DDL_IDX_ID = A.DDL_IDX_ID
	       AND C.DDL_IDX_COL_PNM = A.DDL_IDX_COL_PNM
	       AND C.DDL_IDX_COL_LNM = A.DDL_IDX_COL_LNM
	       AND B.RVW_STS_CD = '1'
	       AND C.VRF_CD = '1'
	)
   </delete>
   
   <insert id="insertWAM" parameterType="map">
   	--WAM 추가 (WAQ 내용을 추가, REG_TYP_CD 가 신규,변경일 경우)
	INSERT INTO WAM_DDL_TSF_IDX_COL
	SELECT 
	    A.DDL_IDX_COL_ID
	  , <include refid="wam_col_list"/>
	  FROM WAQ_DDL_TSF_IDX_COL A
	  JOIN WAQ_DDL_TSF_IDX B 
	    ON A.RQST_NO = B.RQST_NO
	   AND A.RQST_SNO = B.RQST_SNO
	 WHERE A.RQST_NO = #{rqstNo}
	   AND A.VRF_CD = '1'
	   AND A.REG_TYP_CD IN ('C', 'U')
	   AND B.RVW_STS_CD = '1'
   </insert>
   
   <update id="updateWAH"  parameterType="map">
   	--WAH 이력 만료...
	UPDATE WAH_DDL_TSF_IDX_COL A SET EXP_DTM = NOW()
	WHERE EXISTS (
		SELECT 1 FROM WAQ_DDL_TSF_IDX B 
	      JOIN WAQ_DDL_TSF_IDX_COL C
	        ON B.RQST_NO = C.RQST_NO
	       AND B.RQST_SNO = C.RQST_SNO
	     WHERE C.RQST_NO = #{rqstNo}
	       AND C.DDL_IDX_ID = A.DDL_IDX_ID
	       AND C.DDL_IDX_COL_PNM = A.DDL_IDX_COL_PNM
	       AND C.DDL_IDX_COL_LNM = A.DDL_IDX_COL_LNM
	       AND C.VRF_CD = '1'
	       AND B.RVW_STS_CD = '1'
	)
	  AND EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
   </update>
   
   <insert id="insertWAH"  parameterType="map">
   	--WAH이력 적재...
	INSERT INTO WAH_DDL_TSF_IDX_COL
	SELECT 
			A.DDL_IDX_COL_ID
		  , TO_DATE( '9999-12-31', 'YYYY-MM-DD') AS EXP_DTM
		  , NOW() AS STR_DTM 
		  , <include refid="wam_col_list"/>
	  FROM WAQ_DDL_TSF_IDX_COL A
	  JOIN WAQ_DDL_TSF_IDX B
	    ON B.RQST_NO = A.RQST_NO
	   AND B.RQST_SNO = A.RQST_SNO
	 WHERE A.RQST_NO = #{rqstNo}
	   AND A.VRF_CD = '1'
	   AND B.RVW_STS_CD = '1'
   </insert>   
  
  <select id="selectTsfIdxColList" parameterType="kr.wise.meta.ddltsf.service.WaqDdlTsfIdxCol" resultMap="BaseResultMap">
  SELECT A.*
  	   , B.DDL_IDX_PNM
  	   , B.DDL_IDX_LNM
  	   , C.DDL_TBL_PNM
  	   , C.DDL_TBL_LNM
       , U.USER_NM AS FRS_RQST_USER_NM
       , U1.USER_NM AS RQST_USER_NM
       , U2.USER_NM AS APRV_USER_NM
    FROM WAM_DDL_TSF_IDX_COL A
   INNER JOIN WAM_DDL_TSF_IDX B
      ON A.DDL_IDX_ID = B.DDL_IDX_ID
     AND B.REG_TYP_CD IN ('C', 'U')
   INNER JOIN WAM_DDL_TBL C
      ON B.DDL_TBL_ID = C.DDL_TBL_ID
     AND C.REG_TYP_CD IN ('C', 'U')
    LEFT OUTER JOIN WAA_USER U
      ON A.FRS_RQST_USER_ID = U.USER_ID
     AND U.REG_TYP_CD IN ('C', 'U')
     AND U.EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
    LEFT OUTER JOIN WAA_USER U1
      ON A.RQST_USER_ID = U1.USER_ID
     AND U1.REG_TYP_CD IN ('C', 'U')
     AND U1.EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
    LEFT OUTER JOIN WAA_USER U2
      ON A.APRV_USER_ID = U2.USER_ID
     AND U2.REG_TYP_CD IN ('C', 'U')
     AND U2.EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
   
   <where>
     AND A.DDL_IDX_ID = #{ddlIdxId}
     AND A.REG_TYP_CD IN ('C', 'U')
   </where>
   ORDER BY A.DDL_IDX_COL_ORD, A.DDL_IDX_COL_PNM
  
  </select>
  <select id="selectDdlTsfIdxColInfo" parameterType="kr.wise.meta.ddltsf.service.WaqDdlTsfIdxCol" resultMap="BaseResultMap">
  SELECT A.*
  	   , B.DDL_IDX_PNM
  	   , B.DDL_IDX_LNM
  	   , C.DDL_TBL_PNM
  	   , C.DDL_TBL_LNM
       , U.USER_NM AS FRS_RQST_USER_NM
       , U1.USER_NM AS RQST_USER_NM
       , U2.USER_NM AS APRV_USER_NM
    FROM WAM_DDL_TSF_IDX_COL A
   INNER JOIN WAM_DDL_TSF_IDX B
      ON A.DDL_IDX_ID = B.DDL_IDX_ID
     AND B.REG_TYP_CD IN ('C', 'U')
   INNER JOIN WAM_DDL_TBL C
      ON B.DDL_TBL_ID = C.DDL_TBL_ID
     AND C.REG_TYP_CD IN ('C', 'U')
    LEFT OUTER JOIN WAA_USER U
      ON A.FRS_RQST_USER_ID = U.USER_ID
     AND U.REG_TYP_CD IN ('C', 'U')
     AND U.EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
    LEFT OUTER JOIN WAA_USER U1
      ON A.RQST_USER_ID = U1.USER_ID
     AND U1.REG_TYP_CD IN ('C', 'U')
     AND U1.EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
    LEFT OUTER JOIN WAA_USER U2
      ON A.APRV_USER_ID = U2.USER_ID
     AND U2.REG_TYP_CD IN ('C', 'U')
     AND U2.EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
     
     <where>
     AND A.DDL_IDX_COL_ID = #{ddlIdxColId}
     AND A.REG_TYP_CD IN ('C', 'U')
   </where>
  </select>
  
  
  <select id="selectTsfIdxColChangeList" parameterType="kr.wise.meta.ddltsf.service.WaqDdlTsfIdxCol" resultMap="BaseResultMap">
  SELECT A.*
  	   , B.DDL_IDX_PNM
  	   , B.DDL_IDX_LNM
  	   , C.DDL_TBL_PNM
  	   , C.DDL_TBL_LNM
       , U.USER_NM AS FRS_RQST_USER_NM
       , U1.USER_NM AS RQST_USER_NM
       , U2.USER_NM AS APRV_USER_NM
       , CASE WHEN A.EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD') AND A.REG_TYP_CD IN ('C', 'U') THEN '#0000FF'
    	 ELSE NULL END AS FontColor
    FROM WAH_DDL_TSF_IDX_COL A
    LEFT JOIN WAH_DDL_TSF_IDX B
      ON A.DDL_IDX_ID = B.DDL_IDX_ID
     AND B.EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
    LEFT JOIN WAM_DDL_TBL C
      ON B.DDL_TBL_ID = C.DDL_TBL_ID
     AND C.REG_TYP_CD IN ('C', 'U')
    LEFT OUTER JOIN WAA_USER U
      ON A.FRS_RQST_USER_ID = U.USER_ID
     AND U.REG_TYP_CD IN ('C', 'U')
     AND U.EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
    LEFT OUTER JOIN WAA_USER U1
      ON A.RQST_USER_ID = U1.USER_ID
     AND U1.REG_TYP_CD IN ('C', 'U')
     AND U1.EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
    LEFT OUTER JOIN WAA_USER U2
      ON A.APRV_USER_ID = U2.USER_ID
     AND U2.REG_TYP_CD IN ('C', 'U')
     AND U2.EXP_DTM = TO_DATE('9999-12-31', 'YYYY-MM-DD')
     
   <where>
   	<if test="ddlIdxId != null">
     AND B.DDL_IDX_ID = #{ddlIdxId}
   	</if>
   	<if test="ddlTblId != null">
     AND C.DDL_TBL_ID = #{ddlTblId}
   	</if>
   </where>
   ORDER BY A.EXP_DTM DESC, A.STR_DTM DESC
  </select>
  
</mapper>