<?xml version='1.0' encoding='utf-8'?>
<Context>

	<WatchedResource>WEB-INF/web.xml</WatchedResource>

	<Resource auth="Container" 
		type="javax.sql.DataSource" 
		maxActive="50" 
		maxIdle="50" 
		minIdle="10"
		maxWait="10000"	
		driverClassName="oracle.jdbc.driver.OracleDriver" 
		name="erwin" 
		username="MARTADMIN"
		password="MARTADMIN" 
		url="jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.215.39.53)(PORT=1551))(ADDRESS=(PROTOCOL=TCP)(HOST=10.215.39.53)(PORT=1551))(FAILOVER=on)(LOAD_BALANCE=off))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=PCOM1)))"
		validationQuery="SELECT 1 FROM DUAL"
		testOnRetrun="true"
		testOnBorrow="true"
		testWhileIdle="true"
	/>

</Context>